Repository umbraco/UmbracoDocs, pull requests merged in 2018-05, with the labels that each got.

#756 How to apply Hotfix on a Cloud environment
  Umbraco-Cloud/Deployment/Hotfixes/Move-files-manually/images/commit-files-changed.png
  Umbraco-Cloud/Deployment/Hotfixes/Move-files-manually/images/commits.png
  Umbraco-Cloud/Deployment/Hotfixes/Move-files-manually/images/live-clone-URL.png
  Umbraco-Cloud/Deployment/Hotfixes/Move-files-manually/index.md
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/images/add-remote.png
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/images/cherry-picked-commits.png
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/images/choose-remote.png
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/images/commits-for-cherry.png
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/images/create-branch.png
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/images/live-clone-URL.png
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/images/live-remote.png
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/index.md
  Umbraco-Cloud/Deployment/Hotfixes/images/hotfix-manual-move.gif
  Umbraco-Cloud/Deployment/Hotfixes/images/hotfix-using-git.gif
  Umbraco-Cloud/Deployment/Hotfixes/index.md
Labels: Umbraco Cloud

#771 Fixed a typo. trough -> through
  Add-ons/UmbracoForms/Developer/Working-With-Data/index.md
Labels: Umbraco Forms

#776 Change UaaS to Umbraco Cloud
  index.md
Labels: Umbraco Cloud

#770 Fixed a typo and change a small sentence.
  Umbraco-Cloud/Set-Up/Power-Tools/index.md
Labels: Umbraco Cloud

#796 Fixing typos in Getting Started Creating Forms
  Getting-Started/Code/Creating-Forms/index.md
Labels: Umbraco Forms

#795 Cloud computing edits to the docs
  Add-ons/UmbracoForms/Developer/Custom-Markup/index.md
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Fieldtype.md
  Development-Guidelines/Coding-Standards/index.md
  Development-Guidelines/Coding-Standards/jquery-guidelines.md
  Development-Guidelines/Coding-Standards/js-guidelines.md
  Development-Guidelines/building-angular-project.md
  Development-Guidelines/umbraco-web.ui-client.md
  Development-Guidelines/working-with-code.md
  Extending/Embedded-Media-Provider/index.md
  Umbraco-Cloud/Troubleshooting/index.md
Labels: Umbraco Cloud

#805 Headless
  Umbraco-Cloud/Headless/Headless-Net-Client/console.md
  Umbraco-Cloud/Headless/Headless-Net-Client/index.md
  Umbraco-Cloud/Headless/Headless-Net-Client/website-framework.md
  Umbraco-Cloud/Headless/Headless-Net-Client/website-managed.md
  Umbraco-Cloud/Headless/Headless-Net-Client/website-static.md
  Umbraco-Cloud/Headless/index.md
  Umbraco-Cloud/index.md
Labels: Umbraco Headless

#802 copied internal docs for using the node client
  Umbraco-Cloud/Headless/Headless-Node-Client/index.md
Labels: Umbraco Headless
