Repository umbraco/UmbracoDocs, pull requests merged in 2018-11, with the labels that each got.

#1199 Fixed Grammar and Typo mistakes
  Add-ons/UmbracoCourier/Architecture/Configuration.md
  Add-ons/UmbracoCourier/Architecture/DataResolvers.md
  Add-ons/UmbracoCourier/Architecture/Installation.md
  Add-ons/UmbracoCourier/Architecture/ResourceResolvers.md
Labels: Umbraco Courier

#1231 Baseline upgrades
  Umbraco-Cloud/Getting-Started/Baselines/Upgrading-Child-Projects/images/minor-upgrades.png
  Umbraco-Cloud/Getting-Started/Baselines/Upgrading-Child-Projects/index.md
  Umbraco-Cloud/Upgrades/Minor-Upgrades/index.md
Labels: Umbraco Cloud

#1232 Adding docs about how Forms is handled on Umbraco Cloud
  Umbraco-Cloud/Deployment/Umbraco-Forms-on-Cloud/images/missing-forms-tree.png
  Umbraco-Cloud/Deployment/Umbraco-Forms-on-Cloud/index.md
  Umbraco-Cloud/Deployment/index.md
  Umbraco-Cloud/Troubleshooting/index.md
Labels: Umbraco Cloud

#1219 edit for clarity
  Reference/using-ioc.md
Labels: grammar

#1176 Update the Umbraco-Cloud/Set-Up/Media page
  Umbraco-Cloud/Set-Up/Media/index.md
Labels: Umbraco Cloud

#1240 The license model
  Add-ons/The-Licensing-model/images/configure-forms-license.gif
  Add-ons/The-Licensing-model/images/install-forms-license.gif
  Add-ons/The-Licensing-model/index.md
  Add-ons/UmbracoCourier/Architecture/Index.md
  Add-ons/UmbracoForms/Installation/index.md
  Add-ons/UmbracoForms/Installation/license.md
Labels: Umbraco Courier, Umbraco Forms

#1248 Added article about deletions on Umbraco Cloud
  Umbraco-Cloud/Deployment/Deploying-Deletions/images/deletions-of-doctype.png
  Umbraco-Cloud/Deployment/Deploying-Deletions/index.md
  Umbraco-Cloud/Frequently-Asked-Questions/index.md
Labels: Umbraco Cloud, missing documentation
