Repository umbraco/UmbracoDocs, pull requests merged in 2018-08, with the labels that each got.

#926 Exclude media from deployments
  Umbraco-Cloud/Set-Up/Media/index.md
Labels: Umbraco Cloud

#945 How to manage environments
  Umbraco-Cloud/Getting-Started/Environments/index.md
  Umbraco-Cloud/Getting-Started/Project-Overview/index.md
  Umbraco-Cloud/Set-Up/Manage-Environments/images/Environments.png
  Umbraco-Cloud/Set-Up/Manage-Environments/images/Manage-environments.png
  Umbraco-Cloud/Set-Up/Manage-Environments/index.md
  Umbraco-Cloud/Set-Up/index.md
Labels: Umbraco Cloud

#952 Added description of alias for Parsing Form fields
  Add-ons/UmbracoForms/Developer/Magic-Strings/index.md
Labels: Umbraco Forms

#954 Empty the recycle bins versus empty content
  Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/part-1.md
Labels: Umbraco Cloud

#951 Describe HTTPS to be default since 7.12 - and how to re-enable HTTP
  Umbraco-Cloud/Set-Up/Manage-Domains/Umbraco-Latch.md
Labels: Dependant On Release, Umbraco Cloud

#949 Issues 916 + 948
  Add-ons/UmbracoForms/Developer/Prepping-Frontend/index.md
  Add-ons/UmbracoForms/Developer/Rendering-Scripts/index.md
  Add-ons/UmbracoForms/Developer/Themes/index.md
Labels: Umbraco Forms

#746 Document the setting on the datePicker
  Add-ons/UmbracoForms/Developer/Field-Types/index.md
Labels: Umbraco Forms

#807 Not sure what happened here
  Add-ons/UmbracoForms/Editor/index.md
Labels: Umbraco Forms

#950 Update the docs with some example of magic strings
  Add-ons/UmbracoForms/Developer/Magic-Strings/index.md
Labels: Umbraco Forms
