Repository umbraco/UmbracoDocs, pull requests merged in 2018-07, with the labels that each got.

#897 Added a page on Security Hardening
  Reference/Security/Security-hardening/images/foldersondisk-after.png
  Reference/Security/Security-hardening/images/foldersondisk-before.png
  Reference/Security/Security-hardening/images/webconfig-after.png
  Reference/Security/Security-hardening/images/webconfig-before.png
  Reference/Security/Security-hardening/index.md
Labels: D-Team

#888 How to query headless using the .NET Client
  Umbraco-Cloud/Headless/Headless-Net-Client/Query.md
Labels: Umbraco Headless

#933 Add the IP needed to be set up for A record
  Umbraco-Cloud/Set-Up/Manage-Domains/index.md
Labels: Umbraco Cloud
