Repository umbraco/UmbracoDocs, pull requests merged in 2018-02, with the labels that each got.

#631 Make deploy description match the GIF
  Umbraco-Cloud/Deployment/Cloud-to-Cloud/index.md
Labels: Umbraco Cloud

#607 Update Kudu docs
  Umbraco-Cloud/Set-Up/Power-Tools/File-structure-on-Cloud/images/CMD-file-structure.png
  Umbraco-Cloud/Set-Up/Power-Tools/File-structure-on-Cloud/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/Generating-UDA-files/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/Manual-extractions/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/images/CMD-file-structure.png
  Umbraco-Cloud/Set-Up/Power-Tools/index.md
  Umbraco-Cloud/Troubleshooting/Duplicate-Dictionary-Items/index.md
Labels: Umbraco Cloud

#637 Update Forms' Developer index page
  Add-ons/UmbracoForms/Developer/index.md
Labels: Umbraco Forms

#629 How to create `deploy-repairdictionaryids`
  Umbraco-Cloud/Troubleshooting/Duplicate-Dictionary-Items/index.md
Labels: Umbraco Cloud

#652 My two cents on UaaS-Cli
  Umbraco-Cloud/Set-Up/Working-With-UaaS-Cli/index.md
Labels: Umbraco Cloud

#667 Slight change in language to Courier
  Add-ons/UmbracoCourier/Developer/PackagingAndExtraction.md
Labels: Umbraco Courier

#684 Moving Courier-to-Deploy and Minor upgrade articles to Upgrade section
  Umbraco-Cloud/Upgrades/Minor-Upgrades/index.md
  Umbraco-Cloud/Upgrades/Moving-From-Courier-To-Deploy/index.md
Labels: Umbraco Cloud
