Repository umbraco/UmbracoDocs, pull requests merged in 2018-09, with the labels that each got.

#903 Extended Umbraco Forms render thing
  Add-ons/UmbracoForms/Developer/Rendering-Scripts/index.md
Labels: Umbraco Forms

#968 Update index.md
  Add-ons/UmbracoForms/Editor/Creating-a-Form/Fieldtypes/index.md
Labels: Umbraco Forms

#940 Update item label documentation
  Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Nested-Content.md
Labels: Dependant On Release

#946 Consolidate Visual studio articles
  Umbraco-Cloud/Set-Up/Visual-Studio/index.md
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/cmd-clone.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/cmd-in-empty-folder.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/connect-my-machine.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/generated-solution.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/vs-project-setup.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/index.md
  Umbraco-Cloud/Set-Up/index.md
Labels: Umbraco Cloud
