Repository umbraco/UmbracoDocs, pull requests merged in 2019-12, with the labels that each got.

#2055 Added docs about setting notifications badge through content app factory
  Extending/Content-Apps/index.md
Labels: category/pending-release

#2143 Added Umbraco Forms Heartcore API documentation
  Umbraco-Heartcore/API-Documentation/Content-Delivery/index.md
  Umbraco-Heartcore/API-Documentation/Content-Management/forms/index.md
  Umbraco-Heartcore/API-Documentation/Content-Management/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Using-The-Forms-API/index.md
Labels: category/pending-release, category/umbraco-heartcore

#2150 API reference for Content Filter endpoint
  Umbraco-Heartcore/API-Documentation/Content-Delivery/content/index.md
Labels: category/umbraco-heartcore

#2153 Heartcore environments and deployment workflow
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/Content-transfer/images/transfer-and-restore.png
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/Content-transfer/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/Structure-deployment/images/deploy-changes-to-live.png
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/Structure-deployment/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/images/left-to-right.png
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Environments/images/button-to-manage.png
  Umbraco-Heartcore/Getting-Started-Cloud/Environments/images/manage-environments.png
  Umbraco-Heartcore/Getting-Started-Cloud/Environments/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/index.md
Labels: category/umbraco-heartcore

#2154 Heartcore versioning and updates
  Umbraco-Heartcore/Versions-and-updates/index.md
Labels: category/umbraco-heartcore
