Repository umbraco/UmbracoDocs, pull requests merged in 2020-12, with the labels that each got.

#2914 small note about URL management redirects when migrating
  Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/index.md
Labels: category/umbraco-cloud

#2908 To add a link to a subject overview article
  Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/index.md
Labels: category/umbraco-cms

#2928 Update managing hostname page to include new dns details
  Umbraco-Cloud/Frequently-Asked-Questions/index.md
  Umbraco-Cloud/Security/index.md
  Umbraco-Cloud/Set-Up/Going-live/index.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Security-Certificates/images/custom-certificates.png
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Security-Certificates/images/manage-certificates.PNG
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Security-Certificates/index.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/images/manage-domains.PNG
  Umbraco-Cloud/Set-Up/Manage-Hostnames/images/manage-hostnames.png
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index.md
  Umbraco-Cloud/Set-Up/Project-settings/index.md
  Umbraco-Cloud/Set-Up/Umbraco-Latch/index.md
  Umbraco-Cloud/Set-Up/index.md
Labels: category/pending-release, category/umbraco-cloud

#2931 Guide on moving away from the Latch service
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Move-away-from-Latch/index.md
Labels: category/pending-release, category/umbraco-cloud

#2868 Blocklist editor - added a code sample
  Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/index.md
Labels: category/code-example, category/umbraco-cms

#2951 Update UmbracoNetCoreUpdates.md
  UmbracoNetCoreUpdates.md
Labels: category/umbraco-netcore
