Repository umbraco/UmbracoDocs, pull requests merged in 2020-09, with the labels that each got.

#2646 Forms definitions moved to the database
  Add-ons/UmbracoForms/Developer/Forms-in-the-Database/index.md
  Umbraco-Cloud/Deployment/Umbraco-Forms-on-Cloud/index.md
Labels: category/pending-release, category/umbraco-forms

#2501 Umbraco forms validation update
  Add-ons/UmbracoForms/Developer/Custom-Markup/index.md
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Fieldtype.md
  Add-ons/UmbracoForms/Developer/Prepping-Frontend/index.md
Labels: category/pending-release, category/umbraco-forms

#2698 Added note for including document type name in the nested content template
  Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Nested-Content/index.md
Labels: category/umbraco-cms

#2713 Umbraco .Net Core updates section/article
  UmbracoNetCoreUpdates.md
  index.md
Labels: category/umbraco-netcore

#2711 Document KeepAlive configuration
  Reference/Config/umbracoSettings/index-vpost8.6.0.md
Labels: category/umbraco-cms

#2728 Heartcore Preview API
  Umbraco-Heartcore/API-Documentation/Content-Delivery/index.md
  Umbraco-Heartcore/API-Documentation/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Preview/images/add-preview-url.png
  Umbraco-Heartcore/Getting-Started-Cloud/Preview/images/empty-preview-urls-overview.png
  Umbraco-Heartcore/Getting-Started-Cloud/Preview/images/preview-button.png
  Umbraco-Heartcore/Getting-Started-Cloud/Preview/images/preview-urls-overview.png
  Umbraco-Heartcore/Getting-Started-Cloud/Preview/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/index.md
Labels: category/pending-release, category/umbraco-heartcore

#2729 More detail about creating custom backoffice views
  Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/index.md
Labels: category/umbraco-cms

#2703 Updated product Dependencies on Umbraco Cloud
  Umbraco-Cloud/Upgrades/Product-Dependencies/index.md
Labels: category/umbraco-cloud, state/needs-investigation
