Repository umbraco/UmbracoDocs, pull requests merged in 2020-04, with the labels that each got.

#2373 Added Console App
  Umbraco-Heartcore/Client-Libraries/Dot-Net-Console/index.md
  Umbraco-Heartcore/Client-Libraries/index.md
Labels: category/umbraco-heartcore

#2410 Update Cloud/Portal articles
  Umbraco-Cloud/Getting-Started/Baselines/index.md
  Umbraco-Cloud/Getting-Started/Environments/index.md
  Umbraco-Cloud/Getting-Started/Project-Overview/index.md
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/images/profile.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/index.md
  Umbraco-Cloud/Getting-Started/index.md
  Umbraco-Cloud/Set-Up/Manage-Environments/index.md
Labels: category/umbraco-cloud, state/work-in-progress

#2420 Reflect public class requirement for overriding Default Umbraco Forms Providers.
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Type-v7.md
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Type.md
Labels: category/umbraco-forms

#2414 Add tip for handling "unable to login" issue.
  Umbraco-Cloud/Upgrades/Migrating-from-7-to-8/index.md
Labels: category/umbraco-cms

#2437 Updated images
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/connect-my-machine.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/generated-solution.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/vs-project-setup.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/index.md
Labels: category/umbraco-cloud

#2412 The Register Widget
  Add-ons/Starter-Kit-TEMP/Widgets/images/Regiseter-element.png
  Add-ons/Starter-Kit-TEMP/Widgets/images/The-Register-Widget.png
  Add-ons/Starter-Kit-TEMP/Widgets/index.md
Labels: category/umbraco-starterkit

#2413 The Login Widget
  Add-ons/Starter-Kit-TEMP/Widgets/images/The-Login-Widget.png
  Add-ons/Starter-Kit-TEMP/Widgets/images/login-prompt.png
  Add-ons/Starter-Kit-TEMP/Widgets/index.md
Labels: category/umbraco-starterkit

#2417 The Global Content Widget
  Add-ons/Starter-Kit-TEMP/Widgets/images/The-Global-Content-Widget.png
  Add-ons/Starter-Kit-TEMP/Widgets/images/hero-standard.png
  Add-ons/Starter-Kit-TEMP/Widgets/index.md
Labels: category/umbraco-starterkit

#2432 Describe the Global Content feature in Starter Kit
  Add-ons/Starter-Kit-TEMP/Content-Types/Global-Content/index.md
Labels: category/umbraco-starterkit

#2463 Cloud articles
  Umbraco-Cloud/Set-Up/Upgrade-Umbraco-Cloud-Plan/images/step_1.png
  Umbraco-Cloud/Set-Up/Upgrade-Umbraco-Cloud-Plan/images/step_2.png
  Umbraco-Cloud/Set-Up/Upgrade-Umbraco-Cloud-Plan/index.md
Labels: category/umbraco-cloud
