Repository umbraco/UmbracoDocs, pull requests merged in 2020-06, with the labels that each got.

#2547 Added a new tutorial on how to connect Umbraco Forms and Zapier
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/googleSheetsData.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/umbracoFormsAddWorkflow.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/umbracoFormsFieldsSubmitted.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/umbracoFormsSendFormToURLWebhook.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/umbracoFormsSendFormToURLWorkflow.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierCustomWebhookURL.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierFindWebhookData.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierFindWebhooksTrigger.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierGoogleSheetsAccount.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierGoogleSheetsActionEvent.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierGoogleSheetsApp.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierGoogleSheetsDataMapped.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierGoogleSheetsPossibleFields.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierGoogleSheetsTest.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierGoogleSheetsWebhookData.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierMakeZap.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierWebhookDataFound.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/images/zapierWebhooksCatchHook.png
  Tutorials/Connecting-Umbraco-Forms-and-Zapier/index.md
  Tutorials/index.md
Labels: category/umbraco-forms

#2552 New Cloud article for best practice in teams
  Umbraco-Cloud/Getting-Started/Team-Workflow-On-Cloud/index.md
Labels: category/umbraco-cloud

#2562 Update index-v7.md
  Reference/Security/Security-hardening/index-v7.md
Labels: category/umbraco-cms, state/work-in-progress

#2571 Added EntityService
  Reference/Management/Services/EntityService/Index.md
  Reference/Management/Services/index.md
Labels: category/umbraco-cms

#2576 Remove article on Cloud organization due to wrong info
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/invite-from-organization.gif
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/invite-organization.gif
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/index.md
Labels: category/umbraco-cloud

#2566 Attribute routing on Web API
  Reference/Routing/WebApi/index.md
Labels: category/umbraco-cms
