Repository umbraco/UmbracoDocs, pull requests merged in 2020-08, with the labels that each got.

#2630 Update to Adding a Fieldtype page.
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Fieldtype.md
Labels: category/umbraco-forms

#2617 Feature - UmbracoForms: Add Event Handler reference page
  Add-ons/UmbracoForms/Developer/Extending/Adding-an-Event-Handler.md
  Add-ons/UmbracoForms/Developer/Extending/index.md
Labels: category/umbraco-forms

#2633 GraphQL playground page
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/docs-helper.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/prettify.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/query-variables.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/sample-query.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/schema-helper.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/where-to-find-graphql-playground.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/index.md
Labels: category/pending-release, category/umbraco-heartcore

#2637 Added Umbraco Heartcore GraphQL documentation
  Umbraco-Heartcore/API-Documentation/GraphQL/Property-Editors/index.md
  Umbraco-Heartcore/API-Documentation/GraphQL/Schema-Generation/index.md
  Umbraco-Heartcore/API-Documentation/GraphQL/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/docs-helper.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/prettify.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/query-variables.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/sample-query.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/schema-helper.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/images/where-to-find-graphql-playground.png
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/index.md
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/elements-composition-reorder.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/elements-composition.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/frontpage-compositions.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/frontpage-permissions.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/frontpage.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/hero-composition.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/nested-content-elements.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/nested-content-unique-selling-points.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/text-and-image.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/textpage-compositions.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/textpage.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/unique-selling-point.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/unique-selling-points-composition-reorder.png
  Umbraco-Heartcore/Tutorials/GraphQL/Basic-Querying/images/unique-selling-points-composition.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/elements-composition-reorder.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/elements-composition.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/frontpage-compositions.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/frontpage-permissions.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/frontpage.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/hero-composition.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/nested-content-elements.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/nested-content-unique-selling-points.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/text-and-image.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/textpage-compositions.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/textpage.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/unique-selling-point.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/unique-selling-points-composition-reorder.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/images/unique-selling-points-composition.png
  Umbraco-Heartcore/Tutorials/Querying-With-GraphQL/index.md
  Umbraco-Heartcore/Tutorials/index.md
Labels: category/pending-release, category/umbraco-heartcore

#2494 Documentation for surface controller actions.
  Reference/Routing/surface-controllers-actions.md
  Reference/Routing/surface-controllers.md
Labels: category/umbraco-cms

#2652 Uno SEO documentation
  Extending/Database/index.md
  Reference/Angular/Services/eventsService/index.md
  Reference/Angular/Services/index.md
  Reference/Angular/index.md
  Reference/Management/Services/DataTypeService/Index-v7.md
  Reference/Management/Services/DataTypeService/Index.md
  Reference/Routing/surface-controllers-actions.md
  Reference/Routing/surface-controllers.md
  Reference/Security/index.md
  Reference/Security/password-reset.md
  Reference/Security/reset-admin-password-v7.md
  Reference/Security/reset-admin-password.md
  Tutorials/Editors-Manual/Getting-Started-With-Umbraco/Copying-a-Page/index.md
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Access_rights.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Information.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Members.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Projects.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/index.md
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/index.md
  Umbraco-Uno/Custom-Code/index.md
  Umbraco-Uno/Seo/How-to-set-up-seo-on-each-of-your-pages/images/Seo-section-on-a-page.png
  Umbraco-Uno/Seo/How-to-set-up-seo-on-each-of-your-pages/index.md
  Umbraco-Uno/Seo/Manual-redirect-settings-in-uno/images/Manual-redirects-setup.png
  Umbraco-Uno/Seo/Manual-redirect-settings-in-uno/index.md
  Umbraco-Uno/Seo/Seo-for-images-in-the-media-library/images/Media-library-click-on image-name.png
  Umbraco-Uno/Seo/Seo-for-images-in-the-media-library/index.md
  Umbraco-Uno/Seo/Seo-settings-in-uno/images/Seo-settings-in-your-uno-project.png
  Umbraco-Uno/Seo/Seo-settings-in-uno/index.md
  Umbraco-Uno/Seo/index.md
Labels: category/pending-release, category/umbraco-uno

#2601 Add tip for injecting a Lazy version of IUmbracoContextFactory
  Implementation/Services/Circular-Dependencies/index.md
  Implementation/Services/index.md
Labels: category/umbraco-cms, state/needs-investigation
