Repository umbraco/UmbracoDocs, pull requests merged in 2020-03, with the labels that each got.

#2325 Added paragraph about the depth querystring
  Umbraco-Heartcore/API-Documentation/Content-Delivery/content/index.md
Labels: category/umbraco-heartcore

#2341 Added Events section to Courier
  Add-ons/UmbracoCourier/Developer/Events.md
  Add-ons/UmbracoCourier/Developer/index.md
Labels: category/umbraco-courier

#2343 Heartcore member authentication and password management
  Umbraco-Heartcore/API-Documentation/Content-Management/member/index.md
  Umbraco-Heartcore/API-Documentation/index.md
Labels: category/pending-release, category/umbraco-heartcore

#2351 The Gallery Widget
  Add-ons/Starter-Kit-TEMP/Widgets/images/The-Gallery.png
  Add-ons/Starter-Kit-TEMP/Widgets/images/Zoomed-into-gallery.png
  Add-ons/Starter-Kit-TEMP/Widgets/index.md
Labels: state/work-in-progress

#2352 The Slider Widget
  Add-ons/Starter-Kit-TEMP/Widgets/images/Slider-example.png
  Add-ons/Starter-Kit-TEMP/Widgets/index.md
Labels: state/work-in-progress

#2363 Add member password endpoints to toc
  Umbraco-Heartcore/API-Documentation/Content-Management/member/index.md
Labels: category/umbraco-heartcore

#2334 Update Adding-a-Fieldtype.md
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Fieldtype.md
Labels: category/umbraco-forms

#2398 Updating project settings to be up-to-date
  Umbraco-Cloud/Set-Up/Project-settings/images/project-settings.png
  Umbraco-Cloud/Set-Up/Project-settings/index.md
Labels: category/umbraco-cloud

#2399 Update Adding-a-Workflowtype.md
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype.md
Labels: category/umbraco-forms

#2401 Create Adding-a-Workflowtype-v7.md
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype-v7.md
Labels: category/umbraco-forms

#2403 Added _urls property to examples
  Umbraco-Heartcore/API-Documentation/Content-Delivery/content/index.md
Labels: category/umbraco-heartcore

#2170 Documentation with approaches for both Controller and Component
  Extending/Property-Editors/Property-Actions/index.md
Labels: category/pending-release
