Repository umbraco/UmbracoDocs, pull requests merged in 2021-04, with the labels that each got.

#3097 Added documentation for Forms configuration key MaxNumberOfColumnsInFormGroup
  Add-ons/UmbracoForms/Developer/Configuration/index.md
Labels: category/pending-release, category/umbraco-forms

#3104 Fixed wrong version number
  UmbracoNetCoreUpdates.md
Labels: category/umbraco-netcore

#3101 Updated the user group section
  Getting-Started/Data/Users/index.md
Labels: category/umbraco-cms

#3107 Inserting SqlWriteLockTimeOut into app settings section
  Reference/Config/webconfig/index.md
Labels: category/umbraco-cms

#3108 Let v7 article link to v7 instead of v8 article.
  Getting-Started/Setup/Server-Setup/Load-Balancing/flexible-v7.md
Labels: category/umbraco-cms

#3110 Change sql files to markdown and updated links
  Add-ons/UmbracoForms/Developer/Healthchecks/index.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-indexes-forms-in-db.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-indexes-forms-in-db_revert.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-indexes.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-indexes_revert.md
Labels: category/umbraco-forms

#3112 Updated file names and links
  Add-ons/UmbracoForms/Developer/Healthchecks/index.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-ind-forms-in-db.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-ind-forms-in-db_revert.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-ind.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-ind_revert.md
Labels: category/umbraco-forms

#3113 An attempt at fixing SQL file errors
  Add-ons/UmbracoForms/Developer/Healthchecks/index.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-ind-forms-in-db_revert.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-ind_revert.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/Apply-keys.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/Forms-in-the-database-apply-keys.md
Labels: category/umbraco-forms

#3114 Fixed a typo in the forms section
  Add-ons/The-Licensing-model/index.md
Labels: category/umbraco-forms

#3116 Add correct dates regarding support phases for Umbraco 7
  Umbraco8FAQ.md
Labels: category/umbraco-cloud, category/umbraco-cms

#3109 How to work with JS and CSS in the backoffice
  Getting-Started/Design/Stylesheets-Javascript/images/1-creating-stylesheet.png
  Getting-Started/Design/Stylesheets-Javascript/images/10-reference-script.png
  Getting-Started/Design/Stylesheets-Javascript/images/2-rte-editor.png
  Getting-Started/Design/Stylesheets-Javascript/images/3-rte-editor-p2.png
  Getting-Started/Design/Stylesheets-Javascript/images/3-rte-editor-p3.png
  Getting-Started/Design/Stylesheets-Javascript/images/4-link-css.png
  Getting-Started/Design/Stylesheets-Javascript/images/5-rtesheet.png
  Getting-Started/Design/Stylesheets-Javascript/images/6-rte-connect-sheet.png
  Getting-Started/Design/Stylesheets-Javascript/images/7-content-rte.png
  Getting-Started/Design/Stylesheets-Javascript/images/8-create-js.png
  Getting-Started/Design/Stylesheets-Javascript/images/9-myscript.png
  Getting-Started/Design/Stylesheets-Javascript/index.md
Labels: category/umbraco-cms

#3120 Updated indentation to avoid breaking csharp code formatting.
  Extending/Health-Check/index.md
Labels: category/umbraco-cms

#3121 Updated ContentTypes info
  Extending/Content-Apps/index.md
Labels: category/umbraco-cms

#3119 Add Sample Macro in Grid Editor
  Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Grid-Layout/Grid-Editors.md
Labels: category/umbraco-cms

#3122 Update documentation for HasValue()
  Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/File-Upload/index.md
Labels: category/umbraco-cms

#3127 Deploy patch
  Add-ons/The-Licensing-model/index.md
  Add-ons/Umbraco-Deploy/Installing-Deploy/Existing-site/index.md
  Add-ons/Umbraco-Deploy/Installing-Deploy/New-site/index.md
  Add-ons/index.md
  Umbraco-Cloud/Deployment/Deploy-Settings/index.md
Labels: category/umbraco-cloud, category/umbraco-deploy

#3041 Removed warning about bug that has been resolved
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Type.md
Labels: category/pending-release, category/umbraco-forms

#3126 Added test example for UrlSegmentProvider.
  Implementation/Unit-Testing/index.md
Labels: category/umbraco-cms

#3130 Replace constructor with SetUp in test sample
  Implementation/Unit-Testing/index.md
Labels: category/umbraco-cms

#3131 Updating the Package Manifest to include Dashboards and Sections
  Extending/Property-Editors/package-manifest.md
Labels: category/umbraco-cms

#3118 Add a couple of notes around gotchas with the Client Dependency Framework
  Getting-Started/Design/Stylesheets-Javascript/index.md
Labels: category/umbraco-cms

#3137 AllowContentDashboardAccessToAllUsers
  Reference/Config/webconfig/index.md
Labels: category/umbraco-cms

#3138 Azure Storage Explorer Interface Change
  Umbraco-Cloud/Set-Up/Media/Connect-to-Azure-Storage-Explorer/images/attach-blob.png
  Umbraco-Cloud/Set-Up/Media/Connect-to-Azure-Storage-Explorer/images/connection-info.png
  Umbraco-Cloud/Set-Up/Media/Connect-to-Azure-Storage-Explorer/images/select-connection.png
  Umbraco-Cloud/Set-Up/Media/Connect-to-Azure-Storage-Explorer/images/select-resource.png
  Umbraco-Cloud/Set-Up/Media/Connect-to-Azure-Storage-Explorer/images/select-shared-access-signature.png
  Umbraco-Cloud/Set-Up/Media/Connect-to-Azure-Storage-Explorer/index.md
Labels: category/umbraco-cloud

#3132 Added page on how to extend Deploy for custom data and property editors
  Add-ons/Umbraco-Deploy/Extending/index.md
  Add-ons/Umbraco-Deploy/index.md
Labels: category/pending-release, category/umbraco-deploy

#3105 added a section about manual usage check
  Umbraco-Cloud/Set-Up/Usage/index.md
Labels: category/umbraco-cloud

#3142 PR for the New shop docs
  Umbraco-Cloud/Set-Up/Manage-Subscriptions/index.md
  Umbraco-Cloud/Set-Up/Project-settings/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/The-Cloud-Portal/index.md
  Umbraco-Uno/Getting-Started/The-Portal/index.md
Labels: category/pending-release, category/umbraco-cloud

#3134 Prepared for beta release..
  UmbracoNetCoreUpdates.md
Labels: category/pending-release, category/umbraco-netcore

#3128 Multisite tutorial
  Tutorials/Multisite-Setup/images/1-addinghostnames.png
  Tutorials/Multisite-Setup/images/2-culturehostnames.png
  Tutorials/Multisite-Setup/images/3-culturehostnamesp2.png
  Tutorials/Multisite-Setup/images/6-dolphins.png
  Tutorials/Multisite-Setup/images/7-swato.png
  Tutorials/Multisite-Setup/index.md
Labels: category/umbraco-cloud

#3148 Update UmbracoNetCoreUpdates.md
  UmbracoNetCoreUpdates.md
Labels: category/broken-link, category/umbraco-cms

#3147 Update UmbracoNetCoreUpdates.md
  UmbracoNetCoreUpdates.md
Labels: category/umbraco-cms
