Repository umbraco/UmbracoDocs, pull requests merged in 2021-01, with the labels that each got.

#2978 Remove mentions of Umbraco Latch in Uno section
  Umbraco-Uno/Going-live/index.md
Labels: category/umbraco-uno

#2986 Update custom backoffice html view
  Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/index.md
Labels: category/umbraco-cms

#2990 New article for how to manually upgrade a Uaas clone
  Umbraco-Cloud/Upgrades/Manual-Upgrades/Manual-Upgrade-UaaS-Tool.md
Labels: category/umbraco-cloud

#2989 Document unattended installs feature
  Getting-Started/Setup/Install/Unattended-Install.md
  Getting-Started/Setup/Install/images/unattended/final-screen.png
  Getting-Started/Setup/Install/index.md
Labels: category/pending-release, category/umbraco-cms
