Repository umbraco/UmbracoDocs, pull requests merged in 2021-03, with the labels that each got.

#3038 Updated Public Access note
  Umbraco-Cloud/Set-Up/Project-settings/index.md
Labels: category/umbraco-cloud

#3044 Changes to SMTP note and Users on Cloud article
  Umbraco-Cloud/Set-Up/SMTP-settings/images/Reset_password.png
  Umbraco-Cloud/Set-Up/SMTP-settings/index.md
  Umbraco-Cloud/Set-Up/Users-On-Cloud/index.md
Labels: category/umbraco-cloud

#3034 Added a note about the old Latch DNS records
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index.md
Labels: category/umbraco-cloud

#3046 Updated articles Parent and Article Items article
  Tutorials/Creating-Basic-Site/Articles-Parent-and-Article-Items/images/Document_type_with_template.png
  Tutorials/Creating-Basic-Site/Articles-Parent-and-Article-Items/index.md
  Tutorials/Creating-Basic-Site/index.md
Labels: category/pending-release, category/umbraco-cms

#3057 Document how to upgrade projects unattended
  Getting-Started/Setup/Upgrading/general.md
Labels: category/pending-release, category/umbraco-cms

#3058 Document custom error page for boot errors
  Tutorials/Custom-Error-Pages/images/BootFailedGeneric.png
  Tutorials/Custom-Error-Pages/index.md
Labels: category/pending-release, category/umbraco-cms

#3060 Updated the Umbraco cloud user profile info
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/images/change-password.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/images/change-profile-info.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/images/profile.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/index.md
Labels: category/umbraco-cloud

#3052 Tutorial for troubleshooting changes not being applied on deployments
  Umbraco-Cloud/Set-Up/Config-Transforms/index.md
  Umbraco-Cloud/Troubleshooting/Deployments/Changes-Not-Being-Applied/index.md
  Umbraco-Cloud/Troubleshooting/Deployments/index.md
Labels: category/umbraco-cloud

#3064 Add steps on unattended upgrades in load balanced setups
  Getting-Started/Setup/Server-Setup/Load-Balancing/index.md
  Getting-Started/Setup/Upgrading/general.md
Labels: category/umbraco-cms

#3040 Added documentation for forms features introduced in V8.7.0.
  Add-ons/UmbracoForms/Developer/Configuration/index.md
  Add-ons/UmbracoForms/Developer/Healthchecks/images/healthcheck.png
  Add-ons/UmbracoForms/Developer/Healthchecks/index.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-indexes-forms-in-db.sql
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-indexes-forms-in-db_revert.sql
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-indexes.sql
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/8.7.0-apply-keys-and-indexes_revert.sql
  Add-ons/UmbracoForms/Developer/index.md
  Add-ons/UmbracoForms/Editor/Creating-a-Form/Fieldtypes/Recaptcha2/images/recaptcha2.png
  Add-ons/UmbracoForms/Editor/Creating-a-Form/Fieldtypes/Recaptcha2/index.md
  Add-ons/UmbracoForms/Editor/Creating-a-Form/Fieldtypes/Recaptcha3/index.md
  Add-ons/UmbracoForms/Editor/Creating-a-Form/Fieldtypes/index.md
  Add-ons/UmbracoForms/Editor/Creating-a-Form/images/FormsCreateDialogV8.png
  Add-ons/UmbracoForms/Editor/Creating-a-Form/index.md
  Add-ons/UmbracoForms/index.md
Labels: category/pending-release, category/umbraco-forms

#3077 Prepared the docs for the upcoming alpha4
  UmbracoNetCoreUpdates.md
Labels: category/pending-release, category/umbraco-netcore

#3081 Add csharp code formatting
  Reference/Events/EditorModel-Events/index.md
Labels: category/umbraco-cms

#3098 Updating the Hiding the Default umbraco.io Url rewrite rule
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Rewrites-on-Cloud/index.md
Labels: category/umbraco-cloud
