Repository umbraco/UmbracoDocs, pull requests merged in 2021-02, with the labels that each got.

#3007 Upgrade migration guide to reflect Umbraco ID updates
  Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/index.md
Labels: category/umbraco-cloud

#2996 Dashboard Tutorial: Update JS samples to define supported entity types
  Tutorials/Creating-a-Custom-Dashboard/index.md
Labels: category/umbraco-cms

#2997 Add configuration
  Tutorials/Creating-a-Property-Editor/part-2.md
Labels: category/umbraco-cms

#3010 Update UmbracoNetCoreUpdates.md to match alpha3
  UmbracoNetCoreUpdates.md
Labels: category/pending-release, category/umbraco-netcore

#3015 Updates spelling of Cloudflare
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Move-away-from-Latch/index.md
Labels: category/umbraco-cloud

#3016 Upgrade project cloned with uaa s.cmd
  Umbraco-Cloud/Upgrades/Manual-Upgrades/Manual-Upgrade-UaaS-Tool.md
Labels: category/umbraco-cloud

#3026 Adding info on custom certs that the pfx file can only have one cert
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Security-Certificates/index.md
Labels: category/umbraco-cloud

#2821 Update index.md to add example of extending a property with an environment variable.
  Reference/Config/Serilog/index.md
Labels: hacktoberfest-accepted
