Repository umbraco/UmbracoDocs, pull requests merged in 2022-12, with the labels that each got.

#4705 Rename Events to Notification in Workflow
  SUMMARY.md
  umbraco-workflow/active-workflows.md
  umbraco-workflow/workflow-content-app.md
  umbraco-workflow/workflow-content-section.md
Labels: category/umbraco-workflow

#4702 Updated secret management page
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/umbraco-cloud

#4708 Updated Fundamentals Setup Install readme to use new install command
  umbraco-cms/fundamentals/setup/install/README.md
Labels: category/umbraco-cms

#4707 Improve readability - Fundamentals Code Subscribing-To-Notifications
  umbraco-cms/fundamentals/code/subscribing-to-notifications.md
Labels: category/umbraco-cms

#4714 Readability improvements - Fundamentals data defining-content
  umbraco-cms/fundamentals/data/defining-content.md
Labels: category/styleguide

#4711 Update README.md
  umbraco-heartcore/api-documentation/content-management/media/README.md
Labels: category/umbraco-heartcore

#4710 Update 2-factor-authentication-on-cloud.md
  umbraco-cloud/set-up/2-factor-authentication-on-cloud.md
Labels: category/umbraco-cloud

#4715 Renamed Configuration folder
  Reference/Configuration-for-Umbraco-7-and-8/404handlers/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/404handlers/index.md
  Reference/Configuration-for-Umbraco-7-and-8/BaseRestExtensions/index.md
  Reference/Configuration-for-Umbraco-7-and-8/EmbeddedMedia/index.md
  Reference/Configuration-for-Umbraco-7-and-8/ExamineIndex/images/examine-management-dashboard.png
  Reference/Configuration-for-Umbraco-7-and-8/ExamineIndex/index.md
  Reference/Configuration-for-Umbraco-7-and-8/ExamineSettings/index.md
  Reference/Configuration-for-Umbraco-7-and-8/HealthChecks/index.md
  Reference/Configuration-for-Umbraco-7-and-8/Serilog/index.md
  Reference/Configuration-for-Umbraco-7-and-8/applications/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/applications/index.md
  Reference/Configuration-for-Umbraco-7-and-8/dashboard/index-v6.md
  Reference/Configuration-for-Umbraco-7-and-8/dashboard/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/dashboard/index.md
  Reference/Configuration-for-Umbraco-7-and-8/fileSystemProviders/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/fileSystemProviders/index.md
  Reference/Configuration-for-Umbraco-7-and-8/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/index.md
  Reference/Configuration-for-Umbraco-7-and-8/nucache-settings.md
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/add-via-backoffice.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/code-sample-button.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/code-sample-option-appears.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/format-targeted.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/formats-dropdown.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/highlighted-code.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/image-selected.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/insert-code.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/text-selected.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/images/with-folders.png
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/tinyMceConfig/index.md
  Reference/Configuration-for-Umbraco-7-and-8/trees/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/trees/index.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index.md
  Reference/Configuration-for-Umbraco-7-and-8/webconfig/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/webconfig/index.md
Labels: category/umbraco-cms, migration

#4717 Add direct links to the migated docs
  Fundamentals/Setup/Install/index.md
  Fundamentals/Setup/Install/install-umbraco-with-nuget-v7.md
  Fundamentals/Setup/Install/install-umbraco-with-nuget.md
  Fundamentals/Setup/Install/install-umbraco-with-vs-code.md
  Fundamentals/Setup/Requirements/index.md
  Fundamentals/Setup/Upgrading/general.md
  Fundamentals/Setup/Upgrading/version-specific.md
Labels: migration

#4716 Add upgrade guidance for v10 to v11
  umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms

#4721 adding v10 specific information for integration testing (migrated)
  umbraco-cms/implementation/integration-testing.md
Labels: category/umbraco-cms, migration

#4722 Making it more clear what kind of hostname (migrated)
  umbraco-cloud/set-up/project-settings/manage-cdn-caching.md
Labels: category/umbraco-cloud, migration

#4723 Add missing notification docs (migrated)
  SUMMARY.md
  umbraco-cms/reference/notifications/cacherefresher-notifications.md
  umbraco-cms/reference/notifications/relationservice-notifications.md
Labels: category/umbraco-cms, migration

#4709 Add missing closing tag
  umbraco-cms/reference/templating/mvc/viewcomponents.md
Labels: category/umbraco-cms

#4718 Fixed links to -v8
  Extending/Packages/Types-of-Packages/index.md
  Extending/Property-Editors/Property-Value-Converters/index-v7.md
  Extending/Property-Editors/Property-Value-Converters/index.md
Labels: migration

#4724 Block editor docs
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/images/BlockListEditor_AddContent.png
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/images/BlockListEditor_AddContentInline.jpg
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/images/BlockListEditor_BlockPicker.jpg
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/images/BlockListEditor_BlockPicker_simplesetup.jpg
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/images/BlockListEditor_DataType.jpg
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/images/BlockListEditor_DataType_Blocks.png
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/images/BlockListEditor_EditingOverlay.jpg
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/images/BlockListEditor_InlineEditing.jpg
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/Block-List-Editor/index.md
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/index.md
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-Editor/label-property-configuration.md
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/index.md
Labels: category/umbraco-cms

#4727 Restructure and add content management sample article to nav
  SUMMARY.md
  umbraco-heartcore/client-libraries/dot-net-core/content-management-sample.md
Labels: category/umbraco-heartcore

#4728 Add #4670 to legacy-docs
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Nested-Content/index.md
Labels: migration

#4731 Fixed headings in the major upgrades article.
  umbraco-cloud/upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#4735 Updated Workflow images and minor fixes
  umbraco-workflow/configuration.md
  umbraco-workflow/images/Manage-packages-v11.png
  umbraco-workflow/images/VS_Installation.png
  umbraco-workflow/installing-workflow.md
  umbraco-workflow/upgrading-workflow.md
Labels: category/umbraco-workflow

#4736 Move things out of expandabes
  umbraco-heartcore/client-libraries/dot-net-core/content-management-sample.md
Labels: category/umbraco-heartcore

#4737 Removed blank space from right-side of the image
  umbraco-workflow/images/VS_Installation.png
Labels: category/umbraco-workflow

#4744 Added some redirects for project settings.
  .gitbook.yaml
Labels: category/umbraco-cloud

#4739 Update content-apps.md
  umbraco-cms/extending/content-apps.md
Labels: category/umbraco-cms

#4748 Broken Forms links
  umbraco-forms/README.md
Labels: category/umbraco-forms

#4749 Fixed broken image Reference/Templating/Macros
  umbraco-cms/reference/templating/macros/README.md
Labels: category/umbraco-cms

#4750 Cherry pick dec12
  umbraco-cms/extending/content-apps.md
  umbraco-cms/fundamentals/design/rendering-content.md
  umbraco-cms/reference/templating/macros/README.md
  umbraco-forms/README.md
Labels: migration

#4754 Update install-umbraco-with-templates.md
  umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
Labels: category/umbraco-cms

#4752 Indicate that Grid Layout is obsolete
  umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/README.md
Labels: category/umbraco-cms

#4756 Workflow redirect
  .gitbook.yaml
Labels: category/umbraco-workflow

#4755 Heartcore: Parent document types generates interfaces in GraphQL
  umbraco-heartcore/api-documentation/graphql/schema-generation.md
Labels: category/umbraco-heartcore

#4758 Notes and Warnings about deployment issues and SDKs
  umbraco-cloud/set-up/working-locally.md
Labels: category/umbraco-cloud

#4759 Appsettings not correct format
  umbraco-heartcore/client-libraries/dot-net-core/mvc-samples.md
Labels: category/umbraco-heartcore

#4760 Update custom-controllers.md
  umbraco-cms/reference/routing/custom-controllers.md
Labels: category/umbraco-cms

#4761 Update magic-strings.md
  umbraco-forms/developer/magic-strings.md
Labels: category/umbraco-forms

#4740 Update example for `PublishedRequestHandler`
  umbraco-cms/reference/routing/request-pipeline/published-content-request-preparation.md
Labels: state/needs-more-info

#4764 Added hide label config
  umbraco-cms/tutorials/creating-a-property-editor/README.md
  umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-backoffice_1.png
  umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-config_1.png
  umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-config_2.png
  umbraco-cms/tutorials/creating-a-property-editor/part-2.md
  umbraco-cms/tutorials/creating-a-property-editor/part-3.md
Labels: category/umbraco-cms

#4771 Hide label config
  umbraco-cms/tutorials/creating-a-property-editor/README.md
  umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-backoffice_1.png
  umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-config_1.png
  umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-config_2.png
  umbraco-cms/tutorials/creating-a-property-editor/part-2.md
  umbraco-cms/tutorials/creating-a-property-editor/part-3.md
Labels: category/umbraco-cms

#4776 Removed the migrating from 8 to 10 article from the v11 docs
  .gitbook.yaml
  SUMMARY.md
Labels: category/umbraco-cloud

#4770 Umbraco Cloud Release notes December
  SUMMARY.md
  umbraco-cloud/release-notes/2022-12-20-releasenotes.md
  umbraco-cloud/release-notes/README.md
  umbraco-cloud/release-notes/images/Kudu.gif
  umbraco-cloud/release-notes/images/Organization Projects.png
  umbraco-cloud/release-notes/images/OrganizationProjects.png
  umbraco-cloud/release-notes/images/PublicAccessV2.gif
  umbraco-cloud/release-notes/images/SecretsManagementExample2.gif
Labels: category/umbraco-cloud

#4777 Updated the login article
  umbraco-cms/fundamentals/backoffice/login.md
Labels: category/umbraco-cms

#4780 Readability improvements - Fundamentals data users
  umbraco-cms/fundamentals/data/users.md
Labels: category/umbraco-cms
