Repository umbraco/UmbracoDocs, pull requests merged in 2022-08, with the labels that each got.

#4254 Added titles to YouTube video iFrames
  Add-ons/Umbraco-Deploy/Deployment-Workflow/Restoring-Content/index.md
  Add-ons/Umbraco-Deploy/Deployment-Workflow/index.md
  Contribute/How-to-add-a-new-version/index.md
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/index.md
  Fundamentals/Backoffice/Variants/index.md
  Fundamentals/Design/Partial-Views/index.md
  Fundamentals/New-in-V8.md
  Fundamentals/Setup/Install/install-umbraco-with-templates-v9.md
  Fundamentals/Setup/Install/install-umbraco-with-templates.md
  Fundamentals/Setup/Upgrading/version-specific.md
  Tutorials/Creating-Custom-Views-for-Blocklist/index.md
  Umbraco-Cloud/Databases/Cloud-Database/index.md
  Umbraco-Cloud/Deployment/Deploy-Operations/index.md
  Umbraco-Cloud/Deployment/Restoring-content/Partial-Restore/index.md
  Umbraco-Cloud/Deployment/Restoring-content/index.md
  Umbraco-Cloud/Deployment/index-v8.md
  Umbraco-Cloud/Deployment/index.md
  Umbraco-Cloud/Getting-Started/Baselines/index-v7.md
  Umbraco-Cloud/Getting-Started/Baselines/index.md
  Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/index-v8.md
  Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/index.md
  Umbraco-Cloud/Getting-Started/index-v7.md
  Umbraco-Cloud/Getting-Started/index.md
  Umbraco-Cloud/Set-Up/Config-Transforms/index-v7.md
  Umbraco-Cloud/Set-Up/Manage-Environments/index.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index-v7.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/index.md
  Umbraco-Cloud/Set-Up/SMTP-settings/index-v7.md
  Umbraco-Cloud/Set-Up/SMTP-settings/index.md
  Umbraco-Cloud/Set-Up/Team-Members/Accounts-Contact.md
  Umbraco-Cloud/Set-Up/Team-Members/Technical-Contact.md
  Umbraco-Cloud/Set-Up/Working-Locally/Working-With-Visual-Studio/index.md
  Umbraco-Cloud/Set-Up/Working-Locally/index-v8.md
  Umbraco-Cloud/Set-Up/Working-Locally/index.md
  Umbraco-Cloud/Set-Up/Working-With-Mac/index-v7.md
  Umbraco-Cloud/Troubleshooting/Deployments/Schema-Mismatches/index.md
  Umbraco-Cloud/Troubleshooting/Deployments/Structure-Error/index.md
  Umbraco-Cloud/Troubleshooting/Log-files/index.md
  Umbraco-Cloud/Upgrades/Manual-Upgrades/index.md
  Umbraco-Cloud/Upgrades/Migrating-from-7-to-8/index.md
  Umbraco-Cloud/Upgrades/Minor-Upgrades/index.md
  Umbraco-Cloud/Upgrades/Upgrading-from-9-to-10/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Backoffice-Users-and-API-Keys/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Environments/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/The-Cloud-Portal/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/The-Umbraco-Backoffice/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/index.md
  Umbraco-Heartcore/index.md
Labels: category/umbraco-cloud

#4256 Remove unnecessary article
  Umbraco-Cloud/Getting-Started/index-v7.md
Labels: category/umbraco-cloud

#4247 Added redirect docs
  Umbraco-Heartcore/API-Documentation/Redirect/index.md
  Umbraco-Heartcore/API-Documentation/index.md
Labels: category/umbraco-heartcore, category/pending-release

#3581 External logins updates
  Reference/Security/External-login-providers/index-v7.md
  Reference/Security/External-login-providers/index-vpre-9.3.0.md
Labels: category/umbraco-cloud, hacktoberfest-accepted

#4212 Updated the cloud db article with grammar fixes
  Umbraco-Cloud/Databases/Cloud-Database/index.md
Labels: category/umbraco-cloud

#4260 Removed the Manual-Upgrade-UaaS-Tool article
  Umbraco-Cloud/Upgrades/Manual-Upgrades/Manual-Upgrade-UaaS-Tool.md
Labels: category/umbraco-cloud

#4264 Updated language settings for code block
  Reference/Configuration/RequestHandlerSettings/index.md
Labels: category/umbraco-cms

#4266 V10 system requirements require VS2022 for .NET 6 support
  Fundamentals/Setup/Requirements/index.md
  Umbraco-Cloud/Upgrades/Upgrading-from-9-to-10/index.md
Labels: category/umbraco-cloud, category/umbraco-cms

#4271 Updated MVC > Partial Views (And Caching) to v9+v10
  Reference/Templating/Mvc/partial-views.md
Labels: category/umbraco-cms

#4262 Update screenshot of installer
  Fundamentals/Setup/Install/images/installer.png
  Fundamentals/Setup/Install/install-umbraco-with-vs-code.md
Labels: category/umbraco-cms

#4272 Update redirect url endpoint description
  Umbraco-Heartcore/API-Documentation/Redirect/index.md
Labels: category/umbraco-heartcore

#4278 Small changes to the extending forms section
  Add-ons/UmbracoForms/Installation/Install/index.md
  Add-ons/UmbracoForms/Installation/index.md
Labels: category/umbraco-forms

#4263 Documented Umbraco Deploy's BackOfficeOnly setting.
  Add-ons/Umbraco-Deploy/Deploy-Settings/index-v8.md
  Add-ons/Umbraco-Deploy/Deploy-Settings/index.md
Labels: category/pending-release, category/umbraco-deploy

#4282 Update to Magic String information for record.id
  Add-ons/UmbracoForms/Developer/Magic-Strings/index.md
Labels: category/umbraco-forms

#4275 Fixes Issue# 3242
  Reference/Routing/Surface-Controllers/index.md
Labels: category/umbraco-cms

#4285 New "Dedicated resource" page
  Umbraco-Cloud/Set-Up/Dedicated/images/Downgrade.png
  Umbraco-Cloud/Set-Up/Dedicated/images/Step1.png
  Umbraco-Cloud/Set-Up/Dedicated/images/Step2.png
  Umbraco-Cloud/Set-Up/Dedicated/images/test.md
  Umbraco-Cloud/Set-Up/Dedicated/index.md
Labels: category/umbraco-cloud

#4287 Rename Dedicated to Dedicated-Resources
  Umbraco-Cloud/Set-Up/Dedicated-Resources/images/Downgrade.png
  Umbraco-Cloud/Set-Up/Dedicated-Resources/images/Step1.png
  Umbraco-Cloud/Set-Up/Dedicated-Resources/images/Step2.png
  Umbraco-Cloud/Set-Up/Dedicated-Resources/index.md
  Umbraco-Cloud/Set-Up/Dedicated/images/test.md
Labels: category/umbraco-cloud

#4289 Change 'versionTo' from 9 to 10
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/index.md
Labels: category/umbraco-cms

#4292 Add missing package name
  Add-ons/UmbracoForms/Installation/ManualUpgrade.md
  Add-ons/UmbracoForms/Installation/images/Manage_packages_v10.png
Labels: category/umbraco-forms

#4291 Add back note on migrating issue
  Fundamentals/Setup/Upgrading/migrating-to-v8.md
Labels: category/umbraco-cms

#4296 Updated SMTP settings article with additional configuration
  Umbraco-Cloud/Set-Up/SMTP-settings/index.md
Labels: category/umbraco-cloud

#4299 Updated filename to display v10 article as default
  Fundamentals/Setup/Install/Unattended-Install-v9.md
  Fundamentals/Setup/Install/Unattended-Install.md
Labels: category/umbraco-cms

#4295 Release notes for 2022-08-19 Umbraco Portal release
  Umbraco-Cloud/Release-Notes/2022-08-19-ReleaseNotes.md
  Umbraco-Cloud/Release-Notes/images/DedicatedResourceMvp.gif
  Umbraco-Cloud/Release-Notes/images/ProjectsDashboard.gif
  Umbraco-Cloud/Release-Notes/index.md
Labels: category/umbraco-cloud

#4297 Umbraco.StorageProviders.AzureBlob version 9 info
  Extending/FileSystemProviders/Azure-Blob-Storage/index-v9.md
Labels: category/umbraco-cms

#4301 Added details of rich text field.
  Add-ons/UmbracoForms/Editor/Creating-a-Form/Fieldtypes/images/richtext.png
  Add-ons/UmbracoForms/Editor/Creating-a-Form/Fieldtypes/index.md
Labels: category/umbraco-forms

#4283 Update docs for property cache level
  Extending/Property-Editors/Property-Value-Converters/index.md
Labels: category/umbraco-cms

#4307 where in appsettings to add recaptcha
  Add-ons/UmbracoForms/Editor/Creating-a-Form/Fieldtypes/Recaptcha3/index.md
Labels: category/umbraco-forms

#4302 Added Note and fixed markdown errors
  Tutorials/Creating-and-distributing-a-package/index.md
Labels: category/umbraco-cms

#4309 Update index.md
  Umbraco-Cloud/Security/index.md
Labels: category/umbraco-cloud

#4313 Updated the code snippet for config transforms
  Umbraco-Cloud/Set-Up/Config-Transforms/index.md
Labels: category/umbraco-cloud

#4314 Remove deprecated link
  Reference/Configuration/index.md
Labels: category/umbraco-cms

#4310 Create v9+ documentation for quick start
  Reference/Searching/Examine/Quick-Start/index-v8.md
  Reference/Searching/Examine/Quick-Start/index.md
Labels: category/umbraco-cms

#4316 Details and code sample for using Forms send to URL workflow.
  Add-ons/UmbracoForms/Editor/Attaching-Workflows/Workflow-Types/index-v7.md
  Add-ons/UmbracoForms/Editor/Attaching-Workflows/Workflow-Types/index.md
Labels: category/umbraco-forms

#4288 Update GraphQL filtering with complex options
  Umbraco-Heartcore/API-Documentation/GraphQL/Filtering-and-Ordering/index.md
  Umbraco-Heartcore/API-Documentation/GraphQL/Property-Editors/index.md
  Umbraco-Heartcore/API-Documentation/GraphQL/Schema-Generation/index.md
Labels: category/umbraco-heartcore, category/pending-release

#4323 Examine management patch
  Reference/Searching/Examine/examine-management-v7.md
  Reference/Searching/Examine/examine-management.md
  Reference/Searching/Examine/images/External-indexes-v10.png
  Reference/Searching/Examine/images/overview-examine.png
Labels: category/umbraco-cms

#4321 Nested content: warning for unsupported editors in blocks
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Nested-Content/images/NestedContent_NotSupported.png
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Nested-Content/index.md
  Tutorials/Creating-a-Custom-Dashboard/images/CreateNewBlogPost-v10.png
  Tutorials/Creating-a-Custom-Dashboard/images/WeKnowWhatYouEditedLastWeek-v10.png
  Tutorials/Creating-a-Custom-Dashboard/images/changing-languages-v10.png
  Tutorials/Creating-a-Custom-Dashboard/images/dashboard-translated-v10.png
  Tutorials/Creating-a-Custom-Dashboard/images/dashboard-untranslated-v10.png
  Tutorials/Creating-a-Custom-Dashboard/images/welcomemessagepersonalised-v10.png
  Tutorials/Creating-a-Custom-Dashboard/images/welcomemessagewithstyles-v10.png
  Tutorials/Creating-a-Custom-Dashboard/images/whatisadashboard-v10.jpg
  Tutorials/Creating-a-Custom-Dashboard/images/whatisadashboardv10.jpg
  Tutorials/Creating-a-Custom-Dashboard/index.md
Labels: category/umbraco-cms

#4327 Remove note about documentation only being tested in v8
  Reference/Searching/Examine/index.md
Labels: category/umbraco-cms
