Repository umbraco/UmbracoDocs, pull requests merged in 2022-07, with the labels that each got.

#4161 Media Picker should be used instead of File Upload
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/File-Upload/index.md
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Media-Picker-3/index.md
Labels: category/umbraco-cms

#4163 Added info on `UMB_SESSION` cookie
  Reference/Security/Cookies/index.md
Labels: category/umbraco-cms

#4164 Missing usings and added Reference section
  Extending/Section-Trees/trees.md
Labels: category/umbraco-cms

#4165 Added Database-level Roles section
  Extending/Database/index-v8.md
  Extending/Database/index.md
  Fundamentals/Setup/Requirements/index-v7.md
  Fundamentals/Setup/Requirements/index-v8.md
  Fundamentals/Setup/Requirements/index-v9.md
  Fundamentals/Setup/Requirements/index.md
Labels: category/umbraco-cms

#4166 Added IProfilingLogger Note
  Fundamentals/Code/Debugging/Logging/index.md
Labels: category/umbraco-cms

#4175 Configuring the route to not be considered as a client side request h…
  Reference/Routing/custom-routes.md
Labels: category/umbraco-cms

#4173 Clarified upgrade requirements for Forms 10
  Add-ons/UmbracoForms/Installation/Version-Specific.md
  Fundamentals/Setup/Upgrading/version-specific.md
Labels: category/umbraco-forms

#4174 Update scheduling article
  Reference/Scheduling/index.md
Labels: category/umbraco-cms

#4177 Merged Cloud working locally and working with VS article
  Umbraco-Cloud/Set-Up/Working-Locally/Working-With-Visual-Studio/images/cmd-clone.png
  Umbraco-Cloud/Set-Up/Working-Locally/Working-With-Visual-Studio/images/connect-my-machine.png
  Umbraco-Cloud/Set-Up/Working-Locally/Working-With-Visual-Studio/images/generated-solution.png
  Umbraco-Cloud/Set-Up/Working-Locally/Working-With-Visual-Studio/images/references.gif
  Umbraco-Cloud/Set-Up/Working-Locally/Working-With-Visual-Studio/images/vs-project-setup.png
  Umbraco-Cloud/Set-Up/Working-Locally/Working-With-Visual-Studio/index-v8.md
  Umbraco-Cloud/Set-Up/Working-Locally/images/V9-files.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/V9-project-file.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/add-new.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/class-library.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/clone-project-option.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/cloned-project.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/copy-clone-url.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/git-bash-terminal.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/locally-cloned-cloud-project.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/new-project.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/save-as.png
  Umbraco-Cloud/Set-Up/Working-Locally/images/solution-VS.png
  Umbraco-Cloud/Set-Up/Working-Locally/index-v8.md
  Umbraco-Cloud/Set-Up/Working-Locally/index.md
  Umbraco-Cloud/Set-Up/Working-With-Mac/images/cli-example.png
  Umbraco-Cloud/Set-Up/Working-With-Mac/images/clone-project.png
  Umbraco-Cloud/Set-Up/Working-With-Mac/index-v7.md
  Umbraco-Cloud/Set-Up/Working-With-Mac/index.md
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/V9-files.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/V9-project-file.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/add-new.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/class-library.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/cmd-in-empty-folder.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/new-project.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/save-as.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/solution-VS.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/images/solution-dependencies.png
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/index.md
Labels: category/umbraco-cloud

#4180 Renamed files to reflect current major
  Extending/Section-Trees/Searchable-Trees/index-v9.md
  Extending/Section-Trees/Searchable-Trees/index.md
Labels: category/umbraco-cms, category/umbraco-v10

#4183 Further clarification and detail on Forms 10 upgrade from previous versions.
  Add-ons/UmbracoForms/Installation/Version-Specific.md
  Fundamentals/Setup/Upgrading/version-specific.md
Labels: category/umbraco-forms

#4184 Verify StarterKit: Open Graph lessons for v10
  Tutorials/Starter-kit/Lessons/3-Add-Open-Graph/index.md
  Tutorials/Starter-kit/Lessons/3-Add-Open-Graph/step-1.md
  Tutorials/Starter-kit/Lessons/3-Add-Open-Graph/step-2.md
  Tutorials/Starter-kit/Lessons/3-Add-Open-Graph/step-3.md
  Tutorials/Starter-kit/Lessons/3-Add-Open-Graph/step-4.md
  Tutorials/Starter-kit/Lessons/3-Add-Open-Graph/summary.md
  Tutorials/Starter-kit/Lessons/index.md
Labels: category/umbraco-cms, category/umbraco-v10

#4186 Added link to UmbracoForms
  Umbraco-Cloud/Upgrades/Upgrading-from-9-to-10/index.md
Labels: category/umbraco-cloud

#4187 Fix note syntax
  Umbraco-Heartcore/Tutorials/Creating-A-Custom-Grid-Editor/index.md
Labels: category/umbraco-heartcore

#4190 Minor updates to the Packages docs
  Extending/Packages/Creating-a-Package/index.md
  Extending/Packages/UmbPack/index.md
Labels: category/umbraco-cms

#4013 Add missing documentation about the UmbracoContext
  Reference/Querying/UmbracoContext/index.md
Labels: category/umbraco-cms

#4131 Backoffice tours updates
  Extending/Backoffice-Tours/index.md
Labels: state/needs-investigation, category/umbraco-cms

#4120 Authenticate with active directory 9 and 10
  Reference/Security/Authenticate-with-Active-Directory/index-v8.md
  Reference/Security/Authenticate-with-Active-Directory/index.md
  Reference/Security/External-login-providers/index-vpre-9.3.0.md
  Reference/Security/External-login-providers/index.md
Labels: category/umbraco-cms

#3891 Update Smidge Config to reflect the UmbracoSmidgeConfigCacheBuster
  Reference/Configuration/RuntimeMinificationSettings/index.md
Labels: category/umbraco-cms, category/umbraco-v9

#4193 Various fixes
  Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Grid-Layout/Build-Your-Own-Editor.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-vpost7.5.0.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-vpost7.6.0.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-vpost7.6.2.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-vpost7.8.0.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-vpost8.6.0.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-vpre6.0.0.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-vpre7.0.0.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index-vpre7.2.7.md
  Reference/Configuration-for-Umbraco-7-and-8/umbracoSettings/index.md
Labels: category/umbraco-cms

#4194 Clean-up signalR article
  Implementation/Custom-Routing/signalR.md
Labels: category/umbraco-cms

#4195 Fixed typo
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index.md
Labels: category/umbraco-cloud

#3937 Docs updates for Forms 8.13/9.5/10.1
  Add-ons/UmbracoForms/Developer/Configuration/index-v7.md
  Add-ons/UmbracoForms/Developer/Configuration/index.md
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Type.md
  Add-ons/UmbracoForms/Developer/Extending/Customize-default-workflows-v8.md
  Add-ons/UmbracoForms/Developer/Extending/Customize-default-workflows.md
  Add-ons/UmbracoForms/Developer/Extending/index.md
  Add-ons/UmbracoForms/Developer/Security/index.md
  Add-ons/UmbracoForms/Developer/index.md
  Add-ons/UmbracoForms/Editor/Attaching-Workflows/index.md
  Add-ons/UmbracoForms/Editor/Attaching-Workflows/workflow-audit.png
  Add-ons/UmbracoForms/Editor/Attaching-Workflows/workflow-summary.png
  Add-ons/UmbracoForms/Editor/Creating-a-Form/index.md
  Add-ons/UmbracoForms/Editor/Defining-and-Attaching-Prevaluesources/index.md
Labels: category/umbraco-forms, category/pending-release

#4200 Clean up security section
  Fundamentals/Data/Members/index-v7.md
  Fundamentals/Data/Members/index-v8.md
  Fundamentals/Data/Members/index.md
  Fundamentals/Data/Users/index.md
  Reference/Configuration-for-Umbraco-7-and-8/webconfig/index-v7.md
  Reference/Configuration-for-Umbraco-7-and-8/webconfig/index.md
  Reference/Security/BackOfficeUserManager-and-Notifications/index-v7.3.0.md
  Reference/Security/BackOfficeUserManager-and-Notifications/index-v8.9.md
  Reference/Security/BackOfficeUserManager-and-Notifications/index.md
  Reference/Security/Custom-password-check/index-v7.3.0.md
  Reference/Security/Custom-password-check/index-v8.1.1.md
  Reference/Security/Custom-password-check/index.md
  Reference/Security/Reset-admin-password/index-v7.md
  Reference/Security/Reset-admin-password/index-v8.md
  Reference/Security/Reset-admin-password/index.md
  Reference/Security/SSL-HTTPS/index-v8.md
  Reference/Security/SSL-HTTPS/index.md
  Reference/Security/Sensitive-data-on-members/images/export-member.png
  Reference/Security/Sensitive-data-on-members/images/sensitive-data-hidden-v8.png
  Reference/Security/Sensitive-data-on-members/images/sensitive-data-hidden.png
  Reference/Security/Sensitive-data-on-members/images/sensitive-data-user-group-v8.png
  Reference/Security/Sensitive-data-on-members/images/sensitive-data-user-group.jpg
  Reference/Security/Sensitive-data-on-members/images/update-member-type-v8.png
  Reference/Security/Sensitive-data-on-members/images/update-member-type.png
  Reference/Security/Sensitive-data-on-members/index-v7.md
  Reference/Security/Sensitive-data-on-members/index.md
  Reference/Security/images/export-member-v8.png
  Reference/Security/images/google-oauth-v8.png
  Reference/Security/images/google-oauth.png
  Reference/Security/images/member-property-options.png
  Reference/Security/index-v7.md
  Reference/Security/index-v8.md
  Reference/Security/index-vpost-7.3.1.md
  Reference/Security/index-vpost-7.5.0.md
  Reference/Security/index-vpost-7.9.0.md
  Reference/Security/index-vpre-9.3.0.md
  Reference/Security/index.md
  Reference/Security/password-reset-v8.md
  Reference/Security/password-reset.md
Labels: category/umbraco-cms

#4206 Added detail of FieldTypeViewName property when creating custom field types.
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Fieldtype.md
Labels: category/umbraco-forms

#4205 Added instructions on how to set proper permissions on the NuGet cache folder
  Fundamentals/Setup/Install/iis.md
Labels: category/umbraco-cms

#4162 Create Git Repositories on Cloud article
  Umbraco-Cloud/Getting-Started/Git-Repository-in-a-Cloud-Project/images/UCP_v8.png
  Umbraco-Cloud/Getting-Started/Git-Repository-in-a-Cloud-Project/images/UCP_v9.png
  Umbraco-Cloud/Getting-Started/Git-Repository-in-a-Cloud-Project/index-v8.md
  Umbraco-Cloud/Getting-Started/Git-Repository-in-a-Cloud-Project/index.md
Labels: category/umbraco-cloud

#4208 Add missing HttpContext passed into GetPostFieldValue method
  Add-ons/UmbracoForms/Developer/Extending/Adding-an-Event-Handler.md
Labels: category/umbraco-forms

#4214 tiny typo fix
  Extending/Backoffice-Tours/index.md
Labels: category/umbraco-cms

#4211 Removed powershell backup script
  Umbraco-Cloud/Databases/Backups/index.md
Labels: category/umbraco-cloud

#4197 Introduce Relations as a concept
  Fundamentals/Data/Relations/images/create-relation-type.png
  Fundamentals/Data/Relations/images/default-relation-types.png
  Fundamentals/Data/Relations/images/member-images.png
  Fundamentals/Data/Relations/images/parent-siblings-children.png
  Fundamentals/Data/Relations/images/relation-alias.png
  Fundamentals/Data/Relations/images/relation-types-tree.png
  Fundamentals/Data/Relations/images/view-relations.png
  Fundamentals/Data/Relations/index.md
  Fundamentals/Data/index.md
Labels: category/umbraco-cms

#4218 -all changed to --list
  Fundamentals/Setup/Install/install-umbraco-with-templates.md
Labels: category/umbraco-cms

#4221 Minor grammatical fixes to the landing page for upgrades
  Umbraco-Cloud/Upgrades/index.md
Labels: category/umbraco-cloud

#4220 Renamed the manual upgrade deploy folders, so it matches versions
  Umbraco-Cloud/Upgrades/Manual-Upgrades/Manual-Upgrade-Deploy-v8.md
  Umbraco-Cloud/Upgrades/Manual-Upgrades/index.md
Labels: category/umbraco-cloud

#4219 Removed the moving from courier to deploy article
  Umbraco-Cloud/Upgrades/Moving-From-Courier-To-Deploy/index.md
Labels: category/umbraco-cloud, category/umbraco-deploy

#4213 Updated Heartcore MVC Sample
  Umbraco-Heartcore/Client-Libraries/Dot-Net-Core/MVC-Sample/index.md
Labels: category/umbraco-heartcore

#4181 Add runtime-modes page
  Fundamentals/Setup/Server-Setup/index.md
  Fundamentals/Setup/Server-Setup/runtime-modes.md
Labels: category/umbraco-cms

#4222 Add documentation about accessing settings in field preview
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Fieldtype.md
Labels: category/umbraco-forms

#4223 Fixed broken links
  Reference/Events/ContentService-Events/index-v7.md
  Reference/Events/ContentService-Events/index.md
  Reference/Events/ContentTypeService-Events/index.md
  Reference/Events/DataTypeService-Events/index-v7.md
  Reference/Events/DataTypeService-Events/index.md
  Reference/Events/FileService-Events/index.md
  Reference/Events/LocalizationService-Events/index.md
  Reference/Events/MediaService-Events/index-v7.md
  Reference/Events/MediaService-Events/index.md
  Reference/Routing/Custom-Controllers/index-v8.md
  Reference/Routing/Custom-Controllers/index.md
  Reference/Routing/Routing-Properties/index-v8.md
  Reference/Routing/Routing-Properties/index.md
  Reference/Routing/Umbraco-API-Controllers/index-v8.md
  Reference/Routing/index-v7.md
Labels: category/umbraco-cms

#4124 Update custom routing
  Implementation/Custom-Routing/index.md
Labels: category/umbraco-cms

#4224 Miscellaneous fixes
  Extending/Packages/Types-of-Packages/images/backoffice-package-section.png
  Extending/Packages/Types-of-Packages/index-v8.md
  Extending/Packages/Types-of-Packages/index.md
  Extending/Property-Editors/Property-Value-Converters/index-v7.md
  Extending/Property-Editors/full-examples-value-converters-v8.md
Labels: category/umbraco-cms

#4216 Minor grammar changes
  Umbraco-Cloud/Upgrades/Minor-Upgrades/index.md
Labels: category/umbraco-cloud

#4226 Clean-up cloud articles
  Umbraco-Cloud/Deployment/Hotfixes/Move-files-manually/images/live-clone-URL_v10.png
  Umbraco-Cloud/Deployment/Hotfixes/Move-files-manually/index.md
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/images/live-clone-URL_v10.png
  Umbraco-Cloud/Deployment/Hotfixes/Using-Git/index.md
  Umbraco-Cloud/Deployment/Hotfixes/index.md
  Umbraco-Cloud/Deployment/Umbraco-Forms-on-Cloud/index.md
  Umbraco-Cloud/Getting-Started/images/Cloud_Overview_Page.png
  Umbraco-Cloud/Getting-Started/index.md
Labels: category/umbraco-cloud

#4228 Updated the article with images
  Umbraco-Cloud/Troubleshooting/Deployments/Dependency-Exceptions/images/dependency-exception-updated.png
  Umbraco-Cloud/Troubleshooting/Deployments/Dependency-Exceptions/images/dependency-exception-warning.png
  Umbraco-Cloud/Troubleshooting/Deployments/Dependency-Exceptions/index.md
Labels: category/umbraco-cloud, category/umbraco-deploy

#4233 Removed the courier section from troubleshooting
  Umbraco-Cloud/Troubleshooting/Courier/Schema-Mismatch-Courier/images/image00.png
  Umbraco-Cloud/Troubleshooting/Courier/Schema-Mismatch-Courier/images/image07.png
  Umbraco-Cloud/Troubleshooting/Courier/Schema-Mismatch-Courier/images/schema-issues-courier.png
  Umbraco-Cloud/Troubleshooting/Courier/Schema-Mismatch-Courier/index.md
  Umbraco-Cloud/Troubleshooting/Courier/Structure-Errors-Courier/index.md
  Umbraco-Cloud/Troubleshooting/Courier/images/auto-upgrade.png
  Umbraco-Cloud/Troubleshooting/Courier/images/version-courier.png
  Umbraco-Cloud/Troubleshooting/Courier/images/version-numbers.png
  Umbraco-Cloud/Troubleshooting/Courier/index.md
Labels: category/umbraco-cloud, category/umbraco-courier

#4231 Updated changes not being applied article
  Umbraco-Cloud/Troubleshooting/Deployments/Changes-Not-Being-Applied/index.md
Labels: category/umbraco-cloud, category/umbraco-deploy

#4234 Removed a couple of deprecated sections from the FAQ
  Umbraco-Cloud/Troubleshooting/FAQ/index.md
Labels: category/umbraco-cloud

#4229 Adds general article about Heartcore Grid Editors
  Umbraco-Heartcore/Backoffice/Grid-Editors/images/module-aliases.png
  Umbraco-Heartcore/Backoffice/Grid-Editors/images/settings-grid-editors.png
  Umbraco-Heartcore/Backoffice/Grid-Editors/index.md
  Umbraco-Heartcore/Backoffice/index.md
  Umbraco-Heartcore/Tutorials/Creating-A-Custom-Grid-Editor/index.md
Labels: category/umbraco-heartcore

#4227 Ambertvu/property editor
  Tutorials/Creating-a-Property-Editor/part-2.md
Labels: category/umbraco-cms

#4236 Updated text for v9 and above
  Tutorials/Creating-a-Custom-Dashboard/index.md
Labels: category/umbraco-cms

#4235 Cleanup cloud articles
  Umbraco-Cloud/Getting-Started/Baselines/Break-baseline/index.md
  Umbraco-Cloud/Getting-Started/Baselines/Configuration-files/index.md
  Umbraco-Cloud/Getting-Started/Baselines/High-level-overview/index.md
  Umbraco-Cloud/Getting-Started/Baselines/Upgrading-Child-Projects/images/manage-baseline-children_v10.gif
  Umbraco-Cloud/Getting-Started/Baselines/Upgrading-Child-Projects/images/mange-updates-here_v10.png
  Umbraco-Cloud/Getting-Started/Baselines/Upgrading-Child-Projects/index.md
  Umbraco-Cloud/Getting-Started/Baselines/images/RestoreFromBaseline_v10.gif
  Umbraco-Cloud/Getting-Started/Baselines/index.md
  Umbraco-Cloud/Getting-Started/Environments/index-v7.md
  Umbraco-Cloud/Getting-Started/Environments/index.md
  Umbraco-Cloud/Getting-Started/Project-Overview/index.md
  Umbraco-Cloud/Getting-Started/Team-Workflow-On-Cloud/index.md
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Access_rights-v10.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Information-v10.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Members-v10.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Organization-Overview-v10.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/Projects-v10.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/images/payment-methods-v10.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/index.md
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/images/project-overview-v10.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/index.md
  Umbraco-Cloud/Getting-Started/Umbraco-cloud-plans/index.md
Labels: category/umbraco-cloud

#4239 fix typo in /documentation/reference/routing/URL-Tracking/
  Reference/Routing/URL-Tracking/index.md
Labels: category/umbraco-cms

#4242 Updated the article with new info
  Umbraco-Cloud/Set-Up/Working-Locally/index.md
Labels: category/umbraco-cloud

#4244 Minor changes and removed the note about the version
  Umbraco-Cloud/Set-Up/Users-On-Cloud/index.md
Labels: category/umbraco-cloud

#4249 Cleaned up the team members articles
  Umbraco-Cloud/Set-Up/Team-Members/Technical-Contact.md
  Umbraco-Cloud/Set-Up/Team-Members/images/Edit-Team.png
  Umbraco-Cloud/Set-Up/Team-Members/images/Pending-Project-Invites.png
  Umbraco-Cloud/Set-Up/Team-Members/images/Technical-Contacts.png
  Umbraco-Cloud/Set-Up/Team-Members/images/Umbraco-Backoffice-User-Groups.png
  Umbraco-Cloud/Set-Up/Team-Members/index-v7.md
  Umbraco-Cloud/Set-Up/Team-Members/index.md
Labels: category/umbraco-cloud

#4246 Cleanup cloud Setup articles Batch 2
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Move-away-from-Latch/index.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Rewrites-on-Cloud/index.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/Security-Certificates/index.md
  Umbraco-Cloud/Set-Up/Manage-Security/index.md
  Umbraco-Cloud/Set-Up/Manage-Subscriptions/index.md
  Umbraco-Cloud/Set-Up/Media/Connect-to-Azure-Storage-Explorer/index.md
  Umbraco-Cloud/Set-Up/Media/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/File-structure-on-Cloud/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/Generating-UDA-files/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/Manual-extractions/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/index.md
  Umbraco-Cloud/Set-Up/SMTP-settings/index.md
Labels: category/umbraco-cloud

#4238 Cleanup Cloud Setup articles
  Umbraco-Cloud/Set-Up/Application-Insights/index-v7.md
  Umbraco-Cloud/Set-Up/Application-Insights/index.md
  Umbraco-Cloud/Set-Up/Application-Settings/index.md
  Umbraco-Cloud/Set-Up/Config-Transforms/index-v7.md
  Umbraco-Cloud/Set-Up/Config-Transforms/index.md
  Umbraco-Cloud/Set-Up/External-Services/index.md
  Umbraco-Cloud/Set-Up/Going-live/index.md
  Umbraco-Cloud/Set-Up/Manage-CDN-Caching/images/Caching-default-options.png
  Umbraco-Cloud/Set-Up/Manage-CDN-Caching/images/cache-everything.png
  Umbraco-Cloud/Set-Up/Manage-CDN-Caching/images/caching-subpage-v10.png
  Umbraco-Cloud/Set-Up/Manage-CDN-Caching/images/minification.png
  Umbraco-Cloud/Set-Up/Manage-CDN-Caching/images/purge-cache-v10.png
  Umbraco-Cloud/Set-Up/Manage-CDN-Caching/index.md
  Umbraco-Cloud/Set-Up/Manage-Environments/images/Environments-v10.png
  Umbraco-Cloud/Set-Up/Manage-Environments/images/Manage-environments-v10.png
  Umbraco-Cloud/Set-Up/Manage-Environments/index.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/images/culture-and-hostnames-v10.png
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index.md
  Umbraco-Cloud/Set-Up/index.md
Labels: category/umbraco-cloud

#4250 Updated video links
  Fundamentals/Backoffice/Variants/index.md
  Fundamentals/Setup/Install/install-umbraco-with-templates-v9.md
  Fundamentals/Setup/Install/install-umbraco-with-templates.md
  Umbraco-Cloud/Databases/Cloud-Database/index.md
  Umbraco-Cloud/Set-Up/SMTP-settings/index-v7.md
Labels: category/umbraco-cloud, category/umbraco-cms

#4243 updated the project settings article
  Umbraco-Cloud/Set-Up/Project-settings/index.md
Labels: category/umbraco-cloud

#4245 added top 50 media files to the usage article
  Umbraco-Cloud/Set-Up/Usage/images/Top-50-media.png
  Umbraco-Cloud/Set-Up/Usage/index.md
Labels: category/umbraco-cloud

#4251 Cleanup Project Settings article
  Umbraco-Cloud/Set-Up/Project-settings/index.md
Labels: category/umbraco-cloud
