Repository umbraco/UmbracoDocs, pull requests merged in 2022-01, with the labels that each got.

#3686 Update Adding-a-Workflowtype-v7.md
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype-v7.md
Labels: category/umbraco-forms

#3701 Enhanced the description of an SMTP From address
  Reference/V9-Config/GlobalSettings/index.md
Labels: category/umbraco-v9

#3659 Microsoft abandoned the development of Windows Phone
  Fundamentals/Code/Debugging/Logging/index-v8.md
  Fundamentals/Code/Debugging/Logging/index-vpre-8.6.0.md
Labels: category/broken-link

#3626 Updated link for forms v8
  Add-ons/UmbracoForms/Developer/Forms-in-the-Database/index.md
Labels: category/umbraco-forms

#3716 Fix code view
  Reference/V9-Config/MaximumUploadSizeSettings/index.md
Labels: category/umbraco-v9

#3637 Added an extra optionale step to the installation process
  UmbracoNetCoreUpdates.md
Labels: category/umbraco-v9

#3675 Update workflow type
  Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype.md
Labels: category/code-example, category/umbraco-forms

#3727 Fix syntax for Heartcore filtering examples
  Umbraco-Heartcore/API-Documentation/GraphQL/Filtering-and-Ordering/index.md
Labels: category/umbraco-heartcore

#3678 Custom Property editor tutorial - New sample
  Tutorials/Creating-a-Property-Editor/images/Controller-landed.png
  Tutorials/Creating-a-Property-Editor/images/suggestion-editor-backoffice.png
  Tutorials/Creating-a-Property-Editor/images/suggestion-editor-config.png
  Tutorials/Creating-a-Property-Editor/images/suggestion-notification.png
  Tutorials/Creating-a-Property-Editor/images/suggestion-property-editor.png
  Tutorials/Creating-a-Property-Editor/index-v9.md
  Tutorials/Creating-a-Property-Editor/part-2-v9.md
  Tutorials/Creating-a-Property-Editor/part-3-v9.md
Labels: category/code-example, category/umbraco-cms

#3596 Config transforms cloud for V9
  Umbraco-Cloud/Set-Up/Config-Transforms/index-v7.md
  Umbraco-Cloud/Set-Up/Config-Transforms/index.md
Labels: category/umbraco-cloud, category/umbraco-v9

#3597 Manual upgrades cloud
  Add-ons/UmbracoForms/Installation/ManualUpgrade-v8.md
  Add-ons/UmbracoForms/Installation/ManualUpgrade.md
  Umbraco-Cloud/Upgrades/Manual-Upgrades/Manual-CMS-upgrade-v8.md
  Umbraco-Cloud/Upgrades/Manual-Upgrades/Manual-CMS-upgrade.md
  Umbraco-Cloud/Upgrades/Manual-Upgrades/Manual-Upgrade-Deploy.md
  Umbraco-Cloud/Upgrades/Manual-Upgrades/images/Manage_packages.png
  Umbraco-Cloud/Upgrades/Minor-Upgrades/index.md
Labels: category/umbraco-cloud

#3739 Updated YouTube Links from old YT channel to new YT channel
  Contribute/How-to-add-a-new-version/index.md
  Fundamentals/Backoffice/Variants/index.md
  Umbraco-Cloud/Databases/Cloud-Database/index.md
  Umbraco-Cloud/Deployment/Restoring-content/index.md
  Umbraco-Cloud/Getting-Started/Baselines/index-v7.md
  Umbraco-Cloud/Getting-Started/Baselines/index.md
  Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/index.md
  Umbraco-Cloud/Getting-Started/index-v7.md
  Umbraco-Cloud/Set-Up/Manage-Environments/index.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index-v7.md
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index.md
  Umbraco-Cloud/Set-Up/Power-Tools/index.md
  Umbraco-Cloud/Set-Up/SMTP-settings/index-v7.md
  Umbraco-Cloud/Set-Up/SMTP-settings/index.md
  Umbraco-Cloud/Set-Up/Team-Members/Technical-Contact.md
  Umbraco-Cloud/Set-Up/Working-Locally/index-v8.md
  Umbraco-Cloud/Set-Up/Working-Locally/index.md
  Umbraco-Cloud/Set-Up/Working-With-UaaS-Cli/index-v7.md
  Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/index-v8.md
  Umbraco-Cloud/Troubleshooting/Deployments/Schema-Mismatches/index.md
  Umbraco-Cloud/Troubleshooting/Deployments/Structure-Error/index.md
  Umbraco-Cloud/Upgrades/Manual-Upgrades/index.md
  Umbraco-Cloud/Upgrades/Migrating-from-7-to-8/index.md
  Umbraco-Cloud/Upgrades/Minor-Upgrades/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Backoffice-Users-and-API-Keys/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Environments/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/The-Cloud-Portal/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/The-Umbraco-Backoffice/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/index.md
  Umbraco-Uno/Creating-Content/Customize-Your-Theme/index.md
  Umbraco-Uno/Creating-Content/Work-with-content/index.md
  Umbraco-Uno/Creating-Content/Working-with-widgets/index.md
  Umbraco-Uno/Manage-users/Users/index.md
Labels: category/umbraco-tv, category/pending-release
