Repository umbraco/UmbracoDocs, pull requests merged in 2022-03, with the labels that each got.

#3823 Updated FAQ article
  Umbraco-Cloud/Frequently-Asked-Questions/index.md
Labels: category/umbraco-cloud

#3819 Further update to umbraco deploy on-premises config.
  Add-ons/Umbraco-Deploy/Installing-Deploy/Install-Configure/index.md
Labels: category/umbraco-deploy

#3834 Url Rewrites in V9 update
  Reference/Routing/IISRewriteRules/index.md
Labels: category/umbraco-v9

#3797 Updated settings introduced in 9.4
  Reference/V9-Config/ContentSettings/index-v9.0.0.md
Labels: category/pending-release, category/umbraco-v9

#3752 Update how to find member by Udi and Guid
  Reference/Querying/IMemberManager/index.md
Labels: category/umbraco-v9

#3670 Note formatting
  Reference/Routing/custom-routes.md
Labels: category/umbraco-v9

#3586 UmbracoContextAccessor doesn't contain a reference to UmbracoContext
  Reference/Routing/custom-routes.md
Labels: hacktoberfest-accepted

#3587 Added docs on WAF
  Umbraco-Cloud/Set-Up/Manage-Hostnames/index.md
Labels: category/umbraco-cloud

#3837 Documents new security subpage in the Cloud Portal
  Umbraco-Cloud/Set-Up/Manage-Security/images/security-subpage-hostname-specific.png
  Umbraco-Cloud/Set-Up/Manage-Security/images/security-subpage.png
  Umbraco-Cloud/Set-Up/Manage-Security/index.md
  Umbraco-Cloud/Set-Up/index.md
Labels: category/umbraco-cloud

#3839 Updated the different pages with new cloud info
  Umbraco-Cloud/Set-Up/Upgrade-Umbraco-Cloud-Plan/images/upgrade_plan.png
  Umbraco-Cloud/Set-Up/Upgrade-Umbraco-Cloud-Plan/index.md
  Umbraco-Cloud/Set-Up/Usage/images/Usage.png
  Umbraco-Cloud/Set-Up/Usage/images/bandwidth.png
  Umbraco-Cloud/Set-Up/Usage/images/warnings_usage.png
  Umbraco-Cloud/Set-Up/Usage/index.md
Labels: category/umbraco-cloud

#3747 Updated creating forms fundamentals
  Fundamentals/Code/Creating-Forms/index.md
Labels: category/umbraco-forms

#3836 Updated Umbraco Cloud Portal and Team Members articles
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/images/project-invites.png
  Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/index.md
  Umbraco-Cloud/Set-Up/Team-Members/Accounts-Contact.md
  Umbraco-Cloud/Set-Up/Team-Members/images/Account-Contact.gif
  Umbraco-Cloud/Set-Up/Team-Members/images/Backoffice-User-Groups.png
  Umbraco-Cloud/Set-Up/Team-Members/images/Edit-Account-Contact.gif
  Umbraco-Cloud/Set-Up/Team-Members/images/Invite-User-1.gif
  Umbraco-Cloud/Set-Up/Team-Members/images/Team-Members-Pending-Invitation.png
  Umbraco-Cloud/Set-Up/Team-Members/images/add-account-contact-form.png
  Umbraco-Cloud/Set-Up/Team-Members/images/add-account-contact.png
  Umbraco-Cloud/Set-Up/Team-Members/images/add-team-member-v9-1.png
  Umbraco-Cloud/Set-Up/Team-Members/images/edit-account-contact-form.png
  Umbraco-Cloud/Set-Up/Team-Members/images/edit.png
  Umbraco-Cloud/Set-Up/Team-Members/index.md
Labels: category/umbraco-cloud

#3831 Added Forms Security link to Users section
  Add-ons/UmbracoForms/Developer/Configuration/index.md
  Add-ons/UmbracoForms/Developer/Magic-Strings/index.md
  Add-ons/UmbracoForms/Installation/ManualUpgrade.md
  Add-ons/UmbracoForms/Installation/images/Manage_packages.png
  Fundamentals/Data/Users/index.md
Labels: category/umbraco-forms

#3869 Added Partial View article
  Fundamentals/Design/Partial Views/images/created-partial-view-from-snippet.png
  Fundamentals/Design/Partial Views/images/created-partial-view.png
  Fundamentals/Design/Partial Views/images/creating-partial-view.png
  Fundamentals/Design/Partial Views/images/folder.png
  Fundamentals/Design/Partial Views/index.md
  Fundamentals/Design/index.md
Labels: category/umbraco-cms

#3871 Updates package.manifest example with missing info about bundleOptions
  Extending/Property-Editors/package-manifest.md
Labels: category/umbraco-cms

#3881 Updated article with info about using VS 2022
  Fundamentals/Setup/Install/visual-studio.md
Labels: category/umbraco-cms

#3870 Added Partial view macro files article
  Fundamentals/Design/Partial View Macro Files/images/created-partial-view-macro-file-from-snippet.png
  Fundamentals/Design/Partial View Macro Files/images/created-partial-view-macro-file-without-macro.png
  Fundamentals/Design/Partial View Macro Files/images/created-partial-view-macro-file.png
  Fundamentals/Design/Partial View Macro Files/images/creating-partial-view-macro-files.png
  Fundamentals/Design/Partial View Macro Files/images/folder.png
  Fundamentals/Design/Partial View Macro Files/index.md
  Reference/Templating/Macros/index-v8.md
  Reference/Templating/Macros/index.md
Labels: category/umbraco-cms

#3875 Updated Gif's to version 9
  Add-ons/Umbraco-Deploy/Deployment-Workflow/Restoring-Content/Partial-Restore/images/partialRestore-onEmpty-v9.gif
  Add-ons/Umbraco-Deploy/Deployment-Workflow/Restoring-Content/Partial-Restore/index.md
  Umbraco-Cloud/Getting-Started/Baselines/images/create-baseline-child-project-v9-new.gif
  Umbraco-Cloud/Getting-Started/Baselines/index.md
  Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/images/transfer-v9.gif
  Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/index.md
Labels: category/umbraco-cloud, category/umbraco-cms

#3882 Portal release notes for 29-03-2022
  Umbraco-Cloud/Release-Notes/2022-03-29-ReleaseNotes.md
  Umbraco-Cloud/Release-Notes/images/Top10BandwidthPaths.gif
  Umbraco-Cloud/Release-Notes/index.md
Labels: category/umbraco-cloud

#3887 Update cloud external services page with note about potential block of port 25
  Umbraco-Cloud/Set-Up/External-Services/index.md
Labels: category/umbraco-cloud

#3888 Added headings to top 10 usages for cloud projects
  Umbraco-Cloud/Set-Up/Usage/index.md
Labels: category/umbraco-cloud
