Repository umbraco/UmbracoDocs, pull requests merged in 2023-06, with the labels that each got.

#5209 Update auto-linking.md
  10/umbraco-cms/reference/security/auto-linking.md
Labels: category/umbraco-cms, category/styleguide

#5211 Umbraco Cloud: Removal af minify feature on CDN page
  umbraco-cloud/set-up/images/CDN-caching-default.png
  umbraco-cloud/set-up/images/CDN-caching-everything.png
  umbraco-cloud/set-up/images/CDN-caching-hostname.png
  umbraco-cloud/set-up/images/CDN-purge.png
  umbraco-cloud/set-up/project-settings/manage-cdn-caching.md
Labels: category/umbraco-cloud

#5201 Add example of using web routing settings in code
  11/umbraco-cms/reference/configuration/webroutingsettings.md
Labels: category/umbraco-cms, review/dteam

#5214 Updates for Forms 12.0.0-rc3
  12/umbraco-forms/SUMMARY.md
  12/umbraco-forms/developer/ajaxforms.md
  12/umbraco-forms/developer/images/swagger-ui.png
  12/umbraco-forms/installation/version-specific.md
  12/umbraco-forms/test-the-release-candidate.md
Labels: category/umbraco-forms, release/12.0.0

#5216 Update contentservice-notifications.md
  10/umbraco-cms/reference/notifications/contentservice-notifications.md
Labels: category/umbraco-cms

#5181 Documentation of authorized services component in DXP space
  marketplace-and-integrations/README.md
  marketplace-and-integrations/SUMMARY.md
  marketplace-and-integrations/integrations/categories.md
  marketplace-and-integrations/packages/authorized-services.md
  marketplace-and-integrations/packages/images/authorized-screen.png
  marketplace-and-integrations/packages/images/authorized-services-tree.png
  marketplace-and-integrations/packages/images/not-authorized-screen.png
  marketplace-and-integrations/packages/images/settings-screen.png
Labels: category/pending-release, category/umbraco-dxp

#5219 Fix typo
  12/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: category/umbraco-cms

#5220 Updated a title for an expanded feature.
  10/umbraco-forms/SUMMARY.md
  11/umbraco-forms/SUMMARY.md
Labels: category/umbraco-forms

#5225 Update icontentfinder.md to reflect 404 code example
  11/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
Labels: category/umbraco-cms

#5228 Add missing description to README.md
  11/umbraco-cms/reference/templating/README.md
Labels: category/umbraco-cms, community/hackathon

#5230 Update partial-view-macros.md
  11/umbraco-cms/reference/templating/macros/partial-view-macros.md
Labels: category/umbraco-cms

#5231 Update minor-upgrades.md
  umbraco-cloud/product-upgrades/minor-upgrades.md
Labels: category/umbraco-cloud

#5235 Update broken link on cloud homepage
  umbraco-cloud/README.md
Labels: category/broken-link, category/umbraco-cloud

#5236 Added docs for API versioning and OpenAPI
  12/umbraco-cms/README.md
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/api-versioning-and-openapi.md
  12/umbraco-cms/reference/dive-into-the-code.md
Labels: category/umbraco-cms, release/12.0.0

#5226 Update security.md with a C# HSTS example
  umbraco-cloud/security.md
Labels: category/umbraco-cloud

#5243 Change data type to Data Type
  10/umbraco-cms/reference/configuration/datatypes.md
Labels: category/umbraco-cms, category/styleguide

#5244 Surely this is supposed to be actions
  11/umbraco-cms/extending/property-editors/property-actions.md
Labels: category/umbraco-cms

#5247 Update acronyms
  .github/styles/UmbracoDocs/Acronyms.yml
Labels: category/styleguide

#5248 Remove license comment for azurewebsites.net or umbraco.io
  12/umbraco-commerce/getting-started/installation.md
Labels: category/umbraco-commerce

#5249 Commerce/nugetmanager
  10/umbraco-commerce/getting-started/installation.md
  10/umbraco-commerce/media/nuget-packages-overview.png
  10/umbraco-commerce/media/nuget_package_manager_gui.png
  12/umbraco-commerce/getting-started/installation.md
  12/umbraco-commerce/media/nuget-packages-overview.png
  12/umbraco-commerce/media/nuget_package_manager_gui.png
Labels: category/umbraco-commerce

#5250 Update notifications README.md
  11/umbraco-cms/reference/notifications/README.md
Labels: category/umbraco-cms

#5251 Update notifications README.md (v10)
  10/umbraco-cms/reference/notifications/README.md
Labels: category/umbraco-cms

#5241 Documenting the extension model of the Delivery API
  12/umbraco-cms/README.md
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/content-delivery-api/README.md
  12/umbraco-cms/reference/content-delivery-api/custom-property-editors-support.md
  12/umbraco-cms/reference/content-delivery-api/extension-api-for-querying.md
  12/umbraco-cms/reference/dive-into-the-code.md
  12/umbraco-cms/test-the-release-candidate.md
Labels: category/umbraco-cms, community/review, release/12.0.0

#5246 Update render-grid-in-template.md
  11/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/render-grid-in-template.md
Labels: category/umbraco-cms

#5253 Update Notifications documentation README.md
  11/umbraco-cms/reference/notifications/README.md
Labels: category/umbraco-cms, category/styleguide

#5255 Update payment-providers.md
  12/umbraco-commerce/key-concepts/payment-providers.md
Labels: category/styleguide

#5254 readability improvements - imagingsettings
  .github/styles/UmbracoDocs/Acronyms.yml
  10/umbraco-cms/reference/configuration/imagingsettings.md
Labels: category/styleguide

#5259 Further docs updates for Forms 12.
  12/umbraco-forms/developer/extending/adding-a-fieldtype.md
  12/umbraco-forms/installation/version-specific.md
Labels: category/umbraco-forms, release/12.0.0

#5261 Change data type to Data Type
  10/umbraco-cms/reference/management/services/datatypeservice.md
Labels: category/umbraco-cms, category/styleguide

#5262 Readability improvements management readme
  10/umbraco-cms/reference/management/README.md
  11/umbraco-cms/reference/management/README.md
Labels: category/umbraco-cms, category/styleguide

#5256 Added further details of Deploy 12 on-premise licensing.
  10/umbraco-deploy/getting-started/install-configure.md
  11/umbraco-deploy/getting-started/install-configure.md
  12/umbraco-deploy/getting-started/install-configure.md
  12/umbraco-deploy/images/licenses-screen.png
  12/umbraco-deploy/the-licensing-model.md
Labels: category/umbraco-deploy, release/12.0.0

#5271 Fixed typo with Order Line
  12/umbraco-commerce/how-to-guides/overview.md
Labels: category/umbraco-commerce

#5272 Re-ordered DXP navigation
  marketplace-and-integrations/README.md
  marketplace-and-integrations/SUMMARY.md
Labels: category/umbraco-dxp

#5266 Add namespace
  10/umbraco-cms/extending/section-trees/trees/README.md
  11/umbraco-cms/extending/section-trees/trees/README.md
Labels: category/umbraco-cms

#5270 Update 'Content' properties to remove ContentSchedule
  10/umbraco-cms/reference/management/models/content.md
  11/umbraco-cms/reference/management/models/content.md
  12/umbraco-cms/reference/management/models/content.md
Labels: category/umbraco-cms

#5276 Umbraco Cloud Release Notes June 2023
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2023-06-releasenotes.md
  umbraco-cloud/release-notes/images/Certificates.gif
  umbraco-cloud/release-notes/images/ProjectsDashboardEnvReorder.gif
  umbraco-cloud/release-notes/images/Umbraco12.png
  umbraco-cloud/release-notes/overview-2023.md
Labels: category/umbraco-cloud, review/docsteam

#5277 Update migrate-from-8-to-latest.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-cloud, review/docsteam

#5278 Add namespace to trees v12
  12/umbraco-cms/extending/section-trees/trees/README.md
Labels: category/umbraco-cms
