Repository umbraco/UmbracoDocs, pull requests merged in 2023-11, with the labels that each got.

#5594 Add links to tutorials overview for quick access to underlying pages
  10/umbraco-cms/tutorials/overview.md
  11/umbraco-cms/tutorials/overview.md
  12/umbraco-cms/tutorials/overview.md
Labels: category/umbraco-cms, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5593 Fix broken links in cloud documentation
  umbraco-cloud/set-up/multi-factor-authentication-on-cloud.md
  umbraco-cloud/troubleshooting/deployments/structure-error.md
Labels: hacktoberfest-accepted, hacktoberfest/contrib-2023

#5596 Reworded Uses cases section deployment-webhook.md
  umbraco-cloud/deployment/deployment-webhook.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5591 Update add-azure-active-directory-authentication.md
  11/umbraco-cms/tutorials/add-azure-active-directory-authentication.md
  12/umbraco-cms/tutorials/add-azure-active-directory-authentication.md
  13/umbraco-cms/tutorials/add-azure-active-directory-authentication.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#5597 Update troubleshooting-portal - Umbraco Cloud
  umbraco-cloud/troubleshooting/troubleshooting-portal.md
Labels: hacktoberfest-accepted, hacktoberfest/contrib-2023

#5603 Update creating a property editor - the new backoffice
  new-backoffice/tutorials/creating-a-property-editor/README.md
Labels: category/umbraco-new-backoffice

#5608 Update cloud-to-cloud - Umbraco cloud
  umbraco-cloud/deployment/cloud-to-cloud.md
Labels: category/umbraco-cloud

#5611 Update frequently-asked-questions.md
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud

#5602 Updates for Forms and Deploy 13 RC 1
  13/umbraco-deploy/SUMMARY.md
  13/umbraco-deploy/release-notes.md
  13/umbraco-deploy/upgrades/version-specific.md
  13/umbraco-forms/SUMMARY.md
  13/umbraco-forms/editor/creating-a-form/fieldtypes/fileupload.md
  13/umbraco-forms/installation/version-specific.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, category/umbraco-deploy

#5612 Update deploying deletions - Umbraco Cloud
  umbraco-cloud/deployment/deploying-deletions.md
Labels: category/umbraco-cloud

#5613 Replace mention of Vendr
  commerce-add-ons/packages/checkout/release-notes.md
Labels: category/umbraco-commerce

#5615 Fix broken link
  12/umbraco-commerce/reference/go-behind-the-scenes.md
Labels: category/umbraco-commerce

#5622 changed A and AAAA records to the new values and added more info
  umbraco-cloud/set-up/project-settings/manage-hostnames/README.md
Labels: category/umbraco-cloud

#5614 Update deployment webhook - Umbraco Cloud
  umbraco-cloud/deployment/deployment-webhook.md
Labels: category/umbraco-cloud

#5620 Update umbraco-forms-on-cloud
  umbraco-cloud/deployment/umbraco-forms-on-cloud.md
Labels: category/umbraco-cloud

#5609 V13 RC: Breaking changes for login screen
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/fundamentals/backoffice/images/login-backoffice-login.png
  13/umbraco-cms/fundamentals/backoffice/login.md
  13/umbraco-cms/reference/security/external-login-providers.md
  13/umbraco-cms/reference/security/images/2fa-login-custom-view.png
  13/umbraco-cms/reference/security/images/2fa-login-default-view.png
  13/umbraco-cms/reference/security/images/external-login-provider-javascript.png
  13/umbraco-cms/reference/security/images/login-2fa.png
  13/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms

#5624 Update break baseline - Umbraco Cloud
  umbraco-cloud/getting-started/baselines/break-baseline.md
Labels: category/umbraco-cloud

#5621 Added release notes for Deploy 10.2.7, 11.1.7, 12.0.5.
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5623 Correct integrations references
  marketplace-and-integrations/integrations/activecampaign.md
  marketplace-and-integrations/integrations/cookiebot.md
  marketplace-and-integrations/integrations/hubspot.md
  marketplace-and-integrations/integrations/shopify.md
Labels: category/marketplace

#5616 Added detail on the AdditionalParameters configuration for API key provision when using Umbraco.AuthorizedServices.
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/marketplace

#5619 Added release notes for Forms 8.13.12, 10.5.2, 11.2.1, 12.1.2.
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/release-notes.md
  12/umbraco-forms/release-notes.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#5625 Added documentation about dynamic root for v13
  13/umbraco-cms/fundamentals/backoffice/images/mntp.png
  13/umbraco-cms/fundamentals/backoffice/images/mntp_node_type.png
  13/umbraco-cms/fundamentals/backoffice/images/mntp_node_type_dynamic_root.png
  13/umbraco-cms/fundamentals/backoffice/images/mntp_node_type_dynamic_root_origin.png
  13/umbraco-cms/fundamentals/backoffice/images/mntp_node_type_dynamic_root_overview.png
  13/umbraco-cms/fundamentals/backoffice/images/mntp_node_type_dynamic_root_steps.png
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multinode-treepicker.md
Labels: category/umbraco-cms, release/13.0.0

#5626 Docs for Delivery API V2 incl. new property expansion and limiting
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/content-delivery-api/README.md
  13/umbraco-cms/reference/content-delivery-api/custom-property-editors-support.md
  13/umbraco-cms/reference/content-delivery-api/extension-api-for-querying.md
  13/umbraco-cms/reference/content-delivery-api/media-delivery-api.md
  13/umbraco-cms/reference/content-delivery-api/property-expansion-and-limiting.md
  13/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api.md
Labels: category/umbraco-cms, release/13.0.0

#5635 Update licensing-model.md
  12/umbraco-ui-builder/getting-started/licensing-model.md
Labels: category/umbraco-ui-builder

#5634 Update client libraries dot net core - Umbraco Heartcore
  umbraco-heartcore/client-libraries/dot-net-core/README.md
Labels: category/umbraco-heartcore

#5629 Update api documentation content management content type - Umbraco Heartcore
  umbraco-heartcore/api-documentation/content-management/content/type.md
Labels: category/umbraco-heartcore

#5628 Update api documentation content delivery content - Umbraco heartcore
  umbraco-heartcore/api-documentation/content-delivery/content.md
Labels: category/umbraco-heartcore

#5627 Update application-insights - Umbraco Cloud
  umbraco-cloud/set-up/application-insights.md
Labels: category/umbraco-cloud

#5636 Updated method signatures for Umbraco.AuthorizedServices 0.4
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/marketplace

#5543 Update README.md
  10/umbraco-cms/fundamentals/code/debugging/README.md
  11/umbraco-cms/fundamentals/code/debugging/README.md
  12/umbraco-cms/fundamentals/code/debugging/README.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5617 add common pitfalls to cicd
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#5638 Update Heartcore GraphQL schema generation
  umbraco-heartcore/api-documentation/graphql/schema-generation.md
Labels: category/umbraco-heartcore

#5637 Update deployment-local-to-cloud.md - Umbraco Cloud
  umbraco-cloud/deployment/local-to-cloud.md
Labels: category/umbraco-cloud

#5642 Updated team member permission
  umbraco-cloud/set-up/project-settings/team-members/README.md
Labels: category/umbraco-cloud

#5641 Updated latest version number on Umbraco Forms default theme download links.
  10/umbraco-forms/developer/themes.md
  11/umbraco-forms/developer/themes.md
  12/umbraco-forms/developer/themes.md
  13/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#5643 Update ui-localization - the New Backoffice
  new-backoffice/extending/localization/ui-localization.md
Labels: category/umbraco-new-backoffice

#5631 Added UI builder to commercial product dependencies diagram.
  marketplace-and-integrations/images/commercial-product-dependencies.excalidraw
  marketplace-and-integrations/images/commercial-product-dependencies.png
Labels: category/umbraco-ui-builder

#5607 Release notes for Workflow 13 and 12.2
  10/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
  13/umbraco-workflow/release-notes.md
  13/umbraco-workflow/version-specific-upgrade-notes.md
Labels: category/umbraco-workflow, release/13.0.0

#5644 Some refreshes to CICD docs
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/UmbracoCloudApi.md
Labels: category/umbraco-cloud

#5492 Docs updates for Forms 12.2
  10/umbraco-forms/editor/creating-a-form/README.md
  11/umbraco-forms/editor/creating-a-form/README.md
  12/umbraco-forms/SUMMARY.md
  12/umbraco-forms/developer/ajaxforms.md
  12/umbraco-forms/developer/configuration/README.md
  12/umbraco-forms/developer/configuration/type-details.md
  12/umbraco-forms/developer/extending/adding-a-fieldtype.md
  12/umbraco-forms/developer/extending/adding-a-type.md
  12/umbraco-forms/developer/extending/images/text-with-field-picker.png
  12/umbraco-forms/developer/extending/setting-types.md
  12/umbraco-forms/developer/magic-strings.md
  12/umbraco-forms/developer/prepping-frontend.md
  12/umbraco-forms/developer/rendering-forms.md
  12/umbraco-forms/editor/attaching-workflows/README.md
  12/umbraco-forms/editor/attaching-workflows/workflow-types.md
  12/umbraco-forms/editor/creating-a-form/README.md
  12/umbraco-forms/editor/creating-a-form/form-info.md
  12/umbraco-forms/editor/creating-a-form/form-settings.md
  12/umbraco-forms/editor/creating-a-form/images/add-new-page.png
  12/umbraco-forms/editor/creating-a-form/images/form-info-general.png
  12/umbraco-forms/editor/creating-a-form/images/form-info-relations.png
  12/umbraco-forms/editor/creating-a-form/images/form-info.png
  12/umbraco-forms/editor/viewing-and-exporting-entries.md
  12/umbraco-forms/release-notes.md
  13/umbraco-forms/developer/extending/adding-a-fieldtype.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#5652 Update extending umbraco-element - The new backoffice
  new-backoffice/extending/umbraco-element/README.md
Labels: category/umbraco-new-backoffice

#5649 Fixed copy/paste typos in details of UI Builder's licensing model.
  10/umbraco-ui-builder/getting-started/licensing-model.md
  12/umbraco-ui-builder/getting-started/licensing-model.md
Labels: category/umbraco-ui-builder

#5648 Update extending/modals - the new backoffice
  new-backoffice/extending/modals/README.md
Labels: category/umbraco-new-backoffice

#5653 Update sustainability-best-practices/frontend/mobile-first.md
  sustainability-best-practices/frontend/mobile-first.md
Labels: category/sustainability-best-practices

#5489 Docs updates for Deploy 4.9/10.3/12.1
  10/umbraco-cms/extending/section-trees/trees/tree-actions.md
  10/umbraco-deploy/SUMMARY.md
  10/umbraco-deploy/deploy-settings.md
  10/umbraco-deploy/deployment-workflow/README.md
  10/umbraco-deploy/deployment-workflow/images/delete-exports.png
  10/umbraco-deploy/deployment-workflow/images/export-dialog-complete.png
  10/umbraco-deploy/deployment-workflow/images/export-dialog.png
  10/umbraco-deploy/deployment-workflow/images/import-dialog-2.png
  10/umbraco-deploy/deployment-workflow/images/import-dialog-3.png
  10/umbraco-deploy/deployment-workflow/images/import-dialog.png
  10/umbraco-deploy/deployment-workflow/import-export.md
  10/umbraco-deploy/release-notes.md
  11/umbraco-cms/extending/section-trees/trees/tree-actions.md
  11/umbraco-deploy/deploy-settings.md
  11/umbraco-deploy/release-notes.md
  12/umbraco-cms/extending/section-trees/trees/tree-actions.md
  12/umbraco-deploy/SUMMARY.md
  12/umbraco-deploy/deploy-settings.md
  12/umbraco-deploy/deployment-workflow/README.md
  12/umbraco-deploy/deployment-workflow/import-export.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-deploy/deployment-workflow/README.md
  13/umbraco-deploy/deployment-workflow/import-export.md
Labels: category/umbraco-deploy

#5640 Updates to CMS packages section
  10/umbraco-cms/extending/packages/README.md
  10/umbraco-cms/extending/packages/example-package-repository.md
  10/umbraco-cms/extending/packages/images/azuredevops-build.png
  10/umbraco-cms/extending/packages/images/azuredevops-release.png
  10/umbraco-cms/extending/packages/language-files-for-packages.md
  10/umbraco-cms/extending/packages/maintaining-packages.md
  10/umbraco-cms/extending/packages/types-of-packages.md
  11/umbraco-cms/extending/packages/README.md
  11/umbraco-cms/extending/packages/example-package-repository.md
  12/umbraco-cms/extending/packages/README.md
  12/umbraco-cms/extending/packages/example-package-repository.md
  13/umbraco-cms/extending/packages/README.md
  13/umbraco-cms/extending/packages/example-package-repository.md
Labels: category/umbraco-cms

#5632 Update API Documentation Content Management Member - Umbraco Heartcore
  umbraco-heartcore/api-documentation/content-management/member/README.md
Labels: category/umbraco-heartcore, category/styleguide

#5606 Documentation for Workflow Search feature
  12/umbraco-workflow/SUMMARY.md
  12/umbraco-workflow/advanced-search/advanced-search-dashboard.md
  12/umbraco-workflow/advanced-search/images/workflow-advanced-search (1).png
  12/umbraco-workflow/advanced-search/images/workflow-advanced-search (2).png
  12/umbraco-workflow/advanced-search/images/workflow-advanced-search (3).png
  12/umbraco-workflow/advanced-search/images/workflow-advanced-search (4).png
  12/umbraco-workflow/advanced-search/images/workflow-advanced-search (5).png
  13/umbraco-workflow/advanced-search/advanced-search-dashboard.md
  13/umbraco-workflow/advanced-search/images/workflow-advanced-search (1).png
  13/umbraco-workflow/advanced-search/images/workflow-advanced-search (2).png
  13/umbraco-workflow/advanced-search/images/workflow-advanced-search (3).png
  13/umbraco-workflow/advanced-search/images/workflow-advanced-search (4).png
  13/umbraco-workflow/advanced-search/images/workflow-advanced-search (5).png
Labels: category/umbraco-workflow

#5658 additional update with very last minute bugfix
  10/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
  13/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#5650 V13 RC3: login screen design update
  .github/styles/UmbracoDocs/Acronyms.yml
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/fundamentals/backoffice/images/login-backoffice-login.png
  13/umbraco-cms/fundamentals/backoffice/login.md
  13/umbraco-cms/fundamentals/data/defining-content/README.md
  13/umbraco-cms/reference/security/external-login-providers.md
  13/umbraco-cms/reference/security/images/2fa-login-default-view.jpg
  13/umbraco-cms/reference/security/images/2fa-login-default-view.png
  13/umbraco-cms/reference/security/images/external-login-provider-javascript.png
  13/umbraco-cms/reference/security/two-factor-authentication.md
  13/umbraco-cms/tutorials/add-google-authentication.md
  13/umbraco-cms/tutorials/images/GoogleLoginScreen_v9.png
  13/umbraco-cms/tutorials/images/googleLoginScreen.png
Labels: category/umbraco-cms, release/13.0.0

#5646 Details of further breaking changes in Forms 13.
  13/umbraco-forms/developer/prepping-frontend.md
  13/umbraco-forms/installation/version-specific.md
Labels: category/umbraco-forms

#5657 Legacy docs: Update configuration details for Deploy 4.9.
  Add-ons/Umbraco-Deploy/Deploy-Settings/index.md
Labels: category/umbraco-deploy

#5655 Added details of webhook support and further breaking changes in expected in Deploy 13-rc3.
  13/umbraco-deploy/SUMMARY.md
  13/umbraco-deploy/deploy-settings.md
  13/umbraco-deploy/release-notes.md
  13/umbraco-deploy/upgrades/version-specific.md
Labels: category/umbraco-deploy

#5656 Update Extending Property Editors tracking
  10/umbraco-cms/extending/property-editors/tracking.md
  11/umbraco-cms/extending/property-editors/tracking.md
  12/umbraco-cms/extending/property-editors/tracking.md
  13/umbraco-cms/extending/property-editors/tracking.md
Labels: category/umbraco-cms, category/styleguide

#5660 Update types of packages
  10/umbraco-cms/extending/packages/types-of-packages.md
  11/umbraco-cms/extending/packages/types-of-packages.md
  12/umbraco-cms/extending/packages/types-of-packages.md
  13/umbraco-cms/extending/packages/types-of-packages.md
Labels: category/umbraco-cms

#5633 Add docs for output caching in the Delivery API
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/content-delivery-api/output-caching.md
Labels: category/umbraco-cms, release/13.0.0
