Repository umbraco/UmbracoDocs, pull requests merged in 2023-05, with the labels that each got.

#5147 Updated the payment page for Umbraco Cloud
  umbraco-cloud/set-up/manage-subscriptions/images/org-payments.png
  umbraco-cloud/set-up/manage-subscriptions/images/org-subscription.png
  umbraco-cloud/set-up/manage-subscriptions/images/org-view.png
  umbraco-cloud/set-up/manage-subscriptions/new-shop.md
Labels: category/umbraco-cloud

#5149 Spellingmistake / misphrase?
  generic/contribute/getting-started.md
Labels: category/styleguide

#5131 Getting started with the Content Delivery API
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/content-delivery-api.md
  12/umbraco-cms/test-the-release-candidate.md
Labels: category/umbraco-cms, release/12.0.0

#5151 Incorrect information
  11/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
Labels: category/umbraco-cms

#5145 Added link for Gitlab on how to setup it up
  umbraco-cloud/getting-started/git-repository-in-a-cloud-project.md
Labels: category/umbraco-cloud

#5152 Changed info text about Gitlab
  umbraco-cloud/getting-started/git-repository-in-a-cloud-project.md
Labels: category/umbraco-cloud

#5154 link seems to be wrong
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-cloud

#5153 Update cache example with an example of using the cache
  11/umbraco-cms/reference/cache/application-cache.md
Labels: category/umbraco-cms

#5155 Move AllowEditInvariantFromNonDefault from security settings to content settings
  10/umbraco-cms/reference/configuration/contentsettings.md
  10/umbraco-cms/reference/configuration/securitysettings.md
  11/umbraco-cms/reference/configuration/contentsettings.md
  11/umbraco-cms/reference/configuration/securitysettings.md
Labels: category/umbraco-cms

#5158 Fixed details on fallback behaviour to find sender email address in workflows.
  10/umbraco-forms/editor/attaching-workflows/workflow-types.md
  11/umbraco-forms/editor/attaching-workflows/workflow-types.md
Labels: category/umbraco-forms

#5165 Added note about removing any existing serialized schema files when switching an entity to be deployed as content (legacy docs).
  Add-ons/Umbraco-Deploy/Deploy-Settings/index.md
Labels: category/umbraco-deploy

#5120 Reorganize docs on External Login Providers
  11/umbraco-cms/.gitbook.yaml
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/reference/security/authenticate-with-active-directory.md
  11/umbraco-cms/reference/security/auto-linking.md
  11/umbraco-cms/reference/security/external-login-providers.md
  11/umbraco-cms/tutorials/add-azure-active-directory-authentication.md
  11/umbraco-cms/tutorials/add-google-authentication.md
  11/umbraco-cms/tutorials/images/AD_Login.png
  11/umbraco-cms/tutorials/images/AD_Login_Members.png
Labels: category/umbraco-cms, review/dteam, review/docsteam

#5164 Added note about removing any existing serialized schema files when switching an entity to be deployed as content.
  10/umbraco-deploy/deploy-settings.md
  11/umbraco-deploy/deploy-settings.md
Labels: category/umbraco-deploy

#5167 Content Delivery API article updates
  12/umbraco-cms/content-delivery-api.md
Labels: category/umbraco-cms, release/12.0.0

#5168 Update v10 & v11 articles to not use Obsolete EmbedProviderBase
  10/umbraco-cms/extending/embedded-media-providers.md
  11/umbraco-cms/extending/embedded-media-providers.md
Labels: category/umbraco-cms

#5166 Add documentation for getting started with EFCore
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
  12/umbraco-cms/tutorials/images/db-table.png
Labels: category/umbraco-cms, release/12.0.0

#5162 Update globalsettings.md
  11/umbraco-cms/reference/configuration/globalsettings.md
Labels: category/umbraco-cms

#5173 Update installing-nightly-builds.md
  11/umbraco-cms/fundamentals/setup/install/installing-nightly-builds.md
Labels: category/umbraco-cms, category/styleguide

#5174 V12: Fix EF Core tutorial code snippets
  12/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: category/umbraco-cms, release/12.0.0

#5172 Newbackoffice/creating-a-custom-dashboard
  new-backoffice/SUMMARY.md
  new-backoffice/tutorials/creating-a-custom-dashboard.md
  new-backoffice/tutorials/images/extendedWithUiLibrary.png
  new-backoffice/tutorials/images/uiLibraryCard.png
Labels: category/umbraco-cms

#5182 Update test-the-release-candidate.md - RC1
  12/umbraco-cms/test-the-release-candidate.md
Labels: category/umbraco-cms

#5075 Added explanation on return value of GetUrl
  11/umbraco-cms/reference/routing/request-pipeline/outbound-pipeline.md
Labels: category/umbraco-cms

#5184 Update block-list-editor.md
  11/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
Labels: category/umbraco-cms, category/styleguide

#5159 Add IModelsGenerator section to MB extending article
  11/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
Labels: category/umbraco-cms, review/dteam, release/11.4

#5185 Update content-delivery-api.md
  12/umbraco-cms/reference/content-delivery-api.md
Labels: category/umbraco-cms, review/dteam

#5177 Release documentation for Deploy 4.8.1
  Add-ons/Umbraco-Deploy/Deploy-Settings/index.md
Labels: category/umbraco-deploy

#5176 Release documentation for Deploy 10.2.1/11.1.1
  10/umbraco-deploy/deploy-settings.md
  10/umbraco-deploy/troubleshooting.md
  11/umbraco-deploy/deploy-settings.md
  11/umbraco-deploy/troubleshooting.md
Labels: category/umbraco-deploy, review/docsteam

#5189 Update nav for Forms 12 RC docs
  12/umbraco-forms/SUMMARY.md
Labels: category/umbraco-forms, release/12.0.0

#5188 Update major-upgrades.md
  umbraco-cloud/product-upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#5186 Update EFCore tutorial to mention regristration step
  12/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: category/pending-release, category/umbraco-cms, release/12.0.0

#5169 minor correction to the process
  11/umbraco-cms/implementation/integration-testing.md
Labels: category/umbraco-cms, review/dteam

#5191 Update frequently-asked-questions.md
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud, review/docsteam

#5193 Added release notes for Forms 8.13.9, 10.3.3 and 11.1.3.
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/release-notes.md
  12/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#5194 Update structure-error.md
  umbraco-cloud/troubleshooting/deployments/structure-error.md
Labels: category/umbraco-cloud

#5100 Add missing line in examinecomposer code sample
  10/umbraco-cms/reference/searching/examine/indexing.md
Labels: category/umbraco-cms, review/dteam

#5195 Update current examine documentation
  10/umbraco-cms/reference/searching/examine/images/examine-management-product-document.png
  10/umbraco-cms/reference/searching/examine/images/examine-management-product-index.png
  10/umbraco-cms/reference/searching/examine/indexing.md
  11/umbraco-cms/reference/searching/examine/images/examine-management-product-document.png
  11/umbraco-cms/reference/searching/examine/images/examine-management-product-index.png
  11/umbraco-cms/reference/searching/examine/indexing.md
Labels: category/umbraco-cms

#5197 add article for new package manifests
  new-backoffice/SUMMARY.md
  new-backoffice/extending/package-manifest/README.md
  new-backoffice/extending/package-manifest/entry-point.md
  new-backoffice/extending/umbraco-package-manifest.md
Labels: category/umbraco-cms

#5157 Add instructions for enabling Azure Blob Storage ImageSharp cache
  11/umbraco-cms/extending/filesystemproviders/azure-blob-storage.md
Labels: category/umbraco-cms, review/dteam

#5192 Workflow x.2.1 release notes update
  10/umbraco-workflow/release-notes.md
  11/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#5202 Fixed incorrect forms configuration key name
  10/umbraco-forms/developer/configuration/README.md
  11/umbraco-forms/developer/configuration/README.md
Labels: category/umbraco-forms

#5205 Add class
  11/umbraco-cms/extending/content-apps.md
Labels: category/styleguide

#5207 Add 'class'
  10/umbraco-cms/extending/content-apps.md
Labels: category/styleguide
