Repository umbraco/UmbracoDocs, pull requests merged in 2023-01, with the labels that each got.

#4785 added block grid docs to 10.4 rc
  SUMMARY.md
  umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/README.md
  umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
Labels: category/umbraco-cms

#4786 Remove duplicate meta description
  umbraco-deploy/deploy-settings.md
Labels: category/umbraco-deploy

#4775 add error 500 handling example
  umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms

#4762 Update mvc-samples.md
  umbraco-heartcore/client-libraries/dot-net-core/mvc-samples.md
Labels: category/umbraco-heartcore

#4787 changed pricing images to not have the real price
  umbraco-cloud/set-up/images/upgrade_plan.png
Labels: category/umbraco-cloud

#4788 added the image
  umbraco-cloud/set-up/images/upgrade_plan.png
Labels: category/umbraco-cloud

#4790 Moved the docs to the right file.
  Add-ons/The-Licensing-model/index-v7.md
  Add-ons/The-Licensing-model/index.md
Labels: category/umbraco-forms, category/umbraco-deploy

#4792 Fixed incorrect configuration key.
  Add-ons/UmbracoForms/Developer/Configuration/index.md
Labels: category/umbraco-forms

#4719 Use hardcoded language (migrated)
  umbraco-cms/reference/notifications/editormodel-notifications/customizing-the-links-box.md
Labels: category/umbraco-cms

#4800 Add null check in ContentService Notifications
  umbraco-cms/reference/notifications/contentservice-notifications.md
Labels: category/umbraco-cms

#4806 fixed links
  umbraco-cms/reference/templating/modelsbuilder/README.md
Labels: category/umbraco-cms

#4804 Prevents error "cannot convert from 'void' to 'object?'"
  umbraco-cms/tutorials/creating-an-xml-site-map.md
Labels: state/needs-investigation, category/umbraco-cms

#4795 How to create your own private MyGet feed and use it in Umbraco Cloud
  SUMMARY.md
  umbraco-cloud/set-up/private-nuget-feed.md
  umbraco-forms/developer/configuration/README.md
Labels: category/umbraco-cloud

#4810 Fixing a typo in the code example
  umbraco-cms/reference/searching/examine/quick-start.md
Labels: category/umbraco-cms

#4812 Document asynchronous surface controller actions
  umbraco-cms/reference/routing/surface-controllers/README.md
Labels: category/umbraco-cms

#4813 Add new Logging config
  README.md
  umbraco-cms/reference/configuration/loggingsettings.md
Labels: category/umbraco-cms, release/11.1.0

#4814 Add docs for new Media Picker feature
  umbraco-cms/fundamentals/data/creating-media/README.md
  umbraco-cms/fundamentals/data/creating-media/images/add-image-from-dialog.gif
  umbraco-cms/fundamentals/data/creating-media/images/upload-images-from-content.gif
Labels: category/umbraco-cms, release/11.1.0

#4809 Restructure the "Creating an XML sitemap tutorial"
  SUMMARY.md
  umbraco-cms/tutorials/creating-an-xml-site-map.md
  umbraco-cms/tutorials/images/xml-sitemap-add-composition.png
Labels: category/umbraco-cms

#4819 Update Media Picker docs for 10.4
  umbraco-cms/fundamentals/data/creating-media/README.md
  umbraco-cms/fundamentals/data/creating-media/images/add-image-from-dialog.gif
  umbraco-cms/fundamentals/data/creating-media/images/upload-images-from-content.gif
Labels: category/umbraco-cms, release/10.4.0

#4820 Added updates to Sitemap Tutorial to v10 branch
  SUMMARY.md
  umbraco-cms/tutorials/creating-an-xml-site-map.md
  umbraco-cms/tutorials/images/xml-sitemap-add-composition.png
Labels: category/umbraco-cms

#4815 how to migrate a project from umbraco 10 to 11 on cloud
  SUMMARY.md
  umbraco-cloud/upgrades/major-upgrades.md
  umbraco-cloud/upgrades/migrate-from-umbraco-10-to-11.md
Labels: category/umbraco-cloud

#4823 Merge RC 11.1 Docs
  README.md
  umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  umbraco-cms/fundamentals/data/creating-media/README.md
  umbraco-cms/fundamentals/data/creating-media/images/add-image-from-dialog.gif
  umbraco-cms/fundamentals/data/creating-media/images/upload-images-from-content.gif
  umbraco-cms/reference/configuration/loggingsettings.md
  umbraco-cms/tutorials/custom-error-page.md
  umbraco-cms/tutorials/images/maintenancePage.png
Labels: category/umbraco-cms

#4824 changed the note
  umbraco-cloud/upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#4826 IIS Hosting - Server Setup
  umbraco-cms/fundamentals/setup/server-setup/iis.md
Labels: category/umbraco-cms, review/docsteam

#4784 Elaborating on some steps
  umbraco-cloud/upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#4830 Elaborate Linq extensions
  umbraco-11/filtering-using-linq.md
Labels: category/cheatsheet

#4834 Update port reference in SMTP settings
  umbraco-cms/extending/health-check/guides/smtp.md
Labels: category/umbraco-cms

#4839 Update hosting-an-umbraco-infrastructure.md
  getting-started/hosting-an-umbraco-infrastructure.md
Labels: category/broken-link

#4793 Added additional config value available in Forms 8.13.5
  Add-ons/UmbracoForms/Developer/Configuration/index.md
Labels: category/umbraco-forms, category/pending-release

#4840 Update API docs links
  umbraco-cms/reference/api-documentation.md
Labels: category/broken-link, review/docsteam

#4836 Clarify max upload size settings for Cloud users
  umbraco-cms/reference/configuration/maximumuploadsizesettings.md
Labels: category/umbraco-cloud

#4843 Update MVC docs landing page
  .gitbook.yaml
  SUMMARY.md
  umbraco-cms/reference/templating/mvc/README.md
Labels: category/broken-link, review/docsteam

#4797 Use extension method
  umbraco-cms/extending/section-trees/trees/README.md
Labels: category/umbraco-cms, review/dteam

#4845 Small readability improvements
  umbraco-cms/reference/notifications/contentservice-notifications.md
Labels: category/umbraco-cms

#4848 Removed upgrade warning
  umbraco-cloud/upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#4846 Wrong URL to Umbraco forms purchase page
  umbraco-cms/tutorials/creating-a-basic-website/creating-master-template-part-2.md
Labels: category/broken-link

#4849 removed the migration article from the summary
  .gitbook.yaml
  SUMMARY.md
Labels: category/umbraco-cloud, review/docsteam

#4847 Updating Creating Media article
  umbraco-cms/fundamentals/data/creating-media/README.md
  umbraco-cms/fundamentals/data/creating-media/images/crops-and-focal-point-geo.png
  umbraco-cms/fundamentals/data/creating-media/images/crops-and-focal-point.png
  umbraco-cms/fundamentals/data/creating-media/images/media-section-11.png
  umbraco-cms/fundamentals/data/creating-media/images/media-section.png
  umbraco-cms/fundamentals/data/creating-media/images/switch-view-11.png
  umbraco-cms/fundamentals/data/creating-media/images/switch-view.png
Labels: category/umbraco-cms, review/docsteam

#4850 readability improvements
  umbraco-cms/implementation/unit-testing.md
Labels: category/styleguide

#4844 Note to Azure AD article
  umbraco-cms/reference/security/authenticate-with-active-directory.md
Labels: category/umbraco-cms, review/dteam

#4852 Update custom-error-page.md
  umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms

#4833 Update Examine/Indexing article - replaces PR #4625
  umbraco-cms/reference/searching/examine/indexing.md
Labels: category/umbraco-cms

#4853 Updates to Major Upgrade workflow
  umbraco-cloud/upgrades/images/check-all-packages-2.png
  umbraco-cloud/upgrades/major-upgrades.md
Labels: category/umbraco-cloud, review/docsteam

#4855 Update label-property-configuration.md
  umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
Labels: category/umbraco-cms

#4860 Fixes wrong model in example
  umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms, review/dteam

#4861 Fixes wrong model in example
  umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms

#4862 Image fix
  umbraco-cms/reference/templating/macros/README.md
Labels: category/umbraco-cms

#4863 Readability improvements - datatypes.md
  umbraco-cms/reference/configuration/datatypes.md
Labels: category/styleguide

#4866 Readability improvements redirect url serivce
  umbraco-cms/reference/management/services/redirecturlservice.md
Labels: category/styleguide

#4864 Readability improvement - toursettings.md
  umbraco-cms/reference/configuration/tourssettings.md
Labels: category/styleguide

#4869 Remove duplicated description
  umbraco-cms/extending/language-files.md
Labels: category/umbraco-cms

#4868 Update create-content-programmatically.md
  umbraco-cms/reference/management/services/contentservice/create-content-programmatically.md
Labels: category/umbraco-cms, review/docsteam

#4872 Fixed typo in Key vault documentation
  umbraco-cms/extending/key-vault.md
Labels: category/umbraco-cms

#4873 Correct a few links and remove links to templates
  Contribute/Adding-Metadata/index.md
  Contribute/DocsTemplates/index.md
  Contribute/File-Naming-Conventions/index.md
  Contribute/Pull-Requests/index.md
Labels: category/platform
