Repository umbraco/UmbracoDocs, pull requests merged in 2023-09, with the labels that each got.

#5384 Update the new backoffice getting started readme
  new-backoffice/getting-started/getting-started-with-the-new-backoffice/README.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5387 Adding functionality to the dashboard (the new backoffice)
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-functionality-to-the-dashboard.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5380 Add note about Umbraco application URL
  10/umbraco-cms/reference/configuration/webroutingsettings.md
  11/umbraco-cms/reference/configuration/webroutingsettings.md
  12/umbraco-cms/reference/configuration/webroutingsettings.md
Labels: category/umbraco-cms

#5386 Update magic string format syntax
  10/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
  11/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
  12/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
Labels: category/umbraco-forms

#5388 resolving broken link for ui builder docs
  10/umbraco-ui-builder/SUMMARY.md
  10/umbraco-ui-builder/miscellaneous/umbraco-ui-builder-vs-ui-o-matic.md
Labels: category/umbraco-ui-builder

#5389 Update the new backoffice readme
  new-backoffice/README.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5390 Update creating a property editor the new backoffice
  new-backoffice/tutorials/creating-a-property-editor.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5392 Update major-upgrades.md
  umbraco-cloud/product-upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#5370 Add AdditionalAssemblyExclusionEntries to TypeFinderSettings (V10 and V11)
  10/umbraco-cms/reference/configuration/typefindersettings.md
  11/umbraco-cms/reference/configuration/typefindersettings.md
Labels: category/umbraco-cms, release/10.7.0, release/11.5.0

#5393 Release notes for Umbraco Cloud (including shared secrets)
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2023-09-releasenotes.md
  umbraco-cloud/release-notes/images/SharedSecrets.gif
  umbraco-cloud/release-notes/overview-2023.md
Labels: category/umbraco-cloud

#5385 Adding new `/item` endpoint documentation (for 12.2)
  12/umbraco-cms/reference/content-delivery-api/README.md
Labels: review/dteam, release/12.2.0

#5359 Add docs for the upcoming Media Delivery API (12.2)
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/content-delivery-api/media-delivery-api.md
Labels: category/umbraco-cms, review/dteam, release/12.2.0

#5402 Update creating your first extension (the new backoffice)
  new-backoffice/tutorials/creating-your-first-extension.md
Labels: category/umbraco-new-backoffice

#5398 Update Migrate from Vendr to Umbraco Commerce README.md
  10/umbraco-commerce/how-to-guides/migrate-from-vendr-to-umbraco-commerce/README.md
Labels: category/styleguide, category/umbraco-commerce

#5408 Update README.md
  12/umbraco-commerce/how-to-guides/migrate-from-vendr-to-umbraco-commerce/README.md
Labels: category/styleguide, category/umbraco-commerce

#5407 Fixed typos
  marketplace-and-integrations/README.md
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/styleguide, category/umbraco-dxp

#5411 Corrected path of folders to delete
  umbraco-cloud/getting-started/migrate-existing-site/README.md
Labels: category/umbraco-cloud

#5395 Adding release notes for commerce, commerce packages and payment provider
  10/umbraco-commerce/SUMMARY.md
  10/umbraco-commerce/getting-started/installation/README.md
  10/umbraco-commerce/getting-started/installation/version-specific-upgrades.md
  10/umbraco-commerce/release-notes.md
  10/umbraco-ui-builder/release-notes.md
  12/umbraco-commerce/SUMMARY.md
  12/umbraco-commerce/getting-started/installation/README.md
  12/umbraco-commerce/getting-started/installation/version-specific-upgrades.md
  12/umbraco-commerce/release-notes.md
  commerce-add-ons/packages/SUMMARY.md
  commerce-add-ons/packages/checkout/release-notes.md
  commerce-add-ons/packages/deploy/release-notes.md
  commerce-add-ons/payment-providers/SUMMARY.md
  commerce-add-ons/payment-providers/klarna/release-notes.md
  commerce-add-ons/payment-providers/mollie/release-notes.md
  commerce-add-ons/payment-providers/nets/release-notes.md
  commerce-add-ons/payment-providers/opayo/release-notes.md
  commerce-add-ons/payment-providers/paypal/release-notes.md
  commerce-add-ons/payment-providers/quickpay/release-notes.md
  commerce-add-ons/payment-providers/stripe/release-notes.md
Labels: review/dteam, review/docsteam, category/umbraco-commerce, category/umbraco-ui-builder

#5414 Update customize the editing experience
  new-backoffice/extending/customize-the-editing-experience.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5413 Swagger is no longer a limitation in the Delivery API - it's a feature
  12/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms, review/dteam

#5415 Umbraco Commerce Checkout 10.0.1 release notes
  commerce-add-ons/packages/checkout/release-notes.md
Labels: category/umbraco-commerce

#5418 testing previous PR release notes sync
  commerce-add-ons/packages/SUMMARY.md
  commerce-add-ons/packages/checkout/release-notes.md
  commerce-add-ons/packages/deploy/release-notes (1).md
  commerce-add-ons/packages/deploy/release-notes.md
  commerce-add-ons/payment-providers/klarna/release-notes.md
  commerce-add-ons/payment-providers/mollie/release-notes.md
  commerce-add-ons/payment-providers/nets/release-notes.md
  commerce-add-ons/payment-providers/opayo/release-notes.md
  commerce-add-ons/payment-providers/paypal/release-notes.md
  commerce-add-ons/payment-providers/quickpay/release-notes.md
  commerce-add-ons/payment-providers/stripe/release-notes.md
Labels: category/umbraco-commerce

#5423 added articles starting pages for commerce payment providers opayo and worldpay
  commerce-add-ons/packages/README.md
  commerce-add-ons/packages/checkout/README.md
  commerce-add-ons/packages/deploy/README.md
  commerce-add-ons/packages/deploy/release-notes.md
  commerce-add-ons/payment-providers/README.md
  commerce-add-ons/payment-providers/SUMMARY.md
  commerce-add-ons/payment-providers/install-payment-providers.md
  commerce-add-ons/payment-providers/invoicing/README.md
  commerce-add-ons/payment-providers/klarna/README.md
  commerce-add-ons/payment-providers/mollie/README.md
  commerce-add-ons/payment-providers/nets/README.md
  commerce-add-ons/payment-providers/opayo/README.md
  commerce-add-ons/payment-providers/paypal/README.md
  commerce-add-ons/payment-providers/quickpay/README.md
  commerce-add-ons/payment-providers/stripe/README.md
  commerce-add-ons/payment-providers/worldpay/README.md
  commerce-add-ons/payment-providers/worldpay/release-notes.md
Labels: review/docsteam, category/umbraco-commerce

#5426 added note to magic strings as per PR#5364
  10/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
  11/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
  12/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
Labels: category/umbraco-forms, review/dteam

#5424 Release notes for Deploy 4.8.3 10.2.4 11.1.4 and 12.0.2
  10/umbraco-deploy/deploy-settings.md
  10/umbraco-deploy/release-notes.md
  10/umbraco-forms/release-notes.md
  11/umbraco-deploy/deploy-settings.md
  11/umbraco-deploy/release-notes.md
  11/umbraco-forms/release-notes.md
  12/umbraco-deploy/deploy-settings.md
  12/umbraco-deploy/release-notes.md
  12/umbraco-forms/release-notes.md
Labels: category/umbraco-deploy

#5427 Update alpha-release - the new backoffice
  new-backoffice/fundamentals/setup/alpha-release.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5429 Add docs for indexing settings
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/reference/configuration/README.md
  10/umbraco-cms/reference/configuration/indexingsettings.md
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/reference/configuration/README.md
  11/umbraco-cms/reference/configuration/indexingsettings.md
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/configuration/README.md
  12/umbraco-cms/reference/configuration/indexingsettings.md
Labels: category/umbraco-cms

#5428 Update README.md
  umbraco-cloud/set-up/project-settings/manage-hostnames/README.md
Labels: category/umbraco-cloud

#5432 Update Embedded Media Providers articles
  10/umbraco-cms/extending/embedded-media-providers.md
  10/umbraco-cms/extending/images/Embed-Button.png
  10/umbraco-cms/extending/images/Embed-YouTube.png
  10/umbraco-cms/extending/images/deviantart-embedded-media.png
  10/umbraco-cms/implementation/composing.md
  11/umbraco-cms/extending/embedded-media-providers.md
  11/umbraco-cms/extending/images/Embed-Button.png
  11/umbraco-cms/extending/images/Embed-YouTube.png
  11/umbraco-cms/extending/images/deviantart-embedded-media.png
  11/umbraco-cms/implementation/composing.md
  12/umbraco-cms/extending/embedded-media-providers.md
  12/umbraco-cms/extending/images/Embed-Button.png
  12/umbraco-cms/extending/images/Embed-YouTube.png
  12/umbraco-cms/extending/images/deviantart-embedded-media.png
  12/umbraco-cms/implementation/composing.md
Labels: category/umbraco-cms

#5434 Updated default theme details for latest Forms releases.
  10/umbraco-forms/developer/themes.md
  11/umbraco-forms/developer/themes.md
  12/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#5433 Update activecampaign with umbraco forms
  marketplace-and-integrations/integrations/activecampaign-with-umbraco-forms.md
Labels: category/styleguide, category/umbraco-dxp

#5435 Change jsx to csharp
  new-backoffice/extending/sections-and-trees/trees/searchable-trees-isearchabletree.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5437 Fix several code blocks
  new-backoffice/extending/dashboards.md
  new-backoffice/extending/sections-and-trees/sections.md
  new-backoffice/extending/sections-and-trees/trees/tree-actions.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5438 Adding composition warning note about composition as per CMS PR#12776
  10/umbraco-cms/fundamentals/data/defining-content/README.md
  10/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  10/umbraco-cms/fundamentals/data/images/Composition-duplicates.PNG
  11/umbraco-cms/fundamentals/data/defining-content/README.md
  11/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  11/umbraco-cms/fundamentals/data/images/Composition-duplicates.PNG
  12/umbraco-cms/fundamentals/data/defining-content/README.md
  12/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  12/umbraco-cms/fundamentals/data/images/Composition-hide-unavailable-options.PNG
Labels: category/umbraco-cms, review/docsteam, release/12.2.0

#5365 Add AdditionalAssemblyExclusionEntries to TypeFinderSettings
  12/umbraco-cms/reference/configuration/typefindersettings.md
Labels: category/umbraco-cms, release/12.2.0

#5430 updated content template as per CMS PR #14454
  10/umbraco-cms/fundamentals/backoffice/content-templates.md
  11/umbraco-cms/fundamentals/backoffice/content-templates.md
  12/umbraco-cms/fundamentals/backoffice/content-templates.md
Labels: category/umbraco-cms, review/docsteam, release/12.2.0

#5444 Uddate: Creating a custom dashboard - the new backoffice
  new-backoffice/tutorials/creating-a-custom-dashboard.md
Labels: category/umbraco-new-backoffice

#5446 New backoffice: Fix a few glitches in the dashboard tutorial
  new-backoffice/tutorials/creating-a-custom-dashboard.md
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-functionality-to-the-dashboard.md
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-localization-to-the-dashboard.md
  new-backoffice/tutorials/creating-a-custom-dashboard/extending-the-dashboard-using-umbraco-ui-library.md
Labels: category/umbraco-new-backoffice

#5451 [AMEND] Update Getting Started Page
  umbraco-cloud/getting-started/migrate-existing-site/README.md
Labels: category/umbraco-cloud

#5443 New Backoffice: Create First Property Editor - code updates to follow best practices
  new-backoffice/tutorials/creating-a-property-editor/README.md
  new-backoffice/tutorials/creating-a-property-editor/adding-configuration-to-a-property-editor.md
  new-backoffice/tutorials/creating-a-property-editor/integrating-services-with-a-property-editor.md
Labels: category/umbraco-new-backoffice

#5431 Update indexing.md
  12/umbraco-cms/reference/searching/examine/indexing.md
Labels: category/umbraco-cms, review/dteam

#5344 Added documentation for the new FileStreamSecurityValidator
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/reference/security/serverside-file-validation.md
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/reference/security/serverside-file-validation.md
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/security/serverside-file-validation.md
Labels: category/umbraco-cms

#5441 Update README.md
  commerce-add-ons/packages/checkout/README.md
Labels: category/umbraco-commerce

#5440 Update creating-your-first-extension.md
  new-backoffice/tutorials/creating-your-first-extension.md
Labels: category/umbraco-new-backoffice

#5447 Update: Creating your first extension - The new backoffice
  new-backoffice/tutorials/creating-your-first-extension.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5448 Add reference to Lit-Plugin for intellisense
  new-backoffice/extending/development-flow/README.md
Labels: category/umbraco-new-backoffice

#5404 Update upgrade-umbraco-cloud-plan.md
  umbraco-cloud/set-up/project-settings/upgrade-umbraco-cloud-plan.md
Labels: category/umbraco-cloud

#5450 Add more information on the Vite Package Setup guide
  new-backoffice/extending/development-flow/vite-package-setup.md
Labels: category/umbraco-new-backoffice

#5452 Update extending-the-dashboard-using-umbraco-ui-library - the new backoffice
  new-backoffice/tutorials/creating-a-custom-dashboard/extending-the-dashboard-using-umbraco-ui-library.md
Labels: category/styleguide, category/umbraco-new-backoffice

#5442 Cloud organization update
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/images/org-projects.png
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/organizations.md
Labels: category/umbraco-cloud, review/docsteam

#5453 Release notes for Workflow 10.3.1, 11.3.1 and 12.1.1
  10/umbraco-workflow/release-notes.md
  11/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#5445 create document blueprint docs
  new-backoffice/SUMMARY.md
  new-backoffice/fundamentals/backoffice/document-blueprints.md
Labels: category/umbraco-new-backoffice

#5454 Define DAM in the correct way
  marketplace-and-integrations/integrations/aprimo.md
Labels: category/styleguide, category/umbraco-dxp

#5399 Added clarification of text for Language translations
  10/umbraco-cms/extending/language-files.md
  11/umbraco-cms/extending/language-files.md
  12/umbraco-cms/extending/language-files.md
Labels: category/umbraco-cms, review/dteam

#5457 Added initial Sustainability Team docs
  sustainability-best-practices/README.md
  sustainability-best-practices/SUMMARY.md
  sustainability-best-practices/assets/code-image.png
  sustainability-best-practices/assets/composing-image.png
  sustainability-best-practices/assets/controllers-image.png
  sustainability-best-practices/assets/dashboards-image.png
  sustainability-best-practices/backend/README.md
  sustainability-best-practices/backend/async.md
  sustainability-best-practices/backend/background-tasks.md
  sustainability-best-practices/backend/cache-responses.md
  sustainability-best-practices/backend/common-pitfalls.md
  sustainability-best-practices/backend/jamstack.md
  sustainability-best-practices/backend/monolithic-vs-service.md
  sustainability-best-practices/backend/performance-testing.md
  sustainability-best-practices/backend/soap-rest-graphql.md
  sustainability-best-practices/backend/sql-optimization.md
  sustainability-best-practices/backend/sustainable-design-patterns.md
  sustainability-best-practices/backend/upgrades-and-patches.md
  sustainability-best-practices/editor/README.md
  sustainability-best-practices/editor/content-optimisation.md
  sustainability-best-practices/editor/content-types.md
  sustainability-best-practices/editor/data-management.md
  sustainability-best-practices/editor/design-choices.md
  sustainability-best-practices/editor/housekeeping.md
  sustainability-best-practices/frontend/README.md
  sustainability-best-practices/frontend/assets-optimisation.md
  sustainability-best-practices/frontend/image-optimisation.md
  sustainability-best-practices/frontend/lazy-load-resources.md
  sustainability-best-practices/frontend/limit-use-of-3rd-parties.md
  sustainability-best-practices/frontend/mobile-first.md
  sustainability-best-practices/frontend/page-weight-budgets.md
  sustainability-best-practices/infrastructure/README.md
  sustainability-best-practices/infrastructure/architecture.md
  sustainability-best-practices/infrastructure/hosting.md
  sustainability-best-practices/infrastructure/security-and-bots.md
  sustainability-best-practices/introduction.md
Labels: category/sustainability-best-practices

#5458 Update backups.md
  umbraco-cloud/databases/backups.md
Labels: category/umbraco-cloud, category/styleguide

#5461 Updated the commerce upgrade docs
  10/umbraco-commerce/.gitbook.yaml
  10/umbraco-commerce/SUMMARY.md
  10/umbraco-commerce/getting-started/installation/README.md
  10/umbraco-commerce/getting-started/upgrading/README.md
  10/umbraco-commerce/getting-started/upgrading/version-specific-upgrades.md
  12/umbraco-commerce/.gitbook.yaml
  12/umbraco-commerce/SUMMARY.md
  12/umbraco-commerce/getting-started/installation/README.md
  12/umbraco-commerce/getting-started/upgrading.md
  12/umbraco-commerce/getting-started/upgrading/README.md
  12/umbraco-commerce/getting-started/upgrading/version-specific-upgrades.md
Labels: review/docsteam, category/umbraco-commerce

#5460 Updates to cloud release notes Sep
  umbraco-cloud/release-notes/2023-09-releasenotes.md
  umbraco-cloud/release-notes/images/UsageExtra.png
  umbraco-cloud/release-notes/images/UsageExtra2.png
  umbraco-cloud/release-notes/overview-2023.md
Labels: category/umbraco-cloud
