Repository umbraco/UmbracoDocs, pull requests merged in 2023-10, with the labels that each got.

#5464 Patch-myget-registry
  .github/styles/UmbracoDocs/Acronyms.yml
  new-backoffice/extending/development-flow/README.md
  new-backoffice/extending/development-flow/vite-package-setup.md
Labels: category/umbraco-new-backoffice

#5466 Replaced Vendr with Commerce reference in V10
  10/umbraco-commerce/getting-started/installation/README.md
Labels: hacktoberfest-accepted, category/umbraco-commerce, hacktoberfest/contrib-2023

#5463 update version numbers + Text updates
  new-backoffice/SUMMARY.md
  new-backoffice/extending/development-flow/vite-package-setup.md
  new-backoffice/tutorials/adding-configuration-to-a-property-editor.md
  new-backoffice/tutorials/creating-a-custom-dashboard.md
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-functionality-to-the-dashboard.md
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-localization-to-the-dashboard.md
  new-backoffice/tutorials/creating-a-custom-dashboard/extending-the-dashboard-using-umbraco-ui-library.md
  new-backoffice/tutorials/creating-a-property-editor.md
  new-backoffice/tutorials/creating-a-property-editor/README.md
  new-backoffice/tutorials/creating-a-property-editor/adding-configuration-to-a-property-editor.md
  new-backoffice/tutorials/creating-a-property-editor/integrating-services-with-a-property-editor.md
  new-backoffice/tutorials/creating-your-first-extension.md
  new-backoffice/tutorials/integrating-context-with-a-property-editor.md
Labels: category/umbraco-new-backoffice

#5470 Updated code samples to UI Builder syntax
  10/umbraco-ui-builder/actions/action-visibility.md
  10/umbraco-ui-builder/actions/inbuilt-actions.md
  10/umbraco-ui-builder/actions/the-basics.md
  10/umbraco-ui-builder/advanced/encrypted-properties.md
  10/umbraco-ui-builder/advanced/events.md
  10/umbraco-ui-builder/advanced/repositories.md
  10/umbraco-ui-builder/advanced/value-mappers.md
  10/umbraco-ui-builder/advanced/virtual-sub-trees.md
  10/umbraco-ui-builder/areas/context-apps.md
  10/umbraco-ui-builder/areas/dashboards.md
  10/umbraco-ui-builder/areas/folders.md
  10/umbraco-ui-builder/areas/sections.md
  10/umbraco-ui-builder/areas/summary-dashboards.md
  10/umbraco-ui-builder/areas/trees.md
  10/umbraco-ui-builder/cards/count-cards.md
  10/umbraco-ui-builder/cards/custom-cards.md
  10/umbraco-ui-builder/collections/child-collection-groups.md
  10/umbraco-ui-builder/collections/child-collections.md
  10/umbraco-ui-builder/collections/editors.md
  10/umbraco-ui-builder/collections/field-views.md
  10/umbraco-ui-builder/collections/list-view-layouts.md
  10/umbraco-ui-builder/collections/list-views.md
  10/umbraco-ui-builder/collections/the-basics.md
  10/umbraco-ui-builder/filtering/data-views-builders.md
  10/umbraco-ui-builder/filtering/data-views.md
  10/umbraco-ui-builder/filtering/filterable-properties.md
  10/umbraco-ui-builder/filtering/global-filters.md
  10/umbraco-ui-builder/getting-started/configuration.md
  10/umbraco-ui-builder/getting-started/installation.md
  10/umbraco-ui-builder/getting-started/licensing-model.md
  10/umbraco-ui-builder/getting-started/overview.md
  10/umbraco-ui-builder/guides/creating-your-first-integration.md
  10/umbraco-ui-builder/miscellaneous/uibuilder-vs-uiomatic.md
  10/umbraco-ui-builder/searching/searchable-properties.md
Labels: category/umbraco-ui-builder

#5468 Updated the serverside-file-validation code examples
  10/umbraco-cms/reference/security/serverside-file-validation.md
  11/umbraco-cms/reference/security/serverside-file-validation.md
  12/umbraco-cms/reference/security/serverside-file-validation.md
Labels: category/umbraco-cms

#5417 Add docs about `UmbracoApplicationUrl` in relation to licensing
  10/umbraco-commerce/getting-started/licensing-model.md
  12/umbraco-commerce/getting-started/licensing-model.md
Labels: category/umbraco-commerce

#5472 UI builder migration guide & upgrade steps
  10/umbraco-ui-builder/SUMMARY.md
  10/umbraco-ui-builder/getting-started/installation.md
  10/umbraco-ui-builder/getting-started/upgrading/README.md
  10/umbraco-ui-builder/getting-started/upgrading/version-specific-upgrades.md
  10/umbraco-ui-builder/guides/migrating-from-konstrukt-to-umbraco-ui-builder.md
Labels: category/umbraco-ui-builder

#5467 Update: Cloud database
  umbraco-cloud/databases/cloud-database.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5471 Remove unrelated real-world domain from docs
  umbraco-cloud/deployment/deployment-webhook.md
Labels: category/umbraco-cloud

#5474 Added release notes for Deploy 4.8.4, 10.2.5, 11.1.5, 12.0.3.
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
  12/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5475 removed article from summary file
  umbraco-cloud/SUMMARY.md
Labels: category/umbraco-cloud

#5479 Updated API docs links to Umbraco 12
  12/umbraco-cms/reference/api-documentation.md
Labels: category/umbraco-cms, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5486 adding article to forms docs regarding removing built in fields
  10/umbraco-forms/SUMMARY.md
  10/umbraco-forms/developer/extending/excluding-a-built-in-field.md
  11/umbraco-forms/SUMMARY.md
  11/umbraco-forms/developer/extending/excluding-a-built-in-field.md
  12/umbraco-forms/SUMMARY.md
  12/umbraco-forms/developer/extending/excluding-a-built-in-field.md
Labels: category/umbraco-forms

#5483 Update sustainability introduction.md
  sustainability-best-practices/introduction.md
Labels: hacktoberfest-accepted, hacktoberfest/contrib-2023, category/sustainability-best-practices

#5487 Remove unintended line in Umbraco Cloud set-up article
  umbraco-cloud/set-up/set-up.md
Labels: category/umbraco-cloud

#5459 Block Grid Editor is available from v10.4
  10/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/README.md
Labels: category/umbraco-cms

#5477 add change directory example
  new-backoffice/getting-started/installing-preview-builds/README.md
Labels: hacktoberfest-accepted, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5480 update adding functionality documentation
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-functionality-to-the-dashboard.md
Labels: hacktoberfest-accepted, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5469 Update README.md
  .gitbook/assets/umbraco-commerce-logo.png
  marketplace-and-integrations/README.md
Labels: category/styleguide, category/umbraco-dxp

#5481 Various changes (vol 1)
  10/umbraco-cms/reference/configuration/modelsbuildersettings.md
  10/umbraco-cms/reference/routing/request-pipeline/outbound-pipeline.md
  11/umbraco-cms/reference/configuration/modelsbuildersettings.md
  11/umbraco-cms/reference/routing/request-pipeline/outbound-pipeline.md
  12/umbraco-cms/reference/configuration/modelsbuildersettings.md
  12/umbraco-cms/reference/routing/request-pipeline/outbound-pipeline.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5490 [AMEND] Add abbreviations for MIME and SMTP
  10/umbraco-cms/extending/health-check/README.md
  11/umbraco-cms/extending/health-check/README.md
  12/umbraco-cms/extending/health-check/README.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5491 Update troubleshooting-frontend.md
  umbraco-cloud/troubleshooting/troubleshooting-frontend.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5482 Added details of configuring the Umbraco application URL for licensing Workflow and Deploy.
  10/umbraco-commerce/getting-started/licensing-model.md
  10/umbraco-workflow/licensing.md
  11/umbraco-workflow/licensing.md
  12/umbraco-commerce/getting-started/licensing-model.md
  12/umbraco-deploy/the-licensing-model.md
Labels: category/umbraco-deploy, category/umbraco-workflow, review/dteam

#5476 Umbraco CI/CD Flow - first take
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/images/UmbracoCloudDemoSite5.png
  umbraco-cloud/set-up/images/Advanced-Section.png
  umbraco-cloud/set-up/images/AdvancedSection.png
  umbraco-cloud/set-up/images/BasicFlow.png
  umbraco-cloud/set-up/images/CiCdSettings.png
  umbraco-cloud/set-up/images/CiCdSettings2.png
  umbraco-cloud/set-up/images/CreateProject.png
  umbraco-cloud/set-up/images/NewAdvancedFlow.png
  umbraco-cloud/set-up/images/NewBasicFlow.png
  umbraco-cloud/set-up/images/Pipeline1.png
  umbraco-cloud/set-up/images/Pipeline2.png
  umbraco-cloud/set-up/images/Pipeline3.png
  umbraco-cloud/set-up/images/Pipeline4.png
  umbraco-cloud/set-up/images/UmbracoCloudCicdSample.png
  umbraco-cloud/set-up/images/UmbracoCloudDemoSite2.png
  umbraco-cloud/set-up/images/UmbracoCloudDemoSite3.png
  umbraco-cloud/set-up/images/UmbracoCloudDemoSite5.png
  umbraco-cloud/set-up/images/UmbracoCloudDemoSite6.png
  umbraco-cloud/set-up/images/UmbracoCloudProjectPage.png
  umbraco-cloud/set-up/images/errorCodeExample.png
  umbraco-cloud/set-up/images/errorCodeExample2.png
  umbraco-cloud/set-up/images/items.png
  umbraco-cloud/set-up/project-settings/README.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/KnownLimitationsAndConsiderations.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/README.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/SampleCiCdPipeline.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/UmbracoCloudApi.md
Labels: category/umbraco-cloud

#5493 Update Umbraco Heartcore api-documentation content-management content
  umbraco-heartcore/api-documentation/content-management/content/README.md
Labels: category/umbraco-heartcore, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5497 Add SQL snippets example on Database Account Roles
  10/umbraco-cms/fundamentals/setup/requirements.md
  11/umbraco-cms/fundamentals/setup/requirements.md
  12/umbraco-cms/fundamentals/setup/requirements.md
Labels: category/umbraco-cms, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5499 Update content management language
  umbraco-heartcore/api-documentation/content-management/language.md
Labels: category/umbraco-heartcore, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5494 Fix apidocs links
  10/umbraco-cms/extending/backoffice-ui-api-documentation.md
  10/umbraco-cms/reference/angular/README.md
  10/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
  11/umbraco-cms/extending/backoffice-ui-api-documentation.md
  11/umbraco-cms/extending/dashboards.md
  11/umbraco-cms/extending/embedded-media-providers.md
  11/umbraco-cms/extending/section-trees/trees/README.md
  11/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  11/umbraco-cms/implementation/default-routing/inbound-pipeline.md
  11/umbraco-cms/reference/angular/README.md
  11/umbraco-cms/reference/angular/directives/umbloadindicator.md
  11/umbraco-cms/reference/angular/directives/umbproperty.md
  11/umbraco-cms/reference/management/services/auditservice.md
  11/umbraco-cms/reference/management/services/consentservice.md
  11/umbraco-cms/reference/management/services/contentservice/README.md
  11/umbraco-cms/reference/management/services/contenttypeservice/README.md
  11/umbraco-cms/reference/management/services/datatypeservice.md
  11/umbraco-cms/reference/management/services/domainservice.md
  11/umbraco-cms/reference/management/services/entityservice.md
  11/umbraco-cms/reference/management/services/fileservice.md
  11/umbraco-cms/reference/management/services/localizationservice/README.md
  11/umbraco-cms/reference/management/services/localizationservice/retrieving-languages.md
  11/umbraco-cms/reference/management/services/macroservice.md
  11/umbraco-cms/reference/management/services/mediaservice.md
  11/umbraco-cms/reference/management/services/membergroupservice.md
  11/umbraco-cms/reference/querying/imembermanager.md
  11/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
  12/umbraco-cms/extending/backoffice-ui-api-documentation.md
  12/umbraco-cms/extending/dashboards.md
  12/umbraco-cms/extending/embedded-media-providers.md
  12/umbraco-cms/extending/section-trees/trees/README.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  12/umbraco-cms/implementation/default-routing/inbound-pipeline.md
  12/umbraco-cms/reference/angular/README.md
  12/umbraco-cms/reference/angular/directives/umbloadindicator.md
  12/umbraco-cms/reference/angular/directives/umbproperty.md
  12/umbraco-cms/reference/management/README.md
  12/umbraco-cms/reference/management/services/auditservice.md
  12/umbraco-cms/reference/management/services/consentservice.md
  12/umbraco-cms/reference/management/services/contentservice/README.md
  12/umbraco-cms/reference/management/services/contenttypeservice/README.md
  12/umbraco-cms/reference/management/services/datatypeservice.md
  12/umbraco-cms/reference/management/services/entityservice.md
  12/umbraco-cms/reference/management/services/fileservice.md
  12/umbraco-cms/reference/management/services/localizationservice/README.md
  12/umbraco-cms/reference/management/services/localizationservice/retrieving-languages.md
  12/umbraco-cms/reference/management/services/macroservice.md
  12/umbraco-cms/reference/management/services/mediaservice.md
  12/umbraco-cms/reference/management/services/membergroupservice.md
  12/umbraco-cms/reference/querying/imembermanager.md
  12/umbraco-cms/reference/querying/udi-identifiers.md
  12/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
  12/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
Labels: category/umbraco-cms

#5500 Update the umbraco backoffice article (Umbraco Heartcore)
  umbraco-heartcore/getting-started/the-umbraco-backoffice.md
Labels: category/umbraco-heartcore, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5501 adding information about xpath being obsolete in v12
  12/umbraco-cms/extending/property-editors/full-examples-value-converters.md
  12/umbraco-cms/extending/property-editors/property-value-converters.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multinode-treepicker.md
  12/umbraco-cms/reference/configuration/contentsettings.md
  12/umbraco-cms/reference/configuration/index-10.0.0.md
  12/umbraco-cms/reference/querying/umbracohelper.md
  12/umbraco-cms/reference/routing/authorized.md
  12/umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms, review/docsteam

#5503 Applied updates to licensing page for Workflow to 12.
  12/umbraco-workflow/licensing.md
Labels: category/umbraco-workflow

#5504 Add Meetup Config for Umbraco Authorized Services
  marketplace-and-integrations/packages/authorized-services.md
Labels: hacktoberfest-accepted, category/umbraco-dxp, hacktoberfest/contrib-2023

#5496 Added GitHub Actions Detail
  umbraco-cloud/set-up/project-settings/umbraco-cicd/SampleCiCdPipeline.md
Labels: category/umbraco-cloud, hacktoberfest/contrib-2023

#5505 Update webhooks Umbraco Heartcore
  umbraco-heartcore/getting-started/webhooks.md
Labels: category/umbraco-heartcore, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5506 Added release notes for Deploy 10.2.6, 11.1.6 and 12.0.4.
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
  12/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5508 Update dot-net-console - Umbraco Heartcore
  umbraco-heartcore/client-libraries/dot-net-console.md
Labels: category/umbraco-heartcore, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5509 Further release notes for Deploy 10.2.6, 11.1.6 and 12.0.4
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
  12/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5511 Update two-factor-authentication.md
  10/umbraco-cms/reference/security/two-factor-authentication.md
  11/umbraco-cms/reference/security/two-factor-authentication.md
  12/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5512 Update generic readme
  generic/README.md
Labels: hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5514 updating aticles and article items steps
  10/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  11/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  12/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
Labels: category/umbraco-cms, review/docsteam

#5513 Added missing line breaks
  10/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  11/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  12/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5515 Update klarna --> configure Umbraco
  commerce-add-ons/payment-providers/klarna/configuring-umbraco.md
Labels: hacktoberfest-accepted, category/styleguide, category/umbraco-commerce, hacktoberfest/contrib-2023

#5522 Fix typo in Umbraco
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  12/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5518 Updated licensing docs with details of configuring an Umbraco application URL on Umbraco Cloud.
  10/umbraco-commerce/getting-started/licensing-model.md
  10/umbraco-workflow/licensing.md
  11/umbraco-workflow/licensing.md
  12/umbraco-commerce/getting-started/licensing-model.md
  12/umbraco-workflow/licensing.md
Labels: category/umbraco-workflow, category/umbraco-commerce

#5519 updated cms and hosting requirements
  10/umbraco-cms/fundamentals/setup/requirements.md
  11/umbraco-cms/fundamentals/setup/requirements.md
  12/umbraco-cms/fundamentals/setup/requirements.md
Labels: category/umbraco-cms, review/docsteam

#5527 Cloud release notes for October
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2023-10-releasenotes.md
  umbraco-cloud/release-notes/images/Automatic-Updates-Minor.png
  umbraco-cloud/release-notes/images/NewBasicFlow.png
  umbraco-cloud/release-notes/overview-2023.md
Labels: category/umbraco-cloud

#5521 Completes article about configuring QuickPay
  commerce-add-ons/payment-providers/media/quickpay/quickpay_portal.png
  commerce-add-ons/payment-providers/media/quickpay/quickpay_signin.png
  commerce-add-ons/payment-providers/media/quickpay/quickpay_signup.png
  commerce-add-ons/payment-providers/quickpay/configuring-quickpay.md
Labels: hacktoberfest-accepted, category/umbraco-commerce, hacktoberfest/contrib-2023

#5525 Specifies where a sqlite database can be found in Cloud projects
  umbraco-cloud/databases/local-database.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5526 Update variant context
  new-backoffice/extending/context-api/variant-context.md
Labels: hacktoberfest-accepted, category/styleguide, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5530 Updated unit testing docs to include multiple versions
  10/umbraco-cms/implementation/unit-testing.md
  11/umbraco-cms/implementation/unit-testing.md
  12/umbraco-cms/implementation/unit-testing.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5531 Update workspace context
  new-backoffice/extending/extension-types/workspaces/workspace-context.md
Labels: hacktoberfest-accepted, category/styleguide, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5524 Various release notes
  10/umbraco-commerce/release-notes.md
  12/umbraco-commerce/release-notes.md
  commerce-add-ons/packages/checkout/release-notes.md
  commerce-add-ons/packages/deploy/release-notes.md
Labels: category/umbraco-commerce

#5410 Add documentation for protected content in the Delivery API
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/content-delivery-api/README.md
  12/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api.md
Labels: category/umbraco-cms, review/dteam, release/12.3.0

#5523 Adding new AllowConcurrentLogins setting (for 12.3)
  12/umbraco-cms/reference/configuration/securitysettings.md
Labels: category/umbraco-cms, release/12.3.0

#5517 Update vite-package-setup.md
  new-backoffice/extending/development-flow/vite-package-setup.md
Labels: hacktoberfest-accepted, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5421 Authorized services updated docs.
  marketplace-and-integrations/integrations/semrush.md
  marketplace-and-integrations/packages/authorized-services.md
  marketplace-and-integrations/packages/images/provide-api-key.png
  marketplace-and-integrations/packages/images/provide-oauth1-token.png
  marketplace-and-integrations/packages/images/provide-oauth2-token.png
  marketplace-and-integrations/packages/images/settings-screen.png
Labels: review/dteam, category/marketplace

#5535 Replace SendSmtpEmail with RaiseSendingEventTask
  10/umbraco-commerce/key-concepts/pipelines.md
  12/umbraco-commerce/key-concepts/pipelines.md
Labels: hacktoberfest-accepted, category/umbraco-commerce, hacktoberfest/contrib-2023

#5532 Update kind.md
  new-backoffice/extending/extension-types/kind.md
Labels: hacktoberfest-accepted, category/styleguide, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5541 Update store - the new backoffice
  new-backoffice/extending/extension-types/store.md
Labels: hacktoberfest-accepted, category/styleguide, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5537 (12.3) Additional preview URLs support in Delivery API
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/content-delivery-api/README.md
  12/umbraco-cms/reference/content-delivery-api/additional-preview-environments-support.md
  12/umbraco-cms/reference/content-delivery-api/images/preview-invariant-content.png
  12/umbraco-cms/reference/content-delivery-api/images/preview-variant-content-da.png
  12/umbraco-cms/reference/content-delivery-api/images/preview-variant-content-en.png
  12/umbraco-cms/reference/content-delivery-api/media-delivery-api.md
Labels: category/umbraco-cms, release/12.3.0

#5495 Updates to Composing: Collections Table
  12/umbraco-cms/implementation/composing.md
Labels: category/umbraco-cms, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5542 Added diagram showing the commercial products, their relations and dependencies.
  marketplace-and-integrations/README.md
  marketplace-and-integrations/SUMMARY.md
  marketplace-and-integrations/commercial-product-dependencies.md
  marketplace-and-integrations/images/commercial-product-dependencies.excalidraw
  marketplace-and-integrations/images/commercial-product-dependencies.png
Labels: category/umbraco-dxp

#5545 Update .net localization - the new backoffice
  new-backoffice/extending/localization/.net-localization.md
Labels: hacktoberfest-accepted, category/styleguide, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5549 Update Umbraco Element Controllers - The new backoffice
  new-backoffice/extending/umbraco-element/controllers/README.md
Labels: hacktoberfest-accepted, category/styleguide, category/umbraco-new-backoffice, hacktoberfest/contrib-2023

#5502 Added details of handling cache refresher notifications for operations after Umbraco items are deployed.
  10/umbraco-deploy/SUMMARY.md
  10/umbraco-deploy/handling-cache-refresher-notifications.md
Labels: category/umbraco-deploy

#5552 Updating the broken Links
  10/umbraco-cms/reference/searching/examine/indexing.md
  10/umbraco-deploy/deployment-workflow/deploy-dashboard.md
  11/umbraco-cms/reference/searching/examine/indexing.md
  11/umbraco-deploy/deployment-workflow/deploy-dashboard.md
  12/umbraco-cms/reference/searching/examine/indexing.md
  12/umbraco-deploy/deployment-workflow/deploy-dashboard.md
  commerce-add-ons/payment-providers/quickpay/README.md
  umbraco-cloud/deployment/deploy-dashboard.md
  umbraco-cloud/product-upgrades/manual-upgrades/README.md
Labels: category/broken-link, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5557 Markup issue #5554
  10/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  11/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  12/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5560 Fixing for issue #5553 'Duplicated steps in "Articles and Article Items"
  10/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  11/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  12/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
Labels: category/umbraco-cms, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5564 Remove Dan and Jesper note
  umbraco-cloud/set-up/project-settings/umbraco-cicd/UmbracoCloudApi.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5577 ported over v10 articles to v11 and v12 for deploy
  11/umbraco-deploy/SUMMARY.md
  11/umbraco-deploy/handling-cache-refresher-notifications.md
  12/umbraco-deploy/SUMMARY.md
  12/umbraco-deploy/handling-cache-refresher-notifications.md
Labels: category/umbraco-deploy

#5573 Update members-registration-and-login.md
  11/umbraco-cms/tutorials/members-registration-and-login.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5574 Update viewing-and-exporting-entries.md
  10/umbraco-forms/editor/viewing-and-exporting-entries.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5575 Update viewing-and-exporting-entries.md
  11/umbraco-forms/editor/viewing-and-exporting-entries.md
Labels: category/umbraco-cms, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5561 Update: Minor upgrades
  umbraco-cloud/product-upgrades/minor-upgrades.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5516 adding custom middleware page
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/images/custom-middleware-cors-browser-example.png
  12/umbraco-cms/reference/routing/custom-middleware.md
Labels: category/umbraco-cms, review/dteam

#5565 Additional Fixes of broken links
  10/umbraco-deploy/deployment-workflow/restoring-content/README.md
  11/umbraco-deploy/deployment-workflow/restoring-content/README.md
  12/umbraco-deploy/deployment-workflow/restoring-content/README.md
  marketplace-and-integrations/integrations/aprimo.md
  marketplace-and-integrations/integrations/categories.md
  marketplace-and-integrations/integrations/hubspot.md
Labels: category/broken-link, hacktoberfest-accepted, category/umbraco-deploy, category/styleguide, category/umbraco-dxp, hacktoberfest/contrib-2023

#5566 Update deploy-settings.md
  12/umbraco-deploy/deploy-settings.md
Labels: hacktoberfest-accepted, category/umbraco-deploy, hacktoberfest/contrib-2023

#5568 Update deploy-settings.md
  10/umbraco-deploy/deploy-settings.md
Labels: hacktoberfest-accepted, category/umbraco-deploy, hacktoberfest/contrib-2023

#5571 Typo - "loww" -> "lowww"
  sustainability-best-practices/frontend/mobile-first.md
Labels: hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023, category/sustainability-best-practices

#5567 Update deploy-settings.md
  11/umbraco-deploy/deploy-settings.md
Labels: hacktoberfest-accepted, category/umbraco-deploy, hacktoberfest/contrib-2023

#5578 Update UmbracoCloudApi.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/UmbracoCloudApi.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5580 Update product-dependencies - Umbraco Cloud
  umbraco-cloud/product-upgrades/product-dependencies.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5570 Update backups.md
  umbraco-cloud/databases/backups.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5569 Wrong url and path in Get Deployment diff in UmbracoCloudApi.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/UmbracoCloudApi.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5584 Update README.md
  umbraco-cloud/getting-started/migrate-existing-site/README.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5583 Update umbraco-cloud-plans.md
  umbraco-cloud/getting-started/umbraco-cloud-plans.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5555 Creating section about languages on Cloud
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud

#5582 Update product upgrades - Umbraco Cloud
  umbraco-cloud/product-upgrades/README.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, category/styleguide, hacktoberfest/contrib-2023

#5585 updated post deployment webhook gif
  umbraco-cloud/deployment/deployment-webhook.md
  umbraco-cloud/deployment/images/Post-deployment-webhooks.gif
Labels: category/umbraco-cloud, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5590 Update link to point to UI Builder page
  12/umbraco-ui-builder/getting-started/licensing-model.md
Labels: category/umbraco-ui-builder

#5589 Added additional steps that must be done if you are using Umbraco Cloud
  10/umbraco-cms/tutorials/images/v8-17-Assign-User-Access-Group.png
  10/umbraco-cms/tutorials/images/v8-18-Approve-Member.png
  10/umbraco-cms/tutorials/members-registration-and-login.md
  12/umbraco-cms/tutorials/images/v8-17-Assign-User-Access-Group.png
  12/umbraco-cms/tutorials/images/v8-18-Approve-Member.png
  12/umbraco-cms/tutorials/members-registration-and-login.md
Labels: category/umbraco-cloud, hacktoberfest-accepted

#5592 Update custom filter documentation in the extension-api-for-querying page
  12/umbraco-cms/reference/content-delivery-api/extension-api-for-querying.md
Labels: category/umbraco-cms

#5562 RTE Block Configuration and usage
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/configuration.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-data-type-block-fields.jpg
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-data-type-block-type-editor.jpeg
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-blocks.md
Labels: category/umbraco-cms, review/docsteam, release/13.0.0
