Repository umbraco/UmbracoDocs, pull requests merged in 2023-12, with the labels that each got.

#5670 Update property value converters
  10/umbraco-cms/extending/property-editors/property-value-converters.md
  11/umbraco-cms/extending/property-editors/property-value-converters.md
  12/umbraco-cms/extending/property-editors/property-value-converters.md
  13/umbraco-cms/extending/property-editors/property-value-converters.md
Labels: category/umbraco-cms

#5529 Editormodel-notification Changed from Member.Properties to Member.MembershipProperties
  10/umbraco-cms/reference/notifications/editormodel-notifications/README.md
  12/umbraco-cms/reference/notifications/editormodel-notifications/README.md
  13/umbraco-cms/reference/notifications/editormodel-notifications/README.md
Labels: state/needs-investigation, category/umbraco-cms, state/needs-reproduction, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5676 Update README.md
  marketplace-and-integrations/README.md
Labels: category/styleguide, category/umbraco-dxp

#5647 Context Token and Workspace Context update
  new-backoffice/extending/context-api/README.md
  new-backoffice/extending/extension-types/workspace-context.md
Labels: category/umbraco-new-backoffice

#5679 Added details of further elements in package owner data for Marketplace.
  marketplace-and-integrations/marketplace/listing-your-package.md
Labels: category/umbraco-dxp

#5680 UI Builder release minors updates
  10/umbraco-ui-builder/release-notes.md
  12/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#5687 Remove "Work in Progress" from CICD docs
  umbraco-cloud/set-up/project-settings/umbraco-cicd/README.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/UmbracoCloudApi.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/README.md
Labels: category/umbraco-cloud

#5675 Update Troubleshooting.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#5659 V13 RC4: login screen variables
  13/umbraco-cms/fundamentals/backoffice/login.md
Labels: category/umbraco-cms, release/13.0.0

#5693 Update adding tabs
  10/umbraco-cms/fundamentals/data/adding-tabs.md
  12/umbraco-cms/fundamentals/data/adding-tabs.md
  13/umbraco-cms/fundamentals/data/adding-tabs.md
Labels: category/umbraco-cms

#5689 Update Extending --> Section Trees readme
  10/umbraco-cms/extending/section-trees/README.md
  12/umbraco-cms/extending/section-trees/README.md
  13/umbraco-cms/extending/section-trees/README.md
Labels: category/umbraco-cms

#5667 Release notes for Deploy 4,9. 10.3 and 12.1.
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5677 (v12 and v13) Adding rate limiting documentation
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/security/api-rate-limiting.md
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/security/api-rate-limiting.md
Labels: category/umbraco-cms

#5654 Fix file-scoped namespaces and usings in ExamineComposer
  10/umbraco-cms/reference/searching/examine/indexing.md
  11/umbraco-cms/reference/searching/examine/indexing.md
  12/umbraco-cms/reference/searching/examine/indexing.md
Labels: category/umbraco-cms, state/needs-reproduction, review/docsteam

#5695 Update fundamentals data users
  10/umbraco-cms/fundamentals/data/users.md
Labels: category/umbraco-cms, category/styleguide

#5697 Color Picker - add explicit comment defining "Color" property
  10/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
  11/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
Labels: category/umbraco-cms

#5698 Update authorized-services.md to use correct property alias
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/marketplace

#5664 Update configuring-umbraco.md for Commerce v13
  commerce-add-ons/payment-providers/mollie/configuring-umbraco.md
Labels: category/umbraco-commerce

#5605 Grammar Update to organizations.md
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/organizations.md
Labels: category/umbraco-cloud

#5702 Porting v13 articles to release folder
  13-release/umbraco-cms/SUMMARY.md
  13-release/umbraco-cms/fundamentals/backoffice/login.md
  13-release/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/build-custom-view-for-blocks.md
  13-release/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
  13-release/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multinode-treepicker.md
  13-release/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-blocks.md
  13-release/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  13-release/umbraco-cms/reference/content-delivery-api/custom-property-editors-support.md
  13-release/umbraco-cms/reference/content-delivery-api/extension-api-for-querying.md
  13-release/umbraco-cms/reference/content-delivery-api/media-delivery-api.md
  13-release/umbraco-cms/reference/content-delivery-api/output-caching.md
  13-release/umbraco-cms/reference/content-delivery-api/property-expansion-and-limiting.md
  13-release/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api.md
  13-release/umbraco-cms/reference/searching/examine/indexing.md
  13-release/umbraco-cms/reference/security/external-login-providers.md
  13-release/umbraco-cms/reference/security/images/2fa-login-custom-view.png
  13-release/umbraco-cms/reference/security/images/2fa-login-default-view.jpg
  13-release/umbraco-cms/reference/security/images/external-login-provider-javascript.png
  13-release/umbraco-cms/reference/security/two-factor-authentication.md
  13-release/umbraco-cms/tutorials/add-google-authentication.md
  13-release/umbraco-commerce/key-concepts/ui-config-files.md
  13-release/umbraco-commerce/reference/go-behind-the-scenes.md
  13-release/umbraco-deploy/deploy-settings.md
  13-release/umbraco-deploy/deployment-workflow/restoring-content/README.md
  13-release/umbraco-deploy/release-notes.md
  13-release/umbraco-deploy/upgrades/version-specific.md
  13-release/umbraco-forms/editor/creating-a-form/README.md
  13-release/umbraco-forms/editor/creating-a-form/fieldtypes/fileupload.md
  13-release/umbraco-forms/installation/version-specific.md
  13-release/umbraco-forms/release-notes.md
  13-release/umbraco-ui-builder/miscellaneous/uibuilder-vs-uiomatic.md
  13-release/umbraco-workflow/advanced-search/advanced-search-dashboard.md
  13-release/umbraco-workflow/release-notes.md
  13-release/umbraco-workflow/version-specific-upgrade-notes.md
Labels: category/umbraco-forms, category/umbraco-cms, category/umbraco-deploy, category/umbraco-workflow, category/umbraco-commerce, category/umbraco-ui-builder, release/13.0.0

#5669 Update hostingmodel to fit new pattern
  13/umbraco-cms/extending/backoffice-search.md
  13/umbraco-cms/extending/content-apps.md
  13/umbraco-cms/extending/database.md
  13/umbraco-cms/extending/filesystemproviders/README.md
  13/umbraco-cms/extending/filesystemproviders/azure-blob-storage.md
  13/umbraco-cms/extending/health-check/guides/clickjackingprotection.md
  13/umbraco-cms/extending/health-check/guides/excessiveheaders.md
  13/umbraco-cms/extending/health-check/guides/stricttransportsecurityheader.md
  13/umbraco-cms/extending/key-vault.md
  13/umbraco-cms/extending/section-trees/sections.md
  13/umbraco-cms/fundamentals/code/subscribing-to-notifications.md
  13/umbraco-cms/fundamentals/code/umbraco-services.md
  13/umbraco-cms/fundamentals/design/stylesheets-javascript.md
  13/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  13/umbraco-cms/fundamentals/setup/server-setup/load-balancing/flexible-advanced.md
  13/umbraco-cms/implementation/default-routing/controller-selection.md
  13/umbraco-cms/implementation/services/README.md
  13/umbraco-cms/reference/api-versioning-and-openapi.md
  13/umbraco-cms/reference/configuration/filesystemproviders.md
  13/umbraco-cms/reference/content-delivery-api/README.md
  13/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api.md
  13/umbraco-cms/reference/notifications/README.md
  13/umbraco-cms/reference/notifications/sendingallowedchildrennotifications.md
  13/umbraco-cms/reference/response-caching.md
  13/umbraco-cms/reference/routing/authorized.md
  13/umbraco-cms/reference/routing/custom-controllers.md
  13/umbraco-cms/reference/routing/custom-routes.md
  13/umbraco-cms/reference/routing/iisrewriterules.md
  13/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  13/umbraco-cms/reference/scheduling.md
  13/umbraco-cms/reference/searching/examine/quick-start.md
  13/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
  13/umbraco-cms/reference/security/cookies.md
  13/umbraco-cms/reference/security/custom-password-check.md
  13/umbraco-cms/reference/security/external-login-providers.md
  13/umbraco-cms/reference/security/serverside-sanitizing.md
  13/umbraco-cms/reference/security/ssl-https.md
  13/umbraco-cms/reference/using-ioc.md
  13/umbraco-cms/tutorials/add-azure-active-directory-authentication.md
  13/umbraco-cms/tutorials/custom-error-page.md
  13/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
  13/umbraco-commerce/getting-started/licensing-model.md
  13/umbraco-commerce/key-concepts/dependency-injection.md
  13/umbraco-commerce/key-concepts/umbraco-commerce-builder.md
  13/umbraco-commerce/reference/storefront-api/README.md
  13/umbraco-forms/developer/extending/adding-a-prevaluesourcetype.md
  13/umbraco-forms/developer/extending/adding-a-type.md
  13/umbraco-forms/developer/extending/adding-an-event-handler.md
  13/umbraco-forms/developer/iprevaluetextfilestorage.md
  13/umbraco-ui-builder/advanced/events.md
  13/umbraco-ui-builder/getting-started/configuration.md
  13/umbraco-ui-builder/guides/creating-your-first-integration.md
  13/umbraco-ui-builder/guides/migrating-from-konstrukt-to-umbraco-ui-builder.md
  13/umbraco-workflow/licensing.md
Labels: category/umbraco-cms, review/docsteam, release/13.0.0

#5682 Add docs for Delivery API range query feature in V13
  13/umbraco-cms/reference/content-delivery-api/README.md
  13/umbraco-cms/reference/content-delivery-api/extension-api-for-querying.md
Labels: category/umbraco-cms, release/13.0.0

#5706 V13: Webhook documentation
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/webhooks/README.md
  13/umbraco-cms/reference/webhooks/expanding-webhook-events.md
  13/umbraco-cms/reference/webhooks/images/create-webhook.png
  13/umbraco-cms/reference/webhooks/images/webhook-section.png
Labels: category/umbraco-cms, release/13.0.0

#5651 Add Umbraco Commerce: Buckaroo payment provider docs
  commerce-add-ons/payment-providers/SUMMARY.md
  commerce-add-ons/payment-providers/buckaroo/README.md
  commerce-add-ons/payment-providers/buckaroo/configuring-buckaroo.md
  commerce-add-ons/payment-providers/buckaroo/configuring-umbraco.md
  commerce-add-ons/payment-providers/buckaroo/release-notes.md
  commerce-add-ons/payment-providers/install-payment-providers.md
  commerce-add-ons/payment-providers/media/buckaroo/create-new-payment-method.png
  commerce-add-ons/payment-providers/media/buckaroo/enable-test-mode.png
  commerce-add-ons/payment-providers/media/buckaroo/secret-key.png
  commerce-add-ons/payment-providers/media/buckaroo/website-key.png
Labels: category/umbraco-commerce

#5707 Update links to Forms default themes for 12.2 and 13.0
  12/umbraco-forms/developer/themes.md
  13/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#5700 Update debugging
  10/umbraco-cms/reference/debugging.md
  12/umbraco-cms/reference/debugging.md
  13/umbraco-cms/reference/debugging.md
Labels: category/umbraco-cms, category/styleguide

#5703 Update connectionstringssettings
  10/umbraco-cms/reference/configuration/connectionstringssettings.md
  12/umbraco-cms/reference/configuration/connectionstringssettings.md
  13/umbraco-cms/reference/configuration/connectionstringssettings.md
Labels: category/umbraco-cms, category/styleguide

#5712 Update umb property
  10/umbraco-cms/reference/angular/directives/umbproperty.md
  12/umbraco-cms/reference/angular/directives/umbproperty.md
  13/umbraco-cms/reference/angular/directives/umbproperty.md
Labels: category/umbraco-cms, category/styleguide

#5630 Cms/new recurring background jobs
  13/umbraco-cms/reference/notifications/creating-and-publishing-notifications.md
  13/umbraco-cms/reference/scheduling.md
Labels: category/umbraco-cms, release/13.0.0

#5708 Release notes for Forms 12.2.1
  12/umbraco-forms/release-notes.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#5723 Release notes for Workflow Christmas Edition 2023 :)
  10/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
  13/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#5722 Updated reference to download of angularjs files.
  10/umbraco-forms/developer/extending/adding-a-type.md
  11/umbraco-forms/developer/extending/adding-a-type.md
  12/umbraco-forms/developer/extending/adding-a-type.md
  13/umbraco-forms/developer/extending/adding-a-type.md
Labels: category/umbraco-forms

#5719 Fixed details on Deploy wehbook registration.
  13/umbraco-deploy/deploy-settings.md
Labels: category/umbraco-deploy

#5705 Update installdefaultdatasettings
  10/umbraco-cms/reference/configuration/installdefaultdatasettings.md
  12/umbraco-cms/reference/configuration/installdefaultdatasettings.md
  13/umbraco-cms/reference/configuration/installdefaultdatasettings.md
Labels: category/umbraco-cms, category/styleguide

#5716 Update relation.md
  10/umbraco-cms/reference/management/models/relation.md
  12/umbraco-cms/reference/management/models/relation.md
  13/umbraco-cms/reference/management/models/relation.md
Labels: category/umbraco-cms, category/styleguide

#5717 Fix links to sustainability-best-practices
  10/umbraco-cms/SUMMARY.md
  11/umbraco-cms/SUMMARY.md
  12/umbraco-cms/SUMMARY.md
  13/umbraco-cms/SUMMARY.md
  umbraco-cloud/SUMMARY.md
Labels: category/styleguide

#5579 Update github-actions.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/github-actions.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, hacktoberfest/contrib-2023

#5726 CICD Get Deployments endpoint - Update incorrect response model
  umbraco-cloud/set-up/project-settings/umbraco-cicd/UmbracoCloudApi.md
Labels: category/umbraco-cloud

#5678 Update minor-upgrades.md
  umbraco-cloud/product-upgrades/minor-upgrades.md
Labels: category/umbraco-cloud

#5551 Service updates
  10/umbraco-cms/reference/management/services/domainservice.md
  10/umbraco-cms/reference/management/services/entityservice.md
  10/umbraco-cms/reference/management/services/externalloginservice.md
  10/umbraco-cms/reference/management/services/memberservice.md
  10/umbraco-cms/reference/management/services/membertypeservice.md
  10/umbraco-cms/reference/management/services/notificationservice.md
  10/umbraco-cms/reference/management/services/packagingservice.md
  10/umbraco-cms/reference/management/services/publicaccessservice.md
  10/umbraco-cms/reference/management/services/redirecturlservice.md
  10/umbraco-cms/reference/management/services/serverregistrationservice.md
  10/umbraco-cms/reference/management/services/tagservice.md
  10/umbraco-cms/reference/management/services/textservice.md
  11/umbraco-cms/reference/management/services/domainservice.md
  11/umbraco-cms/reference/management/services/entityservice.md
  11/umbraco-cms/reference/management/services/externalloginservice.md
  11/umbraco-cms/reference/management/services/memberservice.md
  11/umbraco-cms/reference/management/services/membertypeservice.md
  11/umbraco-cms/reference/management/services/notificationservice.md
  11/umbraco-cms/reference/management/services/packagingservice.md
  11/umbraco-cms/reference/management/services/publicaccessservice.md
  11/umbraco-cms/reference/management/services/redirecturlservice.md
  11/umbraco-cms/reference/management/services/serverregistrationservice.md
  11/umbraco-cms/reference/management/services/tagservice.md
  11/umbraco-cms/reference/management/services/textservice.md
  12/umbraco-cms/reference/management/services/domainservice.md
  12/umbraco-cms/reference/management/services/entityservice.md
  12/umbraco-cms/reference/management/services/externalloginservice.md
  12/umbraco-cms/reference/management/services/memberservice.md
  12/umbraco-cms/reference/management/services/membertypeservice.md
  12/umbraco-cms/reference/management/services/notificationservice.md
  12/umbraco-cms/reference/management/services/packagingservice.md
  12/umbraco-cms/reference/management/services/publicaccessservice.md
  12/umbraco-cms/reference/management/services/redirecturlservice.md
  12/umbraco-cms/reference/management/services/relationservice.md
  12/umbraco-cms/reference/management/services/serverregistrationservice.md
  12/umbraco-cms/reference/management/services/tagservice.md
  12/umbraco-cms/reference/management/services/textservice.md
Labels: state/needs-investigation, category/umbraco-cms, hacktoberfest-accepted, review/docsteam, hacktoberfest/contrib-2023

#5684 Update README.md
  12/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms

#5711 Update image-optimisation.md
  sustainability-best-practices/frontend/image-optimisation.md
Labels: category/sustainability-best-practices

#5725 PayPal + Opayo release notes updates
  commerce-add-ons/payment-providers/opayo/release-notes.md
  commerce-add-ons/payment-providers/paypal/release-notes.md
Labels: category/umbraco-commerce

#5727 Release notes for Cloud December 2023
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2023-12-releasenotes.md
  umbraco-cloud/release-notes/images/CMS13.png
  umbraco-cloud/release-notes/images/ExportZip.png
  umbraco-cloud/release-notes/images/ImportZip.png
  umbraco-cloud/release-notes/images/TLS13.png
  umbraco-cloud/release-notes/overview-2023.md
Labels: category/umbraco-cloud

#5730 updating sustainability docs as per PR#5601
  sustainability-best-practices/README.md
  sustainability-best-practices/SUMMARY.md
  sustainability-best-practices/backend/README.md
  sustainability-best-practices/infrastructure/hosting.md
Labels: category/sustainability-best-practices

#5713 Update creating-a-custom-dashboard.md
  10/umbraco-cms/tutorials/creating-a-custom-dashboard.md
Labels: category/umbraco-cms

#5729 Added CI/CD considerations for private Nuget feeds
  umbraco-cloud/set-up/project-settings/umbraco-cicd/KnownLimitationsAndConsiderations.md
Labels: category/umbraco-cloud

#5720 Remove non breaking change
  13/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms

#5731 Update configure-sqlite-support
  13/umbraco-commerce/how-to-guides/configure-sqlite-support.md
Labels: category/styleguide, category/umbraco-commerce

#5724 add github actions with powershell scripts
  umbraco-cloud/.gitbook/assets/azdevops-pipeline-variables.png
  umbraco-cloud/.gitbook/assets/azdevops-secret-variable.png
  umbraco-cloud/.gitbook/assets/azuresetupbuild.png
  umbraco-cloud/.gitbook/assets/github-workflow-permissions.png
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/README.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/azure-devops-pwsh.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/azure-devops.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/github-actions-pwsh.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/github-actions.md
Labels: category/umbraco-cloud

#5733 #5536 describe telemetry data levels
  10/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
  11/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
  12/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
  13-rc/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
  13/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
Labels: category/umbraco-cms

#5721 Update mediaservice-notifications.md
  13/umbraco-cms/reference/notifications/mediaservice-notifications.md
Labels: category/umbraco-cms
