Repository umbraco/UmbracoDocs, pull requests merged in 2023-08, with the labels that each got.

#5308 Updates documentation to reflect changes in Forms 10.5 and 12.1.
  10/umbraco-forms/.gitbook/assets/umbraco_forms_swagger.json
  10/umbraco-forms/developer/ajaxforms.md
  10/umbraco-forms/developer/configuration/README.md
  10/umbraco-forms/developer/configuration/type-details.md
  10/umbraco-forms/developer/extending/adding-a-fieldtype.md
  10/umbraco-forms/editor/defining-and-attaching-prevaluesources/README.md
  10/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/prevalue-cache-options.png
  10/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
  11/umbraco-forms/release-notes.md
  12/umbraco-forms/.gitbook/assets/umbraco_forms_swagger.json
  12/umbraco-forms/SUMMARY.md
  12/umbraco-forms/developer/ajaxforms.md
  12/umbraco-forms/developer/configuration/README.md
  12/umbraco-forms/developer/configuration/type-details.md
  12/umbraco-forms/developer/extending/adding-a-fieldtype.md
  12/umbraco-forms/developer/themes.md
  12/umbraco-forms/editor/defining-and-attaching-prevaluesources/README.md
  12/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/prevalue-cache-options.png
  12/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
  12/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, category/pending-release, release/10.5.0, release/12.1.0

#5328 updated code format
  10/umbraco-cms/fundamentals/design/partial-views.md
Labels: category/styleguide, review/docsteam

#5213 Update magic-strings.md
  11/umbraco-forms/developer/magic-strings.md
Labels: category/umbraco-forms, review/dteam

#5313 Update tourssettings
  10/umbraco-cms/reference/configuration/tourssettings.md
Labels: category/umbraco-cms

#5327 release notes for 10.2.3, 11.2.3 and 12.0.1 patches
  10/umbraco-workflow/release-notes.md
  11/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#5229 Missing description on macros page README.md
  11/umbraco-cms/reference/templating/macros/README.md
Labels: category/umbraco-cms

#5329 Fixed wrong webhook URL
  commerce-add-ons/payment-providers/nets/configuring-nets.md
  commerce-add-ons/payment-providers/paypal/configuring-paypal.md
  commerce-add-ons/payment-providers/stripe/configuring-stripe.md
Labels: category/umbraco-commerce

#5330 Added clarification on version to download for Umbraco Forms theme files.
  10/umbraco-forms/developer/themes.md
  11/umbraco-forms/developer/themes.md
  12/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#5335 Update code examples for external authentication
  12/umbraco-cms/tutorials/add-google-authentication.md
Labels: category/umbraco-cms

#5332 Updates relating to tracking of alternate names for packages necessary for correctly allocating CMS telemetry data to Marketplace listings.
  marketplace-and-integrations/marketplace/listing-your-package.md
  marketplace-and-integrations/marketplace/package-telemetry-data.md
Labels: category/umbraco-dxp

#5336 docs: fix code example for configuring a twofactor provider
  12/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms

#5340 Update going-live.md
  umbraco-cloud/set-up/going-live.md
Labels: category/umbraco-cloud

#5342 Update creating-your-first-extension.md
  new-backoffice/tutorials/creating-your-first-extension.md
Labels: category/umbraco-cms

#5341 Updates our umbraco to docs umbraco
  10/umbraco-cms/extending/backoffice-search.md
  11/umbraco-cms/extending/backoffice-search.md
  11/umbraco-cms/tutorials/starter-kit/lessons/4-help-and-community.md
  12/umbraco-cms/extending/backoffice-search.md
  12/umbraco-cms/tutorials/starter-kit/lessons/4-help-and-community.md
  contribs.md
  umbraco-cloud/frequently-asked-questions.md
  umbraco-heartcore/tutorials/querying-with-graphql.md
Labels: category/umbraco-cloud, category/umbraco-cms

#5322 Document "Timestamp" constraint for minification
  10/umbraco-cms/reference/configuration/runtimeminificationsettings.md
  11/umbraco-cms/reference/configuration/runtimeminificationsettings.md
  12/umbraco-cms/reference/configuration/runtimeminificationsettings.md
Labels: category/umbraco-cms

#5291 Storefront API docs
  12/umbraco-commerce/.gitbook/assets/storefront_swagger.json
  12/umbraco-commerce/SUMMARY.md
  12/umbraco-commerce/media/uc_storefront_api_swagger.png
  12/umbraco-commerce/reference/storefront-api/README.md
  12/umbraco-commerce/reference/storefront-api/endpoints/README.md
  12/umbraco-commerce/reference/storefront-api/endpoints/checkout.md
  12/umbraco-commerce/reference/storefront-api/endpoints/content.md
  12/umbraco-commerce/reference/storefront-api/endpoints/country.md
  12/umbraco-commerce/reference/storefront-api/endpoints/currency.md
  12/umbraco-commerce/reference/storefront-api/endpoints/customer.md
  12/umbraco-commerce/reference/storefront-api/endpoints/order.md
  12/umbraco-commerce/reference/storefront-api/endpoints/payment-method.md
  12/umbraco-commerce/reference/storefront-api/endpoints/product.md
  12/umbraco-commerce/reference/storefront-api/endpoints/shipping-method.md
  12/umbraco-commerce/reference/storefront-api/endpoints/store.md
Labels: category/pending-release, review/docsteam, category/umbraco-commerce

#5343 Updated the cloud docs with article about the deploy dashboard
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/deployment/deploy-dashboard.md
  umbraco-cloud/deployment/deploy-operations/README.md
  umbraco-cloud/deployment/deploy-operations/clearing-cached-signatures.md
  umbraco-cloud/deployment/deploy-operations/deploy-schema.md
  umbraco-cloud/deployment/deploy-operations/extract-schema-to-data-files.md
  umbraco-cloud/deployment/deploy-operations/images/clear-cached-signatures-v10.gif
  umbraco-cloud/deployment/deploy-operations/images/generating-uda-files-v10.gif
  umbraco-cloud/deployment/deploy-operations/images/locate-deploy-dashboard-v10.gif
  umbraco-cloud/deployment/deploy-operations/images/schema-deployments-v10.gif
  umbraco-cloud/deployment/images/image (1).png
  umbraco-cloud/deployment/images/image (2).png
  umbraco-cloud/deployment/images/image (3).png
  umbraco-cloud/deployment/images/image (4).png
  umbraco-cloud/deployment/images/image (5).png
  umbraco-cloud/deployment/images/image (6).png
  umbraco-cloud/deployment/images/image (7).png
  umbraco-cloud/deployment/images/image (8).png
  umbraco-cloud/deployment/images/image (9).png
Labels: category/umbraco-cloud

#5348 Added the deploy dashboard (Back again)
  umbraco-cloud/.gitbook/assets/clear-cached-signatures-v10.gif
  umbraco-cloud/.gitbook/assets/generating-uda-files-v10.gif
  umbraco-cloud/.gitbook/assets/locate-deploy-dashboard-v10.gif
  umbraco-cloud/.gitbook/assets/schema-deployments-v10.gif
  umbraco-cloud/README.md
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/deployment/deploy-dashboard.md
  umbraco-cloud/deployments/deploy-operations/README.md
  umbraco-cloud/deployments/deploy-operations/clearing-cached-signatures.md
  umbraco-cloud/deployments/deploy-operations/deploy-schema.md
  umbraco-cloud/deployments/deploy-operations/extract-schema-to-data-files.md
  umbraco-cloud/set-up/power-tools/generating-uda-files.md
  umbraco-cloud/set-up/power-tools/manual-extractions.md
  umbraco-cloud/troubleshooting/deployments/changes-not-being-applied.md
  umbraco-cloud/troubleshooting/deployments/structure-error.md
Labels: category/umbraco-cloud

#5325 Delivery API: Add section about deeply nested JSON
  12/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms, review/dteam

#5351 Update unattendedsettings.md
  10/umbraco-cms/reference/configuration/unattendedsettings.md
Labels: category/umbraco-cms

#5333 Using clauses updated
  10/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
  11/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
  12/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
Labels: category/umbraco-cms, review/dteam

#5349 Release notes for Forms 10.5 and 12.1.
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/release-notes.md
  12/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#5352 Update Migrating existing site readme
  umbraco-cloud/getting-started/migrate-existing-site/README.md
Labels: category/umbraco-cloud

#5295 Update iisrewriterules.md
  12/umbraco-cms/reference/routing/iisrewriterules.md
Labels: category/umbraco-cms, review/dteam

#5142 Fix CustomIndex sample
  11/umbraco-cms/reference/searching/examine/indexing.md
Labels: category/umbraco-cms, review/dteam

#5355 Update legacy-documentation
  10/umbraco-cms/legacy-documentation/README.md
  11/umbraco-cms/legacy-documentation/README.md
  12/umbraco-cms/legacy-documentation/README.md
Labels: category/umbraco-cms

#5353 Workflow release notes for 10.3, 11.3, 12.1
  10/umbraco-workflow/installing-workflow.md
  10/umbraco-workflow/release-notes.md
  11/umbraco-workflow/installing-workflow.md
  11/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#5356 Multinode Treepickers do generate schema in GraphQL
  umbraco-heartcore/api-documentation/graphql/filtering-and-ordering.md
  umbraco-heartcore/api-documentation/graphql/property-editors.md
Labels: category/umbraco-heartcore

#5358 Update ci cd azure dev ops
  10/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-azure-dev-ops.md
  11/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-azure-dev-ops.md
  12/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-azure-dev-ops.md
Labels: category/umbraco-deploy

#5357 updated members docs
  10/umbraco-cms/fundamentals/data/members.md
  11/umbraco-cms/fundamentals/data/members.md
  12/umbraco-cms/fundamentals/data/members.md
Labels: review/docsteam

#5361 In Umbraco Commerce UI Config files use the `.json` file extension
  10/umbraco-commerce/key-concepts/ui-config-files.md
  12/umbraco-commerce/key-concepts/ui-config-files.md
Labels: category/umbraco-commerce

#5360 Updated Cloud FAQs for package support.
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud

#5366 Update version specific (Umbraco Deploy)
  10/umbraco-deploy/upgrades/version-specific.md
  11/umbraco-deploy/upgrades/version-specific.md
  12/umbraco-deploy/upgrades/version-specific.md
Labels: category/umbraco-deploy, category/styleguide

#5334 Document existence of 'ShowDomainWarnings' setting
  11/umbraco-cms/reference/configuration/contentsettings.md
  12/umbraco-cms/reference/configuration/contentsettings.md
Labels: category/umbraco-cms

#5368 Minor adjustments to new backoffice getting started
  new-backoffice/extending/development-flow.md
  new-backoffice/tutorials/creating-a-custom-dashboard.md
  new-backoffice/tutorials/creating-your-first-extension.md
Labels: review/dteam, category/umbraco-new-backoffice

#5372 Update deploying changes
  10/umbraco-deploy/deployment-workflow/deploying-changes.md
  11/umbraco-deploy/deployment-workflow/deploying-changes.md
  12/umbraco-deploy/deployment-workflow/deploying-changes.md
Labels: category/umbraco-deploy

#5374 Umbraco Cloud release notes for August
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2023-08-releasenotes.md
  umbraco-cloud/release-notes/images/AusEast.png
  umbraco-cloud/release-notes/images/Event1.png
  umbraco-cloud/release-notes/images/Event2.png
  umbraco-cloud/release-notes/images/NewTrialFlow.gif
  umbraco-cloud/release-notes/overview-2023.md
Labels: category/umbraco-cloud

#5375 Made note about introduced configuration option for the Forms headless API more prominent in the release notes.
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/release-notes.md
  12/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#5373 Update mollie article
  commerce-add-ons/changelog-archive/mollie.md
Labels: category/umbraco-commerce

#5377 Define acronym: SDK in stripe.md
  commerce-add-ons/changelog-archive/stripe.md
Labels: category/umbraco-commerce

#5381 Update development flow
  new-backoffice/extending/development-flow.md
Labels: category/umbraco-new-backoffice

#5378 Update major-upgrades.md
  umbraco-cloud/product-upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#5382 Update content-version-cleanup.md
  11/umbraco-cms/fundamentals/data/content-version-cleanup.md
Labels: category/umbraco-cms
