Repository umbraco/UmbracoDocs, pull requests merged in 2023-02, with the labels that each got.

#4875 Added the UK region
  umbraco-cloud/getting-started/baselines/README.md
Labels: category/umbraco-cloud

#4877 Fix title in dashboard tutorial
  umbraco-cms/tutorials/creating-a-custom-dashboard.md
Labels: category/umbraco-cms

#4769 Added notes for creating accessible packages
  SUMMARY.md
  umbraco-cms/extending/packages/accessibility.md
Labels: category/umbraco-cms

#4880 More readability improvements
  .github/styles/UmbracoDocs/Acronyms.yml
  umbraco-cms/reference/security/README.md
Labels: category/styleguide

#4885 Fixed auto-generated links...
  Add-ons/index.md
  Extending/Packages/Creating-a-nuget-package/index.md
  Extending/Packages/Package-Actions/custom-package-actions.md
  Extending/Packages/Package-Actions/index.md
  Extending/Packages/UmbPack/index.md
  Extending/Property-Editors/tag-support.md
  Fundamentals/Backoffice/Sections/index.md
  Fundamentals/Code/Subscribing-To-Events/index.md
  Fundamentals/Code/index.md
  Fundamentals/Data/index.md
  Fundamentals/New-in-V8.md
  Fundamentals/Setup/Install/index.md
  Fundamentals/Setup/Install/install-umbraco-with-nuget.md
  Fundamentals/Setup/Requirements/index.md
  Fundamentals/Setup/Server-Setup/permissions.md
  Fundamentals/Setup/Upgrading/general.md
  Fundamentals/index.md
  Reference/Management/Services/SectionService/Index.md
Labels: review/docsteam

#4884 Update Media Picker example in Custom Block Editor view
  umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/build-custom-view-for-blocks.md
  umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
Labels: category/umbraco-cms, review/dteam, review/docsteam

#4889 Update dictionary-items.md
  umbraco-cms/fundamentals/data/dictionary-items.md
Labels: category/umbraco-cms

#4888 Fix Fundamentals design
  Fundamentals/index.md
Labels: review/docsteam

#4831 Updates for Forms patch releases (10.2.3 and 11.0.2)
  umbraco-forms/developer/extending/adding-a-exporttype.md
Labels: category/umbraco-forms, category/pending-release

#4894 Update document-types.md
  umbraco-cms/tutorials/creating-a-basic-website/document-types.md
Labels: category/umbraco-cms

#4892 Fixed auto-gen links
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/Apply-keys.md
  Add-ons/UmbracoForms/Developer/Healthchecks/scripts/Forms-in-the-database-apply-keys.md
  Fundamentals/Code/Source-Control/index-v7.md
  Fundamentals/Setup/Server-Setup/Load-Balancing/files-replicated.md
  Fundamentals/Setup/Server-Setup/Load-Balancing/files-shared.md
  Fundamentals/Setup/Server-Setup/Load-Balancing/flexible.md
Labels: review/docsteam

#4896 fixed the heartcore links on our to the new platform
  Umbraco-Heartcore/Getting-Started-Cloud/API-Browser/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Backoffice-Users-and-API-Keys/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Creating-a-Heartcore-project/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/Content-transfer/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/Structure-deployment/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Deployment-workflow/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Environments/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/GraphQL-Playground/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Preview/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/The-Cloud-Portal/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/The-Umbraco-Backoffice/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Using-The-Forms-API/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/Webhooks/index.md
  Umbraco-Heartcore/Getting-Started-Cloud/index.md
Labels: category/umbraco-heartcore, review/docsteam

#4898 Add missing description
  umbraco-cms/reference/routing/custom-controllers.md
Labels: category/umbraco-cms

#4897 Added Q&A section to dedicated resources
  umbraco-cloud/set-up/project-settings/dedicated-resources.md
Labels: category/umbraco-cloud, review/dteam, review/docsteam

#4900 Updating the Rich Text Editor article in Editors Manual
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Creating-an-anchor-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Delete-an-anchor-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Editing-an-existing-table-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Formats-Button-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Formatting-Buttons-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Insert-a-table-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Inserting-Image-from-the-Media-Library-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Inserting-an-Image-from-Computer-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-Button-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-from-Image-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-to-Email-Address-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-to-Media-File-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-to-a-Page-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-to-an-external-Page-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Linking-to-Anchor-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Remove-Format-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Remove-link-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/Select-Macro-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/editorBar-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/table-properties-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/images/view-source-code-v11.png
  umbraco-cms/tutorials/editors-manual/working-with-content/rich-text-editor.md
Labels: review/docsteam

#4901 Small fixes for tree article
  umbraco-cms/extending/section-trees/trees/README.md
Labels: category/styleguide

#4906 Readability improvements - Update backoffice-search.md
  umbraco-cms/extending/backoffice-search.md
Labels: category/styleguide

#4907 Readability improvements - umbraco-cms/extending/key-vault.md
  umbraco-cms/extending/key-vault.md
Labels: category/styleguide

#4878 Added documentation for INotificationAsyncHandler
  umbraco-cms/reference/notifications/README.md
Labels: category/umbraco-cms, review/dteam

#4905 Documented configuration and troubleshooting guidance relevant to the 10.1.3 and 11.0.1 releases.
  umbraco-deploy/deploy-settings.md
  umbraco-deploy/images/clear-cached-sigs.png
  umbraco-deploy/images/export-schema.png
  umbraco-deploy/images/set-cached-sigs.png
  umbraco-deploy/troubleshooting.md
Labels: category/pending-release, category/umbraco-deploy

#4909 Restructure Forms section
  10/umbraco-forms/.gitbook.yaml
  10/umbraco-forms/README.md
  10/umbraco-forms/SUMMARY.md
  11/umbraco-forms/.gitbook.yaml
  11/umbraco-forms/README.md
  11/umbraco-forms/SUMMARY.md
Labels: review/docsteam

#4912 Restructure Workflow Section
  10/umbraco-workflow/.gitbook.yaml
  10/umbraco-workflow/README.md
  10/umbraco-workflow/SUMMARY.md
  11/umbraco-workflow/.gitbook.yaml
  11/umbraco-workflow/README.md
  11/umbraco-workflow/SUMMARY.md
Labels: review/docsteam

#4913 CMS restructure
  10/umbraco-cms/.gitbook.yaml
  10/umbraco-cms/README.md
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/extending/README.md
  10/umbraco-cms/fundamentals/README.md
  10/umbraco-cms/implementation/README.md
  10/umbraco-cms/reference/README.md
  10/umbraco-cms/tutorials/README.md
  11/umbraco-cms/.gitbook.yaml
  11/umbraco-cms/README.md
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/extending/README.md
  11/umbraco-cms/fundamentals/README.md
  11/umbraco-cms/implementation/README.md
  11/umbraco-cms/reference/README.md
  11/umbraco-cms/tutorials/README.md
Labels: category/platform

#4915 Add SUMMARY and gitbook yaml to generic section
  generic/.gitbook.yaml
  generic/SUMMARY.md
  generic/getting-started/README.md
Labels: category/platform

#4914 New deploy structure
  10/umbraco-deploy/.gitbook.yaml
  10/umbraco-deploy/README.md
  10/umbraco-deploy/SUMMARY.md
  11/umbraco-deploy/.gitbook.yaml
  11/umbraco-deploy/README.md
  11/umbraco-deploy/SUMMARY.md
Labels: category/umbraco-deploy, review/docsteam

#4911 Changed the structure for the heartcore docs
  umbraco-heartcore/.gitbook.yaml
  umbraco-heartcore/README.md
  umbraco-heartcore/SUMMARY.md
  umbraco-heartcore/backoffice/README.md
  umbraco-heartcore/compare-with-umbraco-cms.md
  umbraco-heartcore/getting-started/README.md
  umbraco-heartcore/tutorials/README.md
Labels: category/umbraco-heartcore, review/docsteam

#4919 CMS landing page
  10/umbraco-cms/README.md
  10/umbraco-cms/SUMMARY.md
  11/umbraco-cms/.gitbook/assets/docs-style-hero.png
  11/umbraco-cms/.gitbook/assets/reversed-heart-hero.png
  11/umbraco-cms/.gitbook/assets/rocket-hero.png
  11/umbraco-cms/README.md
  11/umbraco-cms/SUMMARY.md
Labels: category/platform, review/docsteam

#4920 restructured the heartcore landing page
  umbraco-heartcore/.gitbook/assets/code.png
  umbraco-heartcore/.gitbook/assets/devices.png
  umbraco-heartcore/.gitbook/assets/headless.png
  umbraco-heartcore/README.md
Labels: category/umbraco-heartcore, review/docsteam

#4910 Restructure cloud section
  .gitbook.yaml
  umbraco-cloud/.gitbook/assets/U_PRs_com.png
  umbraco-cloud/.gitbook/assets/arm_with_u_logo.png
  umbraco-cloud/.gitbook/assets/arrow.png
  umbraco-cloud/.gitbook/assets/arrows.png
  umbraco-cloud/.gitbook/assets/baseline.png
  umbraco-cloud/.gitbook/assets/code_too.png
  umbraco-cloud/README.md
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/deployment/README.md
Labels: category/umbraco-cloud, review/docsteam

#4921 Deploy landing page restructure
  11/umbraco-deploy/.gitbook/assets/code_cursor.png
  11/umbraco-deploy/.gitbook/assets/lightbulb.png
  11/umbraco-deploy/.gitbook/assets/update.png
  11/umbraco-deploy/README.md
Labels: category/umbraco-deploy, review/docsteam

#4922 Fix main landing page
  generic/README.md
Labels: category/platform, review/docsteam

#4916 Restructure Forms landing page
  10/umbraco-forms/.gitbook/assets/Blog_post_for_com_900x400px_1_8_7_.png
  10/umbraco-forms/.gitbook/assets/Umbraco 9.3RC- Blog_post_for_com_900x400px_1@2x-80.jpg
  10/umbraco-forms/.gitbook/assets/_packageBlog_post_for_com_900x400px.png
  10/umbraco-forms/README.md
  10/umbraco-forms/SUMMARY.md
  10/umbraco-forms/developer/README.md
  10/umbraco-forms/editor/README.md
  10/umbraco-forms/editor/creating-a-form/README.md
  10/umbraco-forms/editor/creating-a-form/conditional-logic.md
  10/umbraco-forms/editor/defining-and-attaching-prevaluesources/README.md
  10/umbraco-forms/installation/README.md
  10/umbraco-forms/installation/install.md
  11/umbraco-forms/.gitbook/assets/Blog_post_for_com_900x400px_1_8_7_.png
  11/umbraco-forms/.gitbook/assets/Umbraco 9.3RC- Blog_post_for_com_900x400px_1@2x-80.jpg
  11/umbraco-forms/.gitbook/assets/_packageBlog_post_for_com_900x400px.png
  11/umbraco-forms/README.md
  11/umbraco-forms/SUMMARY.md
  11/umbraco-forms/developer/README.md
  11/umbraco-forms/editor/README.md
  11/umbraco-forms/installation/README.md
  11/umbraco-forms/installation/install.md
Labels: review/docsteam

#4923 Readability improvements language variation [part two]
  10/umbraco-cms/reference/language-variation.md
  11/umbraco-cms/reference/language-variation.md
Labels: category/styleguide

#4924 moving some structure around for deploy
  10/umbraco-deploy/.gitbook/assets/code_cursor.png
  10/umbraco-deploy/.gitbook/assets/lightbulb.png
  10/umbraco-deploy/.gitbook/assets/update.png
  10/umbraco-deploy/README.md
Labels: category/umbraco-deploy, review/docsteam

#4927 Fixed cloud redirects for new structure
  umbraco-cloud/.gitbook.yaml
Labels: category/umbraco-cloud, review/docsteam

#4929 Preview feature available only on pro plan
  umbraco-heartcore/getting-started/preview.md
Labels: category/umbraco-heartcore

#4931 Readability improvements language files for packages
  10/umbraco-cms/extending/packages/language-files-for-packages.md
  11/umbraco-cms/extending/packages/language-files-for-packages.md
Labels: category/styleguide

#4932 Removed layout metadata
  10/umbraco-forms/README.md
  11/umbraco-forms/README.md
Labels: review/docsteam

#4935 Generics
  generic/README.md
  generic/SUMMARY.md
  generic/add-on-products.md
  generic/contribute/code-samples.md
  generic/contribute/getting-started.md
  generic/contribute/how-to-add-a-new-version.md
  generic/contribute/issues.md
  generic/getting-started/creating-websites-with-umbraco.md
  generic/getting-started/developing-websites-with-umbraco/README.md
  generic/getting-started/developing-websites-with-umbraco/customizing-umbraco-sites.md
  generic/getting-started/developing-websites-with-umbraco/extending-the-umbraco-backoffice.md
  generic/getting-started/editing-websites-with-umbraco.md
  generic/getting-started/hosting-an-umbraco-infrastructure.md
  generic/getting-started/managing-an-umbraco-project.md
Labels: category/platform

#4936 Add Accessible Packages article to v10
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/extending/packages/accessibility.md
  10/umbraco-cms/extending/packages/create-accessible-umbraco-packages.md
Labels: category/umbraco-cms

#4934 Readability improvements extending packages
  10/umbraco-cms/extending/packages/README.md
  11/umbraco-cms/extending/packages/README.md
Labels: category/styleguide

#4940 Added v9 to 10 steps to major upgrades
  umbraco-cloud/upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#4939 Renamed folders to change duplicate group/folder name in URL
  10/umbraco-workflow/.gitbook.yaml
  10/umbraco-workflow/upgrading-workflow/upgrading.md
  10/umbraco-workflow/workflow-section/workflow-section-dashboard.md
  11/umbraco-workflow/.gitbook.yaml
  11/umbraco-workflow/upgrading-workflow/upgrading.md
  11/umbraco-workflow/workflow-section/workflow-section-dashboard.md
Labels: category/umbraco-workflow, review/docsteam

#4941 Updated summary file
  10/umbraco-workflow/SUMMARY.md
  11/umbraco-workflow/SUMMARY.md
Labels: review/docsteam

#4942 Update database.md
  11/umbraco-cms/extending/database.md
Labels: category/styleguide

#4944 Readability improvements build a block editor
  11/umbraco-cms/extending/property-editors/build-a-block-editor.md
Labels: category/styleguide

#4947 Fix spelling error
  11/umbraco-cms/reference/configuration/runtimesettings.md
Labels: category/umbraco-cms

#4949 Readability improvements build a block editor v10
  10/umbraco-cms/extending/property-editors/build-a-block-editor.md
Labels: category/styleguide

#4950 Update database.md
  11/umbraco-cms/extending/database.md
Labels: category/styleguide

#4858 Updates for Deploy patch release (4.7.3)
  Add-ons/Umbraco-Deploy/Deploy-Settings/index.md
  Add-ons/Umbraco-Deploy/Troubleshooting/images/clear-cached-sigs.png
  Add-ons/Umbraco-Deploy/Troubleshooting/images/export-schema.png
  Add-ons/Umbraco-Deploy/Troubleshooting/images/set-cached-sigs.png
  Add-ons/Umbraco-Deploy/Troubleshooting/index.md
Labels: category/pending-release, category/umbraco-deploy

#4943 Update image for Code Deployment summary
  umbraco-cloud/getting-started/git-repository-in-a-cloud-project.md
  umbraco-cloud/getting-started/images/UCP.png
Labels: category/umbraco-cloud

#4937 Removes duplicate Scaling Blocks section
  10/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  11/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
Labels: category/umbraco-cms

#4953 Readability improvements - declaring your property editor
  10/umbraco-cms/extending/property-editors/declaring-your-property-editor.md
  11/umbraco-cms/extending/property-editors/declaring-your-property-editor.md
Labels: category/styleguide

#4952 Redirects for the release notes
  umbraco-cloud/.gitbook.yaml
Labels: category/umbraco-cloud, review/docsteam

#4946 Added a Public access settings page
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/images/allow_ip.png
  umbraco-cloud/set-up/images/basic_auth.png
  umbraco-cloud/set-up/images/public_access.png
  umbraco-cloud/set-up/project-settings/README.md
  umbraco-cloud/set-up/project-settings/public-access.md
Labels: category/umbraco-cloud, review/docsteam

#4958 Enriches the rewrite documentation.
  umbraco-cloud/set-up/project-settings/manage-hostnames/rewrites-on-cloud.md
Labels: category/umbraco-cloud

#4955 Update rewrite rules docs
  10/umbraco-cms/reference/routing/iisrewriterules.md
  11/umbraco-cms/reference/routing/iisrewriterules.md
Labels: category/umbraco-cms

#4957 Readability improvements - backoffice-search.md
  10/umbraco-cms/extending/backoffice-search.md
Labels: category/styleguide

#4956 Readability improvements - property actions
  10/umbraco-cms/extending/property-editors/property-actions.md
  11/umbraco-cms/extending/property-editors/property-actions.md
Labels: category/styleguide

#4960 Add Ukranian to list of backoffice languages for 11.2
  11/umbraco-cms/extending/language-files.md
Labels: category/umbraco-cms, release/11.2.0

#4963 Add changes from #4893
  11/umbraco-cms/reference/configuration/requesthandlersettings.md
Labels: category/umbraco-cms

#4964 Add changes from #4700
  Extending/FileSystemProviders/Azure-Blob-Storage/index.md
Labels: category/umbraco-cms

#4902 Improve Heartcore Management API documentation
  SUMMARY.md
  umbraco-heartcore/SUMMARY.md
  umbraco-heartcore/api-documentation/content-management/media/README.md
  umbraco-heartcore/tutorials/creating-content-with-media.md
  umbraco-heartcore/tutorials/images/content-content-node-id.png
  umbraco-heartcore/tutorials/images/content-create-content-node1.png
  umbraco-heartcore/tutorials/images/content-create-content-node2.png
  umbraco-heartcore/tutorials/images/management-api-browser-content-management-tab.png
  umbraco-heartcore/tutorials/images/management-api-browser-copy-response.png
  umbraco-heartcore/tutorials/images/management-api-browser-fill-in-info.png
  umbraco-heartcore/tutorials/images/management-api-browser-non-get-request.png
  umbraco-heartcore/tutorials/images/management-api-browser-opening-the-non-get-requests-modal.png
  umbraco-heartcore/tutorials/images/management-api-browser-publishing-a-content-node.png
  umbraco-heartcore/tutorials/images/media-create-dropdown.png
  umbraco-heartcore/tutorials/images/media-drag-and-drop.png
  umbraco-heartcore/tutorials/images/settings-create-document-type1.png
  umbraco-heartcore/tutorials/images/settings-create-document-type2.png
  umbraco-heartcore/tutorials/images/settings-create-document-type3.png
  umbraco-heartcore/tutorials/images/settings-create-document-type4.png
Labels: category/umbraco-heartcore

#4966 Update to IMemberManager
  10/umbraco-cms/reference/querying/imembermanager.md
  11/umbraco-cms/reference/querying/imembermanager.md
Labels: category/umbraco-cms

#4969 Fixes broken links
  11/umbraco-cms/README.md
Labels: category/broken-link

#4973 Fixed licensing redirect link
  Add-ons/The-Licensing-model/index.md
Labels: category/umbraco-cms, review/docsteam

#4970 Added new images on pages with the old project creation flow
  umbraco-cloud/README.md
  umbraco-cloud/getting-started/baselines/README.md
  umbraco-cloud/getting-started/baselines/images/baseline-creation.gif
  umbraco-cloud/getting-started/baselines/images/create-baseline-child-project-v9-new.gif
  umbraco-cloud/getting-started/baselines/images/create-baseline-child-project.gif
  umbraco-cloud/getting-started/images/CreateProject-SelectRegion.png
  umbraco-cloud/getting-started/images/creationflow-chooseRegion.png
  umbraco-cloud/getting-started/migrate-between-regions.md
Labels: category/umbraco-cloud, review/docsteam

#4951 Workflow/11.1
  10/umbraco-workflow/SUMMARY.md
  10/umbraco-workflow/getting-started/history-cleanup.md
  10/umbraco-workflow/getting-started/images/workflow-history-cleanup-modal.png
  11/umbraco-workflow/SUMMARY.md
  11/umbraco-workflow/getting-started/history-cleanup.md
  11/umbraco-workflow/getting-started/images/workflow-history-cleanup-modal.png
Labels: category/umbraco-workflow

#4972 Readability improvements - embedded-media-providers
  11/umbraco-cms/extending/embedded-media-providers.md
Labels: category/styleguide

#4975 Removed old image/gif and fixed markdown errors..
  generic/the-licensing-model.md
Labels: review/docsteam

#4974 fixing typo
  11/umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms

#4978 Readability improvements inbound pipeline
  10/umbraco-cms/implementation/default-routing/inbound-pipeline.md
  11/umbraco-cms/implementation/default-routing/inbound-pipeline.md
Labels: category/styleguide
