Repository umbraco/UmbracoDocs, pull requests merged in 2023-03, with the labels that each got.

#4982 Fix typo
  11/umbraco-forms/developer/prepping-frontend.md
Labels: category/umbraco-forms

#4985 minor change
  umbraco-cloud/.gitbook.yaml
Labels: category/umbraco-cloud

#4984 Readability improvements nullable reference types
  10/umbraco-cms/implementation/nullable-reference-types.md
  11/umbraco-cms/implementation/nullable-reference-types.md
Labels: category/styleguide

#4986 Update cookies.md
  11/umbraco-cms/reference/security/cookies.md
Labels: category/broken-link

#4925 Added all upgrade docs
  10/umbraco-cms/.gitbook.yaml
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/fundamentals/setup/upgrading/README.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/content-on-8_1.png
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/fresh-8_1-site.png
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/nuget-overwrite-dialog.png
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/nuget-upgrade-overwrite.png
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/set-umbraco-version.png
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/upgrade-to-8_1.png
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/upgrading-7_14.png
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/v7-content.png
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-8.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/minor-upgrades-for-umbraco-7.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/minor-upgrades-for-umbraco-8.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/umbraco10-breaking-changes.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/umbraco11-breaking-changes.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-to-umbraco-7.md
  10/umbraco-forms/.gitbook.yaml
  10/umbraco-forms/SUMMARY.md
  10/umbraco-forms/installation/manualupgrade.md
  10/umbraco-forms/installation/upgrade.md
  10/umbraco-forms/installation/version-specific.md
  11/umbraco-cms/.gitbook.yaml
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/fundamentals/setup/upgrading/README.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/content-on-8_1.png
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/fresh-8_1-site.png
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/nuget-overwrite-dialog.png
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/nuget-upgrade-overwrite.png
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/set-umbraco-version.png
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/upgrade-to-8_1.png
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/upgrading-7_14.png
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/images/v7-content.png
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-8.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/minor-upgrades-for-umbraco-7.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/minor-upgrades-for-umbraco-8.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/umbraco10-breaking-changes.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/umbraco11-breaking-changes.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-to-umbraco-7.md
  11/umbraco-forms/.gitbook.yaml
  11/umbraco-forms/SUMMARY.md
  11/umbraco-forms/installation/manualupgrade.md
  11/umbraco-forms/installation/upgrade.md
  11/umbraco-forms/installation/version-specific.md
  SUMMARY.md
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/upgrades/images/upgrade-to-8_1.png
  umbraco-cloud/upgrades/major-upgrades.md
  umbraco-cloud/upgrades/migrate-from-umbraco-10-to-11.md
  umbraco-cloud/upgrades/migrating-from-8-10.md
  umbraco-cloud/upgrades/minor-upgrades.md
  umbraco-cloud/upgrades/version-specific-upgrades/README.md
  umbraco-cloud/upgrades/version-specific-upgrades/images/authorize-upgrade-to-8.png
  umbraco-cloud/upgrades/version-specific-upgrades/migrate-from-umbraco-7-to-8.md
Labels: review/docsteam

#4993 Updated the working with Mac article
  10/umbraco-cms/fundamentals/setup/install/running-umbraco-on-a-mac.md
  11/umbraco-cms/fundamentals/setup/install/running-umbraco-on-a-mac.md
Labels: category/umbraco-cms, review/docsteam

#4990 Readability improvements - umbraco10 breaking changes
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/styleguide

#4995 Move upgrades article in to correct folder
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/product-upgrades/README.md
  umbraco-cloud/product-upgrades/images/Nuget-Version-Install.png
  umbraco-cloud/product-upgrades/images/Runtime-Settings.png
  umbraco-cloud/product-upgrades/images/Solution-Explorer.png
  umbraco-cloud/product-upgrades/images/Target-Framework.png
  umbraco-cloud/product-upgrades/images/check-all-packages-2.png
  umbraco-cloud/product-upgrades/images/upgrade-to-8_1.png
  umbraco-cloud/product-upgrades/images/upgrade-to-9_1.png
  umbraco-cloud/product-upgrades/images/verify-v10-upgrade-locally.png
  umbraco-cloud/product-upgrades/major-upgrades.md
  umbraco-cloud/product-upgrades/manual-upgrades/README.md
  umbraco-cloud/product-upgrades/manual-upgrades/images/Instal_version.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/Manage_packages.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/Nuget_Manager.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/UmbracoForms.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/file_conflict.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/forms_version.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/modelsBuilder.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/modelsBuilderVersion.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/newtonLatest.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/newtonsoft.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/newtonsoftJson.png
  umbraco-cloud/product-upgrades/manual-upgrades/images/upgrade-screen.png
  umbraco-cloud/product-upgrades/manual-upgrades/manual-cms-upgrade.md
  umbraco-cloud/product-upgrades/manual-upgrades/manual-upgrade-deploy.md
  umbraco-cloud/product-upgrades/minor-upgrades.md
  umbraco-cloud/product-upgrades/product-dependencies.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/README.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/images/authorize-upgrade-to-8.png
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-umbraco-7-to-8.md
Labels: category/umbraco-cloud

#4999 Minor redirect change
  10/umbraco-deploy/.gitbook.yaml
  11/umbraco-deploy/.gitbook.yaml
Labels: category/umbraco-deploy

#5000 readability improvements - clickjackingprotection
  11/umbraco-cms/extending/health-check/guides/clickjackingprotection.md
Labels: category/styleguide

#5002 Making 8 to 10 Cloud migration generic
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-a-umbraco-8-project-to-umbraco-10.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-cloud, review/docsteam

#5004 Include legacy versions for upgrading
  umbraco-cloud/product-upgrades/manual-upgrades/manual-upgrade-deploy.md
Labels: category/umbraco-deploy

#5012 Updated details on localization for Forms.
  10/umbraco-forms/developer/localization.md
  11/umbraco-forms/developer/localization.md
Labels: category/umbraco-forms

#5011 Updated details about retrieving record values in workflow execution.
  10/umbraco-forms/developer/extending/adding-a-workflowtype.md
  11/umbraco-forms/developer/extending/adding-a-workflowtype.md
Labels: category/umbraco-forms

#5013 readability improvements - fixedapplicationurl
  11/umbraco-cms/extending/health-check/guides/fixedapplicationurl.md
Labels: category/styleguide

#5005 readability improvements - contentsniffingprotection
  11/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
Labels: category/styleguide

#4954 Updates for Forms release 10.3/11.1
  10/umbraco-forms/SUMMARY.md
  10/umbraco-forms/developer/configuration/README.md
  10/umbraco-forms/developer/extending/README.md
  10/umbraco-forms/developer/extending/adding-a-fieldtype.md
  10/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
  10/umbraco-forms/developer/extending/adding-a-validation-pattern.md
  10/umbraco-forms/developer/magic-strings.md
  10/umbraco-forms/editor/attaching-workflows/README.md
  10/umbraco-forms/editor/attaching-workflows/workflow-types.md
  10/umbraco-forms/editor/creating-a-form/form-settings.md
  11/umbraco-forms/SUMMARY.md
  11/umbraco-forms/developer/configuration/README.md
  11/umbraco-forms/developer/extending/README.md
  11/umbraco-forms/developer/extending/adding-a-fieldtype.md
  11/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
  11/umbraco-forms/developer/extending/adding-a-validation-pattern.md
  11/umbraco-forms/developer/images/validation-pattern.png
  11/umbraco-forms/developer/magic-strings.md
  11/umbraco-forms/editor/attaching-workflows/README.md
  11/umbraco-forms/editor/attaching-workflows/images/MessageOnSubmitRichText.png
  11/umbraco-forms/editor/attaching-workflows/workflow-types.md
  11/umbraco-forms/editor/creating-a-form/form-settings.md
  11/umbraco-forms/editor/creating-a-form/images/FormSettingsAutocomplete.png
  11/umbraco-forms/editor/creating-a-form/images/FormSettingsDataRetention.png
  11/umbraco-forms/editor/creating-a-form/images/FormSettingsFieldsDisplayed.png
Labels: category/umbraco-forms, category/pending-release, review/docsteam

#5014 [CMS] Add mention about files migration to 7 to 8 migration guide
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-8.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-8.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/README.md
Labels: category/umbraco-cms, review/docsteam

#5015 Migrated Forms in the database article to the latest version
  10/umbraco-forms/developer/forms-in-the-database.md
  11/umbraco-forms/developer/forms-in-the-database.md
  umbraco-cloud/deployment/umbraco-forms-on-cloud.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-forms, review/docsteam

#5017 Proposing change to include legacy version(s)
  umbraco-cloud/getting-started/migrate-existing-site/README.md
Labels: category/umbraco-cloud

#5023 Added redirect
  .gitbook.yaml
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/set-up/multi-factor-authentication-on-cloud.md
Labels: review/docsteam

#5020 Feature/umbraco hackathon docs vscode
  10/umbraco-cms/fundamentals/setup/install/README.md
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/fundamentals/setup/README.md
  11/umbraco-cms/fundamentals/setup/install/install-umbraco-with-vs-code.md
  11/umbraco-cms/fundamentals/setup/requirements.md
  generic/contribute/getting-started.md
Labels: category/umbraco-cms

#4991 Update language-files to document usage by member identity errors in website
  10/umbraco-cms/extending/language-files.md
  11/umbraco-cms/extending/language-files.md
Labels: category/umbraco-cms, review/dteam

#5010 Added a link to Examine events
  10/umbraco-cms/reference/searching/examine/indexing.md
  11/umbraco-cms/reference/searching/examine/indexing.md
Labels: category/umbraco-cms

#5024 Changed folder name to make redirect work
  umbraco-cloud/.gitbook.yaml
Labels: category/umbraco-cloud, review/docsteam

#5007 Update README.md
  11/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
Labels: category/umbraco-cms, review/dteam

#4996 Forms/Deploy release notes
  10/umbraco-deploy/release-notes.md
  10/umbraco-forms/SUMMARY.md
  10/umbraco-forms/release-notes.md
  11/umbraco-deploy/release-notes.md
  11/umbraco-forms/SUMMARY.md
  11/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, category/umbraco-deploy

#5027 Add Marketplace and Integrations directory incl. gitbook.yaml file
  marketplace-and-integrations/.gitbook.yaml
Labels: category/marketplace

#5029 readability improvements - clickjackingprotection - v10
  10/umbraco-cms/extending/health-check/guides/clickjackingprotection.md
Labels: category/styleguide

#5033 readability improvements - contentsniffingprotection v10
  10/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
Labels: category/styleguide

#5018 readability improvements - folderandfilepermissions
  11/umbraco-cms/extending/health-check/guides/folderandfilepermissions.md
Labels: category/styleguide

#5032 Restructured Forms RNs
  10/umbraco-forms/installation/version-specific.md
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/installation/version-specific.md
  11/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, review/docsteam

#5034 Link to Umbraco backoffice site from CMS
  10/umbraco-cms/extending/backoffice-ui-api-documentation.md
  10/umbraco-cms/extending/ui-library.md
  11/umbraco-cms/extending/backoffice-ui-api-documentation.md
  11/umbraco-cms/extending/ui-library.md
Labels: category/umbraco-cms, review/docsteam

#5037 Minor change
  10/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5031 Updated Deploy release notes.
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5039 Update manual-extractions.md
  umbraco-cloud/set-up/power-tools/manual-extractions.md
Labels: category/umbraco-cloud, review/docsteam

#5035 Adds release notes for Forms 10.3.0 and 11.1.0.
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#5041 readability improvements - KeyVault
  10/umbraco-cms/extending/key-vault.md
Labels: category/styleguide

#5040 Moved over legacy article for visual studio and cloud
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/images/cmd-clone.png
  umbraco-cloud/set-up/images/generated-solution.png
  umbraco-cloud/set-up/images/references.gif
  umbraco-cloud/set-up/images/vs-project-setup.png
  umbraco-cloud/set-up/legacy-umbraco-visual-studio-setup.md
Labels: category/umbraco-cloud, review/docsteam

#5044 Add OnParseCommandsAsync example
  10/umbraco-cms/reference/configuration/imagingsettings.md
  11/umbraco-cms/reference/configuration/imagingsettings.md
Labels: category/umbraco-cms

#5042 Added a "Upgrade 8 to latest" guide to CMS docs.
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
Labels: category/umbraco-cms, review/docsteam

#5046 Add article to v10
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
Labels: category/umbraco-cms

#5047 Fix typo
  umbraco-cloud/set-up/working-locally.md
Labels: category/umbraco-cloud, category/styleguide

#5045 Added a note to the Depth parameter.
  umbraco-heartcore/api-documentation/content-delivery/content.md
Labels: category/umbraco-heartcore

#5048 Added new Security configs to the docs
  10/umbraco-cms/reference/configuration/securitysettings.md
  11/umbraco-cms/reference/configuration/securitysettings.md
Labels: category/pending-release, category/umbraco-cms, review/dteam, review/docsteam, release/11.3.0, release/10.5.0

#5009 Added documentation of new AllowedMediaHosts setting
  10/umbraco-cms/reference/configuration/contentsettings.md
  11/umbraco-cms/reference/configuration/contentsettings.md
Labels: category/pending-release, category/umbraco-cms, release/11.3.0, release/10.5.0

#4971 Add doc for Inline Macro
  11/umbraco-cms/reference/templating/macros/images/inline-macro-in-richtext.png
  11/umbraco-cms/reference/templating/macros/managing-macros.md
Labels: category/pending-release, category/umbraco-cms, release/11.3.0

#5051 Fix small type with whenever
  11/umbraco-cms/reference/configuration/modelsbuildersettings.md
Labels: category/umbraco-cms

#5053 It said "hasOnce" - changed to Once only
  10/umbraco-deploy/getting-started/install-configure.md
Labels: category/umbraco-deploy

#5050 readability improvements - contentapps
  11/umbraco-forms/developer/contentapps.md
Labels: category/styleguide

#5038 Elaborated on storing of files
  11/umbraco-forms/editor/attaching-workflows/workflow-types.md
Labels: category/umbraco-forms

#5052 Added Backoffice Settings article
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/fundamentals/backoffice/sections.md
  10/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/fundamentals/backoffice/sections.md
  11/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
Labels: category/umbraco-cms, review/docsteam

#5057 Add landing pages and update SUMMARY to v10
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/extending/customize-the-editing-experience.md
  10/umbraco-cms/fundamentals/get-to-know-umbraco.md
  10/umbraco-cms/implementation/learn-how-umbraco-works.md
  10/umbraco-cms/reference/dive-into-the-code.md
  10/umbraco-cms/tutorials/overview.md
Labels: category/umbraco-cms

#5061 Added bandwidth history for usage on cloud
  umbraco-cloud/set-up/images/cloud-usage.png
  umbraco-cloud/set-up/project-settings/usage.md
Labels: category/umbraco-cloud, review/docsteam

#5059 Added new project upgrade flow to the docs
  umbraco-cloud/set-up/images/dedicated-option.png
  umbraco-cloud/set-up/images/umbraco-cloud-plans-new.png
  umbraco-cloud/set-up/images/upgrade-summary.png
  umbraco-cloud/set-up/project-settings/upgrade-umbraco-cloud-plan.md
Labels: category/umbraco-cloud, review/docsteam

#5060 readability improvements - rendering-scripts
  11/umbraco-forms/developer/rendering-scripts.md
Labels: category/styleguide

#5063 Fix incorrect link on the Notifications page
  11/umbraco-cms/reference/notifications/README.md
Labels: category/umbraco-cms

#5069 Add FAQ to Acronyms.yml
  .github/styles/UmbracoDocs/Acronyms.yml
Labels: category/styleguide

#5070 Zapier v9+ docs
  marketplace-and-integrations/integrations/zapier.md
Labels: category/umbraco-dxp

#5072 Rename file and add missing article
  marketplace-and-integrations/README.md
  marketplace-and-integrations/SUMMARY.md
  marketplace-and-integrations/integrations/activecampaign-with-umbraco-forms.md
  marketplace-and-integrations/marketplace/introduction.md
Labels: category/umbraco-dxp
