Repository umbraco/UmbracoDocs, pull requests merged in 2023-07, with the labels that each got.

#5156 Good Practice docs for Package development
  11/umbraco-cms/extending/packages/good-practice-and-defaults.md
Labels: category/umbraco-cms

#5199 Update Deploy 12 API key recommendation
  10/umbraco-deploy/getting-started/install-configure.md
  11/umbraco-deploy/getting-started/install-configure.md
  12/umbraco-deploy/deploy-settings.md
  12/umbraco-deploy/deployment-workflow/deploy-settings.md
  12/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-azure-dev-ops.md
  12/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-github-actions.md
  12/umbraco-deploy/getting-started/install-configure.md
Labels: category/umbraco-deploy, release/12.0.0

#5283 Fix syntax formatting of JSON snippet
  12/umbraco-cms/reference/configuration/debugsettings.md
Labels: category/umbraco-cms

#5286 Update quick-start.md
  12/umbraco-cms/reference/searching/examine/quick-start.md
Labels: category/umbraco-cms

#5285 Update migrate-from-8-to-latest.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-cms

#5284 Update unit testing article
  10/umbraco-cms/implementation/unit-testing.md
  11/umbraco-cms/implementation/unit-testing.md
  12/umbraco-cms/implementation/unit-testing.md
Labels: category/umbraco-cms

#5288 Update application cache
  10/umbraco-cms/reference/cache/application-cache.md
  11/umbraco-cms/reference/cache/application-cache.md
Labels: category/umbraco-cms

#5297 Update pipeline examples to include ’this’
  12/umbraco-commerce/key-concepts/pipelines.md
Labels: category/umbraco-commerce

#5299 Update major-upgrades.md
  umbraco-cloud/product-upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#5300 Update imagingsettings.md
  11/umbraco-cms/reference/configuration/imagingsettings.md
  12/umbraco-cms/reference/configuration/imagingsettings.md
Labels: category/umbraco-cms

#5301 Update keep alive settings
  10/umbraco-cms/reference/configuration/keepalivesettings.md
  11/umbraco-cms/reference/configuration/keepalivesettings.md
  12/umbraco-cms/reference/configuration/keepalivesettings.md
Labels: category/umbraco-cms

#5303 Update secrets-management.md
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/umbraco-cloud

#5302 Update maximumuploadsizesettings
  10/umbraco-cms/reference/configuration/maximumuploadsizesettings.md
  11/umbraco-cms/reference/configuration/maximumuploadsizesettings.md
  12/umbraco-cms/reference/configuration/maximumuploadsizesettings.md
Labels: category/umbraco-cms

#5245 Update domainservice docs
  10/umbraco-cms/reference/management/services/domainservice.md
  11/umbraco-cms/reference/management/services/domainservice.md
Labels: category/umbraco-cms, review/dteam

#5242 Updating DXP space with illustations
  PackagesAndIntegrations.png
  marketplace-and-integrations/.gitbook/PackagesAndIntegrations.png
  marketplace-and-integrations/.gitbook/assets/PackagesAndIntegrations.png
  marketplace-and-integrations/.gitbook/assets/Workflow7.png
  marketplace-and-integrations/.gitbook/assets/forms7.png
  marketplace-and-integrations/.gitbook/assets/pDXPcDXP.png
  marketplace-and-integrations/.gitbook/assets/paperplane3.png
  marketplace-and-integrations/.gitbook/assets/paperplane7.png
  marketplace-and-integrations/README.md
Labels: review/dteam, category/umbraco-dxp

#5304 Link Secrets management documentation
  12/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms

#5298 Added details of configuration amends associated with 0.2.0 release.
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/umbraco-dxp

#5309 Update serilog article
  10/umbraco-cms/reference/configuration/serilog.md
  11/umbraco-cms/reference/configuration/serilog.md
  12/umbraco-cms/reference/configuration/serilog.md
Labels: category/umbraco-cms

#5311 Added release notes for Forms 8.13.10.
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/release-notes.md
  12/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#5312 Added release notes and configuration updates for Deploy releases 4.8.2/10.2.3/11.1.3/12.0.1
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
  12/umbraco-deploy/deploy-settings.md
  12/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy, release-notes

#5234 Updated AuthorizationPolicies
  11/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
Labels: category/umbraco-cms, review/dteam

#5316 Update unattendedsettings
  10/umbraco-cms/reference/configuration/unattendedsettings.md
  11/umbraco-cms/reference/configuration/unattendedsettings.md
  12/umbraco-cms/reference/configuration/unattendedsettings.md
Labels: category/styleguide

#5318 Add 'Use File Scoped Namespaces'
  generic/contribute/code-samples.md
Labels: category/styleguide

#5317 Update webroutingsettings
  10/umbraco-cms/reference/configuration/webroutingsettings.md
  11/umbraco-cms/reference/configuration/webroutingsettings.md
  12/umbraco-cms/reference/configuration/webroutingsettings.md
Labels: category/styleguide

#5324 Update umbraco cms readme
  11/umbraco-cms/README.md
  12/umbraco-cms/README.md
Labels: category/umbraco-cms, category/styleguide

#5323 Added instruction for listing Marketplace related packages in groups.
  marketplace-and-integrations/marketplace/listing-your-package.md
Labels: category/umbraco-dxp
