Repository umbraco/UmbracoDocs, pull requests merged in 2023-04, with the labels that each got.

#5065 Release notes for Deploy 4.8/9.6/10.2/11.1
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
Labels: category/pending-release, category/umbraco-deploy

#5080 Add culture to the "Creating content programmatically" article
  11/umbraco-cms/reference/management/services/contentservice/create-content-programmatically.md
Labels: category/umbraco-cms, review/docsteam

#5081 Added project plan requirement on public access page
  umbraco-cloud/set-up/project-settings/public-access.md
Labels: category/umbraco-cloud

#5066 Release details for Deploy 4.8/9.6/10.2/11.1
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/reference/distributed-locks.md
  10/umbraco-deploy/deployment-workflow/content-transfer.md
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/reference/distributed-locks.md
  11/umbraco-deploy/deployment-workflow/content-transfer.md
  11/umbraco-deploy/deployment-workflow/images/queue-for-transfer-dialog.png
Labels: category/pending-release, category/umbraco-deploy

#5074 Added details on use of telemetry data on Umbraco marketplace
  marketplace-and-integrations/SUMMARY.md
  marketplace-and-integrations/marketplace/introduction.md
  marketplace-and-integrations/marketplace/listing-your-package.md
  marketplace-and-integrations/marketplace/package-telemetry-data.md
Labels: category/umbraco-dxp

#5084 readability improvements - permissions
  10/umbraco-cms/fundamentals/setup/server-setup/permissions.md
Labels: category/styleguide

#5087 readability improvements - execute-request
  10/umbraco-cms/implementation/default-routing/execute-request.md
Labels: category/styleguide

#5091 Readability improvements - umbraco cms
  10/umbraco-cms/README.md
Labels: category/styleguide

#5088 Algolia docs update for version 1.3.0
  marketplace-and-integrations/integrations/algolia.md
Labels: category/umbraco-dxp

#5090 OAuth self hosted apps documentation
  marketplace-and-integrations/integrations/dynamics.md
  marketplace-and-integrations/integrations/google-search-console.md
  marketplace-and-integrations/integrations/hubspot.md
  marketplace-and-integrations/integrations/semrush.md
  marketplace-and-integrations/integrations/shopify.md
Labels: category/umbraco-dxp

#4979 Update Packages articles
  10/umbraco-cms/extending/packages/installing-and-uninstalling-packages.md
  10/umbraco-cms/extending/packages/types-of-packages.md
  11/umbraco-cms/extending/packages/installing-and-uninstalling-packages.md
  11/umbraco-cms/extending/packages/types-of-packages.md
Labels: category/umbraco-cms, review/dteam, review/docsteam

#5086 Updated details of package creation to align with new Marketplace website.
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/extending/packages/README.md
  10/umbraco-cms/extending/packages/listing-on-marketplace.md
  10/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  10/umbraco-cms/extending/packages/uploading-to-our.md
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/extending/packages/README.md
  11/umbraco-cms/extending/packages/listing-on-marketplace.md
  11/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  11/umbraco-cms/extending/packages/uploading-to-our.md
Labels: category/umbraco-cms, category/umbraco-dxp

#5068 Added new article "Creating a Contact Us Form" based on Video
  11/umbraco-forms/SUMMARY.md
  11/umbraco-forms/tutorials/creating-a-contact-form.md
  11/umbraco-forms/tutorials/images/composition-properties.png
  11/umbraco-forms/tutorials/images/contact-us-doc-type-properties.png
  11/umbraco-forms/tutorials/images/contact-us-form-add-questions.png
  11/umbraco-forms/tutorials/images/creating-a-composition.png
  11/umbraco-forms/tutorials/images/fill-contact-us-node.png
  11/umbraco-forms/tutorials/images/select-form.png
  11/umbraco-forms/tutorials/images/update-doc-type-permissions.png
  11/umbraco-forms/tutorials/overview.md
Labels: category/umbraco-forms, review/docsteam

#5095 Added notes for Forms 10.3.2 and 11.1.2 releases.
  10/umbraco-forms/release-notes.md
  11/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#4977 Migrate old events articles
  11/umbraco-cms/SUMMARY.md
  11/umbraco-cms/reference/notifications/hot-vs-cold-restarts.md
Labels: category/umbraco-cms, review/dteam, review/docsteam

#5096 Update security.md
  umbraco-cloud/security.md
Labels: category/umbraco-cloud

#5104 Update label-property-configuration.md
  11/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
Labels: category/umbraco-cms

#5105 readability improvements - examine
  10/umbraco-cms/reference/searching/examine/README.md
Labels: category/umbraco-cms, category/styleguide

#5108 Ignore Umbraco case when used in a URL
  .github/styles/UmbracoDocs/UmbracoTerms.yml
Labels: category/styleguide

#5103 Hint when property editor will be removed in the future
  11/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/README.md
Labels: state/needs-investigation, category/umbraco-cms

#5112 Fixing typo
  umbraco-cloud/security.md
Labels: category/umbraco-cloud

#5107 Workflow 10.1.2 updates
  10/umbraco-workflow/SUMMARY.md
  10/umbraco-workflow/getting-started/configuration.md
  10/umbraco-workflow/release-notes.md
  10/umbraco-workflow/workflow-section/workflow-settings.md
  11/umbraco-workflow/SUMMARY.md
  11/umbraco-workflow/getting-started/configuration.md
  11/umbraco-workflow/release-notes.md
  11/umbraco-workflow/workflow-section/workflow-settings.md
Labels: category/umbraco-workflow

#5116 Add RC test articles
  12/umbraco-deploy/README.md
  12/umbraco-deploy/SUMMARY.md
  12/umbraco-forms/SUMMARY.md
  12/umbraco-workflow/SUMMARY.md
Labels: category/structure, release/12.0.0

#5111 Alert people to the drop in support for UmbracoPath configuration in V10
  11/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms

#5113 Add clarifty on what PublishedValueFallback is
  10/umbraco-cms/reference/querying/ipublishedcontent/properties.md
  11/umbraco-cms/reference/querying/ipublishedcontent/properties.md
Labels: category/umbraco-cms

#5117 fixing links for deploy
  10/umbraco-deploy/README.md
  11/umbraco-deploy/README.md
Labels: category/umbraco-deploy

#5121 Readability improvements - rendering scripts
  10/umbraco-forms/developer/rendering-scripts.md
  11/umbraco-forms/developer/rendering-scripts.md
Labels: category/styleguide

#5123 New option for Organization admin to reset authenticator app for a member
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/organizations.md
  umbraco-cloud/set-up/multi-factor-authentication-on-cloud.md
Labels: category/umbraco-cloud

#5122 Forms - Update the Validate signature
  10/umbraco-forms/developer/extending/adding-a-fieldtype.md
  11/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms, state/needs-investigation, review/dteam

#5125 Update hubspot.md
  marketplace-and-integrations/integrations/hubspot.md
Labels: category/umbraco-dxp

#5128 readability improvements - customize-default-workflows
  11/umbraco-forms/developer/extending/customize-default-workflows.md
Labels: category/umbraco-forms, category/styleguide

#5132 added deploy dashboard to v10 for deploy
  10/umbraco-deploy/deployment-workflow/README.md
  10/umbraco-deploy/deployment-workflow/deploy-dashboard.md
Labels: category/umbraco-deploy

#5133 added summary
  10/umbraco-deploy/SUMMARY.md
Labels: category/umbraco-deploy

#5135 minor test to see if image will work
  10/umbraco-deploy/deployment-workflow/deploy-dashboard.md
Labels: category/umbraco-deploy

#5136 readability improvements - zapier
  marketplace-and-integrations/integrations/zapier.md
Labels: category/styleguide

#5137 Update Algolia API keys docs
  marketplace-and-integrations/integrations/algolia.md
Labels: category/umbraco-dxp

#5138 readability improvements - css-and-images
  10/umbraco-cms/tutorials/creating-a-basic-website/css-and-images.md
Labels: category/styleguide

#5124 umbraco-cloud/security: Tried to make it more clear what solution you need for your project
  umbraco-cloud/security.md
Labels: category/umbraco-cloud

#5130 FAQ Does Cloudflare add any additional HTTP request headers?
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud

#5140 removed baseline highlevel overview article.
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/getting-started/baselines/README.md
  umbraco-cloud/getting-started/baselines/high-level-overview.md
Labels: category/umbraco-cloud

#5085 Feature/workflow approval thresholds
  10/umbraco-workflow/SUMMARY.md
  10/umbraco-workflow/getting-started/approval-thresholds.md
  10/umbraco-workflow/getting-started/configuration.md
  10/umbraco-workflow/getting-started/images/approval-flow-with-thresholds.png
  10/umbraco-workflow/getting-started/images/tasklist-with-approval-thresholds.png
  10/umbraco-workflow/release-notes.md
  10/umbraco-workflow/workflow-section/workflow-settings.md
  11/umbraco-workflow/SUMMARY.md
  11/umbraco-workflow/getting-started/approval-thresholds.md
  11/umbraco-workflow/getting-started/configuration.md
  11/umbraco-workflow/getting-started/images/approval-flow-with-thresholds.png
  11/umbraco-workflow/getting-started/images/tasklist-with-approval-thresholds.png
  11/umbraco-workflow/release-notes.md
  11/umbraco-workflow/workflow-section/workflow-settings.md
Labels: category/umbraco-workflow

#5141 Fix link to Azure Web Apps in Load Balancing docs
  11/umbraco-cms/fundamentals/setup/server-setup/load-balancing/README.md
  umbraco-cloud/frequently-asked-questions.md
Labels: category/broken-link, category/umbraco-cloud, category/umbraco-cms
