Repository umbraco/UmbracoDocs, pull requests merged in 2024-11, with the labels that each got.

#6607 Added key and default value information to most sections
  14/umbraco-cms/reference/configuration/globalsettings.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6605 404 Page Tutorial Fix
  14/umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms, hacktoberfest/contrib-2024

#6616 Added release notes and details for block list labels included in Forms 14.2.0-rc2.
  14/umbraco-forms/SUMMARY.md
  14/umbraco-forms/developer/blocklistfilters.md
  14/umbraco-forms/release-notes.md
  15/umbraco-forms/developer/blocklistfilters.md
Labels: category/umbraco-forms

#6617 Removing mention of "macros"
  umbraco-cloud/troubleshooting/deployments/schema-mismatches.md
Labels: category/umbraco-cloud

#6618 Added a reference link to the Localization article
  14/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms

#6622 Added screenshot of the NuGet package manager
  13/umbraco-engage/.gitbook/assets/Umbraco-engage-package.png
  13/umbraco-engage/installation/installation.md
Labels: category/umbraco-engage

#6621 Defined default value of ContentCleanupPolicy for v13+
  13/umbraco-cms/reference/configuration/contentsettings.md
  14/umbraco-cms/reference/configuration/contentsettings.md
Labels: category/umbraco-cms

#6578 V15: Cache seeding docs
  15/umbraco-cms/.gitbook.yaml
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/extending/creating-custom-seed-key-provider.md
  15/umbraco-cms/reference/cache/cache-seeding.md
  15/umbraco-cms/reference/configuration/cache-settings.md
  15/umbraco-cms/reference/configuration/nucachesettings.md
  15/umbraco-cms/release-candidate-guide.md
Labels: category/pending-release, category/umbraco-cms, release/15.0.0

#6623 Sync merged PRs with 15
  15/umbraco-cms/.gitbook.yaml
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/README.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/listview.md
  15/umbraco-cms/legacy-documentation/README.md
  15/umbraco-cms/reference/configuration/globalsettings.md
  15/umbraco-cms/reference/notifications/contentservice-notifications.md
  15/umbraco-cms/release-candidate-guide.md
  15/umbraco-cms/tutorials/creating-a-basic-website/adding-language-variants.md
  15/umbraco-cms/tutorials/multilanguage-setup.md
  15/umbraco-deploy/deployment-workflow/import-export-v7.md
  15/umbraco-deploy/deployment-workflow/import-with-migrations.md
  15/umbraco-forms/.gitbook.yaml
  15/umbraco-forms/developer/blocklistlabels.md
  15/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-cms, release/15.0.0

#6620 Reworded warning for clarity
  14/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
Labels: category/umbraco-cms

#6625 Split up 15 and 14 section
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms

#6624 Update dedicated-resources.md
  umbraco-cloud/set-up/project-settings/dedicated-resources.md
Labels: category/umbraco-cloud

#6619 Added release notes for Forms 13.3 and 14.2.
  13/umbraco-forms/developer/themes.md
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/developer/themes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, category/pending-release, release-notes

#6629 Edit line 21 link to make it work (sent you to a broken page)
  13/umbraco-engage/README.md
Labels: category/broken-link, category/umbraco-engage

#6630 Workflow 14.1.1 release notes
  14/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow, release-notes

#6579 Correct usage of GetModelPropertyType and GetModelContentType methods
  13/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
Labels: category/umbraco-cms, hacktoberfest-accepted, review/dteam

#6632 Sync Customizing section with 14
  15/umbraco-cms/customizing/dashboards.md
  15/umbraco-cms/customizing/extend-and-customize-editing-experience.md
  15/umbraco-cms/customizing/foundation/contexts/global-context.md
  15/umbraco-cms/customizing/foundation/contexts/variant-context.md
  15/umbraco-cms/customizing/package-manifest.md
  15/umbraco-cms/customizing/section-trees/README.md
  15/umbraco-cms/customizing/section-trees/searchable-trees.md
  15/umbraco-cms/customizing/section-trees/sections/README.md
  15/umbraco-cms/customizing/section-trees/sections/section-sidebar.md
  15/umbraco-cms/customizing/section-trees/sections/section-view.md
  15/umbraco-cms/customizing/section-trees/trees/README.md
  15/umbraco-cms/customizing/section-trees/trees/entity-actions.md
  15/umbraco-cms/customizing/section-trees/trees/entity-bulk-actions.md
  15/umbraco-cms/customizing/terminology.md
  15/umbraco-cms/customizing/ui-documentation.md
  15/umbraco-cms/customizing/ui-localization.md
  15/umbraco-cms/customizing/workspaces/README.md
  15/umbraco-cms/customizing/workspaces/workspace-context.md
  15/umbraco-cms/customizing/workspaces/workspace-editor-actions.md
  15/umbraco-cms/customizing/workspaces/workspace-editor-views.md
Labels: category/umbraco-cms, release/15.0.0

#6631 Add `ASPNETCORE_ENVIRONMENT` variable
  13/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
  14/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
Labels: category/umbraco-cms

#6635 Update localization.md
  14/umbraco-cms/customizing/extending-overview/extension-types/localization.md
Labels: category/umbraco-cms

#6636 Removed old image from cloud docs
  umbraco-cloud/set-up/new-shop/README.md
Labels: category/umbraco-cloud

#6639 Umbraco Commerce 13.1.3 & 14.1.8 release notes
  13/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6643 Update licensing-model.md
  14/umbraco-ui-builder/installation/licensing-model.md
Labels: category/umbraco-ui-builder

#6642 Update licensing.md
  14/umbraco-workflow/installation/licensing.md
Labels: category/umbraco-workflow

#6641 Update the-licensing-model.md
  14/umbraco-deploy/installation/the-licensing-model.md
Labels: category/umbraco-deploy

#6628 API Users and external access to the Management API
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/data/images/api-user.png
  15/umbraco-cms/fundamentals/data/users/README.md
  15/umbraco-cms/fundamentals/data/users/api-users.md
  15/umbraco-cms/reference/management-api/external-access.md
  15/umbraco-cms/reference/management-api/images/current-user-endpoint.png
Labels: category/umbraco-cms, release/15.0.0

#6647 Update the-basics.md
  13/umbraco-ui-builder/actions/the-basics.md
Labels: category/umbraco-ui-builder

#6648 Add Trimstart/end notes
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms, release/15.0.0

#6644 Update split URL article to match styleguide
  13/umbraco-engage/.gitbook/assets/split-url-test.png
  13/umbraco-engage/marketers-and-editors/ab-testing/types-of-ab-tests/split-url-test.md
Labels: category/umbraco-engage

#6652 15/syncing
  14/umbraco-ui-builder/advanced/repositories.md
  14/umbraco-ui-builder/collections/related-collections.md
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
  15/umbraco-cms/release-candidate-guide.md
  15/umbraco-commerce/getting-started/the-licensing-model.md
  15/umbraco-commerce/key-concepts/webhooks.md
  15/umbraco-deploy/installation/the-licensing-model.md
  15/umbraco-workflow/installation/licensing.md
Labels: release/15.0.0

#6651 Added missing image alt text...
  13/umbraco-engage/developers/analytics/forms.md
  13/umbraco-engage/developers/headless/using-the-marketing-api.md
  13/umbraco-engage/developers/personalization/segment-information.md
  13/umbraco-engage/developers/settings/configuration.md
  13/umbraco-engage/getting-started/for-developers/cockpit.md
  13/umbraco-engage/installation/troubleshooting-installs.md
  13/umbraco-engage/marketers-and-editors/ab-testing/monitor-the-ab-test.md
  13/umbraco-engage/marketers-and-editors/ab-testing/setting-up-the-ab-test.md
  13/umbraco-engage/marketers-and-editors/ab-testing/types-of-ab-tests/document-type-test.md
  13/umbraco-engage/marketers-and-editors/ab-testing/types-of-ab-tests/multiple-pages-test.md
  13/umbraco-engage/marketers-and-editors/analytics/device-type.md
  13/umbraco-engage/marketers-and-editors/analytics/forms.md
  13/umbraco-engage/marketers-and-editors/analytics/referral-traffic.md
  13/umbraco-engage/marketers-and-editors/analytics/videos.md
  13/umbraco-engage/marketers-and-editors/introduction/content-apps.md
  13/umbraco-engage/marketers-and-editors/introduction/the-umbraco-engage-section.md
  13/umbraco-engage/marketers-and-editors/personalization/cockpit-insights.md
  13/umbraco-engage/marketers-and-editors/personalization/implicit-and-explicit-personalization/README.md
  13/umbraco-engage/marketers-and-editors/personalization/implicit-and-explicit-personalization/implicit-personalization-scoring-explained.md
  13/umbraco-engage/marketers-and-editors/personalization/setting-up-personalization.md
  13/umbraco-engage/marketers-and-editors/profiling/README.md
  13/umbraco-engage/marketers-and-editors/settings/README.md
  13/umbraco-engage/marketers-and-editors/settings/permissions.md
Labels: category/umbraco-engage

#6649 Add note about client side requests
  14/umbraco-cms/reference/routing/custom-routes.md
Labels: category/umbraco-cms

#6650 Umbraco Commerce 14.2.0 Release Notes
  14/umbraco-commerce/SUMMARY.md
  14/umbraco-commerce/reference/telemetry/README.md
  14/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6657 Add docs for Block Level Variance
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-level-variance.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/images/block-level-variance-1.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/images/block-level-variance-2.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/images/block-level-variance-3.png
Labels: category/umbraco-cms, release/15.0.0

#6658 CMS Structure
  14/umbraco-cms/SUMMARY.md
  15/umbraco-cms/README.md
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customize-the-backoffice/extend-and-customize-the-editing-experience.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/plugins.md
Labels: category/umbraco-cms, release/15.0.0

#6659 Forms Structure for 15
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/plugins.md
  15/umbraco-forms/SUMMARY.md
  15/umbraco-forms/upgrading/migration-ids.md
  15/umbraco-forms/upgrading/version-specific.md
Labels: category/umbraco-forms, release/15.0.0

#6660 Deploy Structure for 15
  15/umbraco-deploy/README.md
  15/umbraco-deploy/SUMMARY.md
Labels: category/umbraco-deploy, release/15.0.0

#6661 Workflow Structure for 15
  15/umbraco-workflow/SUMMARY.md
Labels: category/umbraco-workflow, release/15.0.0

#6633 Update migrate-from-umarketingsuite.md
  13/umbraco-engage/upgrading/migrate-from-umarketingsuite.md
Labels: category/umbraco-engage

#6656 Added note for Obsolete methods
  15/umbraco-cms/.gitbook/includes/obsolete-warning-ipublishedsnapshotaccessor.md
  15/umbraco-cms/.gitbook/includes/obsolete-warning-publishedsnapshot.md
  15/umbraco-cms/.gitbook/includes/obsolete-warning-snapshot-publishedcache.md
  15/umbraco-cms/.gitbook/includes/obsolete-warning-snapshot.md
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/property-editors/full-examples-value-converters.md
  15/umbraco-cms/customizing/property-editors/property-value-converters.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/checkbox-list.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/content-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/decimal.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/document-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/dropdown/README.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/eye-dropper-color-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/file-upload.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/label.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/markdown-editor.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/member-group-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/member-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multi-url-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multiple-textbox.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/numeric.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/radiobutton-list.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/slider.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/tags.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/textarea.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/textbox.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/true-false.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/user-picker.md
  15/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
  15/umbraco-cms/reference/content-delivery-api/additional-preview-environments-support.md
  15/umbraco-cms/reference/content-delivery-api/custom-property-editors-support.md
  15/umbraco-cms/reference/templating/modelsbuilder/introduction.md
  15/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
  15/umbraco-cms/reference/using-ioc.md
  15/umbraco-cms/reference/webhooks/README.md
  15/umbraco-cms/reference/webhooks/expanding-webhook-events.md
Labels: category/umbraco-cms, release/15.0.0

#6662 Added docs for V15 content migration
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-15.md
Labels: category/umbraco-cms, release/15.0.0

#6666 Workflow release notes - 15, 14.1.2
  14/umbraco-workflow/release-notes.md
  15/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow, release-notes, release/15.0.0

#6665 Tiptap RTE Extensions
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/change-rich-text-editor-ui.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/extensions.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-datatypedefinition.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/plugins.md
Labels: category/umbraco-cms, release/15.0.0

#6664 Make workflow consideration more clear
  umbraco-cloud/set-up/project-settings/umbraco-cicd/KnownLimitationsAndConsiderations.md
Labels: category/umbraco-cloud

#6637 Umbraco Commerce v15 updates
  15/umbraco-commerce/SUMMARY.md
  15/umbraco-commerce/getting-started/requirements.md
  15/umbraco-commerce/getting-started/the-licensing-model.md
  15/umbraco-commerce/how-to-guides/limit-orderline-quantity.md
  15/umbraco-commerce/key-concepts/calculators.md
  15/umbraco-commerce/key-concepts/discount-rules-and-rewards.md
  15/umbraco-commerce/key-concepts/fluent-api.md
  15/umbraco-commerce/key-concepts/payment-providers.md
  15/umbraco-commerce/key-concepts/pipelines.md
  15/umbraco-commerce/key-concepts/price-amount-adjustments.md
  15/umbraco-commerce/key-concepts/price-freezing.md
  15/umbraco-commerce/key-concepts/product-adapters.md
  15/umbraco-commerce/key-concepts/product-bundles.md
  15/umbraco-commerce/key-concepts/properties.md
  15/umbraco-commerce/key-concepts/readonly-and-writable-entities.md
  15/umbraco-commerce/key-concepts/sales-tax-providers.md
  15/umbraco-commerce/key-concepts/search-specifications.md
  15/umbraco-commerce/key-concepts/shipping-package-factories.md
  15/umbraco-commerce/key-concepts/shipping-range-and-rate-providers.md
  15/umbraco-commerce/key-concepts/unit-of-work.md
  15/umbraco-commerce/release-notes/README.md
  15/umbraco-commerce/release-notes/v14.0.0-alpha.md
  15/umbraco-commerce/release-notes/v14.0.0.md
  15/umbraco-commerce/release-notes/v15.0.0-rc.md
  15/umbraco-commerce/upgrading/version-specific-upgrades.md
Labels: category/umbraco-commerce, release/15.0.0

#6671 Update code snippet
  14/umbraco-cms/customizing/extending-overview/extension-types/section-sidebar.md
  15/umbraco-cms/customizing/extending-overview/extension-types/section-sidebar.md
Labels: category/umbraco-cms

#6668 Release notes for Forms 15.0
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release/15.0.0

#6670 Update enabling delivery api
  14/umbraco-cms/reference/content-delivery-api/README.md
  15/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms

#6675 Sample code is using v13 namespace and doesn't compile
  15/umbraco-cms/reference/security/external-login-providers.md
Labels: category/umbraco-cms

#6677 V15: correct package manifest
  15/umbraco-cms/customizing/extending-overview/extension-registry/extension-manifest.md
  15/umbraco-cms/customizing/extending-overview/extension-registry/extension-registry.md
  15/umbraco-cms/customizing/umbraco-package.md
Labels: category/umbraco-cms

#6679 Update README.md
  15/umbraco-cms/fundamentals/setup/upgrading/README.md
Labels: category/umbraco-cms

#6681 Change UmbracoApiController to Controller
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
Labels: category/umbraco-cms

#6680 Update loggin article v15
  15/umbraco-cms/fundamentals/code/debugging/logging.md
Labels: category/umbraco-cms

#6678 Engage: Added missing image to Headless article
  13/umbraco-engage/.gitbook/assets/umbraco-engage-api.png
  13/umbraco-engage/developers/headless/README.md
Labels: category/umbraco-engage

#6673 UFM updates for v15
  15/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/umbraco-cms

#6685 Update external-login-providers.md
  15/umbraco-cms/reference/security/external-login-providers.md
Labels: category/umbraco-cms

#6684 Added release notes for Forms 13.3.1, 14.2.1 and 15.0.1
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6689 update mvc training course details and link
  14/umbraco-cms/implementation/controllers.md
  15/umbraco-cms/implementation/controllers.md
Labels: category/umbraco-cms

#6687 Updated API docs links to v15
  15/umbraco-cms/customizing/foundation/localization.md
  15/umbraco-cms/customizing/ui-library.md
  15/umbraco-cms/customizing/umbraco-package.md
  15/umbraco-cms/extending/embedded-media-providers.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/checkbox-list.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/content-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/decimal.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/document-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/dropdown/README.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/email-address.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/eye-dropper-color-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/file-upload.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/label.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/markdown-editor.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/member-group-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/member-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multi-url-picker.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multiple-textbox.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/numeric.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/radiobutton-list.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/slider.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/textarea.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/textbox.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/true-false.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/user-picker.md
  15/umbraco-cms/fundamentals/data/creating-media/README.md
  15/umbraco-cms/fundamentals/data/data-types/README.md
  15/umbraco-cms/fundamentals/data/defining-content/README.md
  15/umbraco-cms/fundamentals/data/dictionary-items.md
  15/umbraco-cms/fundamentals/data/members.md
  15/umbraco-cms/implementation/data-persistence.md
  15/umbraco-cms/implementation/default-routing/inbound-pipeline.md
  15/umbraco-cms/reference/api-documentation.md
  15/umbraco-cms/reference/management/README.md
  15/umbraco-cms/reference/management/using-services/README.md
  15/umbraco-cms/reference/management/using-services/consentservice.md
  15/umbraco-cms/reference/management/using-services/localizationservice.md
  15/umbraco-cms/reference/notifications/README.md
  15/umbraco-cms/reference/querying/imembermanager.md
  15/umbraco-cms/reference/querying/udi-identifiers.md
  15/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
  15/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms

#6691 Update requirements.md
  15/umbraco-cms/fundamentals/setup/requirements.md
Labels: category/umbraco-cms, release/15.0.0

#6690 Change code example from Implements to Extends
  15/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/umbraco-cms

#6692 Update README.md
  15/umbraco-cms/customizing/development-flow/README.md
Labels: category/umbraco-cms

#6693 Add back missing article
  15/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api/README.md
Labels: category/umbraco-cms

#6694 Added storage providers package and updated commercial products dependency diagram.
  marketplace-and-integrations/SUMMARY.md
  marketplace-and-integrations/images/commercial-product-dependencies.excalidraw
  marketplace-and-integrations/images/commercial-product-dependencies.png
  marketplace-and-integrations/packages/storage-providers.md
Labels: category/umbraco-dxp

#6696 Fix broken link
  15/umbraco-cms/customizing/extending-overview/extension-types/dashboard.md
Labels: category/broken-link, category/umbraco-cms

#6698 V15 CMS: Updating `IPublishedContent.Children` and `IPublishedContent.Parent` property references to extension methods
  15/umbraco-cms/fundamentals/code/umbraco-services.md
  15/umbraco-cms/fundamentals/design/templates/basic-razor-syntax.md
  15/umbraco-cms/reference/querying/ipublishedcontent/README.md
  15/umbraco-cms/reference/querying/umbracohelper.md
  15/umbraco-cms/reference/routing/custom-routes.md
  15/umbraco-cms/reference/templating/mvc/querying.md
  15/umbraco-cms/tutorials/creating-an-xml-site-map.md
Labels: category/umbraco-cms

#6704 Add anchors to Deploy settings (used by management dashboard)
  10/umbraco-deploy/getting-started/deploy-settings.md
  13/umbraco-deploy/getting-started/deploy-settings.md
  14/umbraco-deploy/getting-started/deploy-settings.md
  15/umbraco-deploy/getting-started/deploy-settings.md
Labels: category/umbraco-deploy

#6705 Update Prefixes not allowed in secrets-management
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/umbraco-cloud

#6702 Added release notes for Forms 13.3.2, 14.2.2 and 15.0.2
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6708 Update to secrets management
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/umbraco-cloud

#6695 Placeholder Structure for Extension Types
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/extending-overview/extension-conditions.md
  15/umbraco-cms/customizing/extending-overview/extension-types/app-entry-point.md
  15/umbraco-cms/customizing/extending-overview/extension-types/auth-provider.md
  15/umbraco-cms/customizing/extending-overview/extension-types/block-editors-custom-view.md
  15/umbraco-cms/customizing/extending-overview/extension-types/collections/README.md
  15/umbraco-cms/customizing/extending-overview/extension-types/collections/collection-action.md
  15/umbraco-cms/customizing/extending-overview/extension-types/collections/collection-view.md
  15/umbraco-cms/customizing/extending-overview/extension-types/collections/collection.md
  15/umbraco-cms/customizing/extending-overview/extension-types/condition.md
  15/umbraco-cms/customizing/extending-overview/extension-types/current-user-action.md
  15/umbraco-cms/customizing/extending-overview/extension-types/dashboard-collection.md
  15/umbraco-cms/customizing/extending-overview/extension-types/dynamic-root-origin.md
  15/umbraco-cms/customizing/extending-overview/extension-types/dynamic-root-query-step.md
  15/umbraco-cms/customizing/extending-overview/extension-types/entry-point.md
  15/umbraco-cms/customizing/extending-overview/extension-types/granular-user-permissions.md
  15/umbraco-cms/customizing/extending-overview/extension-types/health-check.md
  15/umbraco-cms/customizing/extending-overview/extension-types/menu-item.md
  15/umbraco-cms/customizing/extending-overview/extension-types/mfa-login-provider.md
  15/umbraco-cms/customizing/extending-overview/extension-types/monaco-markdown-editor-action.md
  15/umbraco-cms/customizing/extending-overview/extension-types/package-view.md
  15/umbraco-cms/customizing/extending-overview/extension-types/preview-app-provider.md
  15/umbraco-cms/customizing/extending-overview/extension-types/property-action.md
  15/umbraco-cms/customizing/extending-overview/extension-types/property-editor-schema.md
  15/umbraco-cms/customizing/extending-overview/extension-types/property-editor-ui.md
  15/umbraco-cms/customizing/extending-overview/extension-types/search-provider.md
  15/umbraco-cms/customizing/extending-overview/extension-types/search-result-item.md
  15/umbraco-cms/customizing/extending-overview/extension-types/sections/README.md
  15/umbraco-cms/customizing/extending-overview/extension-types/sections/section-route.md
  15/umbraco-cms/customizing/extending-overview/extension-types/stores-and-repositories/README.md
  15/umbraco-cms/customizing/extending-overview/extension-types/stores-and-repositories/item-store.md
  15/umbraco-cms/customizing/extending-overview/extension-types/stores-and-repositories/repository.md
  15/umbraco-cms/customizing/extending-overview/extension-types/stores-and-repositories/store.md
  15/umbraco-cms/customizing/extending-overview/extension-types/stores-and-repositories/tree-store.md
  15/umbraco-cms/customizing/extending-overview/extension-types/theme.md
  15/umbraco-cms/customizing/extending-overview/extension-types/tiny-mce-plugin.md
  15/umbraco-cms/customizing/extending-overview/extension-types/tree-item.md
  15/umbraco-cms/customizing/extending-overview/extension-types/ufm-component.md
  15/umbraco-cms/customizing/extending-overview/extension-types/user-profile-app.md
  15/umbraco-cms/customizing/extending-overview/extension-types/workspaces/README.md
  15/umbraco-cms/customizing/extending-overview/extension-types/workspaces/workspace-action-menu-item.md
  15/umbraco-cms/customizing/extending-overview/extension-types/workspaces/workspace-footer-app.md
  15/umbraco-cms/customizing/extending-overview/extension-types/workspaces/workspace.md
Labels: category/umbraco-cms

#6700 Updated Default Document Types article
  14/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  15/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
Labels: category/umbraco-cms

#6713 Add Deploy 10.4.1, 13.3.1, 14.2.1 and 15.0.1 release notes
  10/umbraco-deploy/getting-started/deploy-settings.md
  10/umbraco-deploy/release-notes.md
  13/umbraco-deploy/deployment-workflow/import-on-startup.md
  13/umbraco-deploy/getting-started/deploy-settings.md
  13/umbraco-deploy/release-notes.md
  14/umbraco-deploy/deployment-workflow/import-on-startup.md
  14/umbraco-deploy/getting-started/deploy-settings.md
  14/umbraco-deploy/release-notes.md
  15/umbraco-deploy/deployment-workflow/import-on-startup.md
  15/umbraco-deploy/getting-started/deploy-settings.md
  15/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy, release-notes
