Repository umbraco/UmbracoDocs, pull requests merged in 2024-03, with the labels that each got.

#5894 Update authorized
  10/umbraco-cms/reference/routing/authorized.md
  12/umbraco-cms/reference/routing/authorized.md
  13/umbraco-cms/reference/routing/authorized.md
Labels: category/umbraco-cms, category/styleguide

#5897 Update licensing.md
  13/umbraco-workflow/installation/licensing.md
Labels: category/umbraco-workflow

#5898 Update licensing.md
  12/umbraco-workflow/installation/licensing.md
Labels: category/umbraco-workflow

#5902 Update globalsettings.md
  13/umbraco-cms/reference/configuration/globalsettings.md
Labels: category/umbraco-cms

#5904 Update globalsettings.md
  10/umbraco-cms/reference/configuration/globalsettings.md
Labels: category/umbraco-cms

#5915 Added Provide context API section, simplified some statements, fixed vale warnings
  14/umbraco-cms/extending-backoffice/context-api/README.md
  14/umbraco-cms/extending-backoffice/umbraco-element/README.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice

#5921 added hints for work in progress or incomplete pages
  14/umbraco-cms/extending-backoffice/context-api/variant-context.md
  14/umbraco-cms/extending-backoffice/development-flow/README.md
  14/umbraco-cms/extending-backoffice/development-flow/vite-package-setup.md
  14/umbraco-cms/extending-backoffice/extension-types/bundle.md
  14/umbraco-cms/extending-backoffice/extension-types/conditions.md
  14/umbraco-cms/extending-backoffice/extension-types/kind.md
  14/umbraco-cms/extending-backoffice/extension-types/store.md
  14/umbraco-cms/extending-backoffice/extension-types/workspaces/workspace-context.md
  14/umbraco-cms/extending-backoffice/extension-types/workspaces/workspace-editor-views.md
  14/umbraco-cms/extending-backoffice/localization/.net-localization.md
  14/umbraco-cms/extending-backoffice/localization/README.md
  14/umbraco-cms/extending-backoffice/localization/ui-localization.md
  14/umbraco-cms/extending-backoffice/sorting.md
  14/umbraco-cms/extending-backoffice/states.md
  14/umbraco-cms/fundamentals/backoffice/document-blueprints.md
  14/umbraco-cms/fundamentals/setup/install/preview-builds.md
  14/umbraco-cms/tutorials/creating-a-basic-website/README.md
  14/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice

#5923 adding articles changed in v14
  14/umbraco-cms/README.md
  14/umbraco-cms/extending-backoffice/localization/README.md
  14/umbraco-cms/extending-backoffice/localization/net-localization.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice

#5896 Update routing:
  10/umbraco-cms/reference/routing/README.md
  12/umbraco-cms/reference/routing/README.md
  13/umbraco-cms/reference/routing/README.md
Labels: category/umbraco-cms, category/styleguide

#5906 Update custom error page
  12/umbraco-cms/tutorials/custom-error-page.md
  13/umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms, category/styleguide

#5926 Corrected folder name
  14/umbraco-cms/tutorials/creating-your-first-extension.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice

#5916 Fixes a typo in bulk action code example
  13/umbraco-commerce/key-concepts/bulk-actions.md
Labels: category/styleguide, category/umbraco-commerce

#5917 Fix typo in webhooks
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, category/styleguide

#5918 Update icontentfinder
  10/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  12/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  13/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
Labels: category/umbraco-cms, category/styleguide

#5919 Update external-login-providers.md
  13/umbraco-cms/reference/security/external-login-providers.md
Labels: category/umbraco-cms

#5922 Umbraco UIBuilder release notes
  13/umbraco-ui-builder/release-notes.md
Labels: release-notes, category/umbraco-ui-builder

#5924 Update inbound pipeline
  10/umbraco-cms/reference/routing/request-pipeline/inbound-pipeline.md
  12/umbraco-cms/reference/routing/request-pipeline/inbound-pipeline.md
  13/umbraco-cms/reference/routing/request-pipeline/inbound-pipeline.md
Labels: category/umbraco-cms, category/styleguide

#5929 Update installing-nightly-builds.md
  14/umbraco-cms/fundamentals/setup/install/installing-nightly-builds.md
Labels: category/umbraco-new-backoffice

#5930 Update Vale-Linter.yml
  .github/workflows/Vale-Linter.yml
Labels: category/styleguide, category/platform

#5933 adding information to forms license about reconfiguration of domains
  10/umbraco-forms/installation/the-licensing-model.md
  12/umbraco-forms/installation/images/image.png
  12/umbraco-forms/installation/the-licensing-model.md
  13/umbraco-forms/installation/images/image.png
  13/umbraco-forms/installation/the-licensing-model.md
Labels: category/umbraco-forms

#5882 Corrected query string before culture parameter
  13/umbraco-forms/developer/ajaxforms.md
Labels: category/umbraco-forms

#5932 Update iis.md
  10/umbraco-cms/fundamentals/setup/server-setup/iis.md
  12/umbraco-cms/fundamentals/setup/server-setup/iis.md
  13/umbraco-cms/fundamentals/setup/server-setup/iis.md
  14/umbraco-cms/fundamentals/setup/server-setup/iis.md
Labels: category/umbraco-cms

#5900 Update Deploy export/import from v7 (and release notes for 10.4.0-rc1, 12.2.0-rc1 and 13.1.0-rc1)
  10/umbraco-deploy/deployment-workflow/import-export.md
  10/umbraco-deploy/release-notes.md
  12/umbraco-deploy/deployment-workflow/import-export.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-deploy/deployment-workflow/import-export.md
  13/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy, release-notes

#5928 Update ci-cd-github-actions.md to use v4 artifact tasks
  10/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-github-actions.md
  12/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-github-actions.md
  13/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-github-actions.md
Labels: category/umbraco-deploy

#5791 Update example rewrite rules
  umbraco-cloud/set-up/project-settings/manage-hostnames/rewrites-on-cloud.md
Labels: category/umbraco-cloud

#5862 Update KeyVault config for v13
  13/umbraco-cms/extending/key-vault.md
Labels: category/umbraco-cms

#5910 Adds docs for localizing doc types with user lang files
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/fundamentals/data/defining-content/document-type-localization.md
  13/umbraco-cms/fundamentals/data/images/localization-document-editor-create.png
  13/umbraco-cms/fundamentals/data/images/localization-document-editor-validation.png
  13/umbraco-cms/fundamentals/data/images/localization-document-editor.png
  13/umbraco-cms/fundamentals/data/images/localization-document-type-editor-validation.png
  13/umbraco-cms/fundamentals/data/images/localization-document-type-editor.png
Labels: category/umbraco-cms, release/13.2.0

#5941 Shorten sentences, fix grammar
  10/umbraco-workflow/release-notes.md
  12/umbraco-workflow/SUMMARY.md
  12/umbraco-workflow/getting-started/submitting-changes.md
  12/umbraco-workflow/getting-started/workflow-content-app.md
  12/umbraco-workflow/release-notes.md
  13/umbraco-workflow/SUMMARY.md
  13/umbraco-workflow/getting-started/submitting-changes.md
  13/umbraco-workflow/getting-started/workflow-content-app.md
  13/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#5931 Update ci-cd-azure-dev-ops.md Added links to Microsoft docs on secrets
  10/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-azure-dev-ops.md
  12/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-azure-dev-ops.md
  13/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-azure-dev-ops.md
Labels: category/umbraco-deploy

#5942 Fixed broken links
  10/umbraco-workflow/getting-started/submitting-changes.md
  12/umbraco-workflow/getting-started/submitting-changes.md
  12/umbraco-workflow/getting-started/workflow-content-app.md
  13/umbraco-workflow/getting-started/submitting-changes.md
  13/umbraco-workflow/getting-started/workflow-content-app.md
Labels: category/umbraco-workflow

#5943 fixed broken link
  10/umbraco-workflow/getting-started/submitting-changes.md
  12/umbraco-workflow/getting-started/submitting-changes.md
  13/umbraco-workflow/getting-started/submitting-changes.md
Labels: category/umbraco-workflow

#5901 Update two-factor-authentication.md
  13/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms

#5944 Removed unused usings
  10/umbraco-cms/reference/security/two-factor-authentication.md
  12/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms

#5945 re-added lost commit changes from PR #5626
  13/umbraco-cms/reference/content-delivery-api/README.md
  13/umbraco-cms/reference/routing/custom-middleware.md
Labels: category/umbraco-cms, release/13.0.0

#5948 recreate PR: Rename azuread entra #5869
  10/umbraco-cms/.gitbook.yaml
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/reference/security/README.md
  10/umbraco-cms/reference/security/external-login-providers.md
  10/umbraco-cms/tutorials/add-google-authentication.md
  10/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
  12/umbraco-cms/.gitbook.yaml
  12/umbraco-cms/reference/security/README.md
  12/umbraco-cms/reference/security/external-login-providers.md
  12/umbraco-cms/tutorials/add-google-authentication.md
  12/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
  13/umbraco-cms/.gitbook.yaml
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/security/README.md
  13/umbraco-cms/reference/security/external-login-providers.md
  13/umbraco-cms/tutorials/add-google-authentication.md
  13/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
Labels: category/umbraco-cms

#5940 Update request pipeline
  10/umbraco-cms/reference/routing/request-pipeline/README.md
  12/umbraco-cms/reference/routing/request-pipeline/README.md
  13/umbraco-cms/reference/routing/request-pipeline/README.md
Labels: category/umbraco-cms, category/styleguide

#5946 Update examine manager
  10/umbraco-cms/reference/searching/examine/examine-manager.md
  12/umbraco-cms/reference/searching/examine/examine-manager.md
  13/umbraco-cms/reference/searching/examine/examine-manager.md
Labels: category/umbraco-cms, category/styleguide

#5938 Update composing.md
  13/umbraco-cms/implementation/composing.md
Labels: category/umbraco-cms

#5949 More Workflow release notes
  10/umbraco-workflow/getting-started/submitting-changes.md
  10/umbraco-workflow/release-notes.md
  12/umbraco-workflow/getting-started/submitting-changes.md
  12/umbraco-workflow/release-notes.md
  13/umbraco-workflow/getting-started/submitting-changes.md
  13/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow, release-notes

#5951 Update examine readme
  12/umbraco-cms/reference/searching/examine/README.md
  13/umbraco-cms/reference/searching/examine/README.md
Labels: category/broken-link, category/styleguide

#5950 Added release notes for Forms 13.1.0
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#5846 Updated use of obsolete method
  13/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: category/umbraco-cms

#5954 Update searching
  10/umbraco-cms/reference/searching/README.md
  12/umbraco-cms/reference/searching/README.md
  13/umbraco-cms/reference/searching/README.md
Labels: category/umbraco-cms, category/styleguide

#5955 update v14 folder with recent v13 changes
  14/umbraco-cms/extending-cms/key-vault.md
  14/umbraco-cms/extending-cms/language-files.md
  14/umbraco-cms/fundamentals/data/creating-media/default-media-types.md
  14/umbraco-cms/fundamentals/data/defining-content/document-type-localization.md
  14/umbraco-cms/fundamentals/data/images/localization-document-editor-create.png
  14/umbraco-cms/fundamentals/data/images/localization-document-editor-validation.png
  14/umbraco-cms/fundamentals/data/images/localization-document-editor.png
  14/umbraco-cms/fundamentals/data/images/localization-document-type-editor-validation.png
  14/umbraco-cms/fundamentals/data/images/localization-document-type-editor.png
  14/umbraco-cms/implementation/composing.md
  14/umbraco-cms/implementation/custom-routing/README.md
  14/umbraco-cms/reference/content-delivery-api/README.md
  14/umbraco-cms/reference/routing/README.md
  14/umbraco-cms/reference/routing/custom-middleware.md
  14/umbraco-cms/reference/routing/request-pipeline/README.md
  14/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  14/umbraco-cms/reference/routing/request-pipeline/inbound-pipeline.md
  14/umbraco-cms/reference/searching/README.md
  14/umbraco-cms/reference/searching/examine/README.md
  14/umbraco-cms/reference/searching/examine/examine-manager.md
  14/umbraco-cms/reference/security/README.md
  14/umbraco-cms/reference/security/external-login-providers.md
  14/umbraco-cms/reference/security/two-factor-authentication.md
  14/umbraco-cms/tutorials/add-google-authentication.md
  14/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
  14/umbraco-cms/tutorials/custom-error-page.md
  14/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: release/14.0.0

#5957 Update content reviews
  10/umbraco-workflow/workflow-section/content-reviews.md
  12/umbraco-workflow/workflow-section/content-reviews.md
  13/umbraco-workflow/workflow-section/content-reviews.md
Labels: category/umbraco-workflow, category/styleguide

#5959 Update the Backoffice page to use the screenshot of the new login screen
  13/umbraco-cms/fundamentals/backoffice/README.md
Labels: category/umbraco-cms

#5953 Umbraco Cloud release notes for March
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2024-03-releasenotes.md
  umbraco-cloud/release-notes/images/BackupDbExample.gif
  umbraco-cloud/release-notes/overview-2024.md
Labels: category/umbraco-cloud, release-notes

#5956 Add instead of append with register pipeline task
  13/umbraco-commerce/key-concepts/pipelines.md
Labels: category/umbraco-commerce

#5958 Release notes for Deploy 4.10.0, 10.4.0, 12.2.0 and 13.1.0
  10/umbraco-deploy/release-notes.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-deploy/getting-started/deploy-settings.md
  13/umbraco-deploy/release-notes.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-deploy, release-notes

#5964 Fixed grammar mistake
  10/umbraco-cms/reference/routing/custom-controllers.md
  12/umbraco-cms/reference/routing/custom-controllers.md
  13/umbraco-cms/reference/routing/custom-controllers.md
Labels: category/umbraco-cms, category/styleguide

#5965 Update UIBuilder release notes and docs
  10/umbraco-ui-builder/release-notes.md
  12/umbraco-ui-builder/release-notes.md
  13/umbraco-ui-builder/collections/the-basics.md
  13/umbraco-ui-builder/release-notes.md
Labels: release-notes, category/umbraco-ui-builder

#5935 Added Azure Web App Configuration JSON to Web Apps page
  10/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
  12/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
  13/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
  14/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
Labels: category/umbraco-cms

#5967 Fixed broken image
  12/umbraco-workflow/getting-started/dashboards-and-buttons.md
  13/umbraco-workflow/getting-started/dashboards-and-buttons.md
Labels: category/umbraco-workflow

#5963 Clarified text on virtual folder
  10/umbraco-forms/developer/extending/adding-a-fieldtype.md
  12/umbraco-forms/developer/extending/adding-a-fieldtype.md
  13/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms

#5968 Update attaching workflows
  10/umbraco-forms/editor/attaching-workflows/README.md
  12/umbraco-forms/editor/attaching-workflows/README.md
  13/umbraco-forms/editor/attaching-workflows/README.md
Labels: category/umbraco-forms, category/styleguide

#5962 Updated upgrade Note
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  12/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  12/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  13/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  13/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  umbraco-cloud/product-upgrades/major-upgrades.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-cloud, category/umbraco-cms

#5961 Notice about register `IUmbracoCommerceBuilder` extensions using composer
  13/umbraco-commerce/key-concepts/umbraco-commerce-builder.md
Labels: category/umbraco-commerce

#5970 Removed references to nested content
  10/umbraco-cms/.gitbook.yaml
  10/umbraco-cms/extending/property-editors/property-actions.md
  10/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
  10/umbraco-cms/fundamentals/data/data-types/README.md
  10/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-8.md
  10/umbraco-cms/reference/configuration/indexingsettings.md
  10/umbraco-cms/reference/templating/mvc/viewcomponents.md
  10/umbraco-deploy/installation/install-configure.md
  12/umbraco-cms/.gitbook.yaml
  12/umbraco-cms/extending/property-editors/property-actions.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
  12/umbraco-cms/fundamentals/data/data-types/README.md
  12/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  12/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-8.md
  12/umbraco-cms/reference/configuration/indexingsettings.md
  12/umbraco-cms/reference/templating/mvc/viewcomponents.md
  12/umbraco-deploy/installation/install-configure.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-cms/.gitbook.yaml
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/extending/property-editors/property-actions.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/nested-content.md
  13/umbraco-cms/fundamentals/data/data-types/README.md
  13/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  13/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-8.md
  13/umbraco-cms/reference/configuration/indexingsettings.md
  13/umbraco-cms/reference/templating/mvc/viewcomponents.md
  13/umbraco-deploy/installation/install-configure.md
  13/umbraco-deploy/release-notes.md
Labels: category/umbraco-cms, category/umbraco-deploy, review/docsteam

#5969 adding article to connect and upload files programatically to Blob Storage
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/media/connect-programatically-to-azure-storage.md
  umbraco-cloud/set-up/media/images/blob-folder-created-programatically.png
Labels: category/umbraco-cloud, review/docsteam

#5883 Updated examine-manager.md to reflect up-to-date steps for getting a specific searcher
  13/umbraco-cms/reference/searching/examine/examine-manager.md
Labels: category/umbraco-cms

#5974 remove xpath examples
  14/umbraco-cms/extending-cms/property-editors/full-examples-value-converters.md
  14/umbraco-cms/extending-cms/property-editors/property-value-converters.md
  14/umbraco-cms/reference/configuration/contentsettings.md
  14/umbraco-cms/reference/configuration/index-10.0.0.md
  14/umbraco-cms/reference/querying/umbracohelper.md
  14/umbraco-cms/reference/routing/authorized.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#5975 removing everything related to nested content
  14/umbraco-cms/extending-cms/property-editors/property-actions.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/nested-content.md
  14/umbraco-cms/fundamentals/data/data-types/README.md
  14/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  14/umbraco-cms/reference/configuration/indexingsettings.md
  14/umbraco-cms/reference/templating/mvc/viewcomponents.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#5977 remove grid layout and media picker legacy references
  10/umbraco-cms/SUMMARY.md
  12/umbraco-cms/SUMMARY.md
  13/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending-cms/property-editors/package-manifest.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/add-value-programmatically.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/build-your-own-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/configuring-the-grid-layout-datatype.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/grid-editors.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/grid-layout-best-practices.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/render-grid-in-template.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/settings-and-styles.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/grid-layout/what-are-grid-layouts.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker.md
  14/umbraco-cms/fundamentals/data/data-types/README.md
  14/umbraco-cms/fundamentals/design/rendering-content.md
  14/umbraco-cms/reference/content-delivery-api/README.md
  14/umbraco-cms/tutorials/members-registration-and-login.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#5973 Update fieldtypes date
  10/umbraco-forms/editor/creating-a-form/fieldtypes/date.md
  12/umbraco-forms/editor/creating-a-form/fieldtypes/date.md
  13/umbraco-forms/editor/creating-a-form/fieldtypes/date.md
Labels: category/umbraco-forms, category/styleguide

#5952 In v13 there is no startup.cs file
  13/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms

#5978 Release notes for Forms 13.1.1
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#5981 Added details of callback URLs for Umbraco.AuthorizedServices
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/umbraco-dxp

#5980 Update quick-start.md
  13/umbraco-cms/reference/searching/examine/quick-start.md
Labels: category/umbraco-cms

#5966 Added info about creating a empty section
  14/umbraco-cms/extending-backoffice/extension-types/sections-and-trees/README.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#5982 Update prevalue source types
  10/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
  12/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
  13/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
Labels: category/umbraco-forms, category/styleguide

#5983 Fixes Issue #5843
  10/umbraco-cms/tutorials/add-google-authentication.md
  10/umbraco-cms/tutorials/images/Enable_Apis_v13.png
  10/umbraco-cms/tutorials/images/Enable_Google_API_v13.png
  10/umbraco-cms/tutorials/images/OAuth_Client_Id_v13.png
  10/umbraco-cms/tutorials/images/Project_dropdown_list_v13.png
  10/umbraco-cms/tutorials/images/User_Type_v13.png
  10/umbraco-cms/tutorials/images/credentials_v13.png
  10/umbraco-cms/tutorials/images/googleLoginScreen_v13.png
  12/umbraco-cms/tutorials/add-google-authentication.md
  12/umbraco-cms/tutorials/images/Enable_Apis_v13.png
  12/umbraco-cms/tutorials/images/Enable_Google_API_v13.png
  12/umbraco-cms/tutorials/images/OAuth_Client_Id_v13.png
  12/umbraco-cms/tutorials/images/Project_dropdown_list_v13.png
  12/umbraco-cms/tutorials/images/User_Type_v13.png
  12/umbraco-cms/tutorials/images/credentials_v13.png
  12/umbraco-cms/tutorials/images/googleLoginScreen_v13.png
  13/umbraco-cms/tutorials/add-google-authentication.md
  13/umbraco-cms/tutorials/images/Enable_Apis_v13.png
  13/umbraco-cms/tutorials/images/Enable_Google_API_v13.png
  13/umbraco-cms/tutorials/images/OAuth_Client_Id_v13.png
  13/umbraco-cms/tutorials/images/Project_dropdown_list_v13.png
  13/umbraco-cms/tutorials/images/User_Type_v13.png
  13/umbraco-cms/tutorials/images/credentials_v13.png
  13/umbraco-cms/tutorials/images/googleLoginScreen_v13.png
  14/umbraco-cms/tutorials/add-google-authentication.md
  14/umbraco-cms/tutorials/images/Enable_Apis_v13.png
  14/umbraco-cms/tutorials/images/Enable_Google_API_v13.png
  14/umbraco-cms/tutorials/images/OAuth_Client_Id_v13.png
  14/umbraco-cms/tutorials/images/Project_dropdown_list_v13.png
  14/umbraco-cms/tutorials/images/User_Type_v13.png
  14/umbraco-cms/tutorials/images/credentials_v13.png
  14/umbraco-cms/tutorials/images/googleLoginScreen_v13.png
Labels: category/umbraco-cms, review/docsteam

#5988 Update event handler
  10/umbraco-forms/developer/extending/adding-an-event-handler.md
  12/umbraco-forms/developer/extending/adding-an-event-handler.md
  13/umbraco-forms/developer/extending/adding-an-event-handler.md
Labels: category/umbraco-forms, category/styleguide

#5985 Merged content from two articles into one
  10/umbraco-cms/.gitbook.yaml
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/tutorials/editors-manual/working-with-content/README.md
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Creating-an-anchor-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Delete-an-anchor-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Editing-an-existing-table-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Formats-Button-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Formatting-Buttons-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Insert-a-table-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Inserting-Image-from-the-Media-Library-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Inserting-an-Image-from-Computer-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-Button-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-from-Image-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-to-Email-Address-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-to-Media-File-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-to-a-Page-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Link-to-an-external-Page-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Linking-to-Anchor-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Remove-Format-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Remove-link-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/Select-Macro-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/editor_bar_v13.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/table-properties-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/images/view-source-code-v11.png
  10/umbraco-cms/tutorials/editors-manual/working-with-content/rich-text-editor.md
  12/umbraco-cms/.gitbook.yaml
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/tutorials/editors-manual/working-with-content/README.md
  12/umbraco-cms/tutorials/editors-manual/working-with-content/images/editor_bar_v13.png
  12/umbraco-cms/tutorials/editors-manual/working-with-content/rich-text-editor.md
  13/umbraco-cms/.gitbook.yaml
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/tutorials/editors-manual/working-with-content/README.md
  13/umbraco-cms/tutorials/editors-manual/working-with-content/images/editor_bar_v13.png
  13/umbraco-cms/tutorials/editors-manual/working-with-content/rich-text-editor.md
  14/umbraco-cms/tutorials/editors-manual/working-with-content/README.md
  14/umbraco-cms/tutorials/editors-manual/working-with-content/images/editor_bar_v14.png
Labels: category/umbraco-cms, review/docsteam

#5990 Umbraco Commerce patch relase notes
  10/umbraco-commerce/release-notes.md
  12/umbraco-commerce/release-notes.md
  13/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#5987 update services articles in v14
  14/umbraco-cms/reference/management/services/README.md
  14/umbraco-cms/reference/management/services/auditservice.md
  14/umbraco-cms/reference/management/services/consentservice.md
  14/umbraco-cms/reference/management/services/contentservice/README.md
  14/umbraco-cms/reference/management/services/contenttypeservice/README.md
  14/umbraco-cms/reference/management/services/contenttypeservice/retrieving-content-type-containers.md
  14/umbraco-cms/reference/management/services/create-a-new-user.md
  14/umbraco-cms/reference/management/services/create-content-programmatically.md
  14/umbraco-cms/reference/management/services/datatypeservice.md
  14/umbraco-cms/reference/management/services/domainservice.md
  14/umbraco-cms/reference/management/services/entityservice.md
  14/umbraco-cms/reference/management/services/externalloginservice.md
  14/umbraco-cms/reference/management/services/fileservice.md
  14/umbraco-cms/reference/management/services/localizationservice/README.md
  14/umbraco-cms/reference/management/services/mediaservice.md
  14/umbraco-cms/reference/management/services/membergroupservice.md
  14/umbraco-cms/reference/management/services/memberservice.md
  14/umbraco-cms/reference/management/services/membertypeservice.md
  14/umbraco-cms/reference/management/services/notificationservice.md
  14/umbraco-cms/reference/management/services/packagingservice.md
  14/umbraco-cms/reference/management/services/publicaccessservice.md
  14/umbraco-cms/reference/management/services/redirecturlservice.md
  14/umbraco-cms/reference/management/services/relationservice.md
  14/umbraco-cms/reference/management/services/retrieving-content-types.md
  14/umbraco-cms/reference/management/services/retrieving-languages.md
  14/umbraco-cms/reference/management/services/serverregistrationservice.md
  14/umbraco-cms/reference/management/services/tagservice.md
  14/umbraco-cms/reference/management/services/textservice.md
  14/umbraco-cms/reference/management/services/userservice/README.md
Labels: category/umbraco-cms, review/docsteam, category/umbraco-new-backoffice, release/14.0.0

#5984 Added details of how to get a Forms license that will work in FIPS-compliant environments.
  13/umbraco-forms/installation/the-licensing-model.md
Labels: category/umbraco-forms

#5991 Update README.md
  13/umbraco-cms/reference/configuration/README.md
Labels: category/umbraco-cms, category/styleguide
