Repository umbraco/UmbracoDocs, pull requests merged in 2024-02, with the labels that each got.

#5819 Update creating a form
  10/umbraco-forms/editor/creating-a-form/README.md
  12/umbraco-forms/editor/creating-a-form/README.md
  13/umbraco-forms/editor/creating-a-form/README.md
Labels: category/umbraco-forms, category/styleguide

#5786 Static IPs change on Umbraco Cloud
  umbraco-cloud/set-up/project-settings/manage-hostnames/README.md
Labels: category/umbraco-cloud

#5820 Update of cloud january release notes with request resend project invite.
  umbraco-cloud/release-notes/2024-01-releasenotes.md
  umbraco-cloud/release-notes/images/ResendProjectInvite.gif
  umbraco-cloud/release-notes/overview-2024.md
Labels: category/umbraco-cloud

#5796 Fix Delivery API "getting started" + configuration sample
  13/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms

#5822 Update debugsettings
  10/umbraco-cms/reference/configuration/debugsettings.md
  12/umbraco-cms/reference/configuration/debugsettings.md
  13/umbraco-cms/reference/configuration/debugsettings.md
Labels: category/umbraco-cms, category/styleguide

#5823 Update examinesettings
  10/umbraco-cms/reference/configuration/examinesettings.md
  12/umbraco-cms/reference/configuration/examinesettings.md
  13/umbraco-cms/reference/configuration/examinesettings.md
Labels: category/umbraco-cms, category/styleguide

#5825 V14: Correct code for Confirm Dialog
  new-backoffice/extending/modals/README.md
  new-backoffice/extending/modals/confirm-dialog.md
Labels: category/umbraco-new-backoffice

#5814 Update testing-stripe-webhooks-locally.md
  commerce-add-ons/payment-providers/stripe/how-to-guides/testing-stripe-webhooks-locally.md
Labels: category/umbraco-commerce

#5826 Simplify DNS records section
  umbraco-cloud/set-up/project-settings/manage-hostnames/README.md
Labels: category/umbraco-cloud

#5802 Documentation for updates to Umbraco Commerce shipping
  13/umbraco-commerce/SUMMARY.md
  13/umbraco-commerce/key-concepts/shipping-package-factories.md
  13/umbraco-commerce/key-concepts/shipping-providers.md
  13/umbraco-commerce/key-concepts/shipping-range-and-rate-providers.md
  13/umbraco-commerce/key-concepts/umbraco-properties.md
  13/umbraco-commerce/media/create_shipping_method.png
  13/umbraco-commerce/media/create_shipping_method2.png
  13/umbraco-commerce/media/dynamic_rate_shipping_details.png
  13/umbraco-commerce/media/dynamic_rate_shipping_rates.png
  13/umbraco-commerce/media/dynamic_rate_shipping_rates_dialog.png
  13/umbraco-commerce/media/fixed_rate_country_shipping_rates.png
  13/umbraco-commerce/media/fixed_rate_shipping_countries.png
  13/umbraco-commerce/media/fixed_rate_shipping_details.png
  13/umbraco-commerce/media/location_edit.png
  13/umbraco-commerce/media/measurements.png
  13/umbraco-commerce/media/realtime_rates.png
  13/umbraco-commerce/media/realtime_shipping_details.png
  13/umbraco-commerce/media/shipping_method_allowed_countries.png
  13/umbraco-commerce/media/shipping_methods.png
  13/umbraco-commerce/reference/locations/README.md
  13/umbraco-commerce/reference/shipping/README.md
  13/umbraco-commerce/reference/shipping/dynamic-rate-shipping.md
  13/umbraco-commerce/reference/shipping/fixed-rate-shipping.md
  13/umbraco-commerce/reference/shipping/realtime-rate-shipping.md
  13/umbraco-commerce/reference/stores/README.md
  13/umbraco-commerce/release-notes/README.md
  13/umbraco-commerce/release-notes/v13.1.0-rc.md
  commerce-add-ons/packages/checkout/release-notes.md
  commerce-add-ons/packages/deploy/release-notes.md
  commerce-add-ons/shipping-providers/.gitbook.yaml
  commerce-add-ons/shipping-providers/README.md
  commerce-add-ons/shipping-providers/SUMMARY.md
  commerce-add-ons/shipping-providers/dhl/README.md
  commerce-add-ons/shipping-providers/dhl/configuring-dhl.md
  commerce-add-ons/shipping-providers/dhl/configuring-umbraco.md
  commerce-add-ons/shipping-providers/dhl/release-notes.md
  commerce-add-ons/shipping-providers/easypost/README.md
  commerce-add-ons/shipping-providers/easypost/configuring-easypost.md
  commerce-add-ons/shipping-providers/easypost/configuring-umbraco.md
  commerce-add-ons/shipping-providers/easypost/release-notes.md
  commerce-add-ons/shipping-providers/install-shipping-providers.md
  commerce-add-ons/shipping-providers/media/easypost_apikeys.png
  commerce-add-ons/shipping-providers/media/easypost_carriers.png
  commerce-add-ons/shipping-providers/media/easypost_login.png
  commerce-add-ons/shipping-providers/media/easypost_signup.png
  commerce-add-ons/shipping-providers/media/nuget-package-manager-gui.png
  commerce-add-ons/shipping-providers/media/shipmondo_apikeys.png
  commerce-add-ons/shipping-providers/media/shipmondo_login.png
  commerce-add-ons/shipping-providers/media/shipmondo_signup.png
  commerce-add-ons/shipping-providers/shipmondo/README.md
  commerce-add-ons/shipping-providers/shipmondo/configuring-shipmondo.md
  commerce-add-ons/shipping-providers/shipmondo/configuring-umbraco.md
  commerce-add-ons/shipping-providers/shipmondo/release-notes.md
Labels: category/umbraco-commerce

#5828 Update pluginssettings
  10/umbraco-cms/reference/configuration/pluginssettings.md
  12/umbraco-cms/reference/configuration/pluginssettings.md
  13/umbraco-cms/reference/configuration/pluginssettings.md
Labels: category/umbraco-cms, category/styleguide

#5829 Added details of how to license commercial products in an environment without an outgoing Internet connection.
  10/umbraco-commerce/installation/licensing-model.md
  10/umbraco-ui-builder/installation/licensing-model.md
  10/umbraco-workflow/installation/licensing.md
  12/umbraco-commerce/installation/licensing-model.md
  12/umbraco-deploy/installation/the-licensing-model.md
  12/umbraco-ui-builder/installation/licensing-model.md
  12/umbraco-workflow/installation/licensing.md
  13/umbraco-commerce/installation/the-licensing-model.md
  13/umbraco-deploy/installation/the-licensing-model.md
  13/umbraco-ui-builder/installation/licensing-model.md
  13/umbraco-workflow/installation/licensing.md
Labels: category/umbraco-deploy, category/umbraco-workflow, category/umbraco-commerce, category/umbraco-ui-builder

#5832 Update patch release notes for Umbraco Commerce
  10/umbraco-commerce/release-notes.md
  12/umbraco-commerce/release-notes.md
  13/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#5833 Removed stray quotes
  12/umbraco-forms/developer/extending/adding-a-fieldtype.md
  13/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms

#5840 Umbraco Commerce RC2 release notes
  13/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#5815 Update testing-stripe-webhooks-locally.md
  commerce-add-ons/payment-providers/stripe/how-to-guides/testing-stripe-webhooks-locally.md
Labels: category/umbraco-commerce

#5801 rename token consts
  new-backoffice/extending/context-api/README.md
  new-backoffice/extending/extension-types/conditions.md
  new-backoffice/extending/modals/confirm-dialog.md
  new-backoffice/tutorials/creating-a-property-editor/integrating-services-with-a-property-editor.md
  new-backoffice/tutorials/creating-your-first-extension.md
  new-backoffice/tutorials/integrating-context-with-a-property-editor.md
Labels: category/umbraco-new-backoffice

#5824 v14: Sorter docs
  new-backoffice/extending/sorting.md
Labels: category/umbraco-new-backoffice

#5841 V14: Modals, expand articles and correct
  new-backoffice/extending/modals/README.md
  new-backoffice/extending/modals/custom-modals.md
  new-backoffice/extending/modals/route-registration.md
Labels: category/umbraco-new-backoffice

#5836 Update ipublishedcontentquery
  10/umbraco-cms/reference/querying/ipublishedcontentquery.md
  12/umbraco-cms/reference/querying/ipublishedcontentquery.md
  13/umbraco-cms/reference/querying/ipublishedcontentquery.md
Labels: category/broken-link, category/styleguide

#5837 Update querying
  10/umbraco-cms/reference/querying/README.md
  12/umbraco-cms/reference/querying/README.md
  13/umbraco-cms/reference/querying/README.md
Labels: category/umbraco-cms, category/styleguide

#5845 Update backofficeusermanager and notifications
  10/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
  12/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
  13/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
Labels: category/umbraco-cms, category/styleguide

#5821 Heartcore: Add February '24 release notes
  umbraco-heartcore/SUMMARY.md
  umbraco-heartcore/release-notes/2024-02-releasenotes.md
  umbraco-heartcore/release-notes/images/24-02-block-grid.png
  umbraco-heartcore/release-notes/images/24-02-rte-language.png
Labels: category/umbraco-heartcore

#5842 Heartcore: Add block grid property editor & schema
  umbraco-heartcore/api-documentation/graphql/property-editors.md
  umbraco-heartcore/api-documentation/graphql/schema-generation.md
Labels: category/umbraco-heartcore

#5838 Update adding-a-magic-string-format-function.md
  10/umbraco-forms/developer/extending/adding-a-magic-string-format-function.md
Labels: category/umbraco-forms, category/styleguide

#5810 Update Modelsbuilder HasValue check
  10/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/email-address.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/email-address.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/email-address.md
Labels: category/umbraco-cms

#5839 Update login.md to add correct XML for login screen greetings
  10/umbraco-cms/fundamentals/backoffice/login.md
  12/umbraco-cms/fundamentals/backoffice/login.md
  13/umbraco-cms/fundamentals/backoffice/login.md
Labels: category/umbraco-cms

#5830 UmbracoAuthorizedController cleanup
  10/umbraco-cms/implementation/controllers.md
  10/umbraco-cms/reference/routing/authorized.md
  12/umbraco-cms/implementation/controllers.md
  12/umbraco-cms/reference/routing/authorized.md
  13/umbraco-cms/implementation/controllers.md
  13/umbraco-cms/reference/routing/authorized.md
Labels: category/umbraco-cms

#5847 Release notes for Forms 8.13.14, 10.5.4, 12.2.3 and 13.0.2 and Deploy 4.9.4, 10.3.4, 12.1.4 and 13.0.4
  10/umbraco-deploy/release-notes.md
  10/umbraco-forms/release-notes.md
  12/umbraco-deploy/release-notes.md
  12/umbraco-forms/release-notes.md
  13/umbraco-deploy/getting-started/deploy-settings.md
  13/umbraco-deploy/release-notes.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, category/umbraco-deploy, release-notes

#5848 Update cookies
  10/umbraco-cms/reference/security/cookies.md
  12/umbraco-cms/reference/security/cookies.md
  13/umbraco-cms/reference/security/cookies.md
Labels: category/umbraco-cms, category/styleguide

#5853 Update iisrewriterules.md
  13/umbraco-cms/reference/routing/iisrewriterules.md
Labels: category/umbraco-cms

#5855 Update iisrewriterules.md
  10/umbraco-cms/reference/routing/iisrewriterules.md
Labels: category/umbraco-cms

#5854 Update iisrewriterules.md
  12/umbraco-cms/reference/routing/iisrewriterules.md
Labels: category/umbraco-cms

#5856 Update import-export.md
  13/umbraco-deploy/deployment-workflow/import-export.md
Labels: category/umbraco-deploy

#5858 Update import-export.md
  10/umbraco-deploy/deployment-workflow/import-export.md
Labels: category/umbraco-deploy

#5857 Update import-export.md
  12/umbraco-deploy/deployment-workflow/import-export.md
Labels: category/umbraco-deploy

#5850 Uddate custom password check
  10/umbraco-cms/reference/security/custom-password-check.md
  12/umbraco-cms/reference/security/custom-password-check.md
  13/umbraco-cms/reference/security/custom-password-check.md
Labels: category/umbraco-cms, category/styleguide

#5851 Fix LogMessageWorkflow class name
  10/umbraco-forms/developer/extending/customize-default-workflows.md
  12/umbraco-forms/developer/extending/customize-default-workflows.md
  13/umbraco-forms/developer/extending/customize-default-workflows.md
Labels: category/umbraco-forms

#5860 Update Export Template SQL script
  13/umbraco-commerce/upgrading/migrate-from-vendr-to-umbraco-commerce/README.md
Labels: category/umbraco-commerce

#5859 Release notes for Umbraco Commerce 10.0.7, 12.1.6, 13.0.2 and 13.1.0-rc3
  10/umbraco-commerce/release-notes.md
  12/umbraco-commerce/release-notes.md
  13/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#5863 Updated nightly build article for version 10
  10/umbraco-cms/fundamentals/setup/install/images/Nightly/Latest_nightly_build_version.jpg
  10/umbraco-cms/fundamentals/setup/install/images/Nightly/Manage_NuGet_Pkgs.jpg
  10/umbraco-cms/fundamentals/setup/install/images/Nightly/Manage_Packages.jpg
  10/umbraco-cms/fundamentals/setup/install/images/Nightly/NewFeed_Details.jpg
  10/umbraco-cms/fundamentals/setup/install/images/Nightly/NuGet_NewFeed.jpg
  10/umbraco-cms/fundamentals/setup/install/images/Nightly/Register_Nightly_Feed.jpg
  10/umbraco-cms/fundamentals/setup/install/images/Nightly/Rider_Nightly_Feed.jpg
  10/umbraco-cms/fundamentals/setup/install/images/Nightly/Rider_Nightly_Feed_version.jpg
  10/umbraco-cms/fundamentals/setup/install/installing-nightly-builds.md
  13/umbraco-cms/fundamentals/setup/install/images/Nightly/Latest_nightly_build_version.jpg
  13/umbraco-cms/fundamentals/setup/install/images/Nightly/Manage_NuGet_Pkgs.jpg
  13/umbraco-cms/fundamentals/setup/install/images/Nightly/Manage_Packages.jpg
  13/umbraco-cms/fundamentals/setup/install/images/Nightly/NewFeed_Details.jpg
  13/umbraco-cms/fundamentals/setup/install/images/Nightly/NuGet_NewFeed.jpg
  13/umbraco-cms/fundamentals/setup/install/images/Nightly/Register_Nightly_Feed.jpg
  13/umbraco-cms/fundamentals/setup/install/images/Nightly/Rider_Nightly_Feed.jpg
  13/umbraco-cms/fundamentals/setup/install/images/Nightly/Rider_Nightly_Feed_version.jpg
  13/umbraco-cms/fundamentals/setup/install/installing-nightly-builds.md
Labels: category/umbraco-cms

#5864 Updated nightly builds article for v12
  12/umbraco-cms/fundamentals/setup/install/images/Nightly/Latest_nightly_build_version.jpg
  12/umbraco-cms/fundamentals/setup/install/images/Nightly/Manage_NuGet_Pkgs.jpg
  12/umbraco-cms/fundamentals/setup/install/images/Nightly/Manage_Packages.jpg
  12/umbraco-cms/fundamentals/setup/install/images/Nightly/NewFeed_Details.jpg
  12/umbraco-cms/fundamentals/setup/install/images/Nightly/NuGet_NewFeed.jpg
  12/umbraco-cms/fundamentals/setup/install/images/Nightly/Register_Nightly_Feed.jpg
  12/umbraco-cms/fundamentals/setup/install/images/Nightly/Rider_Nightly_Feed.jpg
  12/umbraco-cms/fundamentals/setup/install/images/Nightly/Rider_Nightly_Feed_version.jpg
  12/umbraco-cms/fundamentals/setup/install/installing-nightly-builds.md
Labels: category/umbraco-cms

#5844 Update Troubleshooting.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#5870 Fixed typo in example
  12/umbraco-cms/tutorials/add-azure-active-directory-authentication.md
  13/umbraco-cms/tutorials/add-azure-active-directory-authentication.md
Labels: category/umbraco-cms

#5872 Update bulk actions
  10/umbraco-commerce/key-concepts/bulk-actions.md
  12/umbraco-commerce/key-concepts/bulk-actions.md
  13/umbraco-commerce/key-concepts/bulk-actions.md
Labels: category/styleguide, category/umbraco-commerce

#5868 Added reference to Umbraco.Community.AzureSSO
  10/umbraco-cms/reference/security/external-login-providers.md
  12/umbraco-cms/reference/security/external-login-providers.md
  13/umbraco-cms/reference/security/external-login-providers.md
Labels: category/broken-link

#5875 Updated release notes for Umbraco.Commerce 13.1.0 release
  13/umbraco-commerce/release-notes/README.md
  commerce-add-ons/packages/checkout/release-notes.md
  commerce-add-ons/packages/deploy/release-notes.md
  commerce-add-ons/shipping-providers/dhl/release-notes.md
  commerce-add-ons/shipping-providers/easypost/release-notes.md
  commerce-add-ons/shipping-providers/shipmondo/release-notes.md
Labels: release-notes, category/umbraco-commerce

#5876 Update deployment-failed.md
  umbraco-cloud/troubleshooting/deployments/deployment-failed.md
Labels: category/umbraco-cloud

#5866 Update icacherefresher
  10/umbraco-cms/reference/cache/icacherefresher.md
  12/umbraco-cms/reference/cache/icacherefresher.md
  13/umbraco-cms/reference/cache/icacherefresher.md
Labels: category/umbraco-cms, category/styleguide

#5878 Fixed broken links
  10/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  10/umbraco-cms/tutorials/add-google-authentication.md
  10/umbraco-cms/tutorials/multisite-setup.md
  12/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  12/umbraco-cms/tutorials/add-google-authentication.md
  12/umbraco-cms/tutorials/multisite-setup.md
  13/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  13/umbraco-cms/tutorials/add-google-authentication.md
  13/umbraco-cms/tutorials/multisite-setup.md
  sustainability-best-practices/backend/cache-responses.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-umbraco-7-to-8.md
  umbraco-cloud/release-notes/overview-2023/2023-02-releasenotes.md
  umbraco-cloud/set-up/manage-subscriptions/new-shop/subscription-migration-information-and-faq.md
Labels: category/broken-link, category/umbraco-cloud, category/umbraco-cms

#5879 Update runtimesettings
  10/umbraco-cms/reference/configuration/runtimesettings.md
  12/umbraco-cms/reference/configuration/runtimesettings.md
  13/umbraco-cms/reference/configuration/runtimesettings.md
Labels: category/umbraco-cms, category/styleguide

#5886 Update migrate-from-8-to-latest.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-cloud

#5888 Update udi identifiers
  10/umbraco-cms/reference/querying/udi-identifiers.md
Labels: category/umbraco-cms, category/styleguide

#5885 V14 preview007: Update the "creating a custom dashboard" tutorial
  .github/styles/UmbracoDocs/Acronyms.yml
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-functionality-to-the-dashboard.md
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-localization-to-the-dashboard.md
  new-backoffice/tutorials/creating-a-custom-dashboard/extending-the-dashboard-using-umbraco-ui-library.md
Labels: category/umbraco-new-backoffice

#5881 Umbraco Commerce Docs Updates
  13/umbraco-commerce/reference/shipping/README.md
  13/umbraco-commerce/reference/shipping/realtime-rate-shipping.md
  commerce-add-ons/shipping-providers/dhl/README.md
  commerce-add-ons/shipping-providers/easypost/README.md
  commerce-add-ons/shipping-providers/shipmondo/README.md
Labels: category/styleguide, category/umbraco-commerce

#5890 Removed \ from image filenames generated by GitBook
  13/umbraco-commerce/reference/shipping/realtime-rate-shipping.md
Labels: category/umbraco-commerce

#5891 Umbraco Cloud Release notes for February
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2024-02-releasenotes.md
  umbraco-cloud/release-notes/images/DashboardSearch.gif
  umbraco-cloud/release-notes/images/ProjectHistory.gif
  umbraco-cloud/release-notes/images/UpgradeDetailsPage.gif
  umbraco-cloud/release-notes/overview-2024.md
Labels: category/umbraco-cloud, release-notes

#5849 Release notes and documentation for Forms 13.1.
  10/umbraco-forms/developer/configuration/README.md
  12/umbraco-forms/developer/configuration/README.md
  13/umbraco-forms/developer/configuration/README.md
  13/umbraco-forms/developer/images/wehbook-events.png
  13/umbraco-forms/developer/webhooks.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#5893 Added Webhooks to Forms -> SUMMARY.md file
  13/umbraco-forms/SUMMARY.md
Labels: category/umbraco-forms
