Repository umbraco/UmbracoDocs, pull requests merged in 2024-07, with the labels that each got.

#6227 Link to section on same page
  12/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api.md
Labels: category/broken-link, category/umbraco-cms

#6219 V14: vite-development-flow
  14/umbraco-cms/.gitbook/assets/Vite_Package_Setup_Dashboard (1).png
  14/umbraco-cms/.gitbook/assets/Vite_Package_Setup_Image_Install (1).png
  14/umbraco-cms/.gitbook/assets/Vite_Package_Setup_Image_Install.png
  14/umbraco-cms/extending/customize-backoffice/development-flow/README.md
  14/umbraco-cms/extending/customize-backoffice/development-flow/images/vite-project-cli.jpg
  14/umbraco-cms/extending/customize-backoffice/development-flow/vite-package-setup.md
  14/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
  14/umbraco-cms/tutorials/creating-your-first-extension.md
Labels: category/umbraco-cms, release/14.0.0

#6190 Update limit-orderline-quantity.md
  13/umbraco-commerce/how-to-guides/limit-orderline-quantity.md
Labels: category/umbraco-commerce

#6226 V14: Extend the Package Manifest article with all available types
  .github/styles/UmbracoDocs/Acronyms.yml
  14/umbraco-cms/extending/package-manifest.md
Labels: category/umbraco-cms, release/14.0.0

#6198 Added information about Zero payment provider
  commerce-add-ons/payment-providers/SUMMARY.md
  commerce-add-ons/payment-providers/install-payment-providers.md
  commerce-add-ons/payment-providers/invoicing/README.md
  commerce-add-ons/payment-providers/media/nuget-package-manager-gui-latest.png
  commerce-add-ons/payment-providers/media/zero/zero-payment-provider.png
  commerce-add-ons/payment-providers/zero/README.md
  commerce-add-ons/payment-providers/zero/configuring-umbraco.md
Labels: review/dteam, category/umbraco-commerce

#6231 Updated Settings section...
  14/umbraco-cms/fundamentals/backoffice/sections.md
Labels: category/umbraco-cms, review/docsteam

#6230 Update webhook events
  13/umbraco-cms/reference/webhooks/README.md
  14/umbraco-cms/reference/webhooks/README.md
Labels: category/umbraco-cms

#6232 Update healthchecks for v13
  13/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
  13/umbraco-cms/extending/health-check/guides/crosssitescriptingprotection.md
  13/umbraco-cms/extending/health-check/guides/excessiveheaders.md
Labels: category/umbraco-cms

#6234 Umbraco Commerce v14 alpha 4 release notes
  14/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce, release/14.0.0

#6233 Update healthguides based on PR #6232
  13/umbraco-cms/extending/health-check/guides/crosssitescriptingprotection.md
  13/umbraco-cms/extending/health-check/guides/excessiveheaders.md
  14/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
  14/umbraco-cms/extending/health-check/guides/crosssitescriptingprotection.md
  14/umbraco-cms/extending/health-check/guides/excessiveheaders.md
Labels: category/umbraco-cms, review/docsteam

#6238 Umbraco Commerce 10.0.12 and 13.1.5 release notes
  10/umbraco-commerce/release-notes.md
  13/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6235 Updated images in the Backoffice section
  14/umbraco-cms/fundamentals/backoffice/README.md
  14/umbraco-cms/fundamentals/backoffice/images/Media-Type-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/Media-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/Member-Types-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/Members-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/Users-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/data-types-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/document-blueprint-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/document-type-properties-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/document-types-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/expand-node-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/expand-node.png
  14/umbraco-cms/fundamentals/backoffice/images/highlight-content-node-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/highlight-content-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/highlight-dashboard-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/highlight-dashboard.png
  14/umbraco-cms/fundamentals/backoffice/images/highlight-sections-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/highlight-sections.png
  14/umbraco-cms/fundamentals/backoffice/images/highlight-tree-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/highlight-tree.png
  14/umbraco-cms/fundamentals/backoffice/images/login-backoffice-login-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/login-backoffice-login.png
  14/umbraco-cms/fundamentals/backoffice/images/packages-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/property-editor-v14.png
  14/umbraco-cms/fundamentals/backoffice/images/template-v14.png
Labels: category/umbraco-cms, review/docsteam

#6242 Add redirect for package manifest file
  14/umbraco-cms/.gitbook.yaml
Labels: category/umbraco-cms, review/docsteam

#6244 Update usage.md
  umbraco-cloud/set-up/project-settings/usage.md
Labels: category/umbraco-cloud

#6222 Updated "Color Picker - Add values programmatically"
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
Labels: category/umbraco-cms, review/docsteam

#6245 Update add-google-authentication.md
  14/umbraco-cms/tutorials/add-google-authentication.md
Labels: category/umbraco-cms

#6153 Updates for Forms 10.5.6, 13.2.0 and 14.1.0
  10/umbraco-forms/developer/extending/adding-a-fieldtype.md
  10/umbraco-forms/developer/themes.md
  10/umbraco-forms/release-notes.md
  12/umbraco-forms/developer/extending/adding-a-fieldtype.md
  13/umbraco-forms/.gitbook/assets/umbraco_forms_swagger.json
  13/umbraco-forms/developer/ajaxforms.md
  13/umbraco-forms/developer/configuration/type-details.md
  13/umbraco-forms/developer/extending/adding-a-fieldtype.md
  13/umbraco-forms/developer/extending/setting-types.md
  13/umbraco-forms/developer/magic-strings.md
  13/umbraco-forms/developer/rendering-forms.md
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/.gitbook/assets/umbraco_forms_swagger.json
  14/umbraco-forms/developer/ajaxforms.md
  14/umbraco-forms/developer/configuration/type-details.md
  14/umbraco-forms/developer/extending/adding-a-fieldtype.md
  14/umbraco-forms/developer/extending/setting-types.md
  14/umbraco-forms/developer/magic-strings.md
  14/umbraco-forms/developer/rendering-forms.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6246 Corrected details of default values for IP tracking across Forms versions.
  10/umbraco-forms/developer/configuration/README.md
  12/umbraco-forms/developer/configuration/README.md
  12/umbraco-forms/upgrading/version-specific.md
  13/umbraco-forms/developer/configuration/README.md
  14/umbraco-forms/developer/configuration/README.md
Labels: category/umbraco-forms

#6141 WIP - Sustainability dashboard documentation
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/README.md
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/sustainability-dashboard.md
Labels: category/umbraco-cloud

#6248 V14: Rename "Content Picker" to "Document Picker"
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/document-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/Document-Picker-DataType.png
Labels: category/umbraco-cms

#6251 Updates pages in the CMS documentation for packages across Umbraco versions.
  10/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  10/umbraco-deploy/getting-started/extending.md
  12/umbraco-cms/extending/packages/maintaining-packages.md
  12/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  12/umbraco-deploy/getting-started/extending.md
  13/umbraco-cms/extending/packages/maintaining-packages.md
  13/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  13/umbraco-deploy/getting-started/extending.md
  14/umbraco-cms/extending/packages/maintaining-packages.md
  14/umbraco-cms/extending/packages/packages-on-umbraco-cloud.md
  14/umbraco-deploy/getting-started/extending.md
Labels: category/umbraco-cms

#6249 V14: Rename "Multinode Treepicker" to "Content Picker"
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/content-picker.md
Labels: category/umbraco-cms

#6252 Clarified documentation on the options for and how to setup client-side validation.
  10/umbraco-forms/developer/prepping-frontend.md
  12/umbraco-forms/developer/prepping-frontend.md
  13/umbraco-forms/developer/prepping-frontend.md
  14/umbraco-forms/developer/prepping-frontend.md
Labels: category/umbraco-forms

#6253 V14: Integration testing article updates
  14/umbraco-cms/implementation/integration-testing.md
Labels: category/umbraco-cms

#6255 Clarified means of "store records" setting in Umbraco Forms when it comes to file uploads.
  10/umbraco-forms/editor/attaching-workflows/README.md
  10/umbraco-forms/editor/creating-a-form/form-settings.md
  12/umbraco-forms/editor/attaching-workflows/README.md
  12/umbraco-forms/editor/creating-a-form/form-settings.md
  13/umbraco-forms/editor/attaching-workflows/README.md
  13/umbraco-forms/editor/creating-a-form/form-settings.md
  14/umbraco-forms/editor/attaching-workflows/README.md
  14/umbraco-forms/editor/creating-a-form/form-settings.md
Labels: category/umbraco-forms

#6256 Update modelsbuildersettings.md
  14/umbraco-cms/reference/configuration/modelsbuildersettings.md
Labels: category/umbraco-cms

#6259 Fixed Note formatting
  13/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
Labels: category/umbraco-cms

#6258 Added v11 changes to rest of versions
  10/umbraco-forms/developer/magic-strings.md
  12/umbraco-forms/developer/magic-strings.md
  13/umbraco-forms/developer/magic-strings.md
  14/umbraco-forms/developer/magic-strings.md
Labels: category/umbraco-forms, review/docsteam

#6257 Updated old names to reflect new names
  14/umbraco-cms/extending/package-manifest.md
  14/umbraco-cms/extending/packages/README.md
  14/umbraco-cms/extending/section-trees/trees/entity-actions.md
  14/umbraco-cms/extending/workspaces/workspace-editor-views.md
  14/umbraco-cms/fundamentals/backoffice/document-blueprints.md
  14/umbraco-cms/fundamentals/backoffice/infinite-editing.md
  14/umbraco-cms/fundamentals/backoffice/sections.md
  14/umbraco-cms/fundamentals/data/creating-media/README.md
  14/umbraco-cms/fundamentals/data/creating-media/images/configure-collection-v14.png
  14/umbraco-cms/fundamentals/data/creating-media/images/create-new-media-type-v14.png
  14/umbraco-cms/fundamentals/data/creating-media/images/employee-images-folder.png
  14/umbraco-cms/fundamentals/data/creating-media/images/employee-images-permissions.png
  14/umbraco-cms/fundamentals/data/creating-media/images/finished-new-media-type-v14.png
  14/umbraco-cms/fundamentals/data/creating-media/images/new-data-type-v14.png
  14/umbraco-cms/fundamentals/data/creating-media/images/switch-view-v14.png
  14/umbraco-cms/fundamentals/data/data-types/default-data-types.md
  14/umbraco-cms/fundamentals/data/members.md
  14/umbraco-cms/reference/common-pitfalls.md
  14/umbraco-cms/reference/routing/custom-routes.md
  14/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  14/umbraco-cms/tutorials/creating-and-distributing-a-package.md
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/editing-existing-content.md
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/images/List-view-v14.png
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/images/View-page-v14.png
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/images/configure-collection-v14.png
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/images/grid-view-v14.png
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/images/layout.png
Labels: category/umbraco-cms, review/docsteam

#6260 Update adding a fieldtype
  10/umbraco-forms/developer/extending/adding-a-fieldtype.md
  12/umbraco-forms/developer/extending/adding-a-fieldtype.md
  13/umbraco-forms/developer/extending/adding-a-fieldtype.md
  14/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms

#6215 Updated articles based on feedback from DXP team
  10/umbraco-cms/extending/packages/README.md
  12/umbraco-cms/extending/packages/README.md
  12/umbraco-cms/extending/packages/installing-and-uninstalling-packages.md
  13/umbraco-cms/extending/packages/README.md
  13/umbraco-cms/extending/packages/installing-and-uninstalling-packages.md
  14/umbraco-cms/extending/packages/README.md
  14/umbraco-cms/extending/packages/good-practice-and-defaults.md
  14/umbraco-cms/extending/packages/installing-and-uninstalling-packages.md
  14/umbraco-cms/extending/packages/language-files-for-packages.md
Labels: category/umbraco-cms, review/dteam, release/14.0.0

#6262 Umbraco Commerce 13.1.6 and 10.0.13 release notes
  10/umbraco-commerce/release-notes.md
  13/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6250 V14: Adds "Umbraco Flavored Markdown" docs
  .github/styles/UmbracoDocs/Acronyms.yml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending/package-manifest.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  14/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/umbraco-cms

#6261 Add release notes for Deploy 13.1.1 and 14.0.2
  13/umbraco-deploy/release-notes.md
  14/umbraco-deploy/getting-started/deploy-settings.md
  14/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#6266 Update health checks
  10/umbraco-cms/extending/health-check/README.md
  12/umbraco-cms/extending/health-check/README.md
  13/umbraco-cms/extending/health-check/README.md
Labels: category/umbraco-cms

#6267 Workflow release notes - v14
  14/umbraco-workflow/upgrading/version-specific.md
Labels: category/umbraco-workflow

#6268 Umbraco Commerce v14-beta1 release notes
  14/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6195 Added External reviewer information
  13/umbraco-workflow/images/Content-review-permissions-v13.png
  13/umbraco-workflow/images/document-type-review-settings-v13.png
  13/umbraco-workflow/workflow-section/content-reviews.md
  14/umbraco-workflow/images/Content-review-permissions-v13.png
  14/umbraco-workflow/images/document-type-review-settings-v13.png
  14/umbraco-workflow/workflow-section/content-reviews.md
Labels: category/umbraco-workflow, review/dteam

#6183 V14.1: TinyMCE plugins
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-plugins.md
Labels: category/pending-release, category/umbraco-cms, release/14.1.0

#6269 Corrected tutorial links
  14/umbraco-cms/extending/customize-backoffice/README.md
Labels: category/umbraco-cms

#6270 Update package manifest
  10/umbraco-cms/extending/property-editors/package-manifest.md
  12/umbraco-cms/extending/property-editors/package-manifest.md
  13/umbraco-cms/extending/property-editors/package-manifest.md
Labels: category/umbraco-cms

#6271 Added release notes and configuration updates for 13.2.0-rc2.
  13/umbraco-forms/developer/configuration/README.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6272 Update cicd Troubleshooting.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#6275 Added release notes for Forms 14.1.0-rc2
  14/umbraco-forms/developer/configuration/README.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6276 Update editorservice
  10/umbraco-cms/reference/angular/services/editorservice.md
  12/umbraco-cms/reference/angular/services/editorservice.md
  13/umbraco-cms/reference/angular/services/editorservice.md
Labels: category/umbraco-cms

#6277 Using KeyVault in Appsettings.json
  14/umbraco-cms/extending/key-vault.md
Labels: category/umbraco-cms

#6278 Update Troubleshooting.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#6280 v14 Update the forms localization article
  14/umbraco-forms/developer/localization.md
Labels: category/umbraco-forms

#6283 Added missing steps
  14/umbraco-cms/tutorials/creating-a-custom-dashboard/adding-localization-to-the-dashboard.md
Labels: category/umbraco-cms

#6286 Added release notes for Forms 13.2 and 14.1.
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6288 Update UmbracoForms Localization
  14/umbraco-forms/developer/localization.md
Labels: category/umbraco-forms

#6287 Update events.md
  14/umbraco-ui-builder/advanced/events.md
Labels: category/umbraco-ui-builder

#6290 Update version labels on theme links for Umbraco Forms
  13/umbraco-forms/developer/themes.md
  14/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#6285 Restructure import/export section and add grid layout and community package migrator documentation
  13/umbraco-deploy/SUMMARY.md
  13/umbraco-deploy/deployment-workflow/import-export-v7.md
  13/umbraco-deploy/deployment-workflow/import-export.md
  13/umbraco-deploy/deployment-workflow/import-with-migrations.md
  14/umbraco-deploy/SUMMARY.md
  14/umbraco-deploy/deployment-workflow/import-export-v7.md
  14/umbraco-deploy/deployment-workflow/import-export.md
  14/umbraco-deploy/deployment-workflow/import-with-migrations.md
Labels: category/umbraco-deploy

#6282 V14 updates
  14/umbraco-workflow/images/ContentSectionAfterInstall.png
  14/umbraco-workflow/images/VS_Installation-v14.png
  14/umbraco-workflow/images/VS_Installation.png
  14/umbraco-workflow/images/workflow-section-v14.png
  14/umbraco-workflow/images/workflow-section.png
  14/umbraco-workflow/images/workflow-settings.png
  14/umbraco-workflow/installation/installing-workflow.md
  14/umbraco-workflow/upgrading/upgrading.md
Labels: category/umbraco-workflow

#6293 Update logging
  10/umbraco-cms/fundamentals/setup/server-setup/load-balancing/logging.md
  12/umbraco-cms/fundamentals/setup/server-setup/load-balancing/logging.md
  13/umbraco-cms/fundamentals/setup/server-setup/load-balancing/logging.md
Labels: category/umbraco-cms

#6291 Update scheduling.md
  13/umbraco-cms/reference/scheduling.md
Labels: category/umbraco-cms

#6294 Update circular dependencies
  10/umbraco-cms/implementation/services/circular-dependencies.md
  12/umbraco-cms/implementation/services/circular-dependencies.md
  13/umbraco-cms/implementation/services/circular-dependencies.md
Labels: category/umbraco-cms

#6296 Added details of changes to partial views in Forms 13.2 and 14.1 releases.
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6298 Update ui-config-files.md
  13/umbraco-commerce/key-concepts/ui-config-files.md
Labels: category/umbraco-commerce

#6299 Umbraco AuthorizedServices 14.0.0 updates
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/umbraco-dxp

#6301 Removed enable offline approval feature
  14/umbraco-workflow/workflow-section/approval-groups.md
Labels: category/umbraco-workflow

#6305 Umbraco Commerce RC1 Release Notes
  14/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6265 Added a Note on where to find the database connection string on an existing project
  10/umbraco-cms/extending/key-vault.md
  12/umbraco-cms/extending/key-vault.md
  13/umbraco-cms/extending/key-vault.md
  14/umbraco-cms/extending/key-vault.md
Labels: category/umbraco-cms, review/docsteam

#6303 Cleanup Hotfixes article
  umbraco-cloud/deployment/hotfixes/README.md
Labels: category/umbraco-cloud, review/docsteam

#6306 Update document-type-localization
  13/umbraco-cms/fundamentals/data/defining-content/document-type-localization.md
Labels: category/umbraco-cms, category/styleguide

#6302 Update ui-config-files.md
  13/umbraco-commerce/key-concepts/ui-config-files.md
Labels: category/umbraco-commerce

#6228 Create property dataset README.md
  14/umbraco-cms/extending/property-dataset/README.md
Labels: category/umbraco-cms

#6240 Updated Section article and references to Settings tree
  14/umbraco-cms/fundamentals/backoffice/images/Add-ons.png
  14/umbraco-cms/fundamentals/backoffice/images/locked-v14.png
  14/umbraco-cms/fundamentals/backoffice/sections.md
  14/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
  14/umbraco-cms/fundamentals/code/images/log-messages-v14.png
  14/umbraco-cms/fundamentals/code/images/log-viewer-v14.png
  14/umbraco-cms/fundamentals/code/subscribing-to-notifications.md
  14/umbraco-cms/fundamentals/data/relations.md
  14/umbraco-cms/reference/searching/examine/examine-management.md
Labels: category/umbraco-cms, review/docsteam

#6308 Removed Inheriatnce from title and fixed vale eroors
  14/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
Labels: category/umbraco-cms, review/docsteam

#6311 Update creating a property editor
  10/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
  12/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
  13/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
Labels: category/umbraco-cms, category/styleguide

#6313 Fix Bellissima incorrect spelling
  14/umbraco-cms/extending/customize-backoffice/README.md
Labels: category/umbraco-cms

#6315 Typo in example on label-property-configuration.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
Labels: category/umbraco-cms

#6310 Fix Acronym rule for vale
  .github/styles/UmbracoDocs/Acronyms.yml
  10/umbraco-cms/extending/health-check/guides/macroerrors.md
  13/umbraco-cms/extending/health-check/README.md
  14/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/styleguide, review/docsteam
