Repository umbraco/UmbracoDocs, pull requests merged in 2024-08, with the labels that each got.

#6314 Added release notes and documentation updates for Forms 13.2.1 and 14.1.1.
  13/umbraco-forms/developer/working-with-data.md
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/developer/working-with-data.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6317 Notes on renamed pickers
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/content-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/document-picker.md
Labels: category/umbraco-cms, review/docsteam

#6320 Umbraco Commerce Deploy v14.0.0-rc1 release notes
  commerce-add-ons/packages/deploy/release-notes.md
Labels: category/umbraco-commerce

#6322 Release notes - Workflow August patch
  13/umbraco-workflow/release-notes.md
  14/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow, release-notes

#6318 Bundle examples
  14/umbraco-cms/extending/backoffice-setup/extension-registry/bundle.md
Labels: category/umbraco-cms

#6319 Update README.md
  14/umbraco-cms/extending/section-trees/sections/README.md
Labels: category/umbraco-cms

#6324 Update umbraco commerce overview
  10/umbraco-commerce/key-concepts/overview.md
  12/umbraco-commerce/key-concepts/overview.md
  13/umbraco-commerce/key-concepts/overview.md
Labels: category/styleguide, category/umbraco-commerce

#6326 Fixed broken links in Sections article
  14/umbraco-cms/extending/section-trees/sections/README.md
Labels: category/umbraco-cms, review/docsteam

#6332 Update organizations.md
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/organizations.md
Labels: category/umbraco-cloud

#6331 Update content-templates.md - a typo
  13/umbraco-cms/fundamentals/backoffice/content-templates.md
Labels: category/umbraco-cms

#6330 Removed reference to an empty article from SUMMARY.md
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/reference/templating/modelsbuilder/README.md
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/templating/modelsbuilder/README.md
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/templating/modelsbuilder/README.md
  13/umbraco-cms/reference/templating/modelsbuilder/install-the-full-version.md
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/reference/templating/modelsbuilder/README.md
  14/umbraco-cms/reference/templating/modelsbuilder/install-the-full-version.md
Labels: category/umbraco-cms, review/docsteam

#6328 Opdate references to dependency injection
  13/umbraco-cms/extending/filesystemproviders/azure-blob-storage.md
  13/umbraco-cms/fundamentals/code/subscribing-to-notifications.md
  13/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api.md
  13/umbraco-cms/reference/notifications/notification-handler.md
  13/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  13/umbraco-cms/reference/scheduling.md
  13/umbraco-cms/reference/security/serverside-sanitizing.md
  13/umbraco-cms/reference/using-ioc.md
  13/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
  14/umbraco-cms/extending/filesystemproviders/azure-blob-storage.md
  14/umbraco-cms/fundamentals/code/subscribing-to-notifications.md
  14/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api.md
  14/umbraco-cms/reference/notifications/notification-handler.md
  14/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  14/umbraco-cms/reference/scheduling.md
  14/umbraco-cms/reference/security/serverside-sanitizing.md
  14/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
Labels: category/umbraco-cms, review/docsteam

#6329 Commerce: Updated articles for v14
  14/umbraco-commerce/README.md
  14/umbraco-commerce/getting-started/umbraco-configuration.md
  14/umbraco-commerce/installation/install.md
  14/umbraco-commerce/media/v14/commerce-section.png
  14/umbraco-commerce/media/v14/creating-user-group.png
  14/umbraco-commerce/reference/shipping/dynamic-rate-shipping.md
  14/umbraco-commerce/reference/shipping/fixed-rate-shipping.md
  14/umbraco-commerce/reference/shipping/realtime-rate-shipping.md
Labels: review/docsteam, category/umbraco-commerce

#6333 Update: Umbraco Commerce Key Concepts Umbraco Properties
  10/umbraco-commerce/key-concepts/umbraco-properties.md
  12/umbraco-commerce/key-concepts/umbraco-properties.md
  13/umbraco-commerce/key-concepts/umbraco-properties.md
Labels: category/styleguide

#6334 Update media-picker-3.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
Labels: category/umbraco-cms

#6335 Umbraco Commerce Deploy v13.1.2 release notes
  commerce-add-ons/packages/deploy/release-notes.md
Labels: category/umbraco-commerce

#6325 Adding section to troubleshooting page.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#6297 Update the Health Check article
  14/umbraco-cms/extending/health-check/README.md
Labels: category/pending-release, category/umbraco-cms, release/14.2.0

#6338 Update broken link
  14/umbraco-cms/reference/routing/umbraco-api-controllers/porting-old-umbraco-apis.md
Labels: category/broken-link, category/umbraco-cms

#6340 Update weight description for dashboard as highest comes first in v14
  14/umbraco-cms/extending/dashboards.md
Labels: category/umbraco-cms

#6341 Add more details to the Content version cleanup article
  14/umbraco-cms/fundamentals/data/content-version-cleanup.md
Labels: category/umbraco-cms, review/docsteam

#6342 Umbraco Commerce v14-rc3 release notes
  14/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6339 Commerce: Updated some articles
  14/umbraco-commerce/.gitbook.yaml
  14/umbraco-commerce/README.md
  14/umbraco-commerce/SUMMARY.md
  14/umbraco-commerce/getting-started/install.md
  14/umbraco-commerce/getting-started/introduction.md
  14/umbraco-commerce/getting-started/requirements.md
  14/umbraco-commerce/getting-started/the-licensing-model.md
  14/umbraco-commerce/getting-started/umbraco-configuration.md
  14/umbraco-commerce/media/v14/nuget-package-overview.png
  14/umbraco-commerce/tutorials/overview.md
Labels: review/docsteam, category/umbraco-commerce

#6349 Remove invalid backtick in code blocks in extension-api-for-querying.md [Umbraco 12, 13,14 Docs]
  12/umbraco-cms/reference/content-delivery-api/extension-api-for-querying.md
  13/umbraco-cms/reference/content-delivery-api/extension-api-for-querying.md
  14/umbraco-cms/reference/content-delivery-api/extension-api-for-querying.md
Labels: category/umbraco-cms

#6348 Add Content Version Cleanup changes to 13 and 10
  10/umbraco-cms/fundamentals/data/content-version-cleanup.md
  13/umbraco-cms/fundamentals/data/content-version-cleanup.md
Labels: category/umbraco-cms

#6347 Cloud release notes july 2024
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2024-07-releasenotes.md
  umbraco-cloud/release-notes/images/sustainability-dashboard.png
  umbraco-cloud/release-notes/overview-2024.md
Labels: category/umbraco-cloud, review/docsteam

#6327 heartcore: updated webhook screenshots & info
  umbraco-heartcore/getting-started/images/addWebhook.png
  umbraco-heartcore/getting-started/images/manageWebhooks.png
  umbraco-heartcore/getting-started/images/webhooks-add.png
  umbraco-heartcore/getting-started/images/webhooks-dashboard.png
  umbraco-heartcore/getting-started/images/webhooks-manage.png
  umbraco-heartcore/getting-started/images/webhooksDashboards.png
  umbraco-heartcore/getting-started/webhooks.md
Labels: category/umbraco-heartcore

#6352 Update 2024-07-releasenotes.md
  umbraco-cloud/release-notes/2024-07-releasenotes.md
Labels: category/umbraco-cloud

#6353 Update overview-2024.md
  umbraco-cloud/release-notes/overview-2024.md
Labels: category/umbraco-cloud

#6345 Translate Property Editor Values in a multilingual site
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/checkbox-list.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/dropdown/README.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/radiobutton-list.md
  13/umbraco-cms/tutorials/images/dropdown-options.png
  13/umbraco-cms/tutorials/multilanguage-setup.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/checkbox-list.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/dropdown/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/radiobutton-list.md
  14/umbraco-cms/tutorials/images/dropdown-options.png
  14/umbraco-cms/tutorials/multilanguage-setup.md
Labels: category/umbraco-cms, review/docsteam

#6350 Update ishelpers
  10/umbraco-cms/reference/querying/ipublishedcontent/ishelpers.md
  12/umbraco-cms/reference/querying/ipublishedcontent/ishelpers.md
  13/umbraco-cms/reference/querying/ipublishedcontent/ishelpers.md
  14/umbraco-cms/reference/querying/ipublishedcontent/ishelpers.md
Labels: category/umbraco-cms, category/styleguide

#6343 Update dictionary-items.md
  13/umbraco-cms/fundamentals/data/dictionary-items.md
  14/umbraco-cms/fundamentals/data/dictionary-items.md
Labels: category/umbraco-cms, review/dteam

#6355 Update README.md
  13/umbraco-cms/fundamentals/setup/install/README.md
Labels: category/umbraco-cms

#6356 Work in Progress notes removed
  14/umbraco-cms/extending/packages/README.md
Labels: category/umbraco-cms

#6362 Update properties
  10/umbraco-cms/reference/querying/ipublishedcontent/properties.md
  12/umbraco-cms/reference/querying/ipublishedcontent/properties.md
  13/umbraco-cms/reference/querying/ipublishedcontent/properties.md
  14/umbraco-cms/reference/querying/ipublishedcontent/properties.md
Labels: category/umbraco-cms

#6357 Obsolete backoffice tours
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending/backoffice-tours.md
  14/umbraco-cms/extending/customize-the-editing-experience.md
  14/umbraco-cms/tutorials/creating-a-backoffice-tour.md
Labels: category/umbraco-cms, review/docsteam, release/14.0.0

#6359 Update Prevalue referenes to Options
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/fundamentals/backoffice/images/update-dropdown-options.gif
  14/umbraco-cms/fundamentals/backoffice/infinite-editing.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/checkbox-list.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/dropdown/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
  14/umbraco-cms/fundamentals/backoffice/sidebar.md
  14/umbraco-cms/fundamentals/data/data-types/README.md
  14/umbraco-cms/fundamentals/data/data-types/default-data-types.md
  14/umbraco-cms/fundamentals/data/data-types/images/dropdown-data-type-sample.png
  14/umbraco-cms/tutorials/creating-custom-views-for-blocklist.md
Labels: category/umbraco-cms, review/docsteam

#6364 Update import-with-migrations.md
  13/umbraco-deploy/deployment-workflow/import-with-migrations.md
Labels: category/umbraco-deploy

#6363 Added how to configure and use conditions on Workflows in Umbraco Forms
  10/umbraco-forms/editor/attaching-workflows/README.md
  10/umbraco-forms/editor/attaching-workflows/images/workflow-conditions.png
  12/umbraco-forms/editor/attaching-workflows/README.md
  12/umbraco-forms/editor/attaching-workflows/images/workflow-conditions.png
  13/umbraco-forms/editor/attaching-workflows/README.md
  13/umbraco-forms/editor/attaching-workflows/images/workflow-conditions.png
  14/umbraco-forms/editor/attaching-workflows/README.md
  14/umbraco-forms/editor/attaching-workflows/images/workflow-conditions.png
Labels: category/umbraco-forms, review/docsteam

#6358 Updates to creating basic site tutorial
  14/umbraco-cms/tutorials/creating-a-basic-website/README.md
  14/umbraco-cms/tutorials/creating-a-basic-website/adding-language-variants.md
  14/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  14/umbraco-cms/tutorials/creating-a-basic-website/conclusion.md
  14/umbraco-cms/tutorials/creating-a-basic-website/creating-master-template-part-1.md
  14/umbraco-cms/tutorials/creating-a-basic-website/creating-master-template-part-2.md
  14/umbraco-cms/tutorials/creating-a-basic-website/creating-your-first-template-and-content-node.md
  14/umbraco-cms/tutorials/creating-a-basic-website/displaying-the-document-type-properties.md
  14/umbraco-cms/tutorials/creating-a-basic-website/document-types.md
  14/umbraco-cms/tutorials/creating-a-basic-website/getting-started.md
  14/umbraco-cms/tutorials/creating-a-basic-website/images/enable-vary-by-culture-property.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/installing-umbraco.png
  14/umbraco-cms/tutorials/creating-a-basic-website/setting-the-navigation-menu.md
Labels: category/umbraco-cms, review/docsteam

#6369 Fix legacy ProviderName in sqlite examples
  14/umbraco-cms/fundamentals/setup/install/unattended-install.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  14/umbraco-cms/reference/configuration/connectionstringssettings.md
  14/umbraco-commerce/how-to-guides/configure-sqlite-support.md
Labels: category/umbraco-cms

#6373 V14: Update the example for adding settings to a Custom View
  14/umbraco-cms/tutorials/creating-custom-views-for-blocklist.md
Labels: category/umbraco-cms

#6370 Umbraco Commerce v14 release notes
  14/umbraco-commerce/SUMMARY.md
  14/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/release-notes/v14.0.0.md
  commerce-add-ons/packages/checkout/release-notes.md
  commerce-add-ons/packages/deploy/release-notes.md
  commerce-add-ons/shipping-providers/dhl/release-notes.md
  commerce-add-ons/shipping-providers/easypost/release-notes.md
  commerce-add-ons/shipping-providers/shipmondo/release-notes.md
Labels: category/umbraco-commerce, release/14.0.0

#6382 Update lead paragraph of creating-custom-views-for-blocklist.md
  14/umbraco-cms/tutorials/creating-custom-views-for-blocklist.md
Labels: category/umbraco-cms

#6381 V14: Update the login.md article
  14/umbraco-cms/fundamentals/backoffice/images/timeout-screen.jpg
  14/umbraco-cms/fundamentals/backoffice/login.md
Labels: category/umbraco-cms

#6375 Update frequently-asked-questions.md
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud

#6383 add hint for https when installing umbraco
  14/umbraco-cms/fundamentals/setup/install/README.md
Labels: category/umbraco-cms

#6384 Migrate cloud fixes
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/getting-started/migrate-to-umbraco-cloud.md
Labels: category/umbraco-cloud

#6385 Migrate cloud fixes
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/getting-started/migrate-existing-site/README.md
  umbraco-cloud/getting-started/migrate-existing-site/images/App_Data-deleted.png
  umbraco-cloud/getting-started/migrate-existing-site/images/Cloud-trial-gif.gif
  umbraco-cloud/getting-started/migrate-existing-site/images/MemberType-delete.png
  umbraco-cloud/getting-started/migrate-existing-site/images/changes-on-dev.png
  umbraco-cloud/getting-started/migrate-existing-site/images/deploy-export.gif
  umbraco-cloud/getting-started/migrate-existing-site/images/deployDashBoard.png
  umbraco-cloud/getting-started/migrate-existing-site/images/setup-dev-env.png
  umbraco-cloud/getting-started/migrate-existing-site/images/transfer-v9.gif
  umbraco-cloud/getting-started/migrate-existing-site/images/transfer.gif
  umbraco-cloud/getting-started/migrate-existing-site/migrating-users-to-umbraco-cloud.md
Labels: category/umbraco-cloud
