Repository umbraco/UmbracoDocs, pull requests merged in 2024-12, with the labels that each got.

#6609 Update README.md
  10/umbraco-cms/reference/notifications/README.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6707 Added information about precompresssed files
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms

#6711 Added an example to IIS rewrites article
  10/umbraco-cms/reference/routing/iisrewriterules.md
  13/umbraco-cms/reference/routing/iisrewriterules.md
  14/umbraco-cms/reference/routing/iisrewriterules.md
  15/umbraco-cms/reference/routing/iisrewriterules.md
  umbraco-cloud/set-up/project-settings/manage-hostnames/rewrites-on-cloud.md
Labels: category/umbraco-cms

#6716 Removed redundant info
  umbraco-cloud/security/README.md
Labels: category/umbraco-cloud

#6719 Update umbraco-cloud-plans.md
  umbraco-cloud/getting-started/umbraco-cloud-plans.md
Labels: category/umbraco-cloud

#6720 Minor typo fix for Release 13.1.13
  13/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6723 Added release notes for Forms 13.3.3, 14.2.3, 15.0.3
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6726 Update authorized-services.md
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/marketplace

#6724 Refined node.js article with updated code and steps
  umbraco-heartcore/client-libraries/node-js.md
Labels: category/umbraco-heartcore

#6722 Add Telemetry article back to 15
  14/umbraco-commerce/SUMMARY.md
  14/umbraco-commerce/reference/telemetry.md
  15/umbraco-commerce/reference/telemetry.md
Labels: review/docsteam, category/umbraco-commerce

#6729 Fixes code sample for Umbraco 15
  15/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms

#6715 Update Date Time property editor article
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time.md
Labels: category/umbraco-cms, review/docsteam

#6727 Update manage-security.md to include WAF paragraph and link to the WAF section in the docs
  umbraco-cloud/set-up/project-settings/manage-security.md
Labels: category/umbraco-cloud

#6735 Update Key in licence docs for v15
  15/umbraco-commerce/getting-started/the-licensing-model.md
Labels: category/umbraco-commerce

#6736 Adds content to explain free vs licensed Workflow features
  10/umbraco-workflow/installation/licensing.md
  13/umbraco-workflow/installation/licensing.md
  14/umbraco-workflow/installation/licensing.md
  15/umbraco-workflow/installation/licensing.md
Labels: category/umbraco-workflow

#6712 Feature: New Backoffice Extension Type: Entity Create Option Action
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/customizing/extending-overview/extension-types/entity-create-option-action.md
Labels: category/umbraco-cms, review/docsteam

#6738 Added Entity Create Option Action article to v15
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/extending-overview/extension-types/entity-create-option-action.md
Labels: category/umbraco-cms

#6710 Document the "Convert file names to ASCII" config
  .github/styles/UmbracoDocs/Acronyms.yml
  13/umbraco-cms/reference/configuration/requesthandlersettings.md
  15/umbraco-cms/reference/configuration/requesthandlersettings.md
Labels: category/pending-release, category/umbraco-cms

#6739 Update creating-master-template-part-2.md
  15/umbraco-cms/tutorials/creating-a-basic-website/creating-master-template-part-2.md
Labels: category/umbraco-cms

#6737 Removed deprecated article and mentions of it
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/customizing/umbraco-package.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-blocks.md
  14/umbraco-cms/reference/umbraco-flavored-markdown.md
  15/umbraco-cms/.gitbook.yaml
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/umbraco-package.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/README.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/blocks.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/blocks.md
  15/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/umbraco-cms

#6740 Update dependency-exceptions.md
  umbraco-cloud/troubleshooting/deployments/dependency-exceptions.md
Labels: category/umbraco-cloud

#6732 Update mediapicker article with an example
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
Labels: category/umbraco-cms

#6744 Update UI Builder Licence Key Key
  15/umbraco-ui-builder/installation/licensing-model.md
Labels: category/umbraco-ui-builder

#6745 Correct typo of Suppress as "Supress"
  10/umbraco-cms/reference/notifications/contentservice-notifications.md
  10/umbraco-cms/reference/notifications/mediaservice-notifications.md
  10/umbraco-cms/reference/notifications/memberservice-notifications.md
  13/umbraco-cms/reference/notifications/contentservice-notifications.md
  13/umbraco-cms/reference/notifications/mediaservice-notifications.md
  13/umbraco-cms/reference/notifications/memberservice-notifications.md
  14/umbraco-cms/reference/notifications/mediaservice-notifications.md
  14/umbraco-cms/reference/notifications/memberservice-notifications.md
  15/umbraco-cms/reference/notifications/mediaservice-notifications.md
  15/umbraco-cms/reference/notifications/memberservice-notifications.md
Labels: category/umbraco-cms

#6731 Added release notes for Forms 13.4-rc1 and 15.1-rc1
  13/umbraco-forms/SUMMARY.md
  13/umbraco-forms/developer/configuration/README.md
  13/umbraco-forms/editor/creating-a-form/form-advanced.md
  13/umbraco-forms/editor/creating-a-form/form-settings.md
  13/umbraco-forms/editor/creating-a-form/images/validation-rules.png
  13/umbraco-forms/release-notes.md
  15/umbraco-forms/SUMMARY.md
  15/umbraco-forms/developer/configuration/README.md
  15/umbraco-forms/editor/creating-a-form/form-advanced.md
  15/umbraco-forms/editor/creating-a-form/form-settings.md
  15/umbraco-forms/editor/creating-a-form/images/validation-rules.png
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6748 Added details on removing built-in email templates
  13/umbraco-forms/developer/themes.md
  14/umbraco-forms/developer/themes.md
  15/umbraco-forms/developer/themes.md
  15/umbraco-forms/upgrading/version-specific.md
Labels: category/umbraco-forms, review/docsteam

#6749 More info on the take parameter
  15/umbraco-cms/reference/content-delivery-api/media-delivery-api.md
Labels: category/umbraco-cms, review/docsteam

#6747 Described option for using underscores in product keys when configuring product licenses with environment variables.
  10/umbraco-commerce/installation/licensing-model.md
  10/umbraco-ui-builder/installation/licensing-model.md
  13/umbraco-commerce/installation/the-licensing-model.md
  13/umbraco-deploy/installation/install-configure.md
  13/umbraco-deploy/installation/the-licensing-model.md
  13/umbraco-engage/installation/licensing.md
  13/umbraco-ui-builder/installation/licensing-model.md
  14/umbraco-commerce/getting-started/the-licensing-model.md
  14/umbraco-deploy/installation/install-configure.md
  14/umbraco-deploy/installation/the-licensing-model.md
  14/umbraco-ui-builder/installation/licensing-model.md
  15/umbraco-commerce/getting-started/the-licensing-model.md
  15/umbraco-deploy/installation/install-configure.md
  15/umbraco-deploy/installation/the-licensing-model.md
  15/umbraco-ui-builder/installation/licensing-model.md
Labels: category/umbraco-deploy, review/docsteam, category/umbraco-commerce, category/umbraco-ui-builder, category/umbraco-engage

#6750 Cms/content delivery
  14/umbraco-cms/reference/content-delivery-api/additional-preview-environments-support.md
  15/umbraco-cms/reference/content-delivery-api/additional-preview-environments-support.md
Labels: category/umbraco-cms

#6638 Added timestamp filtering the the AzureTableLogEntity
  10/umbraco-cms/fundamentals/backoffice/logviewer.md
  13/umbraco-cms/fundamentals/backoffice/logviewer.md
  14/umbraco-cms/fundamentals/backoffice/logviewer.md
  15/umbraco-cms/fundamentals/backoffice/logviewer.md
Labels: category/umbraco-cms

#6718 Simplified steps in Major upgrades Cloud article
  umbraco-cloud/.gitbook/assets/runtime-settings.png
  umbraco-cloud/product-upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#6753 Update Umbraco.UIBuilder release notes and searchable properties
  13/umbraco-ui-builder/release-notes.md
  13/umbraco-ui-builder/searching/searchable-properties.md
  14/umbraco-ui-builder/release-notes.md
  14/umbraco-ui-builder/searching/searchable-properties.md
  15/umbraco-ui-builder/release-notes.md
  15/umbraco-ui-builder/searching/searchable-properties.md
Labels: category/umbraco-ui-builder

#6755 Forms/extending settings
  14/umbraco-forms/developer/extending/setting-types.md
  15/umbraco-forms/developer/extending/adding-a-fieldtype.md
  15/umbraco-forms/developer/extending/setting-types.md
Labels: category/umbraco-forms

#6759 Release notes for Forms 13.4.0-rc2 and 15.1.0-rc2
  13/umbraco-forms/release-notes.md
  15/umbraco-forms/developer/extending/adding-a-fieldtype.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6725 Update permissions.md
  15/umbraco-cms/fundamentals/setup/server-setup/permissions.md
Labels: category/umbraco-cms

#6758 Fix for https://github.com/umbraco/UmbracoDocs/issues/6728
  14/umbraco-cms/tutorials/creating-a-backoffice-api/README.md
Labels: category/umbraco-cms

#6760 Added release notes for Forms 13.4-rc3 and 15.1-rc3
  13/umbraco-forms/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms
