Repository umbraco/UmbracoDocs, pull requests merged in 2024-01, with the labels that each got.

#5737 Update release-notes.md for Buckaroo Payment provider v13.1.0
  commerce-add-ons/payment-providers/buckaroo/release-notes.md
Labels: category/umbraco-commerce

#5743 CICD Samples refresh with Bash scripts
  umbraco-cloud/.gitbook/assets/UC-advanced-CICD.png
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/README.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/azure-devops-pwsh.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/azure-devops.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/github-actions-pwsh.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/github-actions.md
Labels: category/umbraco-cloud

#5742 Update customizing the links box
  10/umbraco-cms/reference/notifications/editormodel-notifications/customizing-the-links-box.md
Labels: category/umbraco-cms

#5750 Added release notes for Deploy 4.9.2, 10.3.2, 12.1.2, 13.0.2.
  10/umbraco-deploy/deploy-settings.md
  10/umbraco-deploy/release-notes.md
  11/umbraco-deploy/release-notes.md
  12/umbraco-deploy/deploy-settings.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-deploy/deploy-settings.md
  13/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5751 Added details of Deploy settings included in recent versions of Deploy 4 (for Umbraco 8).
  Add-ons/Umbraco-Deploy/Deploy-Settings/index.md
Labels: category/umbraco-deploy

#5748 Update content type
  10/umbraco-cms/reference/management/models/contenttype.md
  12/umbraco-cms/reference/management/models/contenttype.md
  13/umbraco-cms/reference/management/models/contenttype.md
Labels: category/umbraco-cms, category/styleguide

#5752 Update relation type
  10/umbraco-cms/reference/management/models/relationtype.md
  12/umbraco-cms/reference/management/models/relationtype.md
  13/umbraco-cms/reference/management/models/relationtype.md
Labels: category/umbraco-cms, category/styleguide

#5753 Update serverregistration
  10/umbraco-cms/reference/management/models/serverregistration.md
  12/umbraco-cms/reference/management/models/serverregistration.md
  13/umbraco-cms/reference/management/models/serverregistration.md
Labels: category/umbraco-cms, category/styleguide

#5755 docs (Typo) address grammar issues in github-actions.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/github-actions.md
Labels: category/umbraco-cloud

#5756 Update template
  10/umbraco-cms/reference/management/models/template.md
  12/umbraco-cms/reference/management/models/template.md
  13/umbraco-cms/reference/management/models/template.md
Labels: category/umbraco-cms, category/styleguide

#5759 Update mediaservice
  10/umbraco-cms/reference/management/services/mediaservice.md
  12/umbraco-cms/reference/management/services/mediaservice.md
  13/umbraco-cms/reference/management/services/mediaservice.md
Labels: category/umbraco-cms, category/styleguide

#5761 Update determining new entity
  10/umbraco-cms/reference/notifications/determining-new-entity.md
  12/umbraco-cms/reference/notifications/determining-new-entity.md
  13/umbraco-cms/reference/notifications/determining-new-entity.md
Labels: category/umbraco-cms, category/styleguide

#5760 Added release notes and updates to documentation for Forms 8.13.13, 10.5.3, 12.2.2, 13.0.1.
  10/umbraco-deploy/release-notes.md
  10/umbraco-forms/developer/configuration/README.md
  10/umbraco-forms/developer/rendering-scripts.md
  10/umbraco-forms/release-notes.md
  12/umbraco-forms/developer/configuration/README.md
  12/umbraco-forms/developer/rendering-scripts.md
  12/umbraco-forms/release-notes.md
  13/umbraco-deploy/release-notes.md
  13/umbraco-forms/developer/configuration/README.md
  13/umbraco-forms/developer/rendering-scripts.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#5762 Added release notes and documentation updates for Deploy 4.9.3 10.3.3, 12.1.3 13.0.3.
  10/umbraco-deploy/getting-started/deploy-settings.md
  10/umbraco-deploy/release-notes.md
  12/umbraco-deploy/getting-started/deploy-settings.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-deploy/getting-started/deploy-settings.md
  13/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5739 Update release-notes.md for Stripe Payment provider v13.1.0
  commerce-add-ons/payment-providers/stripe/release-notes.md
Labels: category/umbraco-commerce

#5764 Updated the default value of AllowConcurrentLogins
  13/umbraco-cms/reference/configuration/securitysettings.md
Labels: category/umbraco-cms

#5769 UIBuilder v13 release notes updates
  13/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#5718 Update package-manifest.md
  10/umbraco-cms/extending/property-editors/package-manifest.md
Labels: category/umbraco-cms, state/needs-reproduction, review/docsteam

#5766 Update release-notes.md
  12/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#5768 Updated Forms theme version links
  10/umbraco-forms/developer/themes.md
  12/umbraco-forms/developer/themes.md
  13/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#5767 Added additional configuration option introduced in Forms and Deploy for Umbraco 8.
  Add-ons/Umbraco-Deploy/Deploy-Settings/index.md
  Add-ons/UmbracoForms/Developer/Configuration/index.md
Labels: category/umbraco-deploy

#5773 Updated changelog for Klarna payment provider
  commerce-add-ons/payment-providers/klarna/release-notes.md
Labels: category/umbraco-commerce

#5772 Update broken changelog link for all supported versions
  10/umbraco-ui-builder/release-notes.md
  12/umbraco-ui-builder/release-notes.md
  13/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#5754 Update fixedapplicationurl.md
  13/umbraco-cms/extending/health-check/guides/fixedapplicationurl.md
Labels: category/umbraco-cloud

#5690 V13.1: TinyMCE Custom & Premium Plugins
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/configuration.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/my-rte-button-editor.jpg
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/my-rte-button.jpg
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-plugins.md
  13/umbraco-cms/reference/configuration/richtexteditorsettings.md
Labels: category/umbraco-cms, release/13.1.0

#5779 Remove double semi colon in connection string
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-cloud

#5780 V13: Update TinyMCE v5 to v6
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/configuration.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-plugins.md
  13/umbraco-cms/reference/configuration/richtexteditorsettings.md
  13/umbraco-cms/tutorials/editors-manual/working-with-content/rich-text-editor.md
Labels: category/umbraco-cms

#5781 Adds release notes for Workflow 10.3.6, 12.2.3, 13.0.2
  10/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
  13/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#5784 V14, UmbState: set value example
  new-backoffice/extending/states.md
Labels: category/umbraco-new-backoffice

#5701 Adds documentation for Workflow Data Generator extension
  13/umbraco-workflow/data-generator/data-generator.md
  13/umbraco-workflow/data-generator/images/data-gen-dashboard.png
  13/umbraco-workflow/data-generator/images/data-gen-reset.png
  13/umbraco-workflow/installation/installing-workflow.md
Labels: category/umbraco-workflow, release/13.0.0

#5794 Update content app (remove Program.cs or Startup.cs examples)
  10/umbraco-cms/extending/content-apps.md
  12/umbraco-cms/extending/content-apps.md
  13/umbraco-cms/extending/content-apps.md
Labels: category/umbraco-cms

#5808 Update secrets-management.md
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/umbraco-cloud

#5804 New Backoffice: Preview004
  new-backoffice/README.md
  new-backoffice/extending/development-flow/README.md
  new-backoffice/extending/development-flow/vite-package-setup.md
  new-backoffice/getting-started/getting-started-with-the-new-backoffice.md
  new-backoffice/getting-started/installing-preview-builds/README.md
  new-backoffice/getting-started/installing-preview-builds/alpha-release.md
  new-backoffice/tutorials/creating-a-custom-dashboard/adding-functionality-to-the-dashboard.md
  new-backoffice/tutorials/creating-a-property-editor.md
  new-backoffice/tutorials/creating-your-first-extension.md
  new-backoffice/tutorials/images/my-dashboard.jpg
Labels: category/umbraco-new-backoffice

#5807 Update CICD / KnownLimitationsAndConsiderations.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/KnownLimitationsAndConsiderations.md
Labels: category/umbraco-cloud

#5799 Updated URL typo error in configuration.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/configuration.md
Labels: category/broken-link, category/umbraco-cms, category/styleguide

#5797 Update dictionary items
  10/umbraco-cms/fundamentals/data/dictionary-items.md
  12/umbraco-cms/fundamentals/data/dictionary-items.md
  13/umbraco-cms/fundamentals/data/dictionary-items.md
Labels: category/umbraco-cms, category/styleguide

#5788 Update order calculation state
  10/umbraco-commerce/key-concepts/order-calculation-state.md
  12/umbraco-commerce/key-concepts/order-calculation-state.md
  13/umbraco-commerce/key-concepts/order-calculation-state.md
Labels: category/styleguide, category/umbraco-commerce

#5783 Update umb load indicator
  10/umbraco-cms/reference/angular/directives/umbloadindicator.md
  12/umbraco-cms/reference/angular/directives/umbloadindicator.md
  13/umbraco-cms/reference/angular/directives/umbloadindicator.md
Labels: category/umbraco-cms, category/styleguide

#5805 Update ajaxforms
  12/umbraco-forms/developer/ajaxforms.md
  13/umbraco-forms/developer/ajaxforms.md
Labels: category/umbraco-forms, category/styleguide

#5785 Update umbracoapplicationlifetime notifications
  10/umbraco-cms/reference/notifications/umbracoapplicationlifetime-notifications.md
  12/umbraco-cms/reference/notifications/umbracoapplicationlifetime-notifications.md
  13/umbraco-cms/reference/notifications/umbracoapplicationlifetime-notifications.md
Labels: category/umbraco-cms, category/styleguide

#5776 Custom fieldtype path incorrect in custom-markup.md
  12/umbraco-forms/developer/custom-markup.md
Labels: category/umbraco-forms

#5798 Update adding-a-workflowtype.md
  13/umbraco-forms/developer/extending/adding-a-workflowtype.md
Labels: category/umbraco-forms

#5809 Umbraco.UIBuilder - 12.0.3/13.0.2 release notes
  12/umbraco-ui-builder/release-notes.md
  13/umbraco-ui-builder/release-notes.md
Labels: release-notes, category/umbraco-ui-builder

#5795 Update package manifest and property editor docs
  10/umbraco-cms/extending/property-editors/package-manifest.md
  10/umbraco-cms/tutorials/creating-a-property-editor/README.md
  10/umbraco-cms/tutorials/creating-a-property-editor/part-2.md
  10/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
  10/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
  12/umbraco-cms/extending/property-editors/package-manifest.md
  12/umbraco-cms/tutorials/creating-a-property-editor/README.md
  12/umbraco-cms/tutorials/creating-a-property-editor/part-2.md
  12/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
  12/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
  13/umbraco-cms/extending/property-editors/package-manifest.md
  13/umbraco-cms/tutorials/creating-a-property-editor/README.md
  13/umbraco-cms/tutorials/creating-a-property-editor/part-2.md
  13/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
  13/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
Labels: category/umbraco-cms, review/docsteam

#5812 Update label
  10/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/label.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/label.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/label.md
Labels: category/umbraco-cms, category/styleguide

#5792 Updated Deploy's troubleshooting page to include reference to the import/export feature.
  10/umbraco-deploy/troubleshooting.md
  12/umbraco-deploy/troubleshooting.md
  13/umbraco-deploy/troubleshooting.md
Labels: category/umbraco-deploy

#5818 Update quickpay release-notes.md - add v13.0.1 and v12.0.1
  commerce-add-ons/payment-providers/quickpay/release-notes.md
Labels: release-notes, category/umbraco-commerce

#5817 Fix - Duplicated class declaration #5789
  13/umbraco-cms/reference/routing/custom-routes.md
Labels: category/umbraco-cms

#5813 update custom filters docs with more clear steps
  10/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  12/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
Labels: category/umbraco-cms, review/docsteam

#5816 Added READMe.md files and some minor changes
  sustainability-best-practices/SUMMARY.md
  sustainability-best-practices/backend/README.md
  sustainability-best-practices/editor/README.md
  sustainability-best-practices/frontend/README.md
  sustainability-best-practices/frontend/assets-optimisation.md
  sustainability-best-practices/frontend/image-optimisation.md
  sustainability-best-practices/frontend/lazy-load-resources.md
  sustainability-best-practices/frontend/limit-use-of-3rd-parties.md
  sustainability-best-practices/frontend/mobile-first.md
  sustainability-best-practices/frontend/page-weight-budgets.md
  sustainability-best-practices/infrastructure/README.md
Labels: review/docsteam, category/sustainability-best-practices

#5806 Update workflow types
  10/umbraco-forms/editor/attaching-workflows/workflow-types.md
  12/umbraco-forms/editor/attaching-workflows/workflow-types.md
  13/umbraco-forms/editor/attaching-workflows/workflow-types.md
Labels: category/umbraco-forms, category/styleguide
