Repository umbraco/UmbracoDocs, pull requests merged in 2024-06, with the labels that each got.

#6140 Added details of client-side extension points with Forms 14.
  14/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-forms

#6149 Add info for mid-year Heartcore migration
  umbraco-heartcore/SUMMARY.md
  umbraco-heartcore/release-notes/core-dependency-upgrade.md
Labels: category/umbraco-heartcore

#6154 Heartcore migration change won't affect media
  umbraco-heartcore/release-notes/core-dependency-upgrade.md
Labels: category/umbraco-heartcore

#6155 Removed u.UseInstallerEndpoints(); from the documentation for v14
  14/umbraco-cms/extending/key-vault.md
  14/umbraco-cms/reference/routing/custom-routes.md
  14/umbraco-cms/reference/security/ssl-https.md
Labels: category/umbraco-cms

#6147 Updated path for delivery API in Forms 14
  14/umbraco-forms/developer/ajaxforms.md
Labels: category/umbraco-forms, release/14.0.0

#6152 Update docs for Forms 13
  13/umbraco-forms/developer/extending/images/multiple-text-string.png
  13/umbraco-forms/developer/extending/setting-types.md
Labels: category/umbraco-forms, release/13.0.0

#6159 Added release notes for Forms 14.0.1
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6163 updated install docs for versions below v14
  10/umbraco-cms/fundamentals/setup/install/README.md
  12/umbraco-cms/fundamentals/setup/install/README.md
  13/umbraco-cms/fundamentals/setup/install/README.md
Labels: category/umbraco-cms

#6165 Add Deploy 14.0.1 release notes
  14/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#6172 Added details of themes download for Forms 14
  14/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#6150 Remove incorrect codeblock formatting
  14/umbraco-cms/implementation/controllers.md
Labels: category/umbraco-cms

#6166 Rewrite and restructure API docs for V14
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/implementation/controllers.md
  14/umbraco-cms/reference/routing/authorized.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/porting-old-umbraco-apis.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/routing.md
  14/umbraco-cms/reference/security/README.md
  14/umbraco-cms/tutorials/creating-a-backoffice-api/README.md
  14/umbraco-cms/tutorials/creating-a-backoffice-api/access-policies.md
Labels: category/umbraco-cms, release/14.0.0

#6171 Rewrite "Member Registration and Login" for V14 (and without macros)
  14/umbraco-cms/tutorials/images/v14-assign-member-group.png
  14/umbraco-cms/tutorials/images/v14-configure-public-access.png
  14/umbraco-cms/tutorials/images/v14-create-login-partial-view.png
  14/umbraco-cms/tutorials/images/v14-create-member-group-step-2.png
  14/umbraco-cms/tutorials/images/v14-create-member-group.png
  14/umbraco-cms/tutorials/images/v14-create-partial-view-from-login-snippet.png
  14/umbraco-cms/tutorials/images/v14-create-partial-view-from-snippet.png
  14/umbraco-cms/tutorials/images/v14-create-register-login-page.png
  14/umbraco-cms/tutorials/images/v14-list-of-partial-views.png
  14/umbraco-cms/tutorials/images/v14-login-status.png
  14/umbraco-cms/tutorials/images/v14-members-overview.png
  14/umbraco-cms/tutorials/images/v14-register-login-page-rendered.png
  14/umbraco-cms/tutorials/images/v14-restrict-content-access.png
  14/umbraco-cms/tutorials/images/v8-01-Partial-Macro-Create.png
  14/umbraco-cms/tutorials/images/v8-02-Partial-Macro-Snippets.png
  14/umbraco-cms/tutorials/images/v8-03-Partial-Macro-Register.png
  14/umbraco-cms/tutorials/images/v8-04-Partial-Snippets.png
  14/umbraco-cms/tutorials/images/v8-05-Macros-Settings.png
  14/umbraco-cms/tutorials/images/v8-06-RTE-Macro.png
  14/umbraco-cms/tutorials/images/v8-07-RTE-Macro-Insert.png
  14/umbraco-cms/tutorials/images/v8-08-Login-Page-Frontend.png
  14/umbraco-cms/tutorials/images/v8-09-Backoffice-Members.png
  14/umbraco-cms/tutorials/images/v8-10-Login-Partial-In-Nav.png
  14/umbraco-cms/tutorials/images/v8-11-Login-Partial-Frontend.png
  14/umbraco-cms/tutorials/images/v8-12-New-Member-Group.png
  14/umbraco-cms/tutorials/images/v8-13-Member-Group-Assign.png
  14/umbraco-cms/tutorials/images/v8-14-Restrict-Public-Access.png
  14/umbraco-cms/tutorials/images/v8-15-Restrict-Public-Access-Details.png
  14/umbraco-cms/tutorials/images/v8-17-Assign-User-Access-Group.png
  14/umbraco-cms/tutorials/images/v8-18-Approve-Member.png
  14/umbraco-cms/tutorials/members-registration-and-login.md
Labels: category/umbraco-cms, release/14.0.0

#6173 Cleaned up config docs for V14
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/fundamentals/setup/server-setup/load-balancing/README.md
  14/umbraco-cms/reference/configuration/README.md
  14/umbraco-cms/reference/configuration/contentsettings.md
  14/umbraco-cms/reference/configuration/globalsettings.md
  14/umbraco-cms/reference/configuration/keepalivesettings.md
  14/umbraco-cms/reference/configuration/runtimesettings.md
  14/umbraco-cms/reference/configuration/tourssettings.md
  14/umbraco-cms/reference/security/ssl-https.md
Labels: category/umbraco-cms, release/14.0.0

#6182 Add warning to Document Type Localization
  14/umbraco-cms/fundamentals/data/defining-content/document-type-localization.md
Labels: category/umbraco-cms

#6174 Umbraco Commerce v14.0.0-Alpha2 release notes
  14/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6175 Fixes the delivery API details documented for Forms 14
  14/umbraco-forms/.gitbook/assets/umbraco_forms_swagger.json
Labels: category/umbraco-forms

#6187 Added release notes for Forms 14.0.2
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6188 Fixed broken link
  14/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
Labels: category/umbraco-cms, review/docsteam

#6169 Static outbound IPs vary per region
  umbraco-cloud/set-up/project-settings/external-services.md
Labels: category/umbraco-cloud

#6176 Rewrite the Collections part of the Composing article for V14
  14/umbraco-cms/implementation/composing.md
Labels: category/umbraco-cms, release/14.0.0

#6179 Do not mention Macros in the Backoffice fundementals article
  14/umbraco-cms/fundamentals/backoffice/README.md
Labels: category/umbraco-cms, release/14.0.0

#6186 add full character substitution details
  umbraco-heartcore/release-notes/core-dependency-upgrade.md
Labels: category/umbraco-heartcore

#6180 Fix backend part of property editor docs
  14/umbraco-cms/extending/property-editors/README.md
  14/umbraco-cms/extending/property-editors/build-a-block-editor.md
  14/umbraco-cms/extending/property-editors/declaring-your-property-editor.md
  14/umbraco-cms/extending/property-editors/full-examples-value-converters.md
  14/umbraco-cms/extending/property-editors/package-manifest.md
  14/umbraco-cms/extending/property-editors/property-value-converters.md
  14/umbraco-cms/extending/property-editors/tracking.md
Labels: category/umbraco-cms, release/14.0.0

#6189 Add reference to the id field in the example umbraco-package.json file.
  14/umbraco-cms/tutorials/creating-a-property-editor/adding-configuration-to-a-property-editor.md
Labels: category/umbraco-cms

#6184 Remove all mentions of right-clicking in action menus
  14/umbraco-cms/fundamentals/backoffice/document-blueprints.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-styles.md
  14/umbraco-cms/fundamentals/backoffice/variants.md
  14/umbraco-cms/fundamentals/data/creating-media/README.md
  14/umbraco-cms/fundamentals/data/defining-content/README.md
  14/umbraco-cms/fundamentals/data/dictionary-items.md
  14/umbraco-cms/fundamentals/data/members.md
  14/umbraco-cms/fundamentals/data/relations.md
  14/umbraco-cms/fundamentals/design/partial-views.md
  14/umbraco-cms/fundamentals/design/stylesheets-javascript.md
  14/umbraco-cms/fundamentals/design/templates/README.md
  14/umbraco-cms/tutorials/creating-a-backoffice-tour.md
  14/umbraco-cms/tutorials/editors-manual/media-management/working-with-folders.md
  14/umbraco-cms/tutorials/editors-manual/media-management/working-with-images-and-files.md
  14/umbraco-cms/tutorials/editors-manual/tips-and-tricks/working-with-folders.md
  14/umbraco-deploy/deployment-workflow/content-transfer.md
  14/umbraco-deploy/deployment-workflow/restoring-content/README.md
  14/umbraco-deploy/deployment-workflow/restoring-content/partial-restore.md
Labels: category/umbraco-cms, review/docsteam

#6181 Remove the CICD-mail from docs
  umbraco-cloud/set-up/project-settings/umbraco-cicd/KnownLimitationsAndConsiderations.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#6185 Update language/localization docs
  14/umbraco-cms/extending/language-files/README.md
  14/umbraco-cms/extending/language-files/net-localization.md
Labels: category/umbraco-cms, release/14.0.0

#6192 Corrected the ISO code for English (United Kingdom)
  10/umbraco-cms/reference/configuration/installdefaultdatasettings.md
  12/umbraco-cms/reference/configuration/installdefaultdatasettings.md
  13/umbraco-cms/reference/configuration/installdefaultdatasettings.md
  14/umbraco-cms/reference/configuration/installdefaultdatasettings.md
Labels: category/umbraco-cms, review/docsteam

#6193 Update release notes for Umbraco UIBuilder 13.1.5
  13/umbraco-ui-builder/release-notes.md
Labels: release-notes, category/umbraco-ui-builder

#6170 Added details of VersionDependencyMode option in package owner data for Umbraco Marketplace
  marketplace-and-integrations/marketplace/listing-your-package.md
Labels: category/marketplace

#6177 Rewrite "Creating a user" as "Managing users"
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/reference/management/services/README.md
  14/umbraco-cms/reference/management/services/create-a-new-user.md
  14/umbraco-cms/reference/management/services/managing-users.md
Labels: category/umbraco-cms, release/14.0.0

#6130 Add info about Zero Payment Provider
  commerce-add-ons/payment-providers/README.md
  commerce-add-ons/payment-providers/install-payment-providers.md
  commerce-add-ons/payment-providers/invoicing/README.md
Labels: category/umbraco-commerce

#6194 V14: Updated information on the `Dashboards` article
  14/umbraco-cms/extending/dashboards.md
  14/umbraco-cms/extending/images/getting-started-dashboard.jpg
  14/umbraco-cms/extending/images/welcome-dashboard.jpg
  14/umbraco-cms/extending/images/welcome-example.png
Labels: category/umbraco-cms, review/docsteam, release/14.0.0

#6196 Updated instructions for "Articles and Article Items"
  14/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  14/umbraco-cms/tutorials/creating-a-basic-website/images/article-main-frontend-v14.png
Labels: category/umbraco-cms, review/docsteam

#6095 Add a list of validation and notification events for Umbraco Commerce
  13/umbraco-commerce/SUMMARY.md
  13/umbraco-commerce/key-concepts/events/list-of-notification-events.md
  13/umbraco-commerce/key-concepts/events/list-of-validation-events.md
  13/umbraco-commerce/key-concepts/events/readme.md
Labels: category/umbraco-commerce

#6206 Update multisite-setup.md
  14/umbraco-cms/tutorials/multisite-setup.md
Labels: category/umbraco-cms, review/docsteam

#6207 Updated the warning for the EditorModel notifications article to be more explicit
  14/umbraco-cms/reference/notifications/editormodel-notifications/README.md
Labels: category/umbraco-cms, release/14.0.0

#6205 Restructuring the Reference/Management section
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/reference/management/README.md
  14/umbraco-cms/reference/management/models/README.md
  14/umbraco-cms/reference/management/models/content.md
  14/umbraco-cms/reference/management/models/contenttype.md
  14/umbraco-cms/reference/management/models/datatype.md
  14/umbraco-cms/reference/management/models/dictionaryitem.md
  14/umbraco-cms/reference/management/models/language.md
  14/umbraco-cms/reference/management/models/media.md
  14/umbraco-cms/reference/management/models/mediatype.md
  14/umbraco-cms/reference/management/models/relation.md
  14/umbraco-cms/reference/management/models/relationtype.md
  14/umbraco-cms/reference/management/models/serverregistration.md
  14/umbraco-cms/reference/management/models/template.md
  14/umbraco-cms/reference/management/services/README.md
  14/umbraco-cms/reference/management/using-services/README.md
  14/umbraco-cms/reference/management/using-services/consentservice.md
  14/umbraco-cms/reference/management/using-services/contentservice.md
  14/umbraco-cms/reference/management/using-services/contenttypeservice.md
  14/umbraco-cms/reference/management/using-services/images/relations-api.PNG
  14/umbraco-cms/reference/management/using-services/images/relations.PNG
  14/umbraco-cms/reference/management/using-services/localizationservice.md
  14/umbraco-cms/reference/management/using-services/mediaservice.md
  14/umbraco-cms/reference/management/using-services/relationservice.md
  14/umbraco-cms/reference/management/using-services/userservice.md
Labels: category/structure, category/umbraco-cms, review/docsteam

#6209 Add missing redirects for the Management section
  14/umbraco-cms/.gitbook.yaml
Labels: category/umbraco-cms

#6212 Update header apps
  14/umbraco-cms/extending/backoffice-setup/extension-types/header-apps.md
Labels: category/umbraco-cms, category/styleguide

#6211 Adding redirects for articles removed/renamed with Umbraco 14
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/extending/ui-documentation.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/README.md
  14/umbraco-cms/reference/configuration/README.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  14/umbraco-cms/reference/templating/macros.md
Labels: category/umbraco-cms, review/docsteam, release/14.0.0

#6210 Update modelsbuildersettings.md
  14/umbraco-cms/reference/configuration/modelsbuildersettings.md
Labels: category/umbraco-cms

#6216 Update names yml
  .github/styles/UmbracoDocs/Names.yml
  14/umbraco-cms/extending/backoffice-setup/extension-types/header-apps.md
Labels: category/styleguide

#6217 Redirect for renamed Trees/Tree-Actions
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending/property-editors/declaring-your-property-editor.md
Labels: category/umbraco-cms

#6203 Updated troubleshooting page for ci/cd
  umbraco-cloud/set-up/images/az-run-pipeline-view.png
  umbraco-cloud/set-up/images/az-run-pipeline.png
  umbraco-cloud/set-up/images/az-stages-to-run-view.png
  umbraco-cloud/set-up/images/cloudsync.png
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud, review/docsteam

#6218 Update backoffice-setup
  14/umbraco-cms/extending/backoffice-setup/README.md
Labels: category/structure, category/umbraco-cms

#6220 Updates to the Starter Kit Guide
  14/umbraco-cms/tutorials/starter-kit/lessons/2-add-a-blog-post-publication-date/part-3.md
  14/umbraco-cms/tutorials/starter-kit/lessons/3-add-open-graph/step-4.md
Labels: category/umbraco-cms, review/docsteam

#6213 Add further Heartcore URL change info
  umbraco-heartcore/release-notes/core-dependency-upgrade.md
Labels: category/umbraco-heartcore

#6223 Cloud release notes for May 2024
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2024-05-releasenotes.md
  umbraco-cloud/release-notes/images/dedicated-environment.png
  umbraco-cloud/release-notes/images/upload-database-on-cloud.png
  umbraco-cloud/release-notes/overview-2024.md
Labels: category/umbraco-cloud, review/docsteam
