Repository umbraco/UmbracoDocs, pull requests merged in 2024-05, with the labels that each got.

#6065 Update package.manifest
  14/umbraco-cms/extending-backoffice/package-manifest.md
Labels: category/umbraco-cms, category/styleguide

#6056 Update mapping
  10/umbraco-cms/reference/mapping.md
  12/umbraco-cms/reference/mapping.md
  13/umbraco-cms/reference/mapping.md
  14/umbraco-cms/reference/mapping.md
Labels: category/umbraco-cms, category/styleguide

#6064 Additional April release notes for Heartcore
  umbraco-heartcore/api-documentation/content-management/content/type.md
  umbraco-heartcore/release-notes/2024-04-releasenotes.md
Labels: category/umbraco-heartcore, release-notes

#6047 Added skipStepIfVisible to v13 Tours
  10/umbraco-cms/extending/backoffice-tours.md
  12/umbraco-cms/extending/backoffice-tours.md
  13/umbraco-cms/extending/backoffice-tours.md
  14/umbraco-cms/extending-cms/backoffice-tours.md
Labels: category/umbraco-cms

#6067 Removing redundant article about installing modelsbuilder
  10/umbraco-cms/reference/templating/modelsbuilder/README.md
  10/umbraco-cms/reference/templating/modelsbuilder/install-models-builder.md
  12/umbraco-cms/reference/templating/modelsbuilder/README.md
  12/umbraco-cms/reference/templating/modelsbuilder/install-models-builder.md
  13/umbraco-cms/reference/templating/modelsbuilder/README.md
  13/umbraco-cms/reference/templating/modelsbuilder/install-models-builder.md
  14/umbraco-cms/reference/templating/modelsbuilder/README.md
  14/umbraco-cms/reference/templating/modelsbuilder/install-models-builder.md
Labels: category/umbraco-cms

#6060 Added documentation for Entra ID membership auth with a single-tenant…
  12/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
  13/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
  14/umbraco-cms/tutorials/add-azure-active-directory-authentication.md
Labels: category/umbraco-cms

#6070 Update UI documentation
  14/umbraco-cms/extending-backoffice/ui-documentation.md
Labels: category/umbraco-cms, category/styleguide

#6072 Updated broken link in Running Umbraco on Linux/macOS article
  10/umbraco-cms/fundamentals/setup/install/running-umbraco-on-linux-macos.md
  12/umbraco-cms/fundamentals/setup/install/running-umbraco-on-linux-macos.md
  13/umbraco-cms/fundamentals/setup/install/running-umbraco-on-linux-macos.md
  14/umbraco-cms/fundamentals/setup/install/running-umbraco-on-linux-macos.md
Labels: category/umbraco-cms

#6068 Update integrating-context-with-a-property-editor.md
  14/umbraco-cms/tutorials/creating-a-property-editor/integrating-context-with-a-property-editor.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#6073 Update vite-package-setup
  14/umbraco-cms/extending-backoffice/development-flow/vite-package-setup.md
Labels: category/broken-link, category/umbraco-cms, category/styleguide

#6074 Update entry point
  14/umbraco-cms/extending-backoffice/extension-registry/entry-point.md
Labels: category/umbraco-cms, category/styleguide

#6071 update v14 manifest files
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending-backoffice/contexts/global-context.md
  14/umbraco-cms/extending-backoffice/development-flow/vite-package-setup.md
  14/umbraco-cms/extending-backoffice/extension-registry/entry-point.md
  14/umbraco-cms/extending-backoffice/extension-registry/extension-conditions.md
  14/umbraco-cms/extending-backoffice/extension-registry/extension-registration.md
  14/umbraco-cms/extending-backoffice/extension-types/README.md
  14/umbraco-cms/extending-backoffice/extension-types/dashboards.md
  14/umbraco-cms/extending-backoffice/extension-types/header-apps.md
  14/umbraco-cms/extending-backoffice/extension-types/menu/trees.md
  14/umbraco-cms/extending-backoffice/extension-types/modals/custom-modals.md
  14/umbraco-cms/extending-backoffice/extension-types/property-editors/property-editor-ui.md
  14/umbraco-cms/extending-backoffice/extension-types/sections/README.md
  14/umbraco-cms/extending-backoffice/extension-types/sections/section-sidebar.md
  14/umbraco-cms/extending-backoffice/extension-types/sections/section-view.md
  14/umbraco-cms/extending-backoffice/extension-types/workspaces/workspace-editor-views.md
  14/umbraco-cms/extending-backoffice/package-manifest.md
  14/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
  14/umbraco-cms/tutorials/creating-a-custom-dashboard/adding-localization-to-the-dashboard.md
  14/umbraco-cms/tutorials/creating-a-property-editor/README.md
  14/umbraco-cms/tutorials/creating-a-property-editor/adding-configuration-to-a-property-editor.md
  14/umbraco-cms/tutorials/creating-your-first-extension.md
Labels: category/umbraco-cms, release/14.0.0

#6076 Aligned configuration docs across versions for Deploy
  10/umbraco-deploy/getting-started/deploy-settings.md
  12/umbraco-deploy/getting-started/deploy-settings.md
  13/umbraco-deploy/getting-started/deploy-settings.md
Labels: category/umbraco-deploy

#6077 Update querystring in forms definitions request
  12/umbraco-forms/developer/ajaxforms.md
  13/umbraco-forms/developer/ajaxforms.md
Labels: category/umbraco-forms

#6078 Revert "Update querystring in forms definitions request"
  12/umbraco-forms/developer/ajaxforms.md
  13/umbraco-forms/developer/ajaxforms.md
Labels: category/umbraco-forms

#6079 Umbraco UI Builder 13.1.3 release notes
  13/umbraco-ui-builder/release-notes.md
Labels: release-notes, category/umbraco-ui-builder

#6081 V14 RC: Update documentation for Two-Factor Authentication
  14/umbraco-cms/extending-backoffice/development-flow/README.md
  14/umbraco-cms/reference/security/images/configure-2fa.jpg
  14/umbraco-cms/reference/security/images/configure-2fa.png
  14/umbraco-cms/reference/security/images/disable-2fa.jpg
  14/umbraco-cms/reference/security/images/disable-2fa.png
  14/umbraco-cms/reference/security/images/enable-2fa.jpg
  14/umbraco-cms/reference/security/images/enable-2fa.png
  14/umbraco-cms/reference/security/images/user-panel.jpg
  14/umbraco-cms/reference/security/images/user-panel.png
  14/umbraco-cms/reference/security/images/verify-disable.jpg
  14/umbraco-cms/reference/security/images/verify-disable.png
  14/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#6085 V14 RC: Two-Factor Authentication code examples update
  14/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms, release/14.0.0

#6090 Update release notes and docs for Umbraco UI Builder 13.1.4
  13/umbraco-ui-builder/release-notes.md
  13/umbraco-ui-builder/searching/searchable-properties.md
Labels: category/umbraco-ui-builder

#6084 Updated Creating a basic site tutorial
  14/umbraco-cms/tutorials/creating-a-basic-website/adding-language-variants.md
  14/umbraco-cms/tutorials/creating-a-basic-website/article-parent-and-article-items.md
  14/umbraco-cms/tutorials/creating-a-basic-website/creating-master-template-part-1.md
  14/umbraco-cms/tutorials/creating-a-basic-website/creating-master-template-part-2.md
  14/umbraco-cms/tutorials/creating-a-basic-website/creating-your-first-template-and-content-node.md
  14/umbraco-cms/tutorials/creating-a-basic-website/css-and-images.md
  14/umbraco-cms/tutorials/creating-a-basic-website/displaying-the-document-type-properties.md
  14/umbraco-cms/tutorials/creating-a-basic-website/document-types.md
  14/umbraco-cms/tutorials/creating-a-basic-website/getting-started.md
  14/umbraco-cms/tutorials/creating-a-basic-website/images/add-group-document-type.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/adding-a-language.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/adding-an-icon-to-document-type.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/adding-child-node-Content.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/adding-child-node.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/adding-renderbody.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/allow-document-type-as-root.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/article-main-frontend-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/articles-item-template.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/articles-item.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/articles-main-template.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/articles-main.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/backoffice-landing-page.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/contact-us-template-with-data-fields.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/create-a-homepage-content-node.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/creating-a-document-type.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/creating-our-pagetitle-property.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/culture-and-hostnames-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/empty-homepage-template.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/enable-vary-by-culture-property.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/enable-vary-by-culture.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/footer-text.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/homepage-after-cutting-the-header.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/homepage-allowed-child.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/homepage-document-type-with-properties.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/homepage-has-master-template.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/homepage-in-content-tree.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/installing-umbraco.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/language-content-tree-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/language-dropdown-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/list-view-enabled.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/master-after-adding-the-header.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/master-template-complete.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/master-template-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/open-in-splitview-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/publishing-variant-content-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/query-builder.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/query-parameters-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/replace-bodytext-with-page-field.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/replace-hardcoded-text-with-umbraco-page-field.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/saving-a-document-type.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/selecting-textstring-data-type.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/stylesheet-reference.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/umbraco-page-field.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/viewing-contact-us.png
  14/umbraco-cms/tutorials/creating-a-basic-website/images/viewing-langvariant-browser-v14.png
  14/umbraco-cms/tutorials/creating-a-basic-website/setting-the-navigation-menu.md
Labels: category/umbraco-cms, review/docsteam

#6093 Add initial documentation for creating your own API
  14/umbraco-cms/README.md
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/fundamentals/backoffice/create-your-own-api.md
Labels: category/umbraco-cms, release/14.0.0

#6100 Added Note for missing .Net assets
  10/umbraco-cms/fundamentals/setup/install/install-umbraco-with-vs-code.md
  12/umbraco-cms/fundamentals/setup/install/install-umbraco-with-vs-code.md
  13/umbraco-cms/fundamentals/setup/install/install-umbraco-with-vs-code.md
  14/umbraco-cms/fundamentals/setup/install/install-umbraco-with-vs-code.md
Labels: category/umbraco-cms, review/docsteam

#6105 Default language
  10/umbraco-cms/tutorials/multilanguage-setup.md
  12/umbraco-cms/tutorials/multilanguage-setup.md
  13/umbraco-cms/tutorials/multilanguage-setup.md
  14/umbraco-cms/tutorials/images/Language-variants-v14.png
  14/umbraco-cms/tutorials/images/Variant-content-tree-v14.png
  14/umbraco-cms/tutorials/images/add-dictionary-item-v14.png
  14/umbraco-cms/tutorials/images/adding-danish-language-v14.png
  14/umbraco-cms/tutorials/images/allow-vary-by-culture-v14.png
  14/umbraco-cms/tutorials/images/allow-varying-property-editor-v14.png
  14/umbraco-cms/tutorials/images/change-backoffice-language-v14.png
  14/umbraco-cms/tutorials/images/change-default-language-v14.png
  14/umbraco-cms/tutorials/images/culture-and-hostnames-v14.png
  14/umbraco-cms/tutorials/images/fallback-language-v14.png
  14/umbraco-cms/tutorials/images/language-dropdown-v14.png
  14/umbraco-cms/tutorials/images/publishing-variant-content-v14.png
  14/umbraco-cms/tutorials/images/variant-dropdown-v14.png
  14/umbraco-cms/tutorials/images/viewing-langvariant-browser-v14.png
  14/umbraco-cms/tutorials/multilanguage-setup.md
Labels: category/umbraco-cms, release/14.0.0

#6107 removing hint about UmbracoApiController in v13 and adding it to v14
  13/umbraco-cms/extending/database.md
  13/umbraco-cms/extending/section-trees/trees/README.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
  13/umbraco-cms/fundamentals/code/debugging/logging.md
  13/umbraco-cms/implementation/controllers.md
  13/umbraco-cms/implementation/unit-testing.md
  13/umbraco-cms/reference/cache/examples/tags.md
  13/umbraco-cms/reference/common-pitfalls.md
  13/umbraco-cms/reference/management/services/relationservice.md
  13/umbraco-cms/reference/mapping.md
  13/umbraco-cms/reference/querying/itagquery.md
  13/umbraco-cms/reference/querying/umbraco-context.md
  13/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  13/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
  13/umbraco-cms/reference/routing/umbraco-api-controllers/routing.md
  13/umbraco-cms/reference/using-ioc.md
  13/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
  14/umbraco-cms/extending-cms/database.md
  14/umbraco-cms/extending-cms/section-trees/trees/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
  14/umbraco-cms/fundamentals/code/debugging/logging.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  14/umbraco-cms/implementation/controllers.md
  14/umbraco-cms/implementation/unit-testing.md
  14/umbraco-cms/reference/cache/examples/tags.md
  14/umbraco-cms/reference/common-pitfalls.md
  14/umbraco-cms/reference/management/services/create-a-new-user.md
  14/umbraco-cms/reference/management/services/relationservice.md
  14/umbraco-cms/reference/mapping.md
  14/umbraco-cms/reference/querying/imembermanager.md
  14/umbraco-cms/reference/querying/itagquery.md
  14/umbraco-cms/reference/querying/umbraco-context.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/routing.md
  14/umbraco-cms/reference/using-ioc.md
  14/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: category/umbraco-cms, release/14.0.0

#6108 removing rte config article for v14
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/configuration.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-plugins.md
  13/umbraco-cms/reference/configuration/richtexteditorsettings.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/configuration.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-plugins.md
  14/umbraco-cms/reference/configuration/README.md
  14/umbraco-cms/reference/configuration/richtexteditorsettings.md
Labels: category/broken-link, category/umbraco-cms, release/14.0.0

#6110 Updated the release notes for April 2024
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/2024-04-releasenotes.md
  umbraco-cloud/release-notes/overview-2024.md
Labels: category/umbraco-cloud

#6112 Update block-grid-editor.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
Labels: category/umbraco-cms

#6097 Update part-3.md
  13/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
Labels: category/umbraco-cms

#6115 Incorporated changes for v10 and v12
  10/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
  12/umbraco-cms/tutorials/creating-a-property-editor/part-3.md
Labels: category/umbraco-cms

#6117 Moved "custom backoffice APIs" to tutorials + update code snippets
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/tutorials/creating-a-backoffice-api/README.md
Labels: category/umbraco-cms, release/14.0.0

#6104 Update V14 property editor UI docs and add matching server-side docs
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/tutorials/creating-a-property-editor/README.md
  14/umbraco-cms/tutorials/creating-a-property-editor/adding-configuration-to-a-property-editor.md
  14/umbraco-cms/tutorials/creating-a-property-editor/adding-server-side-validation.md
  14/umbraco-cms/tutorials/creating-a-property-editor/custom-value-conversion-for-rendering.md
  14/umbraco-cms/tutorials/creating-a-property-editor/default-property-editor-schema-aliases.md
  14/umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-backoffice_2.png
  14/umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-config_3.png
  14/umbraco-cms/tutorials/creating-a-property-editor/images/suggestion-editor-config_4.png
Labels: category/umbraco-cms, release/14.0.0

#6120 Added Default Property Editor Schema aliases article link in Summary.md
  14/umbraco-cms/SUMMARY.md
Labels: category/umbraco-cms, release/14.0.0

#6050 Add instructions for accessing UmbracoHelper in a ViewComponent View
  13/umbraco-cms/reference/templating/mvc/viewcomponents.md
Labels: category/umbraco-cms

#6121 remove direct cicd mail
  umbraco-cloud/set-up/project-settings/umbraco-cicd/KnownLimitationsAndConsiderations.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#6123 Added inject declaration
  10/umbraco-cms/reference/templating/mvc/viewcomponents.md
  12/umbraco-cms/reference/templating/mvc/viewcomponents.md
  13/umbraco-cms/reference/templating/mvc/viewcomponents.md
  14/umbraco-cms/reference/templating/mvc/viewcomponents.md
Labels: category/umbraco-cms

#6122 update extending section - images and steps with new backoffice from v14
  14/umbraco-cms/extending/embedded-media-providers.md
  14/umbraco-cms/extending/images/Embed-Button.png
  14/umbraco-cms/extending/images/Embed-YouTube.png
  14/umbraco-cms/extending/packages/README.md
  14/umbraco-cms/extending/property-editors/images/data-types-references-v10.png
  14/umbraco-cms/extending/property-editors/images/data-types-references.png
  14/umbraco-cms/extending/property-editors/images/document-references-v9.png
  14/umbraco-cms/extending/property-editors/images/document-references.png
  14/umbraco-cms/extending/property-editors/images/media-references-v9.png
  14/umbraco-cms/extending/property-editors/images/media-references.png
  14/umbraco-cms/extending/property-editors/tracking.md
Labels: category/umbraco-cms, release/14.0.0

#6113 V14: Documenting your controllers
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/tutorials/creating-a-backoffice-api/documenting-your-controllers.md
Labels: category/umbraco-cms, release/14.0.0

#6125 v14 fix: should be "production" not "non-production"
  14/umbraco-cms/reference/management-api/README.md
Labels: category/umbraco-cms

#6124 Update webhooks.md
  13/umbraco-commerce/key-concepts/webhooks.md
Labels: category/umbraco-commerce

#6127 Advanced Management API: Custom Swagger doc, polymorphism and schema/operation IDs
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/tutorials/creating-a-backoffice-api/adding-a-custom-swagger-document.md
  14/umbraco-cms/tutorials/creating-a-backoffice-api/images/my-item-api-swagger-ui.png
  14/umbraco-cms/tutorials/creating-a-backoffice-api/polymorphic-output-in-the-management-api.md
  14/umbraco-cms/tutorials/creating-a-backoffice-api/umbraco-schema-and-operation-ids.md
Labels: category/umbraco-cms, release/14.0.0

#6128 Update documenting-your-controllers.md
  14/umbraco-cms/tutorials/creating-a-backoffice-api/documenting-your-controllers.md
Labels: category/umbraco-cms, release/14.0.0

#6129 add back text + cicd mail
  umbraco-cloud/set-up/project-settings/umbraco-cicd/KnownLimitationsAndConsiderations.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#6126 updating v14 summary file
  14/umbraco-cms/SUMMARY.md
Labels: category/umbraco-cms, release/14.0.0

#6132 update missing v14 content from some articles
  14/umbraco-cms/README.md
  14/umbraco-cms/fundamentals/backoffice/README.md
  14/umbraco-cms/fundamentals/setup/README.md
  14/umbraco-cms/fundamentals/setup/install/README.md
  14/umbraco-cms/fundamentals/setup/upgrading/README.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  14/umbraco-cms/reference/security/README.md
  14/umbraco-deploy/README.md
  14/umbraco-forms/README.md
  14/umbraco-ui-builder/README.md
  14/umbraco-workflow/README.md
Labels: category/umbraco-cms, release/14.0.0

#6119 Reflect server cache changes for `umbraco-package.json` in docs
  14/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
  14/umbraco-cms/tutorials/creating-a-property-editor/README.md
  14/umbraco-cms/tutorials/creating-a-property-editor/adding-configuration-to-a-property-editor.md
  14/umbraco-cms/tutorials/creating-a-property-editor/adding-server-side-validation.md
Labels: category/umbraco-cms, release/14.0.0

#6133 update to v14 rc5
  14/umbraco-cms/extending/customize-backoffice/development-flow/README.md
  14/umbraco-cms/extending/customize-backoffice/development-flow/vite-package-setup.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  14/umbraco-cms/fundamentals/setup/install/README.md
  14/umbraco-cms/fundamentals/setup/install/installing-nightly-builds.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  14/umbraco-cms/reference/management/services/README.md
  14/umbraco-cms/tutorials/creating-your-first-extension.md
Labels: category/umbraco-cms, release/14.0.0

#6131 V14: External login providers
  14/umbraco-cms/reference/security/external-login-providers.md
  14/umbraco-cms/reference/security/images/external-login-provider-javascript.jpg
  14/umbraco-cms/reference/security/images/external-login-provider-javascript.png
  14/umbraco-cms/reference/security/images/login-external.jpg
  14/umbraco-cms/tutorials/add-google-authentication.md
  14/umbraco-cms/tutorials/images/GoogleLoginScreen_v9.png
  14/umbraco-cms/tutorials/images/googleLoginScreen.jpg
  14/umbraco-cms/tutorials/images/googleLoginScreen.png
  14/umbraco-cms/tutorials/images/googleLoginScreen_v13.png
Labels: category/umbraco-cms, release/14.0.0

#6118 Docs for initial release of Forms 14
  10/umbraco-forms/developer/extending/README.md
  12/umbraco-forms/developer/extending/README.md
  13/umbraco-forms/developer/extending/README.md
  14/umbraco-forms/SUMMARY.md
  14/umbraco-forms/developer/configuration/README.md
  14/umbraco-forms/developer/contentapps.md
  14/umbraco-forms/developer/extending/README.md
  14/umbraco-forms/developer/extending/adding-a-fieldtype.md
  14/umbraco-forms/release-notes.md
  14/umbraco-forms/upgrading/version-specific.md
Labels: category/umbraco-forms, release-notes, release/14.0.0

#6136 initial release notes for Workflow 14
  10/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
  13/umbraco-workflow/release-notes.md
  14/umbraco-workflow/SUMMARY.md
  14/umbraco-workflow/getting-started/images/content-app.png
  14/umbraco-workflow/getting-started/workflow-content-app.md
  14/umbraco-workflow/release-notes.md
  14/umbraco-workflow/upgrading/version-specific.md
Labels: category/umbraco-workflow, release-notes

#6138 Update screenshots for v14
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/creating-saving-and-publishing-content.md
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/images/Transfer_Content_v14.png
  14/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/images/Transfernow_option_v14.png
Labels: category/umbraco-cms, release/14.0.0

#6134 add warning notes for v14 articles that need to be looked into
  13/umbraco-cms/extending/filesystemproviders/README.md
  13/umbraco-cms/implementation/composing.md
  13/umbraco-cms/implementation/controllers.md
  13/umbraco-cms/reference/management/services/userservice/README.md
  13/umbraco-cms/reference/querying/imembermanager.md
  13/umbraco-cms/reference/routing/authorized.md
  13/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  13/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
  14/umbraco-cms/extending/backoffice-tours.md
  14/umbraco-cms/extending/dashboards.md
  14/umbraco-cms/extending/embedded-media-providers.md
  14/umbraco-cms/extending/filesystemproviders/README.md
  14/umbraco-cms/extending/language-files/README.md
  14/umbraco-cms/extending/property-editors/README.md
  14/umbraco-cms/extending/property-editors/build-a-block-editor.md
  14/umbraco-cms/extending/property-editors/declaring-your-property-editor.md
  14/umbraco-cms/extending/property-editors/full-examples-value-converters.md
  14/umbraco-cms/extending/property-editors/package-manifest.md
  14/umbraco-cms/extending/property-editors/property-actions.md
  14/umbraco-cms/extending/property-editors/property-value-converters.md
  14/umbraco-cms/extending/property-editors/tracking.md
  14/umbraco-cms/extending/section-trees/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/build-custom-view-for-blocks.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-blocks.md
  14/umbraco-cms/implementation/composing.md
  14/umbraco-cms/implementation/controllers.md
  14/umbraco-cms/reference/management/services/create-a-new-user.md
  14/umbraco-cms/reference/querying/imembermanager.md
  14/umbraco-cms/reference/routing/authorized.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
  14/umbraco-cms/tutorials/creating-a-backoffice-tour.md
  14/umbraco-cms/tutorials/creating-custom-views-for-blocklist.md
  14/umbraco-commerce/upgrading/version-specific-upgrades.md
Labels: category/umbraco-cms, release/14.0.0

#6135 CICD Troubleshooting about RestorePackagesWithLockFile
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#6144 Updated screenshots and steps for Starter Kit
  14/umbraco-cms/tutorials/starter-kit/lessons/1-customize-the-starter-kit.md
  14/umbraco-cms/tutorials/starter-kit/lessons/2-add-a-blog-post-publication-date/README.md
  14/umbraco-cms/tutorials/starter-kit/lessons/2-add-a-blog-post-publication-date/images/Blogpost-Document-Type-v14.png
  14/umbraco-cms/tutorials/starter-kit/lessons/2-add-a-blog-post-publication-date/images/property-settings-v14.png
  14/umbraco-cms/tutorials/starter-kit/lessons/2-add-a-blog-post-publication-date/part-2.md
  14/umbraco-cms/tutorials/starter-kit/lessons/2-add-a-blog-post-publication-date/part-3.md
  14/umbraco-cms/tutorials/starter-kit/lessons/3-add-open-graph/step-1.md
  14/umbraco-cms/tutorials/starter-kit/lessons/3-add-open-graph/step-2.md
  14/umbraco-cms/tutorials/starter-kit/lessons/3-add-open-graph/step-3.md
  14/umbraco-cms/tutorials/starter-kit/lessons/3-add-open-graph/step-4.md
  14/umbraco-cms/tutorials/starter-kit/lessons/images/design-group_v14.png
  14/umbraco-cms/tutorials/starter-kit/lessons/images/link-to-page_v14.png
Labels: category/umbraco-cms, release/14.0.0

#6145 Add Deploy 14.0.0 release notes and version specific upgrade notes
  13/umbraco-forms/release-notes.md
  14/umbraco-deploy/release-notes.md
  14/umbraco-deploy/upgrades/version-specific.md
  14/umbraco-forms/release-notes.md
  14/umbraco-forms/upgrading/version-specific.md
Labels: category/umbraco-deploy, release-notes, release/14.0.0
