Repository umbraco/UmbracoDocs, pull requests merged in 2024-10, with the labels that each got.

#6476 Remove references to images in v12 directory
  10/umbraco-deploy/deployment-workflow/content-transfer.md
  13/umbraco-cms/fundamentals/data/defining-content/README.md
  13/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  13/umbraco-deploy/deployment-workflow/content-transfer.md
  13/umbraco-deploy/troubleshooting.md
  13/umbraco-forms/editor/creating-a-form/conditional-logic.md
  13/umbraco-forms/editor/creating-a-form/form-settings.md
  14/umbraco-cms/fundamentals/data/defining-content/README.md
  15/umbraco-cms/fundamentals/data/defining-content/README.md
  umbraco-cloud/product-upgrades/manual-upgrades/manual-cms-upgrade.md
  umbraco-cloud/product-upgrades/manual-upgrades/manual-upgrade-deploy.md
Labels: release/12.0.0

#6485 Syncing PRs with v15 docs.
  14/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  15/umbraco-cms/customizing/extending-overview/extension-types/backoffice-entry-point.md
  15/umbraco-cms/customizing/property-editors/composition/property-editor-ui.md
  15/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  15/umbraco-cms/reference/security/external-login-providers.md
  15/umbraco-commerce/key-concepts/sales-taxt-providers.md
  15/umbraco-commerce/media/v14/taxes/country-tax-calculation-method.png
  15/umbraco-commerce/media/v14/taxes/no-sales-tax-providers.png
  15/umbraco-commerce/media/v14/taxes/pick-sales-tax-provider.png
  15/umbraco-commerce/media/v14/taxes/product-tax-class.png
  15/umbraco-commerce/media/v14/taxes/store-default-tax-class.png
  15/umbraco-commerce/media/v14/taxes/store-prices-include-tax-warning.png
  15/umbraco-commerce/media/v14/taxes/store-prices-include-tax.png
  15/umbraco-commerce/media/v14/taxes/tax-calculation-method-settings.png
  15/umbraco-commerce/media/v14/taxes/tax-calculation-methods.png
  15/umbraco-commerce/media/v14/taxes/tax-class-country-region-settings-modal.png
  15/umbraco-commerce/media/v14/taxes/tax-class-country-region-settings.png
  15/umbraco-commerce/media/v14/taxes/tax-class-general-settings.png
  15/umbraco-commerce/media/v14/taxes/tax-classes.png
  15/umbraco-commerce/reference/taxes/README.md
  15/umbraco-commerce/reference/taxes/calculated-tax-rates.md
  15/umbraco-commerce/reference/taxes/fixed-tax-rates.md
  15/umbraco-forms/developer/rendering-forms.md
  15/umbraco-forms/developer/themes.md
Labels: release/15.0.0

#6484 Porting old Umbraco API Controller [Extending > Database]
  14/umbraco-cms/extending/database.md
  15/umbraco-cms/extending/database.md
Labels: category/umbraco-cms

#6486 Added release notes for Forms 13.2.5 and 14.1.5
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6494 Release notes for Workflow 10.4.1, 13.2.1, 14.0.3
  10/umbraco-workflow/release-notes.md
  13/umbraco-workflow/release-notes.md
  14/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow, release-notes

#6506 Update overview.md
  10/umbraco-commerce/how-to-guides/overview.md
Labels: category/umbraco-commerce

#6501 Adding descriptions
  14/umbraco-cms/reference/security/cookies.md
  14/umbraco-cms/reference/security/password-reset.md
  14/umbraco-cms/reference/security/security-hardening.md
Labels: category/umbraco-cms

#6509 Added release and upgrade notes for Forms 15.0.0-rc1
  15/umbraco-forms/developer/configuration/README.md
  15/umbraco-forms/release-notes.md
  15/umbraco-forms/upgrading/version-specific/README.md
Labels: category/umbraco-forms

#6379 Initial version on the basic features of validation system.
  14/umbraco-cms/extending/property-editors/integrate-validation.md
Labels: category/umbraco-cms

#6503 V15: Updated and additional articles to Extension Manifests and sub topics
  14/umbraco-cms/customizing/extending-overview/custom-extension-type/custom-extension-type.md
  14/umbraco-cms/customizing/extending-overview/extension-conditions/extension-conditions.md
  14/umbraco-cms/customizing/extending-overview/extension-kind/extension-kind.md
  14/umbraco-cms/customizing/extending-overview/extension-registry/extension-manifest.md
  14/umbraco-cms/customizing/extending-overview/extension-registry/extension-registry.md
  14/umbraco-cms/customizing/extending-overview/extension-types/condition.md
Labels: category/umbraco-cms

#6514 Add Deploy, Deploy Contrib and Forms Deploy release notes
  13/umbraco-deploy/release-notes.md
  14/umbraco-deploy/release-notes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-deploy, release-notes

#6516 Add new Customizing articles to SUMMARY
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/customizing/extending-overview/custom-extension-type.md
  14/umbraco-cms/customizing/extending-overview/extension-conditions.md
  14/umbraco-cms/customizing/extending-overview/extension-kind.md
  14/umbraco-cms/customizing/property-editors/images/JSON-schema.png
  14/umbraco-cms/customizing/property-editors/images/data-types-references.png
  14/umbraco-cms/customizing/property-editors/images/document-references.png
  14/umbraco-cms/customizing/property-editors/images/example-of-property-actions (1).jpg
  14/umbraco-cms/customizing/property-editors/images/example-of-property-actions.jpg
  14/umbraco-cms/customizing/property-editors/images/media-references.png
  14/umbraco-cms/customizing/property-editors/integrate-validation.md
  14/umbraco-cms/customizing/property-editors/tracking.md
Labels: category/umbraco-cms

#6517 Update links
  14/umbraco-cms/customizing/extending-overview/extension-conditions.md
  14/umbraco-cms/customizing/extending-overview/extension-kind.md
Labels: category/umbraco-cms

#6522 Add article descriptions
  14/umbraco-cms/reference/language-variation.md
  14/umbraco-cms/reference/security/custom-password-check.md
Labels: category/umbraco-cms, hacktoberfest/contrib-2024

#6526 Porting old Umbraco API Controller [Common Pitfalls: Static references to scoped references]
  14/umbraco-cms/reference/common-pitfalls.md
  15/umbraco-cms/reference/common-pitfalls.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6530 Add v15 breaking changes section
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms, release/15.0.0

#6528 Update cloud faq article
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud, hacktoberfest-accepted, category/styleguide

#6513 Porting old Umbraco API Controller [Debugging > Logging]
  10/umbraco-cms/fundamentals/code/debugging/logging.md
  13/umbraco-cms/fundamentals/code/debugging/logging.md
  14/umbraco-cms/fundamentals/code/debugging/logging.md
  15/umbraco-cms/fundamentals/code/debugging/logging.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6497 docs: describe default document types in more detail
  14/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  15/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
Labels: category/umbraco-cms

#6502 Porting old Umbraco API Controller [Image Cropper]
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
Labels: category/umbraco-cms, hacktoberfest-accepted, hacktoberfest/contrib-2024

#6525 Create delete-item.md
  13/umbraco-commerce/how-to-guides/delete-item.md
Labels: hacktoberfest-accepted, review/dteam, category/umbraco-commerce, hacktoberfest/contrib-2024

#6523 Create update-cart
  13/umbraco-commerce/how-to-guides/update-cart.md
Labels: hacktoberfest-accepted, review/dteam, category/umbraco-commerce

#6521 Create add-item article
  13/umbraco-commerce/SUMMARY.md
  13/umbraco-commerce/how-to-guides/add-item.md
Labels: hacktoberfest-accepted, review/dteam, category/umbraco-commerce

#6520 Update overview.md
  13/umbraco-commerce/how-to-guides/overview.md
Labels: hacktoberfest-accepted, review/dteam, category/umbraco-commerce

#6536 removed deprecated Block list article and added a rewrite to tutorial
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/build-custom-view-for-blocks.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/build-custom-view-for-blocks.md
Labels: review/docsteam

#6529 Porting old Umbraco API Controller [Mapping]
  14/umbraco-cms/reference/mapping.md
  15/umbraco-cms/reference/mapping.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6535 Porting old Umbraco API Controller [IoC and Dependency injection]
  14/umbraco-cms/reference/using-ioc.md
  15/umbraco-cms/reference/using-ioc.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6534 Update overview.md
  13/umbraco-commerce/how-to-guides/overview.md
Labels: hacktoberfest-accepted, category/umbraco-commerce

#6538 Workflow 15 release notes
  15/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow, release-notes

#6539 Fixed broken links
  14/umbraco-commerce/.gitbook.yaml
  14/umbraco-commerce/key-concepts/sales-tax-providers.md
  14/umbraco-commerce/reference/taxes/calculated-tax-rates.md
  14/umbraco-commerce/release-notes/README.md
Labels: review/docsteam, category/umbraco-commerce

#6537 Updated Cloud Minor Upgrades article
  umbraco-cloud/product-upgrades/minor-upgrades.md
Labels: category/umbraco-cloud, review/docsteam

#6541 Porting old Umbraco API Controller [Cache > Tags]
  10/umbraco-cms/reference/cache/examples/tags.md
  13/umbraco-cms/reference/cache/examples/tags.md
  14/umbraco-cms/reference/cache/examples/tags.md
  15/umbraco-cms/reference/cache/examples/tags.md
Labels: category/umbraco-cms

#6540 Updated docs to use GetMany vs GetAll
  15/umbraco-cms/reference/cache/examples/tags.md
  15/umbraco-cms/reference/management/using-services/contenttypeservice.md
Labels: category/umbraco-cms, release/15.0.0

#6543 Removed duplicate code and add note for obsolete method
  14/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  15/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
Labels: category/umbraco-cms, review/dteam, release/15.0.0

#6456 Menu: Added extra examples + explanation
  14/umbraco-cms/customizing/extending-overview/extension-types/menu.md
  15/umbraco-cms/customizing/extending-overview/extension-types/menu.md
Labels: category/umbraco-cms

#6546 Updated release notes for Umbraco.Commerce 13.1.7/14.1.2
  13/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6524 Porting old Umbraco API Controller [Unit Testing]
  14/umbraco-cms/implementation/unit-testing.md
  15/umbraco-cms/implementation/unit-testing.md
Labels: category/umbraco-cms, hacktoberfest-accepted, review/dteam

#6550 Update JetBrains Rider instructions
  13/umbraco-cms/extending/package-manifest.md
Labels: category/umbraco-cms

#6556 Added release notes for Forms 8.13.15 and 8.13.16
  10/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6547 Update bulk actions docs
  10/umbraco-commerce/key-concepts/bulk-actions.md
  13/umbraco-commerce/key-concepts/bulk-actions.md
Labels: category/umbraco-commerce

#6557 Updated details of setting types used in Forms
  14/umbraco-forms/developer/extending/setting-types.md
  15/umbraco-forms/developer/extending/setting-types.md
Labels: category/umbraco-forms

#6552 Clarifying management API authentication
  14/umbraco-cms/reference/management-api/README.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6555 Porting old Umbraco API Controller [Querying > ITagQuery]
  10/umbraco-cms/reference/querying/itagquery.md
  13/umbraco-cms/reference/querying/itagquery.md
  14/umbraco-cms/reference/querying/itagquery.md
  15/umbraco-cms/reference/querying/itagquery.md
Labels: category/umbraco-cms, category/styleguide, hacktoberfest/contrib-2024

#6533 Document Deploy legacy property type migrators, import and migration flow and clarify grid editor configuration
  13/umbraco-deploy/deployment-workflow/import-export-v7.md
  13/umbraco-deploy/deployment-workflow/import-with-migrations.md
  14/umbraco-deploy/deployment-workflow/import-export-v7.md
  14/umbraco-deploy/deployment-workflow/import-with-migrations.md
Labels: category/umbraco-deploy

#6559 Add references to updated 15 articles
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/release-candidate-guide.md
Labels: release/15.0.0

#6549 Cleanup package docs
  13/umbraco-cms/.gitbook.yaml
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/extending/packages/README.md
  13/umbraco-cms/extending/packages/good-practice-and-defaults.md
  13/umbraco-cms/extending/packages/installing-and-uninstalling-packages.md
  13/umbraco-cms/extending/packages/types-of-packages.md
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending/packages/README.md
  14/umbraco-cms/extending/packages/good-practice-and-defaults.md
  14/umbraco-cms/extending/packages/installing-and-uninstalling-packages.md
  14/umbraco-cms/extending/packages/types-of-packages.md
  15/umbraco-cms/.gitbook.yaml
  15/umbraco-cms/extending/packages/README.md
  15/umbraco-cms/extending/packages/good-practice-and-defaults.md
  15/umbraco-cms/extending/packages/installing-and-uninstalling-packages.md
  15/umbraco-cms/extending/packages/types-of-packages.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6560 Adding descriptions
  13/umbraco-forms/developer/prepping-frontend.md
  13/umbraco-forms/developer/rendering-scripts.md
Labels: category/umbraco-forms, hacktoberfest/contrib-2024

#6554 Docs for Heartcore Persisted queries
  umbraco-heartcore/api-documentation/graphql/README.md
  umbraco-heartcore/api-documentation/graphql/images/headless-settings-section.png
  umbraco-heartcore/api-documentation/graphql/persisted-queries.md
  umbraco-heartcore/getting-started/graphql-playground.md
  umbraco-heartcore/getting-started/images/create-persisted-query.png
  umbraco-heartcore/getting-started/images/delete-persisted-query.png
  umbraco-heartcore/getting-started/images/persisted-queries-tab.png
  umbraco-heartcore/getting-started/images/prettify.png
  umbraco-heartcore/getting-started/images/query-history.png
  umbraco-heartcore/getting-started/images/query-variables.png
  umbraco-heartcore/getting-started/images/sample-query.png
  umbraco-heartcore/getting-started/images/schema-helper.png
  umbraco-heartcore/getting-started/images/update-persisted-query.png
  umbraco-heartcore/getting-started/images/where-to-find-graphql-playground.png
Labels: category/umbraco-heartcore

#6562 UI Builder 14 updates
  14/umbraco-ui-builder/README.md
  14/umbraco-ui-builder/areas/summary-dashboards.md
  14/umbraco-ui-builder/collections/editors.md
  14/umbraco-ui-builder/collections/list-views.md
  14/umbraco-ui-builder/collections/overview.md
  14/umbraco-ui-builder/collections/related-collections.md
  14/umbraco-ui-builder/guides/creating-your-first-integration.md
  14/umbraco-ui-builder/images/bulk_actions.png
  14/umbraco-ui-builder/images/bulk_actions_menu.png
  14/umbraco-ui-builder/images/cards.png
  14/umbraco-ui-builder/images/child_collections.png
  14/umbraco-ui-builder/images/comments_listview.png
  14/umbraco-ui-builder/images/content_apps.png
  14/umbraco-ui-builder/images/context_app.png
  14/umbraco-ui-builder/images/dashboard.png
  14/umbraco-ui-builder/images/dashboards.png
  14/umbraco-ui-builder/images/data_views.png
  14/umbraco-ui-builder/images/editor.png
  14/umbraco-ui-builder/images/entity_picker_config.png
  14/umbraco-ui-builder/images/entity_picker_picked.png
  14/umbraco-ui-builder/images/entity_picker_search.png
  14/umbraco-ui-builder/images/entity_picker_setup.png
  14/umbraco-ui-builder/images/filterable_properties.png
  14/umbraco-ui-builder/images/konstrukt.png
  14/umbraco-ui-builder/images/listview.png
  14/umbraco-ui-builder/images/people_editor.png
  14/umbraco-ui-builder/images/people_listview.png
  14/umbraco-ui-builder/images/permissions.png
  14/umbraco-ui-builder/images/related_collections_child.png
  14/umbraco-ui-builder/images/related_collections_entity_picker.png
  14/umbraco-ui-builder/images/related_collections_parent.png
  14/umbraco-ui-builder/images/row_actions_menu.png
  14/umbraco-ui-builder/images/search.png
  14/umbraco-ui-builder/images/section_dashboard.png
  14/umbraco-ui-builder/known-issues.md
Labels: category/umbraco-ui-builder, release/14.0.0

#6561 Add Deploy, Deploy Contrib and Forms Deploy 15.0.0-rc1 release notes
  14/umbraco-deploy/release-notes.md
  15/umbraco-deploy/release-notes.md
  15/umbraco-deploy/upgrades/version-specific.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-deploy, release-notes, release/15.0.0

#6564 Plan requirement change
  umbraco-heartcore/getting-started/preview.md
Labels: category/umbraco-heartcore

#6565 Update backoffice-search.md
  14/umbraco-cms/extending/backoffice-search.md
Labels: category/umbraco-cms, category/styleguide

#6563 Update outdated documentation on working with Forms record data.
  10/umbraco-forms/developer/working-with-data.md
  13/umbraco-forms/developer/working-with-data.md
  14/umbraco-forms/developer/working-with-data.md
  15/umbraco-forms/developer/working-with-data.md
Labels: category/umbraco-forms

#6567 Update dedicated-resources.md
  umbraco-cloud/set-up/project-settings/dedicated-resources.md
Labels: category/umbraco-cloud

#6566 Added release notes for Forms 15.0.0-rc2
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6511 Updated the RTE configuration
  10/umbraco-cms/reference/configuration/richtexteditorsettings.md
  13/umbraco-cms/reference/configuration/richtexteditorsettings.md
Labels: category/umbraco-cms, hacktoberfest-accepted, hacktoberfest/contrib-2024

#6573 Update Umbraco Commerce docs
  13/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6575 Correct contributing guide link
  .github/README.md
Labels: hacktoberfest/contrib-2024

#6421 Update configuration.md
  13/umbraco-ui-builder/getting-started/configuration.md
Labels: category/umbraco-ui-builder

#6574 Porting old Umbraco API Controller [Querying > Umbraco Context]
  14/umbraco-cms/reference/querying/umbraco-context.md
  15/umbraco-cms/reference/querying/umbraco-context.md
Labels: category/umbraco-cms, hacktoberfest/contrib-2024

#6577 Asset path changes
  13/umbraco-engage/developers/analytics/client-side-events-and-additional-javascript-files/README.md
  13/umbraco-engage/developers/analytics/client-side-events-and-additional-javascript-files/additional-measurements-with-the-analytics-scripts.md
  13/umbraco-engage/developers/analytics/client-side-events-and-additional-javascript-files/bridging-library-for-google-analytics.md
  13/umbraco-engage/developers/analytics/client-side-events-and-additional-javascript-files/bridging-library-for-google-tag-manager.md
  13/umbraco-engage/developers/analytics/client-side-events-and-additional-javascript-files/google-analytics-blocker-detection.md
  13/umbraco-engage/developers/analytics/location.md
  13/umbraco-engage/developers/introduction/dataflow-pipeline/data-collection.md
  13/umbraco-engage/developers/introduction/the-umbraco-engage-cookie/module-permissions.md
  13/umbraco-engage/upgrading/migrate-from-umarketingsuite.md
Labels: category/umbraco-engage

#6571 Rename listview.md to collectionview.md and update its terminology
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/listview.md
Labels: category/umbraco-cms

#6510 Porting old Umbraco API Controller [Block Grid Editor]
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
Labels: category/umbraco-cms, hacktoberfest-accepted

#6569 Update path-too-long-exception.md
  umbraco-cloud/troubleshooting/deployments/path-too-long-exception.md
Labels: category/umbraco-cloud

#6570 Workflow release notes - 13.3.0, 14.1.0
  13/umbraco-workflow/getting-started/configuration.md
  13/umbraco-workflow/release-notes.md
  13/umbraco-workflow/workflow-section/workflow-settings.md
  14/umbraco-workflow/getting-started/configuration.md
  14/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow, release-notes

#6580 Porting old Umbraco API Controller [Getting started with Entity Framework (EF) Core]
  14/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
  15/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: category/umbraco-cms, hacktoberfest/contrib-2024

#6581 Update README.md
  umbraco-cloud/set-up/project-settings/manage-hostnames/README.md
Labels: category/umbraco-cloud

#6583 Merge existing article with technical article
  13/umbraco-engage/tutorials/how-to-create-a-persona.md
  13/umbraco-engage/upgrading/migrate-from-umarketingsuite.md
Labels: category/umbraco-engage

#6585 Update deploy-settings.md
  13/umbraco-deploy/getting-started/deploy-settings.md
  14/umbraco-deploy/getting-started/deploy-settings.md
  15/umbraco-deploy/getting-started/deploy-settings.md
Labels: category/umbraco-deploy, hacktoberfest/contrib-2024

#6587 Update licensing.md
  13/umbraco-engage/installation/licensing.md
Labels: category/umbraco-engage

#6584 Umbraco Commerce v13.1.9 and v14.1.4 release notes
  13/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6589 Umbraco Commerce v13.1.10 and v14.1.5 release notes
  13/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6505 Update readme for extending section
  10/umbraco-cms/legacy-documentation/README.md
  13/umbraco-cms/legacy-documentation/README.md
  14/umbraco-cms/extending/build-on-umbraco-functionality.md
  14/umbraco-cms/legacy-documentation/README.md
  15/umbraco-cms/extending/build-on-umbraco-functionality.md
Labels: category/umbraco-cms

#6558 Update rewrites-on-cloud.md
  umbraco-cloud/set-up/project-settings/manage-hostnames/rewrites-on-cloud.md
Labels: category/umbraco-cloud, review/dteam, hacktoberfest/contrib-2024

#6591 Adds Persisted queries page to the menu
  umbraco-heartcore/SUMMARY.md
Labels: category/umbraco-heartcore

#6592 Update cloud-to-cloud.md
  umbraco-cloud/deployment/cloud-to-cloud.md
Labels: category/umbraco-cloud

#6596 Update multisite-setup.md
  14/umbraco-cms/tutorials/multisite-setup.md
Labels: category/umbraco-cloud

#6532 Release notes and additional documentation for Forms 13.3 and 14.2.
  13/umbraco-forms/developer/configuration/README.md
  13/umbraco-forms/developer/configuration/type-details.md
  13/umbraco-forms/developer/extending/adding-a-fieldtype.md
  13/umbraco-forms/developer/security.md
  13/umbraco-forms/developer/themes.md
  13/umbraco-forms/editor/creating-a-form/fieldtypes/date.md
  13/umbraco-forms/editor/creating-a-form/form-settings.md
  13/umbraco-forms/editor/creating-a-form/images/multi-page-forms.png
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/SUMMARY.md
  14/umbraco-forms/developer/configuration/README.md
  14/umbraco-forms/developer/configuration/type-details.md
  14/umbraco-forms/developer/extending/adding-a-fieldtype.md
  14/umbraco-forms/developer/extending/setting-types.md
  14/umbraco-forms/developer/images/form-picker-config.png
  14/umbraco-forms/developer/images/form-pickers.png
  14/umbraco-forms/developer/property-editors.md
  14/umbraco-forms/developer/security.md
  14/umbraco-forms/developer/themes.md
  14/umbraco-forms/editor/creating-a-form/fieldtypes/date.md
  14/umbraco-forms/editor/creating-a-form/form-settings.md
  14/umbraco-forms/release-notes.md
  15/umbraco-forms/SUMMARY.md
  15/umbraco-forms/developer/configuration/README.md
  15/umbraco-forms/developer/configuration/type-details.md
  15/umbraco-forms/developer/extending/adding-a-fieldtype.md
  15/umbraco-forms/developer/extending/setting-types.md
  15/umbraco-forms/developer/property-editors.md
  15/umbraco-forms/developer/security.md
  15/umbraco-forms/developer/themes.md
  15/umbraco-forms/editor/creating-a-form/fieldtypes/date.md
  15/umbraco-forms/editor/creating-a-form/form-settings.md
Labels: category/umbraco-forms, category/pending-release

#6597 Update README.md
  umbraco-cloud/set-up/new-shop/README.md
Labels: category/umbraco-cloud

#6590 Update content-version-cleanup.md
  14/umbraco-cms/fundamentals/data/content-version-cleanup.md
Labels: category/umbraco-cloud

#6598 Minor tweaks to release notes for Forms 13.3 and 14.1
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6599 Add Deploy, Deploy Contrib and Forms Deploy 15.0.0-rc2 release notes
  15/umbraco-deploy/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-deploy, release-notes

#6600 Update README.md
  umbraco-cloud/product-upgrades/README.md
Labels: category/umbraco-cloud

#6602 Umbraco Commerce 13.1.11 & 14.1.6 and Umbraco Commerce Deploy 13.1.2 & 14.1.1 release notes
  13/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/release-notes/README.md
  commerce-add-ons/packages/deploy/release-notes.md
Labels: release-notes, category/umbraco-commerce

#6588 Add docker documentation for V14 and V15
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  14/umbraco-cms/fundamentals/setup/install/running-umbraco-on-docker-locally.md
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  15/umbraco-cms/fundamentals/setup/install/running-umbraco-on-docker-locally.md
  15/umbraco-cms/release-candidate-guide.md
Labels: category/umbraco-cms, release/15.0.0

#6582 V15: Clarify breaking changes resolution
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms, release/15.0.0

#6601 Update common-pitfalls.md
  15/umbraco-cms/reference/common-pitfalls.md
Labels: category/umbraco-cms, hacktoberfest/contrib-2024

#6360 Update adding-language-variants.md
  10/umbraco-cms/tutorials/multilanguage-setup.md
  14/umbraco-cms/tutorials/creating-a-basic-website/adding-language-variants.md
  14/umbraco-cms/tutorials/multilanguage-setup.md
Labels: category/umbraco-cms

#6603 Sectionview: fixed existing example + added extra examples
  14/umbraco-cms/customizing/extending-overview/extension-types/section-view.md
  15/umbraco-cms/customizing/extending-overview/extension-types/section-view.md
  15/umbraco-cms/customizing/section-trees/sections/section-view.md
Labels: category/umbraco-cms

#6604 fix: correct special property alias misinformation
  umbraco-heartcore/compare-with-umbraco-cms.md
Labels: category/umbraco-heartcore

#6606 Fixed misspelled method in example and description
  14/umbraco-cms/reference/notifications/contentservice-notifications.md
Labels: category/umbraco-cms, hacktoberfest/contrib-2024

#6595 Porting old Umbraco API Controller [Relation Service]
  14/umbraco-cms/reference/management/using-services/relationservice.md
  15/umbraco-cms/reference/management/using-services/relationservice.md
Labels: category/umbraco-cms, hacktoberfest/contrib-2024
