Repository umbraco/UmbracoDocs, pull requests merged in 2024-09, with the labels that each got.

#6386 Updated Umbraco UIBuilder 14.0.0-alpha1 docs
  14/umbraco-ui-builder/README.md
  14/umbraco-ui-builder/advanced/virtual-sub-trees.md
  14/umbraco-ui-builder/collections/child-collection-groups.md
  14/umbraco-ui-builder/collections/child-collections.md
  14/umbraco-ui-builder/collections/related-collections.md
  14/umbraco-ui-builder/collections/retrieve-child-collections.md
  14/umbraco-ui-builder/collections/the-basics.md
  14/umbraco-ui-builder/known-issues.md
  14/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#6388 Update working-locally.md
  umbraco-cloud/set-up/working-locally.md
Labels: category/umbraco-cloud

#6372 Add release notes for Deploy 13.2.0, 14.1.0, 14.1.1 and Deploy Contrib 4.4.0, 10.3.0, 12.2.0, 13.2.0 and 14.1.0
  10/umbraco-deploy/release-notes.md
  12/umbraco-deploy/release-notes.md
  13/umbraco-deploy/release-notes.md
  14/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy

#6387 Update the Relations article
  14/umbraco-cms/fundamentals/data/images/Relations-in-the-backoffice.png
  14/umbraco-cms/fundamentals/data/relations.md
Labels: category/umbraco-cms, review/docsteam

#6391 Update docs for Zapier integrations
  marketplace-and-integrations/integrations/zapier-with-umbraco-forms.md
  marketplace-and-integrations/integrations/zapier.md
Labels: category/umbraco-dxp

#6390 Use vale linter on Common pitfalls article
  14/umbraco-cms/reference/common-pitfalls.md
Labels: category/umbraco-cms, category/styleguide, review/docsteam

#6392 EntityActions: fixed imports in code examples
  14/umbraco-cms/customizing/section-trees/trees/entity-actions.md
  14/umbraco-cms/customizing/section-trees/trees/entity-bulk-actions.md
Labels: category/umbraco-cms, review/dteam

#6396 Correct dead link - Creating a Custom Dashboard
  14/umbraco-cms/tutorials/creating-your-first-extension.md
Labels: category/broken-link, category/umbraco-cms

#6398 Update rewrites-on-cloud.md
  umbraco-cloud/set-up/project-settings/manage-hostnames/rewrites-on-cloud.md
Labels: category/umbraco-cloud

#6395 Add section about external login providers on Cloud
  14/umbraco-cms/reference/security/external-login-providers.md
Labels: category/umbraco-cms, review/docsteam

#6394 Updated Migrating regions cloud article to use new backup feature and import/export features on cloud and deploy.
  umbraco-cloud/getting-started/migrate-between-regions.md
Labels: category/umbraco-cloud, review/dteam, review/docsteam

#6402 Removed the licensing article from generic space
  generic/.gitbook.yaml
  generic/SUMMARY.md
  generic/the-licensing-model.md
Labels: review/docsteam

#6401 A Beginner's Guide to Umbraco Commerce
  14/umbraco-commerce/SUMMARY.md
  14/umbraco-commerce/tutorials/getting-started-with-commerce.md
  14/umbraco-commerce/tutorials/images/create-country.png
  14/umbraco-commerce/tutorials/images/create-currency.png
  14/umbraco-commerce/tutorials/images/create-email-template.png
  14/umbraco-commerce/tutorials/images/create-location.png
  14/umbraco-commerce/tutorials/images/create-order-status.png
  14/umbraco-commerce/tutorials/images/create-payment-methods.png
  14/umbraco-commerce/tutorials/images/create-shipping-method.png
  14/umbraco-commerce/tutorials/images/create-store.png
  14/umbraco-commerce/tutorials/images/create-tax-rate.png
  14/umbraco-commerce/tutorials/images/property-editors.png
  14/umbraco-commerce/tutorials/images/sqlite-error.png
  14/umbraco-commerce/tutorials/images/store-permissions.png
  14/umbraco-commerce/tutorials/overview.md
Labels: review/docsteam, category/umbraco-commerce

#6408 Attempt to fix redirects
  14/umbraco-commerce/.gitbook.yaml
Labels: category/umbraco-commerce

#6404 Release notes and documentation updates for Forms 10.5.7, 13.2.2 and 14.1.2
  10/umbraco-forms/release-notes.md
  13/umbraco-forms/developer/configuration/README.md
  13/umbraco-forms/developer/themes.md
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/developer/configuration/README.md
  14/umbraco-forms/developer/themes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6403 Release notes - Workflow 10.4.0, 13.2.0
  10/umbraco-workflow/getting-started/configuration.md
  10/umbraco-workflow/release-notes.md
  13/umbraco-workflow/getting-started/configuration.md
  13/umbraco-workflow/release-notes.md
Labels: category/pending-release, category/umbraco-workflow, release-notes

#6407 Promoting training course
  14/umbraco-cms/README.md
  14/umbraco-cms/customizing/extend-and-customize-editing-experience.md
  14/umbraco-cms/reference/routing/README.md
  14/umbraco-cms/reference/searching/README.md
  14/umbraco-cms/reference/security/README.md
  14/umbraco-cms/tutorials/editors-manual/README.md
  umbraco-cloud/README.md
  umbraco-cloud/deployment/README.md
  umbraco-cloud/set-up/working-locally.md
Labels: category/umbraco-cloud, category/umbraco-cms, review/docsteam

#6411 Added new error to cloud errors page.
  umbraco-cloud/troubleshooting/cloud-errors.md
Labels: category/umbraco-cloud, review/dteam

#6413 Updated migration IDs for Forms 10+
  14/umbraco-forms/upgrading/version-specific/migration-ids.md
Labels: category/umbraco-forms

#6416 Update issues
  generic/contribute/issues.md
Labels: category/styleguide

#6415 Added text about import function
  14/umbraco-forms/editor/creating-a-form/README.md
  14/umbraco-forms/editor/creating-a-form/images/import-form.png
Labels: category/umbraco-forms, review/docsteam

#6412 Handling sensitive data in Umbraco Forms
  10/umbraco-forms/developer/images/assign-sensitive-data-to-user.png
  10/umbraco-forms/developer/images/mark-field-as-sensitive.png
  10/umbraco-forms/developer/images/sensitive-data-field.png
  10/umbraco-forms/developer/security.md
  12/umbraco-forms/developer/images/assign-sensitive-data-to-user.png
  12/umbraco-forms/developer/images/mark-field-as-sensitive.png
  12/umbraco-forms/developer/images/sensitive-data-field.png
  12/umbraco-forms/developer/security.md
  13/umbraco-forms/developer/images/assign-sensitive-data-to-user.png
  13/umbraco-forms/developer/images/mark-field-as-sensitive.png
  13/umbraco-forms/developer/images/sensitive-data-field.png
  13/umbraco-forms/developer/security.md
  14/umbraco-forms/developer/images/assign-sensitive-data-to-user.png
  14/umbraco-forms/developer/images/mark-field-as-sensitive.png
  14/umbraco-forms/developer/images/sensitive-data-field.png
  14/umbraco-forms/developer/security.md
Labels: category/umbraco-forms, review/docsteam

#6427 Incorrect information in Umbraco Forms integration with ActiveCampaign docs
  marketplace-and-integrations/integrations/activecampaign-with-umbraco-forms.md
Labels: category/marketplace

#6425 Add Deploy 13.2.1 and 14.1.2 release notes
  10/umbraco-deploy/release-notes.md
  13/umbraco-deploy/release-notes.md
  14/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy, release-notes

#6428 Added release notes for Forms 13.2.3 and 14.1.3
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6378 Corrects: UFM custom component code snippet
  14/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/pending-release, category/umbraco-cms

#6405 Update secrets-management.md
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/umbraco-cloud

#6433 Added release notes for Deploy 14.1.3
  14/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy, release-notes

#6432 Update marketplace-and-integrations
  marketplace-and-integrations/README.md
Labels: category/marketplace

#6393 Update stricttransportsecurityheader.md
  14/umbraco-cms/extending/health-check/guides/stricttransportsecurityheader.md
Labels: category/umbraco-cms, review/dteam

#6400 Specifying that Umbraco includes NPoco
  14/umbraco-cms/extending/database.md
Labels: category/umbraco-cms

#6435 Update Algolia geolocation docs
  marketplace-and-integrations/integrations/algolia.md
Labels: category/marketplace

#6304 Update forms localization
  14/umbraco-forms/developer/localization.md
Labels: category/umbraco-forms, category/pending-release, release/14.2.0

#6431 Creating a multi-page form using Umbraco Forms
  14/umbraco-forms/SUMMARY.md
  14/umbraco-forms/tutorials/creating-a-multipage-form.md
  14/umbraco-forms/tutorials/images/Final-page.png
  14/umbraco-forms/tutorials/images/Form-Content-section.png
  14/umbraco-forms/tutorials/images/company-information.png
  14/umbraco-forms/tutorials/images/conditional-question-part-1.png
  14/umbraco-forms/tutorials/images/conditional-question-part-2.png
  14/umbraco-forms/tutorials/images/create-form.png
  14/umbraco-forms/tutorials/images/first-page-of-form.png
  14/umbraco-forms/tutorials/images/form-data-entry.png
  14/umbraco-forms/tutorials/images/multiple-choice.png
  14/umbraco-forms/tutorials/images/page-2-details.png
  14/umbraco-forms/tutorials/images/pick-document-type.png
  14/umbraco-forms/tutorials/images/prevalue-fields.png
Labels: category/umbraco-forms, review/docsteam

#6436 Umbraco CMS Integrations - update interface
  marketplace-and-integrations/integrations/algolia.md
Labels: category/marketplace

#6423 V15: Tutorial: Extending the Help Menu
  15/umbraco-cms/.gitbook/assets/help-menu.svg
  15/umbraco-cms/tutorials/extending-the-help-menu.md
Labels: category/umbraco-cms, release/15.0.0

#6439 Umbraco 15 Docs sync
  15/umbraco-cms/README.md
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/extend-and-customize-editing-experience.md
  15/umbraco-cms/customizing/extending-overview/extension-types/backoffice-entry-point.md
  15/umbraco-cms/customizing/extending-overview/extension-types/condition.md
  15/umbraco-cms/customizing/section-trees/sections/README.md
  15/umbraco-cms/extending/database.md
  15/umbraco-cms/extending/health-check/guides/stricttransportsecurityheader.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/rte-plugins.md
  15/umbraco-cms/reference/notifications/editormodel-notifications/README.md
  15/umbraco-cms/reference/routing/README.md
  15/umbraco-cms/reference/searching/README.md
  15/umbraco-cms/reference/security/README.md
  15/umbraco-cms/tutorials/editors-manual/README.md
  15/umbraco-forms/SUMMARY.md
  15/umbraco-forms/developer/configuration/README.md
  15/umbraco-forms/developer/images/assign-sensitive-data-to-user.png
  15/umbraco-forms/developer/images/mark-field-as-sensitive.png
  15/umbraco-forms/developer/images/sensitive-data-field.png
  15/umbraco-forms/developer/localization.md
  15/umbraco-forms/developer/security.md
  15/umbraco-forms/editor/creating-a-form/README.md
  15/umbraco-forms/editor/creating-a-form/images/import-form.png
  15/umbraco-forms/tutorials/creating-a-multipage-form.md
  15/umbraco-forms/tutorials/images/Final-page.png
  15/umbraco-forms/tutorials/images/Form-Content-section.png
  15/umbraco-forms/tutorials/images/company-information.png
  15/umbraco-forms/tutorials/images/conditional-question-part-1.png
  15/umbraco-forms/tutorials/images/conditional-question-part-2.png
  15/umbraco-forms/tutorials/images/create-form.png
  15/umbraco-forms/tutorials/images/first-page-of-form.png
  15/umbraco-forms/tutorials/images/form-data-entry.png
  15/umbraco-forms/tutorials/images/multiple-choice.png
  15/umbraco-forms/tutorials/images/page-2-details.png
  15/umbraco-forms/tutorials/images/pick-document-type.png
  15/umbraco-forms/tutorials/images/prevalue-fields.png
Labels: category/umbraco-cms, release/15.0.0

#6438 Update how-to-add-a-new-version
  generic/contribute/how-to-add-a-new-version.md
Labels: category/styleguide

#6437 Updated Umbraco API Controllers article as per the styleguide
  14/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
Labels: category/umbraco-cms, review/docsteam

#6430 Update backoffice-entry-point.md
  14/umbraco-cms/customizing/extending-overview/extension-types/backoffice-entry-point.md
Labels: category/umbraco-cms

#6440 Update workflow-types.md
  12/umbraco-forms/editor/attaching-workflows/workflow-types.md
  13/umbraco-forms/editor/attaching-workflows/workflow-types.md
  14/umbraco-forms/editor/attaching-workflows/workflow-types.md
  15/umbraco-forms/editor/attaching-workflows/workflow-types.md
Labels: category/umbraco-forms

#6446 Updated some rules
  .github/styles/UmbracoDocs/Acronyms.yml
  .github/styles/UmbracoDocs/Brands.yml
  .github/styles/UmbracoDocs/Names.yml
  .github/styles/UmbracoDocs/Terms.yml
Labels: category/styleguide

#6444 Add JPG & JPEG to the list of acronyms
  .github/styles/UmbracoDocs/Acronyms.yml
Labels: category/styleguide

#6442 Correct schema name in PropertyEditor example
  14/umbraco-cms/customizing/property-editors/composition/property-editor-ui.md
Labels: category/umbraco-cms

#6448 Umbraco Commerce 14.0.1 release notes
  14/umbraco-commerce/release-notes/README.md
Labels: release-notes

#6450 Added release notes for Forms 13.2.4 and 14.1.4
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6452 Update rewrites-on-cloud.md
  umbraco-cloud/set-up/project-settings/manage-hostnames/rewrites-on-cloud.md
Labels: category/umbraco-cloud

#6454 Update updating cache
  10/umbraco-cms/reference/cache/updating-cache.md
  12/umbraco-cms/reference/cache/updating-cache.md
  13/umbraco-cms/reference/cache/updating-cache.md
  14/umbraco-cms/reference/cache/updating-cache.md
  15/umbraco-cms/reference/cache/updating-cache.md
Labels: category/umbraco-cms, category/styleguide

#6457 Update external login provider to fix issue 16565
  14/umbraco-cms/reference/security/external-login-providers.md
Labels: category/umbraco-cms

#6458 Update rewrites-on-cloud.md
  umbraco-cloud/set-up/project-settings/manage-hostnames/rewrites-on-cloud.md
Labels: category/umbraco-cloud

#6426 Add CSP health check article
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending/health-check/guides/README.md
  14/umbraco-cms/extending/health-check/guides/contentsecuritypolicy.md
  14/umbraco-cms/extending/health-check/guides/crosssitescriptingprotection.md
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/extending/health-check/guides/README.md
  15/umbraco-cms/extending/health-check/guides/contentsecuritypolicy.md
  15/umbraco-cms/extending/health-check/guides/crosssitescriptingprotection.md
Labels: category/umbraco-cms, release/14.3.0

#6449 add september heartcore release notes. update redirect api with new endpoint
  umbraco-heartcore/.gitbook.yaml
  umbraco-heartcore/SUMMARY.md
  umbraco-heartcore/api-documentation/README.md
  umbraco-heartcore/api-documentation/content-delivery/redirect.md
  umbraco-heartcore/release-notes/2024-02-releasenotes.md
  umbraco-heartcore/release-notes/2024-04-releasenotes.md
  umbraco-heartcore/release-notes/2024-08-releasenotes.md
  umbraco-heartcore/release-notes/2024-09-releasenotes.md
Labels: category/umbraco-heartcore

#6462 Remove mentions of Macros to render Umbraco Forms
  13/umbraco-ums/security-and-privacy/gdpr/how-to-become-gdpr-compliant-using-cookiebot.md
  14/umbraco-forms/developer/rendering-forms.md
  14/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#6463 Updated versions on latest Forms theme download links
  13/umbraco-forms/developer/themes.md
  14/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#6380 Umbraco Commerce Taxes Documentation
  14/umbraco-commerce/SUMMARY.md
  14/umbraco-commerce/key-concepts/sales-taxt-providers.md
  14/umbraco-commerce/media/v14/taxes/country-tax-calculation-method.png
  14/umbraco-commerce/media/v14/taxes/no-sales-tax-providers.png
  14/umbraco-commerce/media/v14/taxes/pick-sales-tax-provider.png
  14/umbraco-commerce/media/v14/taxes/product-tax-class.png
  14/umbraco-commerce/media/v14/taxes/store-default-tax-class.png
  14/umbraco-commerce/media/v14/taxes/store-prices-include-tax-warning.png
  14/umbraco-commerce/media/v14/taxes/store-prices-include-tax.png
  14/umbraco-commerce/media/v14/taxes/tax-calculation-method-settings.png
  14/umbraco-commerce/media/v14/taxes/tax-calculation-methods.png
  14/umbraco-commerce/media/v14/taxes/tax-class-country-region-settings-modal.png
  14/umbraco-commerce/media/v14/taxes/tax-class-country-region-settings.png
  14/umbraco-commerce/media/v14/taxes/tax-class-general-settings.png
  14/umbraco-commerce/media/v14/taxes/tax-classes.png
  14/umbraco-commerce/reference/taxes/README.md
  14/umbraco-commerce/reference/taxes/calculated-tax-rates.md
  14/umbraco-commerce/reference/taxes/fixed-tax-rates.md
  14/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/upgrading/version-specific-upgrades.md
Labels: category/pending-release, category/umbraco-commerce

#6468 Add descriptions to health check articles
  10/umbraco-cms/extending/health-check/guides/clickjackingprotection.md
  10/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
  10/umbraco-cms/extending/health-check/guides/debugcompilationmode.md
  12/umbraco-cms/extending/health-check/guides/clickjackingprotection.md
  12/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
  12/umbraco-cms/extending/health-check/guides/debugcompilationmode.md
  13/umbraco-cms/extending/health-check/guides/clickjackingprotection.md
  13/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
  13/umbraco-cms/extending/health-check/guides/debugcompilationmode.md
  14/umbraco-cms/extending/health-check/guides/clickjackingprotection.md
  14/umbraco-cms/extending/health-check/guides/contentsecuritypolicy.md
  14/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
  14/umbraco-cms/extending/health-check/guides/debugcompilationmode.md
  15/umbraco-cms/extending/health-check/guides/clickjackingprotection.md
  15/umbraco-cms/extending/health-check/guides/contentsecuritypolicy.md
  15/umbraco-cms/extending/health-check/guides/contentsniffingprotection.md
  15/umbraco-cms/extending/health-check/guides/debugcompilationmode.md
Labels: category/umbraco-cms

#6472 Umbraco Commerce v14.1.1 release notes
  14/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6477 Update serilog
  10/umbraco-cms/reference/configuration/serilog.md
  12/umbraco-cms/reference/configuration/serilog.md
  13/umbraco-cms/reference/configuration/serilog.md
  14/umbraco-cms/reference/configuration/serilog.md
  15/umbraco-cms/reference/configuration/serilog.md
Labels: category/umbraco-cms

#6479 Umbraco Commerce Deploy v14.1.0 release notes
  commerce-add-ons/packages/deploy/release-notes.md
Labels: category/umbraco-commerce

#6481 Update using services
  14/umbraco-cms/reference/management/using-services/README.md
  15/umbraco-cms/reference/management/using-services/README.md
Labels: category/umbraco-cms
