Repository umbraco/UmbracoDocs, pull requests merged in 2024-04, with the labels that each got.

#5976 Change to 'migrate existing site' docs to reflect the differences I found when following the guide.
  umbraco-cloud/getting-started/migrate-existing-site/README.md
  umbraco-cloud/getting-started/migrate-existing-site/images/deployDashBoard.png
Labels: category/umbraco-cloud

#5997 Update field types
  10/umbraco-forms/developer/field-types.md
  12/umbraco-forms/developer/field-types.md
  13/umbraco-forms/developer/field-types.md
Labels: category/umbraco-forms, category/styleguide

#5995 document http2 and http3 protocol support
  umbraco-cloud/security.md
Labels: category/umbraco-cloud

#5996 v14 replacing Newtonsoft.Json with IJsonSerializer
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-list-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/checkbox-list.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/dropdown/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multi-url-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/tags.md
  14/umbraco-cms/implementation/unit-testing.md
Labels: category/umbraco-cms, review/docsteam, release/14.0.0

#6002 fixes broken link
  13/umbraco-cms/reference/content-delivery-api/README.md
  14/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms, category/styleguide

#6005 fix broken links related to removed articles from #5987
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/checkbox-list.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/color-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/content-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/decimal.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/dropdown/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/email-address.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/eye-dropper-color-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/file-upload.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/label.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/markdown-editor.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/member-group-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/member-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multi-url-picker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multinode-treepicker.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/multiple-textbox.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/numeric.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/radiobutton-list.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/slider.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/textarea.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/textbox.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/true-false.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/user-picker.md
  14/umbraco-cms/fundamentals/code/umbraco-services.md
  14/umbraco-cms/fundamentals/data/data-types/README.md
  14/umbraco-cms/fundamentals/data/defining-content/README.md
  14/umbraco-cms/fundamentals/data/dictionary-items.md
  14/umbraco-cms/fundamentals/data/members.md
Labels: category/umbraco-cms, release/14.0.0

#5993 Fix issue content-apps documentation v13
  13/umbraco-cms/extending/content-apps.md
Labels: category/umbraco-cms

#6008 Update security
  10/umbraco-forms/developer/security.md
  12/umbraco-forms/developer/security.md
  13/umbraco-forms/developer/security.md
Labels: category/umbraco-forms, category/styleguide

#6010 Umbraco Commerce release notes
  10/umbraco-commerce/release-notes.md
  12/umbraco-commerce/release-notes.md
  13/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6011 Added release notes for Forms 10.5.5, 12.2.4 and 13.1.2.
  10/umbraco-forms/release-notes.md
  12/umbraco-forms/release-notes.md
  13/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6014 restructure localization files for v14
  14/umbraco-cms/extending-backoffice/localization/.net-localization.md
  14/umbraco-cms/extending-backoffice/localization/README.md
  14/umbraco-cms/extending-backoffice/localization/net-localization.md
  14/umbraco-cms/extending-cms/language-files.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#6015 Updated Field types article with correct information for v10+ for forms
  10/umbraco-forms/developer/field-types.md
  12/umbraco-forms/developer/field-types.md
  13/umbraco-forms/developer/field-types.md
Labels: category/umbraco-forms

#6003 v14- restructuring notification articles
  14/umbraco-cms/reference/dive-into-the-code.md
  14/umbraco-cms/reference/notifications/README.md
  14/umbraco-cms/reference/notifications/cacherefresher-notifications.md
  14/umbraco-cms/reference/notifications/contentservice-notifications.md
  14/umbraco-cms/reference/notifications/contentypeservice-notifications.md
  14/umbraco-cms/reference/notifications/creating-and-publishing-notifications.md
  14/umbraco-cms/reference/notifications/datatypeservice-notifications.md
  14/umbraco-cms/reference/notifications/determining-new-entity.md
  14/umbraco-cms/reference/notifications/editormodel-notifications/README.md
  14/umbraco-cms/reference/notifications/fileservice-notifications.md
  14/umbraco-cms/reference/notifications/localizationservice-notifications.md
  14/umbraco-cms/reference/notifications/mediaservice-notifications.md
  14/umbraco-cms/reference/notifications/mediatypeservice-notifications.md
  14/umbraco-cms/reference/notifications/memberservice-notifications.md
  14/umbraco-cms/reference/notifications/membertypeservice-notifications.md
  14/umbraco-cms/reference/notifications/notification-handler.md
  14/umbraco-cms/reference/notifications/relationservice-notifications.md
  14/umbraco-cms/reference/notifications/sendingallowedchildrennotifications.md
  14/umbraco-cms/reference/notifications/umbracoapplicationlifetime-notifications.md
Labels: category/umbraco-cms, review/docsteam, release/14.0.0

#6007 Add umbraco commerce product feed package
  commerce-add-ons/packages/README.md
  commerce-add-ons/packages/SUMMARY.md
  commerce-add-ons/packages/product-feeds/README.md
  commerce-add-ons/packages/product-feeds/extending.md
  commerce-add-ons/packages/product-feeds/installation.md
  commerce-add-ons/packages/product-feeds/media/feed-setting-page.png
  commerce-add-ons/packages/product-feeds/media/google-merchant-center-feed.png
  commerce-add-ons/packages/product-feeds/media/open-feed-link.png
  commerce-add-ons/packages/product-feeds/media/product-feed-list-page.png
  commerce-add-ons/packages/product-feeds/media/property-value-extractor-dropdown.png
Labels: category/umbraco-commerce

#6017 Fix broken links for sections and tree
  14/umbraco-cms/extending-backoffice/extension-types/sections-and-trees/README.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#6016 Initial docs for Bellissima Routes
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending-backoffice/routes.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#6019 restructure notification section
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/reference/notifications/README.md
  10/umbraco-cms/reference/notifications/cacherefresher-notifications.md
  10/umbraco-cms/reference/notifications/contentservice-notifications.md
  10/umbraco-cms/reference/notifications/contentypeservice-notifications.md
  10/umbraco-cms/reference/notifications/datatypeservice-notifications.md
  10/umbraco-cms/reference/notifications/fileservice-notifications.md
  10/umbraco-cms/reference/notifications/localizationservice-notifications.md
  10/umbraco-cms/reference/notifications/mediaservice-notifications.md
  10/umbraco-cms/reference/notifications/mediatypeservice-notifications.md
  10/umbraco-cms/reference/notifications/memberservice-notifications.md
  10/umbraco-cms/reference/notifications/membertypeservice-notifications.md
  10/umbraco-cms/reference/notifications/notification-handler.md
  10/umbraco-cms/reference/notifications/relationservice-notifications.md
  10/umbraco-cms/reference/notifications/sendingallowedchildrennotifications.md
  10/umbraco-cms/reference/notifications/umbracoapplicationlifetime-notifications.md
  12/umbraco-cms/SUMMARY.md
  12/umbraco-cms/reference/dive-into-the-code.md
  12/umbraco-cms/reference/notifications/README.md
  12/umbraco-cms/reference/notifications/cacherefresher-notifications.md
  12/umbraco-cms/reference/notifications/contentservice-notifications.md
  12/umbraco-cms/reference/notifications/contentypeservice-notifications.md
  12/umbraco-cms/reference/notifications/datatypeservice-notifications.md
  12/umbraco-cms/reference/notifications/fileservice-notifications.md
  12/umbraco-cms/reference/notifications/localizationservice-notifications.md
  12/umbraco-cms/reference/notifications/mediaservice-notifications.md
  12/umbraco-cms/reference/notifications/mediatypeservice-notifications.md
  12/umbraco-cms/reference/notifications/memberservice-notifications.md
  12/umbraco-cms/reference/notifications/membertypeservice-notifications.md
  12/umbraco-cms/reference/notifications/notification-handler.md
  12/umbraco-cms/reference/notifications/relationservice-notifications.md
  12/umbraco-cms/reference/notifications/umbracoapplicationlifetime-notifications.md
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/dive-into-the-code.md
  13/umbraco-cms/reference/notifications/README.md
  13/umbraco-cms/reference/notifications/cacherefresher-notifications.md
  13/umbraco-cms/reference/notifications/contentservice-notifications.md
  13/umbraco-cms/reference/notifications/contentypeservice-notifications.md
  13/umbraco-cms/reference/notifications/creating-and-publishing-notifications.md
  13/umbraco-cms/reference/notifications/datatypeservice-notifications.md
  13/umbraco-cms/reference/notifications/determining-new-entity.md
  13/umbraco-cms/reference/notifications/fileservice-notifications.md
  13/umbraco-cms/reference/notifications/hot-vs-cold-restarts.md
  13/umbraco-cms/reference/notifications/localizationservice-notifications.md
  13/umbraco-cms/reference/notifications/mediaservice-notifications.md
  13/umbraco-cms/reference/notifications/mediatypeservice-notifications.md
  13/umbraco-cms/reference/notifications/memberservice-notifications.md
  13/umbraco-cms/reference/notifications/membertypeservice-notifications.md
  13/umbraco-cms/reference/notifications/notification-handler.md
  13/umbraco-cms/reference/notifications/relationservice-notifications.md
  13/umbraco-cms/reference/notifications/sendingallowedchildrennotifications.md
  13/umbraco-cms/reference/notifications/umbracoapplicationlifetime-notifications.md
  14/umbraco-cms/reference/notifications/sendingallowedchildrennotifications.md
Labels: category/umbraco-cms

#6020 Updated creating a property editor part 4
  10/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
  12/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
  13/umbraco-cms/tutorials/creating-a-property-editor/part-4.md
Labels: category/umbraco-cms

#6024 Fix broken links
  10/umbraco-cms/implementation/controllers.md
  12/umbraco-cms/implementation/controllers.md
  13/umbraco-cms/implementation/controllers.md
  14/umbraco-cms/implementation/controllers.md
  umbraco-heartcore/README.md
  umbraco-heartcore/api-documentation/content-management/media/README.md
  umbraco-heartcore/tutorials/creating-content-with-media.md
Labels: category/umbraco-heartcore, category/umbraco-cms, category/styleguide

#6022 adding raiseEvents info
  10/umbraco-cms/reference/notifications/contentservice-notifications.md
  10/umbraco-cms/reference/notifications/mediaservice-notifications.md
  10/umbraco-cms/reference/notifications/memberservice-notifications.md
  12/umbraco-cms/reference/notifications/contentservice-notifications.md
  12/umbraco-cms/reference/notifications/mediaservice-notifications.md
  12/umbraco-cms/reference/notifications/memberservice-notifications.md
  13/umbraco-cms/reference/notifications/contentservice-notifications.md
  13/umbraco-cms/reference/notifications/mediaservice-notifications.md
  13/umbraco-cms/reference/notifications/memberservice-notifications.md
  14/umbraco-cms/reference/notifications/contentservice-notifications.md
  14/umbraco-cms/reference/notifications/mediaservice-notifications.md
  14/umbraco-cms/reference/notifications/memberservice-notifications.md
Labels: category/umbraco-cms

#6025 Removed Location article...
  13/umbraco-commerce/SUMMARY.md
Labels: category/umbraco-commerce

#6027 update xpath replacement for v14
  13/umbraco-cms/tutorials/custom-error-page.md
  14/umbraco-cms/README.md
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms, review/docsteam, release/14.0.0

#6028 update xpath hints
  13/umbraco-cms/extending/property-editors/full-examples-value-converters.md
  13/umbraco-cms/extending/property-editors/property-value-converters.md
  13/umbraco-cms/reference/configuration/contentsettings.md
  13/umbraco-cms/reference/configuration/index-10.0.0.md
  13/umbraco-cms/reference/querying/umbracohelper.md
  13/umbraco-cms/reference/routing/authorized.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  14/umbraco-cms/reference/configuration/contentsettings.md
Labels: category/umbraco-cms, release/14.0.0

#6029 v14: update outdated services code examples and remove smidge content
  13/umbraco-cms/extending/macro-parameter-editors.md
  13/umbraco-cms/fundamentals/design/stylesheets-javascript.md
  13/umbraco-cms/reference/configuration/runtimeminificationsettings.md
  13/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
  14/umbraco-cms/extending-cms/health-check/README.md
  14/umbraco-cms/extending-cms/packages/packages-on-umbraco-cloud.md
  14/umbraco-cms/fundamentals/design/stylesheets-javascript.md
  14/umbraco-cms/fundamentals/setup/server-setup/runtime-modes.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  14/umbraco-cms/reference/common-pitfalls.md
  14/umbraco-cms/reference/configuration/README.md
  14/umbraco-cms/reference/configuration/filesystemproviders.md
  14/umbraco-cms/reference/configuration/runtimeminificationsettings.md
  14/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
Labels: category/umbraco-cms, release/14.0.0

#6032 EF info about using multiple projects
  13/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: category/umbraco-cms

#6033 v14: removing angular articles and where it is mentioned
  14/umbraco-cms/extending-cms/backoffice-tours.md
  14/umbraco-cms/extending-cms/backoffice-ui-api-documentation.md
  14/umbraco-cms/reference/angular/README.md
  14/umbraco-cms/reference/angular/directives/README.md
  14/umbraco-cms/reference/angular/directives/images/umbLayoutSelector.png
  14/umbraco-cms/reference/angular/directives/images/umbLoadIndicator.gif
  14/umbraco-cms/reference/angular/directives/umblayoutselector.md
  14/umbraco-cms/reference/angular/directives/umbloadindicator.md
  14/umbraco-cms/reference/angular/directives/umbproperty.md
  14/umbraco-cms/reference/angular/services/README.md
  14/umbraco-cms/reference/angular/services/editorservice.md
  14/umbraco-cms/reference/angular/services/eventsservice/README.md
  14/umbraco-cms/reference/angular/services/eventsservice/changetitle.md
  14/umbraco-cms/reference/angular/services/eventsservice/images/defaultview.png
  14/umbraco-cms/reference/angular/services/eventsservice/images/editblog.png
  14/umbraco-cms/reference/api-documentation.md
  14/umbraco-cms/reference/security/cookies.md
  14/umbraco-cms/reference/security/external-login-providers.md
Labels: category/broken-link, release/14.0.0

#6030 Use UmbPropertyValueChangeEvent over magic string
  14/umbraco-cms/extending-backoffice/extension-types/property-editors/property-editor-ui.md
  14/umbraco-cms/tutorials/creating-a-property-editor/README.md
  14/umbraco-cms/tutorials/creating-a-property-editor/adding-configuration-to-a-property-editor.md
  14/umbraco-cms/tutorials/creating-a-property-editor/integrating-services-with-a-property-editor.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#6035 v14: update api docs and links
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/extending-backoffice/ui-documentation.md
  14/umbraco-cms/extending-cms/backoffice-ui-api-documentation.md
  14/umbraco-cms/extending-cms/dashboards.md
  14/umbraco-cms/extending-cms/embedded-media-providers.md
  14/umbraco-cms/extending-cms/packages/packages-on-umbraco-cloud.md
  14/umbraco-cms/extending-cms/property-editors/build-a-block-editor.md
  14/umbraco-cms/extending-cms/property-editors/declaring-your-property-editor.md
  14/umbraco-cms/extending-cms/section-trees/trees/README.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/label-property-configuration.md
  14/umbraco-cms/implementation/default-routing/inbound-pipeline.md
  14/umbraco-cms/implementation/unit-testing.md
  14/umbraco-cms/reference/api-documentation.md
  14/umbraco-cms/reference/management/README.md
  14/umbraco-cms/reference/querying/imembermanager.md
  14/umbraco-cms/reference/querying/udi-identifiers.md
  14/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
  14/umbraco-cms/reference/security/backofficeusermanager-and-notifications.md
Labels: category/umbraco-cms, category/umbraco-new-backoffice, release/14.0.0

#6036 Update macro parameter editors
  10/umbraco-cms/extending/macro-parameter-editors.md
  12/umbraco-cms/extending/macro-parameter-editors.md
  13/umbraco-cms/extending/macro-parameter-editors.md
Labels: category/umbraco-cms, category/styleguide

#6018 Deploy Import file size limit on Umbraco Cloud
  13/umbraco-deploy/deployment-workflow/import-export.md
Labels: category/umbraco-cloud

#6041 Update signalR docs by using the UmbracoPipelineFilter correct
  13/umbraco-cms/implementation/custom-routing/signalR.md
Labels: category/umbraco-cms

#6042 Umbraco commerce release notes
  10/umbraco-commerce/release-notes.md
  12/umbraco-commerce/release-notes.md
  13/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6040 release notes
  10/umbraco-workflow/release-notes.md
  12/umbraco-workflow/release-notes.md
  13/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow, release-notes

#6044 Fixed grammar
  13/umbraco-commerce/installation/the-licensing-model.md
Labels: category/umbraco-commerce

#6045 Changes SUITS to Sales
  13/umbraco-commerce/installation/the-licensing-model.md
Labels: category/umbraco-commerce

#6046 UI Builder 13.1.2 release notes
  13/umbraco-ui-builder/release-notes.md
Labels: release-notes, category/umbraco-ui-builder

#6043 Cloud release notes april 2024
  umbraco-cloud/release-notes/2024-04-releasenotes.md
  umbraco-cloud/release-notes/images/new-cloud-portal.png
Labels: category/umbraco-cloud

#6037 Update Content Delivery API
  12/umbraco-cms/reference/content-delivery-api/README.md
  13/umbraco-cms/reference/content-delivery-api/README.md
  14/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms, category/styleguide

#6049 Added Note about data providers included in .net framework
  10/umbraco-cms/fundamentals/setup/install/unattended-install.md
  12/umbraco-cms/fundamentals/setup/install/unattended-install.md
  13/umbraco-cms/fundamentals/setup/install/unattended-install.md
  14/umbraco-cms/fundamentals/setup/install/unattended-install.md
  umbraco-cloud/databases/local-database.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
Labels: category/umbraco-cms, review/docsteam

#6048 Added Note about timeout issue when connecting to DB
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/fundamentals/setup/upgrading/README.md
  10/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  12/umbraco-cms/fundamentals/setup/upgrading/README.md
  12/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  13/umbraco-cms/fundamentals/setup/upgrading/README.md
  13/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-from-8-to-latest.md
Labels: category/umbraco-cms, review/docsteam

#6051 Added detail about open ports in Umbraco Cloud
  umbraco-cloud/security.md
Labels: category/umbraco-cloud

#6053 Update notifications readme
  10/umbraco-cms/reference/notifications/README.md
  12/umbraco-cms/reference/notifications/README.md
  13/umbraco-cms/reference/notifications/README.md
  14/umbraco-cms/reference/notifications/README.md
Labels: category/umbraco-cms, category/styleguide

#6055 adding warning note on v13 about removal of UmbracoApiController
  13/umbraco-cms/extending/database.md
  13/umbraco-cms/extending/section-trees/trees/README.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-grid-editor.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/image-cropper.md
  13/umbraco-cms/fundamentals/code/debugging/logging.md
  13/umbraco-cms/implementation/controllers.md
  13/umbraco-cms/implementation/unit-testing.md
  13/umbraco-cms/reference/cache/examples/tags.md
  13/umbraco-cms/reference/common-pitfalls.md
  13/umbraco-cms/reference/management/services/relationservice.md
  13/umbraco-cms/reference/mapping.md
  13/umbraco-cms/reference/querying/itagquery.md
  13/umbraco-cms/reference/querying/umbraco-context.md
  13/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  13/umbraco-cms/reference/routing/umbraco-api-controllers/authorization.md
  13/umbraco-cms/reference/routing/umbraco-api-controllers/routing.md
  13/umbraco-cms/reference/using-ioc.md
  13/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
  14/umbraco-cms/reference/management/services/create-a-new-user.md
  14/umbraco-cms/reference/querying/imembermanager.md
Labels: category/umbraco-cms, release/14.0.0

#6058 Update customize backoffice
  14/umbraco-cms/extending-backoffice/customize-backoffice.md
Labels: category/umbraco-cms, category/styleguide

#6061 Corrected typo - Swagger is enabled in non-production environments.
  13/umbraco-cms/reference/api-versioning-and-openapi.md
Labels: category/umbraco-cms

#6062 Adding content how to upgrade from umbraco 7 using export and import from Umbraco Deploy
  10/umbraco-deploy/deployment-workflow/import-export.md
  12/umbraco-deploy/deployment-workflow/import-export.md
  13/umbraco-deploy/deployment-workflow/import-export.md
Labels: category/umbraco-deploy

#6063 Update docs for Algolia 2.1.5 changes.
  marketplace-and-integrations/integrations/algolia.md
Labels: category/umbraco-dxp
