Repository umbraco/UmbracoDocs, pull requests merged in 2025-09, with the labels that each got.

#7366 Clean up Optimize performance articles
  umbraco-cloud/optimize-and-maintain-your-site/optimize-performance/README.md
  umbraco-cloud/optimize-and-maintain-your-site/optimize-performance/manage-cdn-caching.md
  umbraco-cloud/optimize-and-maintain-your-site/optimize-performance/migrate-between-regions.md
Labels: category/umbraco-cloud, category/styleguide

#7370 Suggestions for the Orange to Orange / custom Cloudflare configuration
  umbraco-cloud/explore-umbraco-cloud/what-is-umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud

#7378 Updates to Config Transforms
  umbraco-cloud/begin-your-cloud-journey/project-features/environments.md
  umbraco-cloud/build-and-customize-your-solution/set-up-your-project/project-settings/config-transforms.md
Labels: category/umbraco-cloud

#7363 Adding Lychee Config files
  .github/lychee.toml
  .github/workflows/check-broken-pr-links.yml
  .gitignore
  .lycheeignore
Labels: category/styleguide

#7383 Fixed Vale errors on Cloud articles
  16/umbraco-cms/implementation/controllers.md
  umbraco-cloud/.gitbook/assets/Documentation_Icons_Umbraco_CMS_Implementation_Services_and_Helpers.png
  umbraco-cloud/.gitbook/assets/Documentations_Icons_Umbraco_CMS_Reference_Notifications.png
  umbraco-cloud/.gitbook/assets/Documentations_Icons_Umbraco_CMS_Reference_Security.png
  umbraco-cloud/.gitbook/assets/Documentations_Icons_Umbraco_CMS_Tutorials.png
  umbraco-cloud/.gitbook/assets/Documentations_Icons_Umbraco_CMS_Tutorials_Custom_Property_Editor.png
  umbraco-cloud/.gitbook/assets/Documentations_Icons_Umbraco_Cloud_Getting_Started.png
  umbraco-cloud/begin-your-cloud-journey/the-cloud-portal/organizations/README.md
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/README.md
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/availability-performance.md
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/hostname-monitoring.md
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/power-tools/README.md
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/power-tools/file-structure-on-cloud.md
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/power-tools/generating-uda-files.md
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/power-tools/manual-extractions.md
  umbraco-cloud/optimize-and-maintain-your-site/optimize-performance/README.md
  umbraco-cloud/release-notes/archive/overview-2022/2022-01-06-releasenotes.md
Labels: category/umbraco-cloud

#7387 Updating secret management page
  umbraco-cloud/begin-your-cloud-journey/project-features/secrets-management.md
Labels: category/umbraco-cloud

#7392 Remove duplicate code in custom-controllers.md
  16/umbraco-cms/reference/routing/custom-controllers.md
Labels: category/umbraco-cms

#7388 Update details on using conditions with Forms DatePicker
  16/umbraco-forms/editor/creating-a-form/conditional-logic.md
Labels: category/umbraco-forms

#7324 Update rendering-forms.md
  13/umbraco-forms/developer/rendering-forms.md
Labels: category/umbraco-forms

#7395 Update external-login-providers.md
  umbraco-cloud/begin-your-cloud-journey/project-features/external-login-providers.md
Labels: category/umbraco-cloud

#7357 Umbraco Commerce 16.3.0 & 15.3.12 Release Notes
  15/umbraco-commerce/release-notes/README.md
  16/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#7400 Update public-access.md
  umbraco-cloud/build-and-customize-your-solution/set-up-your-project/project-settings/public-access.md
Labels: category/umbraco-cloud

#7402 CMS: adds explanation for `GetDictionaryValueOrDefault`
  16/umbraco-cms/reference/querying/umbracohelper.md
Labels: category/umbraco-cms

#7405 Update release-notes.md
  13/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#7406 Add Content Security Policy check to built in health check list
  16/umbraco-cms/extending/health-check/README.md
Labels: category/umbraco-cms

#7412 UI Builder 16.0.4 release notes
  16/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7411 Add details on how to fix the website error the first time the app is run
  16/umbraco-cms/tutorials/starter-kit/install-the-starter-kit.md
Labels: category/umbraco-cms

#7408 Fixed vale errors in Engage articles
  16/umbraco-engage/SUMMARY.md
  16/umbraco-engage/developers/ab-testing/README.md
  16/umbraco-engage/developers/analytics/location.md
  16/umbraco-engage/developers/analytics/what-is-measured-by-default.md
  16/umbraco-engage/developers/headless/using-the-marketing-api.md
  16/umbraco-engage/developers/introduction/dataflow-pipeline/README.md
  16/umbraco-engage/developers/introduction/dataflow-pipeline/data-collection.md
  16/umbraco-engage/developers/introduction/dataflow-pipeline/data-parsing.md
  16/umbraco-engage/developers/introduction/dataflow-pipeline/data-storage.md
  16/umbraco-engage/developers/introduction/performance.md
  16/umbraco-engage/getting-started/for-developers/content-security-policy-nonce-configuration.md
  16/umbraco-engage/getting-started/for-developers/troubleshooting-installations.md
  16/umbraco-engage/installation/installation.md
  16/umbraco-engage/installation/troubleshooting-installs.md
  16/umbraco-engage/marketers-and-editors/ab-testing/setting-up-the-ab-test.md
  16/umbraco-engage/marketers-and-editors/ab-testing/types-of-ab-tests/single-page-ab-test.md
  16/umbraco-engage/marketers-and-editors/ab-testing/what-is-ab-testing.md
  16/umbraco-engage/marketers-and-editors/analytics/campaigns.md
  16/umbraco-engage/marketers-and-editors/analytics/what-is-measured-by-default.md
  16/umbraco-engage/marketers-and-editors/personalization/creating-a-segment.md
  16/umbraco-engage/marketers-and-editors/personalization/implicit-and-explicit-personalization/campaign-scoring.md
  16/umbraco-engage/marketers-and-editors/personalization/implicit-and-explicit-personalization/content-scoring.md
  16/umbraco-engage/marketers-and-editors/personalization/implicit-and-explicit-personalization/setting-up-personas.md
  16/umbraco-engage/marketers-and-editors/personalization/setting-up-personalization.md
  16/umbraco-engage/marketers-and-editors/profiling/README.md
  16/umbraco-engage/marketers-and-editors/settings/setting-up-goals.md
  16/umbraco-engage/security-and-privacy/gdpr/how-to-become-gdpr-compliant-using-cookiebot.md
  16/umbraco-engage/support.md
  16/umbraco-engage/tutorials/how-to-get-started-with-personalization.md
  16/umbraco-engage/upgrading/migrate-from-umarketingsuite.md
  16/umbraco-engage/upgrading/version-specific-upgrade-notes.md
Labels: category/styleguide, category/umbraco-engage

#7407 Fixed vale errors for Deploy articles
  16/umbraco-deploy/deployment-workflow/README.md
  16/umbraco-deploy/deployment-workflow/content-transfer.md
  16/umbraco-deploy/deployment-workflow/deploy-dashboard.md
  16/umbraco-deploy/deployment-workflow/deploying-changes.md
  16/umbraco-deploy/deployment-workflow/deploying-deletions.md
  16/umbraco-deploy/deployment-workflow/restoring-content/README.md
  16/umbraco-deploy/deployment-workflow/restoring-content/partial-restore.md
  16/umbraco-deploy/extending/extending.md
  16/umbraco-deploy/getting-started/Streamlining-Local-Development/index.md
  16/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-azure-dev-ops.md
  16/umbraco-deploy/getting-started/cicd-pipeline/ci-cd-github-actions.md
  16/umbraco-deploy/getting-started/deploy-settings.md
  16/umbraco-deploy/getting-started/streamlining-local-development.md
  16/umbraco-deploy/installation/images/licenses-screen.png
  16/umbraco-deploy/installation/images/test-UDA.png
  16/umbraco-deploy/installation/install-configure.md
  16/umbraco-deploy/installation/the-licensing-model.md
  16/umbraco-deploy/release-notes.md
Labels: category/umbraco-deploy, category/styleguide

#7404 Cleanup Multisite setup tutorial
  15/umbraco-cms/tutorials/multisite-setup.md
  16/umbraco-cms/tutorials/multisite-setup.md
Labels: category/umbraco-cms, category/styleguide

#7414 Added support indication and how to for downgrades and re-running migrations
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/fundamentals/setup/upgrading/README.md
  16/umbraco-cms/fundamentals/setup/upgrading/downgrades-and-rerunning-migrations.md
Labels: category/umbraco-cms, review/developer

#7416 Fixed broken links
  16/umbraco-engage/developers/personalization/implement-your-own-segment-parameters.md
Labels: category/broken-link, category/umbraco-engage

#7418 Update to Microsoft Entra tutorial
  13/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
  13/umbraco-cms/tutorials/images/Entra-Example-App-Registration-ClientCredentials.png
Labels: category/umbraco-cms

#7393 Header Apps
  16/umbraco-cms/.gitbook/assets/header-apps-custom.png
  16/umbraco-cms/customizing/extending-overview/extension-types/header-apps.md
Labels: category/umbraco-cms, community/docs-team

#7427 CICD Updates to Troubleshooting and API v2 Documentation
  umbraco-cloud/build-and-customize-your-solution/handle-deployments-and-environments/umbraco-cicd/README.md
  umbraco-cloud/build-and-customize-your-solution/handle-deployments-and-environments/umbraco-cicd/troubleshooting.md
  umbraco-cloud/build-and-customize-your-solution/handle-deployments-and-environments/umbraco-cicd/umbracocloudapi.md
Labels: category/umbraco-cloud

#7334 Sections, Section Views and Section Sidebar Apps
  16/umbraco-cms/.gitbook/assets/sections-assigning.png
  16/umbraco-cms/customizing/extending-overview/extension-types/sections/README.md
  16/umbraco-cms/customizing/extending-overview/extension-types/sections/section-sidebar.md
  16/umbraco-cms/customizing/extending-overview/extension-types/sections/section-view.md
  16/umbraco-cms/customizing/extending-overview/extension-types/sections/section.md
Labels: category/umbraco-cms, community/docs-team

#7436 Updated more images
  16/umbraco-engage/.gitbook/assets/External-profile-data-tab-v16.png
  16/umbraco-engage/.gitbook/assets/analytics-locations-v16.png
  16/umbraco-engage/.gitbook/assets/engage-analytics-scroll-heatmap-2-v16.png
  16/umbraco-engage/.gitbook/assets/engage-cockpit-v16.png
  16/umbraco-engage/.gitbook/assets/engage-headless-segment-css-v16.png
  16/umbraco-engage/.gitbook/assets/engage-personalization-splitview-text-v16.png
  16/umbraco-engage/.gitbook/assets/image (13).png
  16/umbraco-engage/developers/analytics/scroll-heatmap.md
  16/umbraco-engage/developers/headless/using-the-marketing-api.md
  16/umbraco-engage/developers/profiling/external-profile-data.md
  16/umbraco-engage/installation/troubleshooting-installs.md
  16/umbraco-engage/marketers-and-editors/personalization/setting-up-personalization.md
Labels: category/umbraco-engage

#7440 Fixed broken link
  16/umbraco-engage/README.md
  16/umbraco-engage/tutorials/README.md
  16/umbraco-engage/tutorials/how-to-create-a-persona.md
  umbraco-cloud/build-and-customize-your-solution/handle-deployments-and-environments/umbraco-cicd/umbracocloudapi.md
Labels: category/umbraco-cloud, category/umbraco-engage

#7439 Icons
  16/umbraco-cms/customizing/extending-overview/extension-types/icons.md
Labels: category/umbraco-cms, community/docs-team

#7444 Updated SQLite Cache
  10/umbraco-cms/fundamentals/setup/install/unattended-install.md
  10/umbraco-cms/reference/configuration/connectionstringssettings.md
  10/umbraco-commerce/how-to-guides/configure-sqlite-support.md
  13/umbraco-cms/fundamentals/setup/install/unattended-install.md
  13/umbraco-cms/reference/configuration/connectionstringssettings.md
  13/umbraco-commerce/how-to-guides/configure-sqlite-support.md
  15/umbraco-cms/fundamentals/setup/install/unattended-install.md
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  15/umbraco-cms/reference/configuration/connectionstringssettings.md
  15/umbraco-commerce/how-to-guides/configure-sqlite-support.md
  16/umbraco-cms/fundamentals/setup/install/unattended-install.md
  16/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  16/umbraco-cms/reference/configuration/connectionstringssettings.md
  16/umbraco-commerce/how-to-guides/configure-sqlite-support.md
Labels: category/umbraco-cms, category/umbraco-commerce
