Repository umbraco/UmbracoDocs, pull requests merged in 2025-08, with the labels that each got.

#7248 Add a new article: How to test your email templates
  16/umbraco-commerce/SUMMARY.md
  16/umbraco-commerce/how-to-guides/how-to-test-email-templates.md
  16/umbraco-commerce/how-to-guides/images/test-email-templates/0.email-template-details.png
  16/umbraco-commerce/how-to-guides/images/test-email-templates/1.send-test-email-modal.png
  16/umbraco-commerce/how-to-guides/images/test-email-templates/2.order-entity-picker.png
Labels: category/umbraco-commerce

#7133 Added docs around IMemberPartialViewCacheInvalidator
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/cache/imemberpartialviewcacheinvalidator.md
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/reference/cache/imemberpartialviewcacheinvalidator.md
Labels: category/umbraco-cms

#7295 Adds details on SignalR server events
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/extending/server-events.md
Labels: category/umbraco-cms

#7299 Added redirects for Deploy broken links
  16/umbraco-deploy/.gitbook.yaml
Labels: category/umbraco-deploy

#7311 Url definition
  10/umbraco-forms/developer/prepping-frontend.md
  13/umbraco-forms/developer/prepping-frontend.md
  14/umbraco-forms/developer/prepping-frontend.md
  15/umbraco-forms/developer/prepping-frontend.md
  16/umbraco-forms/developer/prepping-frontend.md
Labels: category/umbraco-forms

#7315 Cloud Docs cleanup
  umbraco-cloud/begin-your-cloud-journey/creating-a-cloud-project/README.md
  umbraco-cloud/begin-your-cloud-journey/creating-a-cloud-project/baselines.md
  umbraco-cloud/begin-your-cloud-journey/creating-a-cloud-project/migrate-to-umbraco-cloud.md
  umbraco-cloud/begin-your-cloud-journey/project-features/environments.md
  umbraco-cloud/begin-your-cloud-journey/project-features/secrets-management.md
  umbraco-cloud/begin-your-cloud-journey/project-features/team-members/README.md
  umbraco-cloud/begin-your-cloud-journey/project-features/team-members/technical-contact.md
  umbraco-cloud/begin-your-cloud-journey/project-features/users-on-cloud.md
Labels: category/umbraco-cloud, category/styleguide

#7286 16.2 Updates: Added details of abstractions of database availability checks, JSON serialization encoder creation and UseStrictDomainMatching option
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/reference/configuration/cache-settings.md
  16/umbraco-cms/reference/configuration/webroutingsettings.md
  16/umbraco-cms/reference/database-availability.md
  16/umbraco-cms/reference/json-serialization.md
Labels: category/pending-release, category/umbraco-cms

#7271 Update logging with new abstraction/configuration
  16/umbraco-cms/fundamentals/backoffice/logviewer.md
  16/umbraco-cms/fundamentals/code/debugging/logging.md
  16/umbraco-cms/fundamentals/setup/server-setup/running-umbraco-in-docker.md
  16/umbraco-cms/reference/configuration/serilog.md
Labels: category/pending-release, category/umbraco-cms

#7326 A small restructure of the Upgrade Documentation for CMS
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/fundamentals/setup/upgrading/README.md
  16/umbraco-cms/fundamentals/setup/upgrading/upgrade-details.md
  16/umbraco-cms/fundamentals/setup/upgrading/upgrade-unattended.md
Labels: category/umbraco-cms

#7330 Fixed vale errors in Cloud articles - Part 2
  .github/styles/UmbracoDocs/Acronyms.yml
  umbraco-cloud/build-and-customize-your-solution/set-up-your-project/project-settings/README.md
  umbraco-cloud/build-and-customize-your-solution/set-up-your-project/project-settings/application-settings.md
  umbraco-cloud/build-and-customize-your-solution/set-up-your-project/project-settings/config-transforms.md
  umbraco-cloud/build-and-customize-your-solution/set-up-your-project/project-settings/smtp-settings.md
  umbraco-cloud/build-and-customize-your-solution/set-up-your-project/project-settings/upgrade-your-plan.md
  umbraco-cloud/expand-your-projects-capabilities/external-services/README.md
  umbraco-cloud/expand-your-projects-capabilities/external-services/application-insights.md
  umbraco-cloud/explore-umbraco-cloud/what-is-umbraco-cloud/README.md
  umbraco-cloud/explore-umbraco-cloud/what-is-umbraco-cloud/hosting-with-umbraco-cloud-cloud-vs.-self-hosted.md
  umbraco-cloud/explore-umbraco-cloud/what-is-umbraco-cloud/key-features-and-benefits-of-using-umbraco-cloud.md
Labels: category/umbraco-cloud

#7329 Added an example for serving files from .well-known path
  13/umbraco-cms/reference/routing/iisrewriterules.md
  13/umbraco-cms/reference/routing/images/upload-verification-file.png
  15/umbraco-cms/reference/routing/iisrewriterules.md
  15/umbraco-cms/reference/routing/images/upload-verification-file.png
  16/umbraco-cms/reference/routing/iisrewriterules.md
  16/umbraco-cms/reference/routing/images/upload-verification-file.png
  umbraco-cloud/go-live/manage-hostnames/rewrites-on-cloud.md
Labels: category/umbraco-cms

#7339 Update major-upgrades.md
  umbraco-cloud/optimize-and-maintain-your-site/manage-product-upgrades/product-upgrades/major-upgrades.md
Labels: category/umbraco-cloud

#7341 Updated some regex expressions to match the styleguide
  .github/styles/UmbracoDocs/Acronyms.yml
  .github/styles/UmbracoDocs/Brands.yml
  .github/styles/UmbracoDocs/Editorializing.yml
  .github/styles/UmbracoDocs/HeadingsPunctuation.yml
  .github/styles/UmbracoDocs/LinkTextClarity.yml
  .github/styles/UmbracoDocs/ListStart.yml
  .github/styles/UmbracoDocs/Names.yml
  .github/styles/UmbracoDocs/Repetition.yml
  .github/styles/UmbracoDocs/SentenceLength.yml
  .github/styles/UmbracoDocs/Spacing.yml
  .github/styles/UmbracoDocs/Terms.yml
  .github/styles/UmbracoDocs/UmbracoTerms.yml
Labels: category/styleguide

#7333 Remove SendingAllowedChildrenNotification
  16/umbraco-cms/.gitbook.yaml
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/reference/content-type-filters.md
  16/umbraco-cms/reference/notifications/README.md
  16/umbraco-cms/reference/notifications/sendingallowedchildrennotifications.md
Labels: community/docs-team

#7351 Add Forms 13.6.0 and 16.1.0 release notes and update licensing model page
  10/umbraco-forms/installation/the-licensing-model.md
  13/umbraco-forms/developer/configuration/README.md
  13/umbraco-forms/installation/the-licensing-model.md
  13/umbraco-forms/release-notes.md
  14/umbraco-forms/installation/the-licensing-model.md
  15/umbraco-forms/installation/the-licensing-model.md
  16/umbraco-forms/developer/configuration/README.md
  16/umbraco-forms/installation/the-licensing-model.md
  16/umbraco-forms/release-notes.md
Labels: category/umbraco-forms
