Repository umbraco/UmbracoDocs, pull requests merged in 2025-05, with the labels that each got.

#7053 Updated Umbraco UI Builder release notes for version 13.2.4
  13/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7043 Update umbraco-services.md
  15/umbraco-cms/fundamentals/code/umbraco-services.md
Labels: category/umbraco-cms

#7063 Incorporated changes from v15 to v13 and v14
  13/umbraco-cms/fundamentals/code/umbraco-services.md
  14/umbraco-cms/fundamentals/code/umbraco-services.md
Labels: category/umbraco-cms

#7064 V16 : Change TinyMCE defaults to Tiptap
  15/umbraco-cms/customizing/umbraco-package.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  16/umbraco-cms/customizing/development-flow/vite-package-setup.md
  16/umbraco-cms/customizing/umbraco-package.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/markdown-editor.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  16/umbraco-cms/tutorials/editors-manual/working-with-content/README.md
  16/umbraco-forms/developer/extending/setting-types.md
Labels: category/umbraco-cms

#7065 Updated release notes for UI Builder 15.1.3
  15/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7069 Further details of 16 breaking changes
  16/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/umbraco-cms, release/16.0.0

#7067 Updated docs with fallback en
  14/umbraco-cms/extending/packages/language-files-for-packages.md
  15/umbraco-cms/extending/packages/language-files-for-packages.md
  16/umbraco-cms/extending/packages/language-files-for-packages.md
Labels: category/umbraco-cms

#7072 Updated the article to include SQLite setup as well
  15/umbraco-cms/fundamentals/setup/install/running-umbraco-on-docker-locally.md
Labels: category/umbraco-cms

#7073 Added "Backoffice" keyword
  15/umbraco-cms/customizing/ui-library.md
Labels: category/umbraco-cms

#7074 Added SQLite changes in Docker article for v14 and v16
  14/umbraco-cms/fundamentals/setup/install/running-umbraco-on-docker-locally.md
  16/umbraco-cms/fundamentals/setup/install/running-umbraco-on-docker-locally.md
Labels: category/umbraco-cms

#7075 Added "Backoffice" keyword for v14 and v16
  14/umbraco-cms/customizing/ui-library.md
  16/umbraco-cms/customizing/ui-library.md
Labels: category/umbraco-cms

#7058 Updating hint box to suggest using External Login Providers on Cloud
  15/umbraco-cms/tutorials/add-microsoft-entra-id-authentication.md
Labels: category/umbraco-cms

#7081 Add missing import statement for "Tokens"
  15/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/umbraco-cms

#7080 Added info about the project folder and how the article works
  10/umbraco-cms/tutorials/creating-a-basic-website/css-and-images.md
  13/umbraco-cms/tutorials/creating-a-basic-website/css-and-images.md
  14/umbraco-cms/tutorials/creating-a-basic-website/css-and-images.md
  15/umbraco-cms/tutorials/creating-a-basic-website/css-and-images.md
  16/umbraco-cms/tutorials/creating-a-basic-website/css-and-images.md
Labels: category/umbraco-cms

#7079 Moved Built-in Conditions Types info and added reference link
  14/umbraco-cms/customizing/extending-overview/extension-conditions.md
  14/umbraco-cms/customizing/extending-overview/extension-types/condition.md
  15/umbraco-cms/customizing/extending-overview/extension-conditions.md
  15/umbraco-cms/customizing/extending-overview/extension-types/condition.md
  16/umbraco-cms/customizing/extending-overview/extension-conditions.md
  16/umbraco-cms/customizing/extending-overview/extension-types/condition.md
Labels: category/umbraco-cms

#7082 Update content picker image
  15/umbraco-cms/.gitbook/assets/ContentPicker-data-type-definition.png
Labels: category/umbraco-cms

#7084 Updates from v15
  16/umbraco-cms/.gitbook/assets/ContentPicker-data-type-definition.png
  16/umbraco-cms/fundamentals/code/umbraco-services.md
  16/umbraco-cms/reference/umbraco-flavored-markdown.md
  16/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-cms, category/umbraco-ui-builder

#7078 CMS: Add new hosting in Docker documentation
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/fundamentals/setup/server-setup/README.md
  10/umbraco-cms/fundamentals/setup/server-setup/running-umbraco-in-docker.md
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/fundamentals/setup/server-setup/README.md
  13/umbraco-cms/fundamentals/setup/server-setup/running-umbraco-in-docker.md
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/fundamentals/setup/server-setup/README.md
  14/umbraco-cms/fundamentals/setup/server-setup/running-umbraco-in-docker.md
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/setup/server-setup/README.md
  15/umbraco-cms/fundamentals/setup/server-setup/running-umbraco-in-docker.md
Labels: category/umbraco-cms

#7085 Umbraco UI Builder 15.1.4 release notes
  15/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7087 Fix Broken links in the CMS Docs (13)
  13/umbraco-cms/.gitbook.yaml
  13/umbraco-cms/extending/embedded-media-providers.md
  13/umbraco-cms/fundamentals/backoffice/variants.md
  13/umbraco-cms/fundamentals/code/subscribing-to-notifications.md
  13/umbraco-cms/fundamentals/design/templates/razor-cheatsheet.md
  13/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
  13/umbraco-cms/fundamentals/setup/server-setup/load-balancing/azure-web-apps.md
  13/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  13/umbraco-cms/fundamentals/setup/upgrading/version-specific/upgrade-to-umbraco-7.md
  13/umbraco-cms/reference/angular/directives/umbloadindicator.md
  13/umbraco-cms/reference/configuration/index-10.0.0.md
  13/umbraco-cms/reference/content-delivery-api/custom-property-editors-support.md
  13/umbraco-cms/reference/management/services/externalloginservice.md
  13/umbraco-cms/reference/routing/request-pipeline/published-content-request-preparation.md
  13/umbraco-cms/reference/scheduling.md
  13/umbraco-cms/reference/security/ssl-https.md
  13/umbraco-cms/reference/templating/mvc/partial-views.md
  13/umbraco-cms/tutorials/creating-a-basic-website/adding-language-variants.md
  13/umbraco-cms/tutorials/creating-a-basic-website/creating-your-first-template-and-content-node.md
  13/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
  13/umbraco-cms/tutorials/creating-a-property-editor/README.md
  13/umbraco-cms/tutorials/creating-an-xml-site-map.md
  13/umbraco-cms/tutorials/overview.md
  13/umbraco-cms/tutorials/starter-kit/lessons/4-help-and-community.md
Labels: category/broken-link, category/umbraco-cms, release/13.0.0

#7090 Fixed broken images in Deploy v15 Docs
  15/umbraco-deploy/deployment-workflow/restoring-content/README.md
  15/umbraco-deploy/deployment-workflow/restoring-content/partial-restore.md
  15/umbraco-deploy/getting-started/images/test-UDA (1) (1).png
  15/umbraco-deploy/getting-started/images/test-UDA (1).png
  15/umbraco-deploy/getting-started/images/test-UDA.png
  15/umbraco-deploy/installation/images/licenses-screen.png
  15/umbraco-deploy/installation/images/test-UDA.png
  15/umbraco-deploy/installation/install-configure.md
  15/umbraco-deploy/installation/the-licensing-model.md
Labels: category/umbraco-deploy

#7091 Removed Github issue links from changelog and fixed broken image
  15/umbraco-ui-builder/changelog-archive/changelog.md
  15/umbraco-ui-builder/collections/editors.md
  15/umbraco-ui-builder/images/people-editor.png
Labels: category/umbraco-ui-builder

#7092 Tiptap RTE updates for v15.4 and v16.0
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/configuration.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-all-toolbar-items.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-capabilities-and-toolbar.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-statusbar.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-stylemenu.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/style-menu.md
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/configuration.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-all-toolbar-items.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-capabilities-and-toolbar.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-statusbar.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/rte-tiptap-stylemenu.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/style-menu.md
Labels: category/umbraco-cms

#7060 Update frequently-asked-questions.md
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud

#7088 Added an article on how to install the starter kit
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/tutorials/starter-kit/install-the-starter-kit.md
Labels: category/umbraco-cms

#7083 V16: Documents Fetch and http-client in the Backoffice
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/customizing/foundation/fetching-data/README.md
  16/umbraco-cms/customizing/foundation/fetching-data/custom-generated-client.md
  16/umbraco-cms/customizing/foundation/fetching-data/fetch-api.md
  16/umbraco-cms/customizing/foundation/fetching-data/http-client.md
  16/umbraco-cms/customizing/foundation/fetching-data/try-execute.md
  16/umbraco-cms/customizing/foundation/working-with-data/README.md
Labels: category/umbraco-cms

#7096 CMS: Adds documentation for HMACSecretKey to Imaging Settings
  13/umbraco-cms/reference/configuration/imagingsettings.md
  14/umbraco-cms/reference/configuration/imagingsettings.md
  15/umbraco-cms/reference/configuration/imagingsettings.md
  16/umbraco-cms/reference/configuration/imagingsettings.md
Labels: category/umbraco-cms

#7097 Updated extension-types location
  15/umbraco-cms/customizing/development-flow/typescript-setup.md
  15/umbraco-cms/customizing/development-flow/vite-package-setup.md
  15/umbraco-cms/customizing/extending-overview/extension-types/bundle.md
  16/umbraco-cms/customizing/development-flow/README.md
  16/umbraco-cms/customizing/development-flow/vite-package-setup.md
  16/umbraco-cms/customizing/extending-overview/extension-types/bundle.md
Labels: category/umbraco-cms

#7098 Umbraco UI Builder release notes for 15.1.5
  15/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7102 Update README.md
  13/umbraco-cms/fundamentals/setup/install/README.md
Labels: category/umbraco-cms

#7099 Added more details about videos
  10/umbraco-cms/fundamentals/design/rendering-media.md
  13/umbraco-cms/fundamentals/design/rendering-media.md
  14/umbraco-cms/fundamentals/design/rendering-media.md
  15/umbraco-cms/fundamentals/design/rendering-media.md
  16/umbraco-cms/fundamentals/design/rendering-media.md
Labels: category/umbraco-cms

#7104 Fix broken links in Forms 13
  13/umbraco-forms/editor/creating-a-form/form-settings.md
  13/umbraco-forms/release-notes.md
  13/umbraco-forms/tutorials/creating-a-contact-form.md
Labels: category/umbraco-forms

#7103 Fix broken links in Workflow
  15/umbraco-workflow/getting-started/submitting-changes.md
  15/umbraco-workflow/installation/installing-workflow.md
  15/umbraco-workflow/workflow-section/active-workflows.md
  15/umbraco-workflow/workflow-section/approval-groups.md
  15/umbraco-workflow/workflow-section/content-reviews.md
Labels: category/umbraco-workflow

#7105 Cleanup Migrating Macros article and add to website
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/tutorials/images/block-backoffice.png
  15/umbraco-cms/tutorials/images/block-definition.png
  15/umbraco-cms/tutorials/images/macro-backoffice.png
  15/umbraco-cms/tutorials/images/macro-parameters.png
  15/umbraco-cms/tutorials/images/macro-settings.png
  15/umbraco-cms/tutorials/images/macro-tinymce.png
  15/umbraco-cms/tutorials/images/rte-tiptap.png
  15/umbraco-cms/tutorials/images/tiptap-blocks.png
  15/umbraco-cms/tutorials/migrating-macros.md
Labels: category/umbraco-cms, category/styleguide

#7106 Feedback on 500 error page
  .github/styles/UmbracoDocs/Acronyms.yml
  15/umbraco-cms/tutorials/custom-error-page.md
  16/umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms

#7112 Fixed broken link in sustainability docs
  sustainability-best-practices/README.md
Labels: category/broken-link, category/sustainability-best-practices

#7111 Fixed broken links in Marketplace and Integrations
  marketplace-and-integrations/integrations/aprimo.md
  marketplace-and-integrations/integrations/emerchantpay-with-umbraco-forms.md
Labels: category/broken-link, category/marketplace

#7110 Fixed broken links in Engage v13
  13/umbraco-engage/README.md
  13/umbraco-engage/developers/introduction/README.md
  13/umbraco-engage/developers/personalization/implement-your-own-segment-parameters.md
  13/umbraco-engage/installation/installation.md
  13/umbraco-engage/installation/licensing.md
  13/umbraco-engage/upgrading/version-specific-upgrade-notes.md
Labels: category/broken-link, category/umbraco-engage

#7109 Fixed broken links in UI Builder v13
  13/umbraco-ui-builder/changelog-archive/changelog.md
  13/umbraco-ui-builder/release-notes.md
Labels: category/broken-link, category/umbraco-ui-builder

#7117 fixed broken links from commerce v15 docs
  15/umbraco-commerce/how-to-guides/dynamically-priced-products.md
  15/umbraco-commerce/how-to-guides/overview.md
  15/umbraco-commerce/how-to-guides/personalized-products.md
  15/umbraco-commerce/how-to-guides/product-bundles.md
  15/umbraco-commerce/reference/taxes/calculated-tax-rates.md
  15/umbraco-commerce/release-notes/README.md
  15/umbraco-commerce/tutorials/build-a-store/configure-store.md
  15/umbraco-commerce/tutorials/build-a-store/create-product.md
  15/umbraco-commerce/upgrading/version-specific-upgrades.md
Labels: category/umbraco-commerce

#7119 Fixed broken links and images in Commerce add ons docs
  commerce-add-ons/payment-providers/klarna/configuring-klarna.md
  commerce-add-ons/payment-providers/media/klarna/developer_signup_1.png
  commerce-add-ons/payment-providers/worldpay/README.md
Labels: category/umbraco-commerce
