Repository umbraco/UmbracoDocs, pull requests merged in 2025-02, with the labels that each got.

#6742 Document corrupt examine index resolution
  15/umbraco-cms/reference/searching/examine/corrupt-indexes.md
Labels: category/umbraco-cms

#6835 Collection updates for UFM column labels
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/images/collection-column-content-picker.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/images/collection-property-picker.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/images/collection-view-cards-content-picker.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/images/content-picker-picked-value.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/images/content-picker-property.png
  15/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/umbraco-cms, release/15.0.0

#6839 AllowMembersDeploymentOperations transfer operation
  umbraco-cloud/deployment/content-transfer.md
Labels: category/umbraco-cloud

#6840 Add missing images
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/collection-column-content-picker.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/collection-property-picker.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/collection-view-cards-content-picker.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/content-picker-picked-value.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/content-picker-property.png
Labels: category/umbraco-cms

#6834 Updated Images style guide article
  contributing/documentation/style-guide/images.md
  contributing/documentation/style-guide/markdown-conventions.md
  contributing/documentation/style-guide/structure.md
Labels: category/styleguide, review/docsteam

#6841 Updated UDI Identifiers article
  15/umbraco-cms/reference/querying/udi-identifiers.md
Labels: category/umbraco-cms, review/docsteam

#6843 fix: redirect for old link in Deploy backoffice dashboard
  umbraco-cloud/.gitbook.yaml
Labels: category/umbraco-cloud

#6844 Added some text to clarify code samples in Modelsbuilder articles
  10/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
  13/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
  14/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
  15/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
Labels: category/umbraco-cms, review/docsteam

#6845 Removed section regarding Document Types
  14/umbraco-cms/fundamentals/data/dictionary-items.md
Labels: category/umbraco-cms

#6849 Document `userinfo` endpoint
  13/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api.md
  15/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api/README.md
Labels: category/umbraco-cms, review/developer

#6756 Document opt-in for parallel content migration of block editors
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/migrate-content-to-umbraco-15.md
Labels: category/pending-release, category/umbraco-cms, review/docsteam

#6838 feat: Update documentation on external login providers and bearer tokens
  umbraco-heartcore/api-documentation/README.md
Labels: category/umbraco-heartcore

#6847 Umbraco Commerce Cart documentation
  commerce-add-ons/packages/README.md
  commerce-add-ons/packages/SUMMARY.md
  commerce-add-ons/packages/cart/README.md
  commerce-add-ons/packages/cart/configuration.md
  commerce-add-ons/packages/cart/installation.md
  commerce-add-ons/packages/cart/release-notes.md
  commerce-add-ons/packages/media/cart/cart.png
  commerce-add-ons/packages/media/cart/property.png
Labels: category/pending-release, category/umbraco-commerce

#6808 Umbraco 15.2 release documentation updates
  14/umbraco-cms/reference/notifications/sendingallowedchildrennotifications.md
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/extending-overview/extension-conditions.md
  15/umbraco-cms/reference/configuration/contentsettings.md
  15/umbraco-cms/reference/content-type-filters.md
  15/umbraco-cms/reference/notifications/sendingallowedchildrennotifications.md
Labels: category/pending-release, category/umbraco-cms

#6858 Fixing some wording
  15/umbraco-cms/customizing/extending-overview/extension-types/workspaces/workspace-views.md
Labels: category/umbraco-cms

#6862 fix typo
  umbraco-cloud/set-up/external-login-providers.md
Labels: category/umbraco-cloud

#6853 Update documentation on Templates and Named Sections
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/fundamentals/design/templates/README.md
  14/umbraco-cms/fundamentals/design/templates/images/Define-named-section.png
  14/umbraco-cms/fundamentals/design/templates/images/Render-named-sections.png
  14/umbraco-cms/fundamentals/design/templates/images/defined-named-section.png
  14/umbraco-cms/fundamentals/design/templates/images/render-named-section-mandatory.png
  14/umbraco-cms/fundamentals/design/templates/images/render-named-sections-v10.png
  14/umbraco-cms/fundamentals/design/templates/named-sections.md
  15/umbraco-cms/.gitbook.yaml
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/fundamentals/design/templates/README.md
  15/umbraco-cms/fundamentals/design/templates/images/Define-named-section.png
  15/umbraco-cms/fundamentals/design/templates/images/Render-named-sections.png
  15/umbraco-cms/fundamentals/design/templates/images/defined-named-section.png
  15/umbraco-cms/fundamentals/design/templates/images/render-named-section-mandatory.png
  15/umbraco-cms/fundamentals/design/templates/images/render-named-sections-v10.png
  15/umbraco-cms/fundamentals/design/templates/named-sections.md
Labels: category/umbraco-cms, review/docsteam

#6854 Updated articles
  15/umbraco-ui-builder/.gitbook.yaml
  15/umbraco-ui-builder/README.md
  15/umbraco-ui-builder/SUMMARY.md
  15/umbraco-ui-builder/getting-started/configuration.md
  15/umbraco-ui-builder/getting-started/images/dashboard.png
  15/umbraco-ui-builder/getting-started/images/editor.png
  15/umbraco-ui-builder/getting-started/images/installing-vs.png
  15/umbraco-ui-builder/getting-started/images/section.png
  15/umbraco-ui-builder/getting-started/images/tabs.png
  15/umbraco-ui-builder/getting-started/images/tree.png
  15/umbraco-ui-builder/getting-started/images/ui_01.png
  15/umbraco-ui-builder/getting-started/images/ui_02.png
  15/umbraco-ui-builder/getting-started/images/ui_03.png
  15/umbraco-ui-builder/getting-started/images/ui_04.png
  15/umbraco-ui-builder/getting-started/images/ui_05.png
  15/umbraco-ui-builder/getting-started/images/ui_06.png
  15/umbraco-ui-builder/getting-started/images/workspace-views.png
  15/umbraco-ui-builder/getting-started/installation.md
  15/umbraco-ui-builder/getting-started/licensing-model.md
  15/umbraco-ui-builder/getting-started/overview.md
  15/umbraco-ui-builder/getting-started/requirements.md
  15/umbraco-ui-builder/getting-started/user-interface.md
  15/umbraco-ui-builder/guides/creating-your-first-integration.md
  15/umbraco-ui-builder/guides/images/new-section.png
  15/umbraco-ui-builder/guides/images/people-editor.png
  15/umbraco-ui-builder/guides/images/permissions.png
  15/umbraco-ui-builder/images/editor.png
  15/umbraco-ui-builder/images/ui_02.png
  15/umbraco-ui-builder/images/ui_03.png
  15/umbraco-ui-builder/images/ui_04.png
  15/umbraco-ui-builder/images/ui_05.png
  15/umbraco-ui-builder/images/ui_06.png
  15/umbraco-ui-builder/installation/installation.md
Labels: review/docsteam, category/umbraco-ui-builder

#6864 Shopify documentation now reflects v1.3.0 settings
  marketplace-and-integrations/integrations/shopify.md
Labels: category/marketplace

#6859 Umbraco Commerce v15.1.0-rc release notes
  15/umbraco-commerce/SUMMARY.md
  15/umbraco-commerce/how-to-guides/configuring-cart-cleanup.md
  15/umbraco-commerce/key-concepts/ui-extensions/order-line-actions.md
  15/umbraco-commerce/media/v14/cart-conversion-rates-warning.png
  15/umbraco-commerce/media/v14/order-line-action.png
  15/umbraco-commerce/release-notes/README.md
  15/umbraco-commerce/release-notes/v15.1.0-rc.md
Labels: category/umbraco-commerce

#6861 Add Deploy 13.4.0, 14.3.0 and 15.1.0 release notes
  13/umbraco-deploy/getting-started/deploy-settings.md
  13/umbraco-deploy/release-notes.md
  14/umbraco-deploy/getting-started/deploy-settings.md
  14/umbraco-deploy/release-notes.md
  14/umbraco-forms/release-notes.md
  15/umbraco-deploy/getting-started/deploy-settings.md
  15/umbraco-deploy/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, category/umbraco-deploy

#6865 Updated Generic articles
  15/umbraco-ui-builder/README.md
  15/umbraco-ui-builder/known-issues.md
  15/umbraco-ui-builder/release-notes.md
Labels: review/docsteam, category/umbraco-ui-builder

#6866 Cloud Plan article - Added full form for acronyms
  umbraco-cloud/getting-started/umbraco-cloud-plans.md
Labels: category/umbraco-cloud, review/docsteam

#6868 Updated SMTP settings article as per styleguide
  umbraco-cloud/set-up/smtp-settings.md
Labels: category/umbraco-cloud, review/docsteam

#6871 Remove broken links
  14/umbraco-cms/fundamentals/design/templates/README.md
  15/umbraco-cms/fundamentals/design/templates/README.md
Labels: category/umbraco-cms

#6882 Updating incorrect package name for the forms package for deploy.
  13/umbraco-deploy/installation/install-configure.md
Labels: category/umbraco-deploy

#6883 Updating incorrect package name for the forms package for deploy for v14
  14/umbraco-deploy/installation/install-configure.md
Labels: category/umbraco-deploy

#6884 Updating incorrect package name for the forms package for deploy v15
  15/umbraco-deploy/installation/install-configure.md
Labels: category/umbraco-deploy

#6877 Updated Deployment article as per styleguide
  umbraco-cloud/deployment/README.md
Labels: category/umbraco-cloud, review/docsteam

#6881 Fix broken links and correct json quotes
  10/umbraco-workflow/getting-started/configuration.md
  10/umbraco-workflow/installation/licensing.md
  13/umbraco-engage/developers/analytics/forms.md
  13/umbraco-workflow/installation/licensing.md
  14/umbraco-workflow/getting-started/configuration.md
  14/umbraco-workflow/installation/licensing.md
  15/umbraco-workflow/getting-started/configuration.md
  15/umbraco-workflow/installation/licensing.md
  generic/getting-started/developing-websites-with-umbraco/README.md
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/broken-link, category/umbraco-workflow

#6886 Umbraco UIBuilder release notes for version 10.0.5
  10/umbraco-ui-builder/release-notes.md
Labels: release-notes, category/umbraco-ui-builder

#6889 Configure multiple Forms license files
  10/umbraco-forms/installation/the-licensing-model.md
  13/umbraco-forms/installation/the-licensing-model.md
  14/umbraco-forms/installation/the-licensing-model.md
  15/umbraco-forms/installation/the-licensing-model.md
Labels: category/umbraco-forms

#6887 Correct --DatabasePassword command
  15/umbraco-cms/fundamentals/setup/install/running-umbraco-on-docker-locally.md
Labels: category/umbraco-cms

#6893 Fixed a typo of Umbraco!
  15/umbraco-cms/implementation/custom-routing/signalR.md
Labels: category/umbraco-cms

#6894 Cloud Secrets Management allow AuthorizedServices
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/umbraco-cloud

#6872 Update localization.md
  15/umbraco-forms/developer/localization.md
Labels: category/umbraco-forms

#6892 Fixed a typo: Changed "extension" to "manifest"
  15/umbraco-cms/customizing/extending-overview/extension-types/kind.md
Labels: category/umbraco-cms

#6878 Added note about collation to requirements.md
  15/umbraco-cms/fundamentals/setup/requirements.md
Labels: category/umbraco-cms, review/docsteam

#6900 Updated content settings to remove old setting keys
  13/umbraco-cms/reference/configuration/contentsettings.md
  14/umbraco-cms/reference/configuration/contentsettings.md
  15/umbraco-cms/reference/configuration/contentsettings.md
Labels: category/umbraco-cms

#6901 Umbraco Commerce 13.1.19, 14.4.0 and 15.1.1 release notes
  13/umbraco-commerce/release-notes/README.md
  14/umbraco-commerce/release-notes/README.md
  15/umbraco-commerce/release-notes/README.md
Labels: release-notes, category/umbraco-commerce

#6890 Create customise-checkout
  commerce-add-ons/packages/checkout/customize-checkout.md
Labels: review/developer, category/umbraco-commerce

#6891 Update SUMMARY.md
  commerce-add-ons/packages/SUMMARY.md
Labels: category/umbraco-commerce

#6902 Added a Note...
  15/umbraco-cms/fundamentals/setup/upgrading/README.md
Labels: category/umbraco-cms, review/docsteam

#6899 Update MediaPath docs for all versions
  10/umbraco-cms/extending/filesystemproviders/README.md
  13/umbraco-cms/extending/filesystemproviders/README.md
  14/umbraco-cms/extending/filesystemproviders/README.md
  15/umbraco-cms/extending/filesystemproviders/README.md
Labels: category/umbraco-cms, review/docsteam

#6906 Update umbraco-flavored-markdown.md
  15/umbraco-cms/reference/umbraco-flavored-markdown.md
Labels: category/umbraco-cms

#6905 Update umbraco-configuration.md
  15/umbraco-commerce/getting-started/umbraco-configuration.md
Labels: category/umbraco-commerce

#6903 Blurred out potential sensitive data
  umbraco-cloud/set-up/external-login-providers.md
  umbraco-cloud/set-up/images/elp-azure-2.png
  umbraco-cloud/set-up/images/elp-oauth-1.png
  umbraco-cloud/set-up/images/elp-oauth-4.png
Labels: category/umbraco-cloud

#6897 Update README.md
  15/umbraco-commerce/reference/stores/README.md
Labels: category/umbraco-commerce

#6908 Added missing Forms Migration IDs
  13/umbraco-forms/upgrading/migration-ids.md
  14/umbraco-forms/upgrading/migration-ids.md
  15/umbraco-forms/upgrading/migration-ids.md
Labels: category/umbraco-forms, review/docsteam

#6912 External Login Providers Entra ID Guide update
  umbraco-cloud/set-up/external-login-providers.md
Labels: category/umbraco-cloud

#6830 Umbraco 13.7 and 15.3 release documentation updates
  13/umbraco-cms/reference/configuration/modelsbuildersettings.md
  13/umbraco-cms/reference/configuration/securitysettings.md
  15/umbraco-cms/reference/configuration/modelsbuildersettings.md
  15/umbraco-cms/reference/configuration/securitysettings.md
Labels: category/pending-release, category/umbraco-cms
