Repository umbraco/UmbracoDocs, pull requests merged in 2025-01, with the labels that each got.

#6757 Fix link to Protected Content in the Delivery API
  15/umbraco-cms/reference/content-delivery-api/README.md
Labels: category/umbraco-cms

#6763 Add links to default property aliases in configure payment provider page
  commerce-add-ons/payment-providers/klarna/configuring-umbraco.md
  commerce-add-ons/payment-providers/mollie/configuring-umbraco.md
  commerce-add-ons/payment-providers/stripe/configuring-umbraco.md
Labels: category/umbraco-commerce

#6683 Updated webhook docs for clarity
  commerce-add-ons/payment-providers/mollie/how-to-guides/testing-mollie-webhooks-locally.md
Labels: review/developer, category/umbraco-commerce

#6751 Update language-files.md
  13/umbraco-cms/extending/language-files.md
Labels: category/umbraco-cms, review/developer

#6766 Add Language specifier to code block
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/extensions.md
Labels: category/umbraco-cms

#6765 Update repositories
  14/umbraco-cms/customizing/foundation/working-with-data/repositories.md
  15/umbraco-cms/customizing/foundation/working-with-data/repositories.md
Labels: category/umbraco-cms

#6768 Update terminology.md
  14/umbraco-cms/customizing/foundation/terminology.md
  15/umbraco-cms/customizing/foundation/terminology.md
Labels: category/umbraco-cms

#6741 Update code to follow new architecture plus updated conditions example
  14/umbraco-cms/customizing/extending-overview/extension-types/kind.md
  14/umbraco-commerce/key-concepts/ui-extensions/store-menu-items.md
  15/umbraco-cms/customizing/development-flow/vite-package-setup.md
  15/umbraco-cms/customizing/extending-overview/extension-types/condition.md
  15/umbraco-cms/customizing/extending-overview/extension-types/header-apps.md
  15/umbraco-cms/customizing/extending-overview/extension-types/kind.md
  15/umbraco-cms/customizing/extending-overview/extension-types/sections/section.md
  15/umbraco-commerce/key-concepts/ui-extensions/store-menu-items.md
Labels: category/umbraco-cms, release/15.0.0

#6773 Added CMD to accept list
  .github/styles/UmbracoDocs/Acronyms.yml
Labels: category/styleguide

#6775 Update README.md
  umbraco-cloud/set-up/project-settings/README.md
Labels: category/umbraco-cloud

#6776 Add image of where Partial View files are saved in directory
  15/umbraco-cms/fundamentals/design/images/partial-views-in-directory.png
  15/umbraco-cms/fundamentals/design/partial-views.md
Labels: category/umbraco-cms

#6780 Fix links in sections article
  15/umbraco-cms/fundamentals/backoffice/sections.md
Labels: category/umbraco-cms

#6778 Updated Collections article as per UI
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/enable-listview-v14.png
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/listview-v14.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/enable-listview-v14.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/listview-v14.png
Labels: category/umbraco-cms, review/docsteam

#6769 Update Defaults for Color and Look on External Providers config
  15/umbraco-cms/reference/security/external-login-providers.md
Labels: category/umbraco-cms

#6772 Update migrate-between-regions.md
  umbraco-cloud/getting-started/migrate-between-regions.md
Labels: category/umbraco-cloud

#6782 Updated steps for clarity
  14/umbraco-cms/tutorials/images/composition-view.png
  14/umbraco-cms/tutorials/members-registration-and-login.md
  15/umbraco-cms/tutorials/images/composition-view.png
  15/umbraco-cms/tutorials/members-registration-and-login.md
Labels: category/umbraco-cms, review/docsteam

#6784 Update Bundle article
  15/umbraco-cms/customizing/extending-overview/extension-types/bundle.md
Labels: category/umbraco-cms

#6788 V15: Fix links for "customize-the-backoffice" -> "customize"
  15/umbraco-cms/customizing/development-flow/vite-package-setup.md
  15/umbraco-cms/customizing/extending-overview/extension-registry/extension-manifest.md
  15/umbraco-cms/customizing/foundation/contexts/README.md
  15/umbraco-cms/customizing/foundation/routes.md
  15/umbraco-cms/customizing/foundation/working-with-data/context-api.md
  15/umbraco-cms/customizing/property-editors/README.md
  15/umbraco-cms/customizing/property-editors/build-a-block-editor.md
Labels: category/broken-link, category/umbraco-cms

#6789 V15: Localization property `translations` does not exist
  14/umbraco-cms/customizing/extending-overview/extension-types/localization.md
  15/umbraco-cms/customizing/extending-overview/extension-types/localization.md
Labels: category/umbraco-cms

#6774 Engage: Add more articles related to Upgrades
  13/umbraco-engage/SUMMARY.md
  13/umbraco-engage/release-notes.md
  13/umbraco-engage/upgrading/upgrade-umbraco-engage.md
  13/umbraco-engage/upgrading/version-specific-upgrade-notes.md
Labels: review/docsteam, category/umbraco-engage

#6779 Added documentation for the new Management API Security settings
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/images/management_api_security.png
  umbraco-cloud/set-up/images/management_api_security_allow_ip.png
  umbraco-cloud/set-up/project-settings/README.md
  umbraco-cloud/set-up/project-settings/management-api-security.md
Labels: category/umbraco-cloud

#6793 Update shipping-providers.md
  13/umbraco-commerce/key-concepts/shipping-providers.md
Labels: category/umbraco-commerce

#6794 Updated syntax for collapsible descriptions
  14/umbraco-cms/fundamentals/data/defining-content/README.md
  15/umbraco-cms/fundamentals/data/defining-content/README.md
Labels: category/umbraco-cms, review/docsteam

#6792 Update media picker 3
  10/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
  13/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/media-picker-3.md
Labels: category/umbraco-cms, category/styleguide

#6795 Removed Build a Block editor article
  10/umbraco-cms/.gitbook.yaml
  10/umbraco-cms/SUMMARY.md
  10/umbraco-cms/extending/property-editors/README.md
  10/umbraco-cms/extending/property-editors/build-a-block-editor.md
  13/umbraco-cms/.gitbook.yaml
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/extending/property-editors/README.md
  13/umbraco-cms/extending/property-editors/build-a-block-editor.md
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
  14/umbraco-cms/customizing/property-editors/README.md
  14/umbraco-cms/customizing/property-editors/build-a-block-editor.md
  15/umbraco-cms/.gitbook.yaml
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/property-editors/README.md
  15/umbraco-cms/customizing/property-editors/build-a-block-editor.md
Labels: category/umbraco-cms, review/docsteam

#6800 CICD troubleshooting dotUmbraco-file
  umbraco-cloud/set-up/project-settings/umbraco-cicd/Troubleshooting.md
Labels: category/umbraco-cloud

#6803 Update dictionary-items.md
  15/umbraco-cms/fundamentals/data/dictionary-items.md
Labels: category/umbraco-cms

#6802 13: Updating steps for adding Two Factor Authentication for Members
  13/umbraco-cms/reference/security/images/2fa-Members-QR-code.png
  13/umbraco-cms/reference/security/images/2fa-member-backoffice.png
  13/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms, review/docsteam

#6804 Add Forms 13.4.0 and 15.1.0 release notes
  13/umbraco-forms/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6813 Updated release notes for Umbraco.UIBuilder versions 13.1.7/14.0.2/15.0.2
  13/umbraco-ui-builder/release-notes.md
  14/umbraco-ui-builder/release-notes.md
  15/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#6807 add note about ensuring Umbraco Forms version compatibility
  10/umbraco-forms/installation/install.md
  13/umbraco-forms/installation/install.md
  14/umbraco-forms/installation/install.md
  15/umbraco-forms/installation/install.md
Labels: category/umbraco-forms

#6809 CMS 13: Two Factor authentication for Users
  13/umbraco-cms/reference/security/images/2fa-user-disable.png
  13/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms, review/docsteam

#6815 Applied PR changes to other versions
  14/umbraco-commerce/key-concepts/shipping-providers.md
  15/umbraco-commerce/key-concepts/shipping-providers.md
Labels: review/docsteam, category/umbraco-commerce

#6820 Changed "Is is" to "It is"
  14/umbraco-cms/fundamentals/backoffice/login.md
Labels: category/umbraco-cms

#6812 Updated the cloud portal article
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/README.md
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/images/Umbraco-cloud-portal-projects-dashboard.png
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/images/chat-feature.png
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/images/collapse-groups.png
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/images/project-group-settings.png
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/images/view-profile-details.png
Labels: category/umbraco-cloud, review/docsteam

#6817 Updated import module
  15/umbraco-cms/customizing/development-flow/vite-package-setup.md
  15/umbraco-cms/tutorials/creating-a-property-editor/README.md
Labels: category/umbraco-cms, review/docsteam

#6819 Added introduction for External Login Providers article
  umbraco-cloud/set-up/external-login-providers.md
Labels: category/umbraco-cloud, review/docsteam

#6826 Update umbraco package
  14/umbraco-cms/customizing/umbraco-package.md
  15/umbraco-cms/customizing/umbraco-package.md
Labels: category/styleguide

#6798 Added documentation for NuCache JSON Serialization Option
  10/umbraco-cms/reference/configuration/nucachesettings.md
  13/umbraco-cms/reference/configuration/nucachesettings.md
  14/umbraco-cms/reference/configuration/nucachesettings.md
  15/umbraco-cms/reference/configuration/cache-settings.md
Labels: category/umbraco-cms, review/developer, review/docsteam

#6824 Updated Engage version specific upgrade notes
  13/umbraco-engage/upgrading/version-specific-upgrade-notes.md
Labels: category/umbraco-engage

#6821 2FA article for Umbraco 15
  13/umbraco-cms/reference/security/two-factor-authentication.md
  15/umbraco-cms/reference/security/images/2fa-member-backoffice.png
  15/umbraco-cms/reference/security/images/2fa-members-configuration.png
  15/umbraco-cms/reference/security/two-factor-authentication.md
Labels: category/umbraco-cms, review/docsteam

#6814 Added images and changed format of the article
  umbraco-cloud/getting-started/the-umbraco-cloud-portal/README.md
  umbraco-cloud/set-up/images/advanced-settings.png
  umbraco-cloud/set-up/images/automatic-upgrades.png
  umbraco-cloud/set-up/images/availability-performance.png
  umbraco-cloud/set-up/images/backups.png
  umbraco-cloud/set-up/images/cdn-caching.png
  umbraco-cloud/set-up/images/certificates.png
  umbraco-cloud/set-up/images/connections.png
  umbraco-cloud/set-up/images/dedicated-resources.png
  umbraco-cloud/set-up/images/delete-project.png
  umbraco-cloud/set-up/images/environments-new.png
  umbraco-cloud/set-up/images/hostnames.png
  umbraco-cloud/set-up/images/management-api-security.png
  umbraco-cloud/set-up/images/project-history.png
  umbraco-cloud/set-up/images/public-access.png
  umbraco-cloud/set-up/images/rename-project.png
  umbraco-cloud/set-up/images/secrets.png
  umbraco-cloud/set-up/images/settings-menu.png
  umbraco-cloud/set-up/images/summary-details.png
  umbraco-cloud/set-up/images/transport-security.png
  umbraco-cloud/set-up/images/upgrade-project.png
  umbraco-cloud/set-up/images/usage-new.png
  umbraco-cloud/set-up/images/webhooks.png
  umbraco-cloud/set-up/project-settings/README.md
Labels: category/umbraco-cloud, review/docsteam

#6827 Updated Collection article
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/collection-label-template.png
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/collections-display-email.png
  14/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/list-view-settings.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/collection-label-template.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/images/collections-display-email.png
Labels: category/umbraco-cms, review/docsteam

#6829 Docs update for 14.3.2 and 15.1.2
  14/umbraco-cms/reference/configuration/securitysettings.md
  15/umbraco-cms/reference/configuration/securitysettings.md
Labels: category/umbraco-cms

#6831 Update localization
  14/umbraco-cms/customizing/foundation/localization.md
Labels: category/styleguide

#6832 Add Umbraco.Forms.Deploy 13.1.0 and 15.1.0 release notes
  13/umbraco-forms/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, release-notes

#6836 Adds `BackOfficeLogo` to the `ContentSettings`
  15/umbraco-cms/reference/configuration/contentsettings.md
Labels: category/umbraco-cms

#6833 Updated article
  14/umbraco-cms/customizing/workspaces.md
Labels: category/umbraco-cms, review/docsteam

#6818 Add a Bandwidth subpage to the Usage section
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/project-settings/README.md
  umbraco-cloud/set-up/project-settings/usage/README.md
  umbraco-cloud/set-up/project-settings/usage/bandwidth.md
  umbraco-cloud/set-up/project-settings/usage/images/bandwidth-flow-diagram.png
Labels: category/umbraco-cloud
