Repository umbraco/UmbracoDocs, pull requests merged in 2025-10, with the labels that each got.

#7431 Document the new Date Time property editors
  17/umbraco-cms/.gitbook.yaml
  17/umbraco-cms/SUMMARY.md
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/README.md
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/date-only.md
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/date-time-unspecified.md
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/date-time-with-time-zone.md
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-only-editor-open.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-only-editor.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-time-format-hhmm.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-time-format-hhmmss.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-unspecified-editor.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-unspecified-property-editor-config.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-with-time-zone-custom.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-with-time-zone-editor.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-with-time-zone-filtering.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-with-time-zone-property-editor-config.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/date-time-with-time-zone-single-time-zone.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/time-only-editor.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/time-only-property-editor-config.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/time-only-time-format-hhmm.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/images/time-only-time-format-hhmmss.png
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time-editor/time-only.md
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date-time.md
  17/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/date.md
Labels: category/pending-release, category/umbraco-cms, release/17.0.0

#7447 Added details of breaking changes for 17
  17/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/pending-release, category/umbraco-cms, release/17.0.0

#7461 Update README.md
  umbraco-cloud/build-and-customize-your-solution/set-up-your-project/project-settings/README.md
Labels: category/umbraco-cloud

#7465 Increase documented Kestrel MaxRequestLength to 50MB to match product behaviour
  10/umbraco-cms/reference/configuration/maximumuploadsizesettings.md
  13/umbraco-cms/reference/configuration/maximumuploadsizesettings.md
  15/umbraco-cms/reference/configuration/maximumuploadsizesettings.md
  16/umbraco-cms/reference/configuration/maximumuploadsizesettings.md
  17/umbraco-cms/reference/configuration/maximumuploadsizesettings.md
Labels: category/umbraco-cms

#7469 Confirm Dialog Addition
  16/umbraco-cms/customizing/extending-overview/extension-types/modals/confirm-dialog.md
Labels: category/umbraco-cms
