Repository umbraco/UmbracoDocs, pull requests merged in 2025-06, with the labels that each got.

#7129 Update external-login-providers.md
  umbraco-cloud/set-up/external-login-providers.md
Labels: category/umbraco-cloud

#7126 Defined acronyms
  15/umbraco-cms/reference/configuration/globalsettings.md
  16/umbraco-cms/reference/configuration/globalsettings.md
Labels: category/umbraco-cms

#7132 Add Forms 16 RC release notes and update version specific upgrade notes
  16/umbraco-forms/release-notes.md
  16/umbraco-forms/upgrading/version-specific.md
Labels: category/umbraco-forms

#7134 Update the-licensing-model.md with restart recommendation
  15/umbraco-forms/installation/the-licensing-model.md
Labels: category/umbraco-forms

#7138 Umbraco UI Builder 15.1.6 release notes
  15/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7146 Add Forms 13/15/16 RC release notes
  13/umbraco-forms/release-notes.md
  15/umbraco-forms/release-notes.md
  16/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#7149 Updated with release notes for June 2025 for Cloud
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/overview-2025/2025-06-releasenotes.md
  umbraco-cloud/release-notes/overview-2025/overview-2025.md
Labels: category/umbraco-cloud

#7157 Fix yaml files
  14/umbraco-ui-builder/.gitbook.yaml
  15/umbraco-ui-builder/.gitbook.yaml
  16/umbraco-commerce/.gitbook.yaml
  16/umbraco-deploy/.gitbook.yaml
  16/umbraco-forms/.gitbook.yaml
  16/umbraco-ui-builder/.gitbook.yaml
  16/umbraco-workflow/.gitbook.yaml
  commerce-add-ons/packages/.gitbook.yaml
  commerce-add-ons/payment-providers/.gitbook.yaml
  commerce-add-ons/shipping-providers/.gitbook.yaml
Labels: category/platform

#7145 updating payment page for cloud
  umbraco-cloud/set-up/new-shop/README.md
  umbraco-cloud/set-up/new-shop/subscription-migration-information-and-faq.md
Labels: category/umbraco-cloud

#7158 Removed subscription-migration-information-and-faq.md entry..
  umbraco-cloud/SUMMARY.md
Labels: category/umbraco-cloud

#7147 Resolution to https://github.com/umbraco/UmbracoDocs/issues/7101
  13/umbraco-cms/fundamentals/data/creating-media/default-media-types.md
Labels: category/umbraco-cms

#7144 Umbraco Commerce v16 Release Notes + Tidy Up
  15/umbraco-commerce/release-notes/README.md
  16/umbraco-commerce/SUMMARY.md
  16/umbraco-commerce/release-notes/README.md
  16/umbraco-commerce/release-notes/v15.0.0-rc.md
  16/umbraco-commerce/release-notes/v15.1.0-rc.md
  commerce-add-ons/packages/SUMMARY.md
  commerce-add-ons/packages/checkout/release-notes.md
  commerce-add-ons/packages/deploy/release-notes.md
  commerce-add-ons/payment-providers/SUMMARY.md
  commerce-add-ons/payment-providers/buckaroo/README.md
  commerce-add-ons/payment-providers/klarna/README.md
  commerce-add-ons/payment-providers/mollie/README.md
  commerce-add-ons/payment-providers/nets/README.md
  commerce-add-ons/payment-providers/opayo/README.md
  commerce-add-ons/payment-providers/paypal/README.md
  commerce-add-ons/payment-providers/quickpay/README.md
  commerce-add-ons/payment-providers/stripe/README.md
  commerce-add-ons/payment-providers/stripe/release-notes.md
  commerce-add-ons/payment-providers/worldpay/README.md
  commerce-add-ons/sales-tax-providers/README.md
  commerce-add-ons/sales-tax-providers/SUMMARY.md
  commerce-add-ons/sales-tax-providers/install-sales-tax-providers.md
  commerce-add-ons/sales-tax-providers/taxjar/README.md
  commerce-add-ons/sales-tax-providers/taxjar/configuring-taxjar.md
  commerce-add-ons/sales-tax-providers/taxjar/configuring-umbraco.md
  commerce-add-ons/shipping-providers/SUMMARY.md
  commerce-add-ons/shipping-providers/dhl/README.md
  commerce-add-ons/shipping-providers/dhl/release-notes.md
  commerce-add-ons/shipping-providers/easypost/README.md
  commerce-add-ons/shipping-providers/easypost/release-notes.md
  commerce-add-ons/shipping-providers/shipmondo/README.md
  commerce-add-ons/shipping-providers/shipmondo/release-notes.md
Labels: category/pending-release, category/umbraco-commerce

#7156 Workflow 16 feature docs
  16/umbraco-workflow/SUMMARY.md
  16/umbraco-workflow/alternate-versions/alternate-versions.md
  16/umbraco-workflow/alternate-versions/images/alternate-version-permissions.png
  16/umbraco-workflow/alternate-versions/images/version-workspace-editor.png
  16/umbraco-workflow/alternate-versions/images/versions-collection.png
  16/umbraco-workflow/alternate-versions/images/versions-workspace-view.png
  16/umbraco-workflow/release-sets/images/calendar-day.png
  16/umbraco-workflow/release-sets/images/release-set-overview.png
  16/umbraco-workflow/release-sets/images/release-set-permissions.png
  16/umbraco-workflow/release-sets/images/release-set-workspace-editor.png
  16/umbraco-workflow/release-sets/images/release-sets-dashboard.png
  16/umbraco-workflow/release-sets/images/version-editor-2.png
  16/umbraco-workflow/release-sets/images/version-editor-3.png
  16/umbraco-workflow/release-sets/images/version-picker.png
  16/umbraco-workflow/release-sets/images/version-scheduling.png
  16/umbraco-workflow/release-sets/images/versions-editor.png
  16/umbraco-workflow/release-sets/release-sets.md
Labels: category/umbraco-workflow

#7166 Umbraco UI Builder 16 release notes and data views docs
  16/umbraco-ui-builder/filtering/data-views.md
  16/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7163 Removed New Articles section
  16/umbraco-cms/release-candidate-guide.md
Labels: category/umbraco-cms

#7167 Add Deploy 16 release notes and update version specific upgrade notes
  16/umbraco-deploy/release-notes.md
  16/umbraco-deploy/upgrades/version-specific.md
  16/umbraco-forms/release-notes.md
Labels: category/umbraco-forms, category/umbraco-deploy

#7172 Removed the "Beta" text from Flexible Environments
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/getting-started/flexible-environments.md
Labels: category/umbraco-cloud

#7175 Updated Typescript setup section
  14/umbraco-cms/customizing/development-flow/README.md
  15/umbraco-cms/customizing/development-flow/README.md
  16/umbraco-cms/customizing/development-flow/README.md
Labels: category/umbraco-cms

#7176 Update README.md of Umbraco Forms Configuration values
  16/umbraco-forms/developer/configuration/README.md
Labels: category/umbraco-forms

#7178 Another fix of file names
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/azure-devops-v1.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/github-actions-v1.md
Labels: category/umbraco-cloud

#7180 Update icon registry links in documentation
  14/umbraco-cms/customizing/foundation/icons.md
  15/umbraco-cms/customizing/foundation/icons.md
  16/umbraco-cms/customizing/foundation/icons.md
Labels: category/umbraco-cms

#7179 Update external-login-providers.md
  umbraco-cloud/set-up/external-login-providers.md
Labels: category/umbraco-cloud

#7181 Added CI/CD v2 to cloud release notes
  umbraco-cloud/release-notes/overview-2025/2025-06-releasenotes.md
  umbraco-cloud/release-notes/overview-2025/overview-2025.md
Labels: category/umbraco-cloud

#7182 Updated Users section images and text to match v15 and v16 UI
  15/umbraco-cms/fundamentals/data/images/default-permissions-v15.png
  15/umbraco-cms/fundamentals/data/images/granular-permissions.png
  15/umbraco-cms/fundamentals/data/images/user-groups-menu-v16.png
  15/umbraco-cms/fundamentals/data/images/user-groups-v15.png
  15/umbraco-cms/fundamentals/data/users/README.md
  15/umbraco-cms/fundamentals/data/users/api-users.md
  16/umbraco-cms/fundamentals/data/images/default-permissions-v16.png
  16/umbraco-cms/fundamentals/data/images/granular-permissions.png
  16/umbraco-cms/fundamentals/data/images/user-groups-menu-v16.png
  16/umbraco-cms/fundamentals/data/images/user-groups-v16.png
  16/umbraco-cms/fundamentals/data/users/README.md
  16/umbraco-cms/fundamentals/data/users/api-users.md
Labels: category/umbraco-cms

#7184 Cloud Public Access additional information
  umbraco-cloud/set-up/project-settings/public-access.md
Labels: category/umbraco-cloud

#7188 Refreshed Document Blueprints images and steps for v15 and v16
  15/umbraco-cms/fundamentals/backoffice/README.md
  15/umbraco-cms/fundamentals/backoffice/document-blueprints.md
  15/umbraco-cms/fundamentals/backoffice/images/Content-Type-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/Create-Content-Template-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/Create-From-Template-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/Edit-Content-Template-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/Find-Content-Template-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/Name-Content-Template-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/Select-Template-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/action-menu-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/content-menu-DB.png
  15/umbraco-cms/fundamentals/backoffice/images/document-blueprint-v16.png
  15/umbraco-cms/fundamentals/backoffice/images/select-doc-type-DB.png
  16/umbraco-cms/fundamentals/backoffice/README.md
  16/umbraco-cms/fundamentals/backoffice/document-blueprints.md
  16/umbraco-cms/fundamentals/backoffice/images/Content-Type-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/Create-Content-Template-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/Create-From-Template-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/Edit-Content-Template-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/Find-Content-Template-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/Name-Content-Template-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/Select-Template-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/action-menu-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/content-menu-DB.png
  16/umbraco-cms/fundamentals/backoffice/images/document-blueprint-v16.png
  16/umbraco-cms/fundamentals/backoffice/images/select-doc-type-DB.png
Labels: category/umbraco-cms

#7190 Update README.md
  umbraco-cloud/set-up/manage-subscriptions/images/manage-subscriptions-new.png
  umbraco-cloud/set-up/manage-subscriptions/images/manage-subscriptions.png
  umbraco-cloud/set-up/manage-subscriptions/images/org-payments.png
  umbraco-cloud/set-up/manage-subscriptions/images/org-subscription.png
  umbraco-cloud/set-up/manage-subscriptions/images/org-view.png
  umbraco-cloud/set-up/manage-subscriptions/images/payment-history.png
  umbraco-cloud/set-up/manage-subscriptions/images/payment-settings.png
  umbraco-cloud/set-up/manage-subscriptions/images/select_payment.png
  umbraco-cloud/set-up/manage-subscriptions/images/subscriptions.png
  umbraco-cloud/set-up/new-shop/README.md
Labels: category/umbraco-cloud

#7193 Add missing article from 15
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/fundamentals/setup/server-setup/running-umbraco-in-docker.md
Labels: category/umbraco-cms

#7192 Add versioned Forms default theme files
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.0.0-rc1.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.1.0.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.2.0.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.2.4.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.3.0.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.5.0-c1.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.5.1.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.5.2.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.5.3.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.5.5.zip
  10/umbraco-forms/developer/files/umbraco-forms-default-theme-10.5.6.zip
  10/umbraco-forms/developer/themes.md
  13/umbraco-forms/developer/files/umbraco-forms-default-theme-13.0.0.zip
  13/umbraco-forms/developer/files/umbraco-forms-default-theme-13.0.1.zip
  13/umbraco-forms/developer/files/umbraco-forms-default-theme-13.1.2.zip
  13/umbraco-forms/developer/files/umbraco-forms-default-theme-13.2.0.zip
  13/umbraco-forms/developer/files/umbraco-forms-default-theme-13.2.2.zip
  13/umbraco-forms/developer/files/umbraco-forms-default-theme-13.2.4.zip
  13/umbraco-forms/developer/files/umbraco-forms-default-theme-13.3.0.zip
  13/umbraco-forms/developer/files/umbraco-forms-default-theme-13.5.0.zip
  13/umbraco-forms/developer/themes.md
  14/umbraco-forms/developer/files/umbraco-forms-default-theme-14.0.0.zip
  14/umbraco-forms/developer/files/umbraco-forms-default-theme-14.0.1.zip
  14/umbraco-forms/developer/files/umbraco-forms-default-theme-14.1.0.zip
  14/umbraco-forms/developer/files/umbraco-forms-default-theme-14.1.4.zip
  14/umbraco-forms/developer/files/umbraco-forms-default-theme-14.2.0.zip
  14/umbraco-forms/developer/files/umbraco-forms-default-theme-14.2.4.zip
  14/umbraco-forms/developer/themes.md
  15/umbraco-forms/developer/files/umbraco-forms-default-theme-15.0.0.zip
  15/umbraco-forms/developer/files/umbraco-forms-default-theme-15.2.0.zip
  15/umbraco-forms/developer/themes.md
  16/umbraco-forms/developer/files/umbraco-forms-default-theme-16.0.0.zip
  16/umbraco-forms/developer/themes.md
Labels: category/umbraco-forms

#7195 Added Umbraco 16 support to the cloud release notes
  umbraco-cloud/release-notes/overview-2025/2025-06-releasenotes.md
  umbraco-cloud/release-notes/overview-2025/overview-2025.md
Labels: category/umbraco-cloud

#7194 Added documentation for managing DOTNET_ENVIRONMENT
  umbraco-cloud/getting-started/environments.md
  umbraco-cloud/release-notes/overview-2025/2025-06-releasenotes.md
  umbraco-cloud/release-notes/overview-2025/overview-2025.md
  umbraco-cloud/set-up/images/advanced-settings-continued.png
  umbraco-cloud/set-up/project-settings/README.md
Labels: category/umbraco-cloud

#7197 Formatted `IRecurringBackgroundJob` section for better readability
  16/umbraco-cms/reference/scheduling.md
Labels: category/umbraco-cms

#7196 Add one more limitation to Cloud/Database Backups
  umbraco-cloud/databases/backups.md
Labels: category/umbraco-cloud

#7198 Umbraco Commerce 15.3.8 release notes
  15/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#7203 Clarified usage of NuCacheSerializerType setting
  15/umbraco-cms/reference/configuration/cache-settings.md
  16/umbraco-cms/reference/configuration/cache-settings.md
Labels: category/umbraco-cms

#7201 Fix file structure and redirects
  16/umbraco-cms/.gitbook.yaml
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/customizing/foundation/context-api/README.md
  16/umbraco-cms/customizing/foundation/repositories.md
  16/umbraco-cms/customizing/foundation/states.md
Labels: category/umbraco-cms

#7205 Flexible Environments - clarify link to Merge Conflicts article
  umbraco-cloud/getting-started/flexible-environments.md
  umbraco-cloud/troubleshooting/deployments/README.md
Labels: category/umbraco-cloud
