Repository umbraco/UmbracoDocs, pull requests merged in 2025-07, with the labels that each got.

#7206 Updated images and some text in Forms Prevalue Source Type article
  14/umbraco-forms/editor/defining-and-attaching-prevaluesources/README.md
  14/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/FieldPrevalueSource-v16.png
  14/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/SQLdatabase-v16.png
  14/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/umbraco-documents-v16.png
  14/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
  15/umbraco-forms/editor/defining-and-attaching-prevaluesources/README.md
  15/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/FieldPrevalueSource-v16.png
  15/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/SQLdatabase-v16.png
  15/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/umbraco-documents-v16.png
  15/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
  16/umbraco-forms/editor/defining-and-attaching-prevaluesources/README.md
  16/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/FieldPrevalueSource-v16.png
  16/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/SQLdatabase-v16.png
  16/umbraco-forms/editor/defining-and-attaching-prevaluesources/images/umbraco-documents-v16.png
  16/umbraco-forms/editor/defining-and-attaching-prevaluesources/prevalue-source-types.md
Labels: category/umbraco-forms

#7208 V16: Adds `pt` as an accepted language
  16/umbraco-cms/extending/language-files/README.md
Labels: category/umbraco-cms

#7210 Added updates to v15 and v16 as per v14 PR update
  14/umbraco-cms/fundamentals/setup/server-setup/load-balancing/azure-web-apps.md
  15/umbraco-cms/fundamentals/setup/server-setup/load-balancing/azure-web-apps.md
  16/umbraco-cms/fundamentals/setup/server-setup/load-balancing/azure-web-apps.md
Labels: category/umbraco-cms

#7059 Update itagquery.md
  13/umbraco-cms/reference/querying/itagquery.md
Labels: category/umbraco-cms

#7211 Added updates from PR# 7059
  13/umbraco-cms/reference/querying/itagquery.md
  14/umbraco-cms/reference/querying/itagquery.md
  15/umbraco-cms/reference/querying/itagquery.md
  16/umbraco-cms/reference/querying/itagquery.md
Labels: category/umbraco-cms

#7219 Fix table formatting on Dashboard page
  16/umbraco-cms/customizing/extending-overview/extension-types/dashboard.md
Labels: category/umbraco-cms

#7215 Update openapi-ts command to use correct paramaters
  16/umbraco-cms/customizing/foundation/fetching-data/custom-generated-client.md
Labels: category/umbraco-cms

#7225 Added redirects
  umbraco-cloud/.gitbook.yaml
Labels: category/umbraco-cloud

#7228 Document the ability to use asp.net healthchecks with hostname monitoring
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/hostname-monitoring.md
Labels: category/umbraco-cloud

#7230 Fixed broken links
  umbraco-cloud/optimize-and-maintain-your-site/manage-product-upgrades/product-upgrades/manual-upgrades/README.md
  umbraco-cloud/optimize-and-maintain-your-site/manage-product-upgrades/product-upgrades/manual-upgrades/manual-cms-upgrade.md
Labels: category/broken-link, category/umbraco-cloud

#7234 Added more redirects from GitBook's Broken URLs tab
  umbraco-cloud/.gitbook.yaml
Labels: category/umbraco-cloud

#7235 Added steps to add style select to RTE toolbar
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/adding-style-select-to-toolbar.png
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/style-menu.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/images/adding-style-select-to-toolbar.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/style-menu.md
Labels: category/umbraco-cms

#7233 Umbraco Commerce 16.1.0 release notes
  15/umbraco-commerce/release-notes/README.md
  16/umbraco-commerce/release-notes/README.md
  commerce-add-ons/packages/checkout/configuring-umbraco.md
  commerce-add-ons/packages/media/checkout/uc_checkout_settings.png
Labels: category/umbraco-commerce

#7239 Umbraco UI Builder release notes
  15/umbraco-ui-builder/release-notes.md
  16/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7241 Some Install guide fixes/Updates
  10/umbraco-cms/fundamentals/setup/install/README.md
  10/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  14/umbraco-cms/.gitbook/assets/Additional_Info_V14.png
  14/umbraco-cms/fundamentals/setup/install/README.md
  14/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  14/umbraco-cms/fundamentals/setup/install/visual-studio.md
  15/umbraco-cms/.gitbook/assets/Additional_Info_V15.png
  15/umbraco-cms/fundamentals/setup/install/README.md
  15/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  15/umbraco-cms/fundamentals/setup/install/visual-studio.md
  16/umbraco-cms/.gitbook/assets/Additional_Info_V16.png
  16/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
  16/umbraco-cms/fundamentals/setup/install/visual-studio.md
Labels: category/umbraco-cms

#7232 Fixes Issue #7086
  15/umbraco-commerce/how-to-guides/limit-orderline-quantity.md
  16/umbraco-commerce/how-to-guides/limit-orderline-quantity.md
Labels: category/umbraco-commerce

#7247 Add information about webhook payload types
  16/umbraco-cms/reference/webhooks/README.md
Labels: category/umbraco-cms

#7200 Add commerce abandoned cart notification job
  16/umbraco-commerce/SUMMARY.md
  16/umbraco-commerce/how-to-guides/configuring-abandoned-cart-notification.md
  16/umbraco-commerce/how-to-guides/images/configuring-abandoned-cart-notification/abandoned-cart-conversion-rates-widget.png
  16/umbraco-commerce/how-to-guides/images/configuring-abandoned-cart-notification/store-notification-settings.png
Labels: category/pending-release, category/umbraco-commerce

#7249 Updated implementing custom error pages article
  14/umbraco-cms/tutorials/custom-error-page.md
  15/umbraco-cms/tutorials/custom-error-page.md
  16/umbraco-cms/tutorials/custom-error-page.md
Labels: category/umbraco-cms

#7250 Replaced deprecated methods
  15/umbraco-cms/reference/management/using-services/contentservice.md
  16/umbraco-cms/reference/management/using-services/contentservice.md
Labels: category/umbraco-cms

#7251 Added appSettings sample to ModelsBuilder Builder Modes article
  15/umbraco-cms/reference/templating/modelsbuilder/builder-modes.md
  16/umbraco-cms/reference/templating/modelsbuilder/builder-modes.md
Labels: category/umbraco-cms

#7252 workflow patch release notes
  13/umbraco-workflow/installation/licensing.md
  13/umbraco-workflow/release-notes.md
  15/umbraco-workflow/release-notes.md
  16/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#7253 Umbraco Commerce v15.3.10 & v16.1.1 release notes
  15/umbraco-commerce/release-notes/README.md
  16/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#7254 Fixing links in umbraco 14 change docs that are pointing to 404 pages
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  16/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/broken-link, category/umbraco-cms

#7256 Fixed broken link and removed unnecessary \
  14/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  15/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  16/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
Labels: category/broken-link, category/umbraco-cms

#7257 Merged contents of Working with Linux/macOS into Working locally article
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/build-and-customize-your-solution/handle-deployments-and-environments/working-locally/README.md
  umbraco-cloud/build-and-customize-your-solution/working-with-linux-macos.md
Labels: category/umbraco-cloud

#7259 Changed Umbraco.Cms.Web.BackOffice to Umbraco.Cms.Api.Management for api tutorial
  16/umbraco-cms/tutorials/creating-a-backoffice-api/README.md
Labels: category/umbraco-cms

#7262 Update Organization articles to show the menu categories
  umbraco-cloud/.gitbook/assets/org-menu-finance.png
  umbraco-cloud/.gitbook/assets/org-menu-insights.png
  umbraco-cloud/.gitbook/assets/org-menu-overview.png
  umbraco-cloud/begin-your-cloud-journey/the-cloud-portal/organizations.md
  umbraco-cloud/begin-your-cloud-journey/the-cloud-portal/payments.md
  umbraco-cloud/optimize-and-maintain-your-site/monitor-and-troubleshoot/sustainability-dashboard.md
Labels: category/umbraco-cloud

#7267 Umbraco Commerce 16.2.0
  16/umbraco-commerce/.gitbook/assets/storefront_swagger.json
  16/umbraco-commerce/SUMMARY.md
  16/umbraco-commerce/how-to-guides/images/discounted-prices/discount-config.png
  16/umbraco-commerce/how-to-guides/show-discounted-prices.md
  16/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#7272 release notes for WF 13.4.5, 15.1.7, 16.0.3
  13/umbraco-workflow/getting-started/configuration.md
  13/umbraco-workflow/release-notes.md
  15/umbraco-workflow/getting-started/configuration.md
  15/umbraco-workflow/release-notes.md
  16/umbraco-workflow/getting-started/configuration.md
  16/umbraco-workflow/release-notes.md
Labels: category/umbraco-workflow

#7281 Added Note in Workflow Licensing article about using underscore instead of period
  10/umbraco-workflow/installation/licensing.md
  13/umbraco-workflow/installation/licensing.md
  14/umbraco-workflow/installation/licensing.md
  15/umbraco-workflow/installation/licensing.md
  16/umbraco-workflow/installation/licensing.md
Labels: category/umbraco-workflow

#7280 Added Breaking change note and updated Custom error page article
  16/umbraco-cms/tutorials/custom-error-page.md
  16/umbraco-cms/tutorials/images/container.png
  16/umbraco-cms/tutorials/images/content-node.png
  16/umbraco-cms/tutorials/images/page-not-found.png
Labels: category/umbraco-cms
