Repository umbraco/UmbracoDocs, pull requests merged in 2025-04, with the labels that each got.

#6987 Umbraco Commerce 13.2.1 & 15.2.1 release notes
  13/umbraco-commerce/release-notes/README.md
  15/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#6988 Update broken redirects for Commerce 15
  15/umbraco-commerce/.gitbook.yaml
Labels: category/broken-link, category/umbraco-commerce

#6989 Redirects for Cloud
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/deployment/streamline-your-deployments.md
Labels: category/broken-link, category/umbraco-cloud

#6996 Add documentation for metadata address and how to handle invites to the backoffice
  umbraco-cloud/set-up/external-login-providers.md
Labels: category/umbraco-cloud

#6992 Fix more redirects for CMS 15
  15/umbraco-cms/.gitbook.yaml
Labels: category/broken-link, category/umbraco-cms

#6998 Updated redirects for Deploy, UI Builder...
  15/umbraco-deploy/.gitbook.yaml
  15/umbraco-forms/SUMMARY.md
  15/umbraco-ui-builder/.gitbook.yaml
Labels: category/umbraco-forms, category/umbraco-deploy, category/umbraco-ui-builder

#7001 Added limitations section in Manage Hostnames article
  umbraco-cloud/set-up/project-settings/manage-hostnames/README.md
Labels: category/umbraco-cloud

#6999 Update the Flexible Environments article
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/deployment/streamline-your-deployments.md
  umbraco-cloud/getting-started/flexible-environments.md
  umbraco-cloud/getting-started/images/cloud-environments.png
Labels: category/umbraco-cloud

#7000 Update Environments article
  umbraco-cloud/getting-started/environments.md
Labels: category/umbraco-cloud

#7002 Add docs on Ignoring Settings for Umbraco Commerce Deploy
  commerce-add-ons/packages/deploy/deploying-changes.md
Labels: category/umbraco-commerce

#6993 Update backups.md
  umbraco-cloud/databases/backups.md
Labels: category/umbraco-cloud

#6990 Updated UI Builder articles
  15/umbraco-ui-builder/areas/context-apps.md
  15/umbraco-ui-builder/getting-started/user-interface.md
  15/umbraco-ui-builder/miscellaneous/conventions.md
  15/umbraco-ui-builder/miscellaneous/umbraco-aliases.md
  15/umbraco-ui-builder/property-editors/entity-picker.md
  15/umbraco-ui-builder/property-editors/overview.md
Labels: category/umbraco-ui-builder

#6995 Updated UI Builder Advanced section articles
  15/umbraco-ui-builder/advanced/encrypted-properties.md
  15/umbraco-ui-builder/advanced/events.md
  15/umbraco-ui-builder/advanced/repositories.md
  15/umbraco-ui-builder/advanced/value-mappers.md
  15/umbraco-ui-builder/advanced/virtual-sub-trees.md
Labels: category/umbraco-ui-builder

#7004 Cloud Secrets - allow Umbraco Commerce paths
  umbraco-cloud/set-up/project-settings/secrets-management.md
Labels: category/umbraco-cloud

#7005 Remove broken redirects from Commerce 15
  15/umbraco-commerce/.gitbook.yaml
Labels: category/umbraco-commerce

#7007 Updated broken links - 404 and 500 section url ids
  10/umbraco-cms/tutorials/custom-error-page.md
  13/umbraco-cms/tutorials/custom-error-page.md
  14/umbraco-cms/tutorials/custom-error-page.md
  15/umbraco-cms/tutorials/custom-error-page.md
Labels: category/broken-link, category/umbraco-cms

#7008 Update environment references where needed in the FAQ article
  umbraco-cloud/frequently-asked-questions.md
Labels: category/umbraco-cloud

#7011 Project Overview article updated with correct environment refs
  umbraco-cloud/getting-started/images/project-components.png
  umbraco-cloud/getting-started/images/project-overview.png
  umbraco-cloud/getting-started/project-overview.md
Labels: category/umbraco-cloud

#7010 Update environment refs in Deployment article
  umbraco-cloud/deployment/README.md
Labels: category/umbraco-cloud

#7006 Umbraco UI Builder release notes and details on entity identifier type converters
  13/umbraco-ui-builder/SUMMARY.md
  13/umbraco-ui-builder/collections/entity-identifier-converters.md
  13/umbraco-ui-builder/release-notes.md
  15/umbraco-ui-builder/SUMMARY.md
  15/umbraco-ui-builder/collections/entity-identifier-converters.md
  15/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#7009 Update environment references where needed
  umbraco-cloud/README.md
  umbraco-cloud/databases/README.md
  umbraco-cloud/databases/backups.md
  umbraco-cloud/deployment/cloud-to-cloud.md
  umbraco-cloud/deployment/deploying-deletions.md
  umbraco-cloud/deployment/deployment-webhook.md
  umbraco-cloud/deployment/local-to-cloud.md
  umbraco-cloud/deployment/umbraco-forms-on-cloud.md
Labels: category/umbraco-cloud

#7012 Added configure environment section...
  umbraco-cloud/getting-started/environments.md
  umbraco-cloud/set-up/images/create-environment.png
  umbraco-cloud/set-up/images/delete-environment.png
  umbraco-cloud/set-up/images/environments-overview-new.png
  umbraco-cloud/set-up/manage-environments.md
Labels: category/umbraco-cloud

#7016 Backups feature errorcodes
  umbraco-cloud/databases/backups.md
Labels: category/umbraco-cloud

#7015 More environment references
  umbraco-cloud/deployment/README.md
  umbraco-cloud/deployment/images/left-to-right-approach.png
  umbraco-cloud/deployment/images/left-to-right.png
  umbraco-cloud/getting-started/baselines/README.md
  umbraco-cloud/getting-started/baselines/configuration-files.md
  umbraco-cloud/getting-started/explore-umbraco-cloud.md
  umbraco-cloud/getting-started/git-repository-in-a-cloud-project.md
  umbraco-cloud/getting-started/migrate-to-umbraco-cloud.md
  umbraco-cloud/getting-started/team-workflow-on-cloud.md
  umbraco-cloud/product-upgrades/README.md
  umbraco-cloud/product-upgrades/major-upgrades.md
  umbraco-cloud/product-upgrades/manual-upgrades/README.md
  umbraco-cloud/product-upgrades/manual-upgrades/manual-cms-upgrade.md
  umbraco-cloud/product-upgrades/minor-upgrades.md
  umbraco-cloud/product-upgrades/version-specific-upgrades/migrate-from-8-to-latest.md
  umbraco-cloud/set-up/config-transforms.md
Labels: category/umbraco-cloud

#6876 Umbraco 13.8 release documentation updates
  13/umbraco-cms/SUMMARY.md
  13/umbraco-cms/reference/configuration/contentsettings.md
  13/umbraco-cms/reference/management/services/contentservice/publish-content-programmatically.md
  13/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/creating-saving-and-publishing-content.md
Labels: category/umbraco-cms

#7019 Fixed alias and name values...
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/extensions.md
Labels: category/umbraco-cms

#7022 Heartcore release notes for April 2025
  umbraco-heartcore/SUMMARY.md
  umbraco-heartcore/release-notes/2025-04-releasenotes.md
Labels: category/umbraco-heartcore

#7013 New article: Merge Conflicts on Flexible Environments
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/deployment/restoring-content/README.md
  umbraco-cloud/deployment/restoring-content/partial-restore.md
  umbraco-cloud/troubleshooting/deployments/images/pulling-failed.png
  umbraco-cloud/troubleshooting/deployments/merge-conflicts-on-flexible-environments.md
Labels: category/umbraco-cloud

#7020 Added a new section - Syncing Changes Between Mainline and Flexible...
  umbraco-cloud/deployment/cloud-to-cloud.md
  umbraco-cloud/deployment/images/pull-changes-from-mainline.png
  umbraco-cloud/deployment/images/push-changes-to-mainline.png
Labels: category/umbraco-cloud

#7028 Prep 16: Added RC Guide to CMS + notes to product landing pages
  16/umbraco-cms/README.md
  16/umbraco-cms/release-candidate-guide.md
  16/umbraco-commerce/README.md
  16/umbraco-deploy/README.md
  16/umbraco-forms/README.md
  16/umbraco-ui-builder/README.md
  16/umbraco-workflow/README.md
Labels: release/16.0.0

#7030 Fix link in Extension Registry
  15/umbraco-cms/customizing/extending-overview/extension-registry/README.md
Labels: category/umbraco-cms

#7032 Correct reference to unregister export
  15/umbraco-cms/customizing/extending-overview/extension-registry/replace-exclude-or-unregister.md
Labels: category/umbraco-cms

#7033 Cloud Release Notes since October 2024
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/release-notes/overview-2024/2024-01-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/2024-02-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/2024-03-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/2024-04-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/2024-05-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/2024-07-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/2024-10-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/2024-11-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/2024-12-releasenotes.md
  umbraco-cloud/release-notes/overview-2024/august-2024.md
  umbraco-cloud/release-notes/overview-2024/overview-2024.md
  umbraco-cloud/release-notes/overview-2024/september-2024.md
  umbraco-cloud/release-notes/overview-2025/2025-01-releasenotes.md
  umbraco-cloud/release-notes/overview-2025/2025-02-releasenotes.md
  umbraco-cloud/release-notes/overview-2025/2025-03-releasenotes.md
  umbraco-cloud/release-notes/overview-2025/2025-04-releasenotes.md
  umbraco-cloud/release-notes/overview-2025/overview-2025.md
Labels: category/umbraco-cloud

#6921 Umbraco 15.4 release documentation updates
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/reference/content-type-filters.md
  15/umbraco-cms/reference/notifications/README.md
  15/umbraco-cms/reference/notifications/userservice-notifications.md
  15/umbraco-cms/reference/routing/request-pipeline/outbound-pipeline.md
Labels: category/umbraco-cms

#7031 Cloud External Login Providers- remove beta
  umbraco-cloud/set-up/external-login-providers.md
Labels: category/umbraco-cloud

#7034 Updated article as package name was throwing "Invalid package.json name" error.
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/development-flow/vite-package-setup.md
Labels: category/umbraco-cms

#7021 Added info message/hint if you have problems building the solutions
  contributing/umbraco-cms/contributing.md
Labels: category/umbraco-cms

#7044 Update creating-forms.md
  15/umbraco-cms/fundamentals/code/creating-forms.md
Labels: category/umbraco-cms

#7039 Ammends SignalR docs to be simpier as the umbraco path can not be con…
  10/umbraco-cms/implementation/custom-routing/signalR.md
  13/umbraco-cms/implementation/custom-routing/signalR.md
  14/umbraco-cms/implementation/custom-routing/signalR.md
  15/umbraco-cms/implementation/custom-routing/signalR.md
  16/umbraco-cms/implementation/custom-routing/signalR.md
Labels: category/umbraco-cms

#7040 Fixed some minor errors in the custom dashboard tutorials
  15/umbraco-cms/customizing/development-flow/vite-package-setup.md
  15/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
  15/umbraco-cms/tutorials/creating-a-custom-dashboard/extending-the-dashboard-using-umbraco-ui-library.md
Labels: category/umbraco-cms

#7045 Updated docs urls for the how-to-create-a-persona tutorial.
  13/umbraco-engage/tutorials/how-to-create-a-persona.md
Labels: category/broken-link, category/umbraco-engage

#7047 16: Remove TinyMCE documentation
  16/umbraco-cms/.gitbook.yaml
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/customizing/umbraco-package.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/README.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/blocks.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/configuration.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/inline-mode-new.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/my-rte-button-editor.jpg
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/my-rte-button.jpg
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-choose-stylesheet.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-code-tab.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-content-11.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-create-style.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-data-type-block-fields.jpg
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-data-type-block-type-editor.jpeg
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-datatype-v10.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-datatype.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-mode-classic-11.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-mode-classic-new.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/rte-styles.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/toolbar-all-options.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/images/toolbar-full-11.png
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/plugins.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/styles.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/README.md
  16/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor/change-rich-text-editor-ui.md
  16/umbraco-cms/reference/templating/macros.md
  16/umbraco-cms/release-candidate-guide.md
Labels: category/umbraco-cms

#7037 Commerce 15.3.0: Refund and partial refund
  15/umbraco-commerce/SUMMARY.md
  15/umbraco-commerce/key-concepts/payment-providers.md
  15/umbraco-commerce/reference/payments/README.md
  15/umbraco-commerce/reference/payments/images/order_list.png
  15/umbraco-commerce/reference/payments/images/order_refund_modal.png
  15/umbraco-commerce/reference/payments/images/payment_details_button.png
  15/umbraco-commerce/reference/payments/images/payment_method_refund_section.png
  15/umbraco-commerce/reference/payments/images/payment_methods_list.png
  15/umbraco-commerce/reference/payments/images/refund_payment_button.png
  15/umbraco-commerce/reference/payments/issue-a-refund.md
  15/umbraco-commerce/reference/payments/refund-configs.md
Labels: category/pending-release, category/umbraco-commerce

#7048 Umbraco Commerce 15.3.0 Release Notes
  15/umbraco-commerce/release-notes/README.md
Labels: category/umbraco-commerce

#7038 Updates relating to 16.0.0-rc
  16/umbraco-cms/extending/packages/creating-a-package.md
  16/umbraco-cms/fundamentals/setup/upgrading/version-specific/README.md
  16/umbraco-cms/reference/configuration/loggingsettings.md
Labels: category/umbraco-cms, release/16.0.0

#7050 Fix code alignment
  15/umbraco-cms/tutorials/creating-a-property-editor/integrating-context-with-a-property-editor.md
Labels: category/umbraco-cms

#7051 Add links to updated articles
  16/umbraco-cms/release-candidate-guide.md
Labels: category/umbraco-cms

#7052 Sync PRs
  16/umbraco-cms/SUMMARY.md
  16/umbraco-cms/customizing/development-flow/vite-package-setup.md
  16/umbraco-cms/customizing/extending-overview/README.md
  16/umbraco-cms/customizing/extending-overview/extension-registry/README.md
  16/umbraco-cms/customizing/extending-overview/extension-registry/replace-exclude-or-unregister.md
  16/umbraco-cms/customizing/extending-overview/extension-types/backoffice-entry-point.md
  16/umbraco-cms/fundamentals/code/creating-forms.md
  16/umbraco-cms/fundamentals/setup/install/README.md
  16/umbraco-cms/reference/templating/modelsbuilder/understand-and-extend.md
  16/umbraco-cms/tutorials/creating-a-basic-website/creating-master-template-part-2.md
  16/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
  16/umbraco-cms/tutorials/creating-a-custom-dashboard/extending-the-dashboard-using-umbraco-ui-library.md
  16/umbraco-cms/tutorials/creating-a-property-editor/custom-value-conversion-for-rendering.md
  16/umbraco-cms/tutorials/creating-a-property-editor/integrating-context-with-a-property-editor.md
  16/umbraco-cms/tutorials/getting-started-with-entity-framework-core.md
Labels: category/umbraco-cms
