Repository umbraco/UmbracoDocs, pull requests merged in 2025-03, with the labels that each got.

#6907 Updated UI Builder upgrade articles
  15/umbraco-ui-builder/upgrading/migrating-from-konstrukt-to-umbraco-ui-builder.md
  15/umbraco-ui-builder/upgrading/upgrade.md
  15/umbraco-ui-builder/upgrading/version-specific.md
Labels: category/umbraco-ui-builder

#6913 Updated UI Builder Areas articles
  15/umbraco-ui-builder/areas/context-apps.md
  15/umbraco-ui-builder/areas/dashboards.md
  15/umbraco-ui-builder/areas/folders.md
  15/umbraco-ui-builder/areas/trees.md
Labels: review/docsteam, category/umbraco-ui-builder

#6917 Duplicate Cloud landing pages
  umbraco-cloud/.gitbook.yaml
  umbraco-cloud/README.md
  umbraco-cloud/SUMMARY.md
  umbraco-cloud/set-up/power-tools/generating-uda-files.md
  umbraco-cloud/set-up/power-tools/manual-extractions.md
  umbraco-cloud/set-up/ready-to-set-up-your-project.md
Labels: category/umbraco-cloud

#6920 Update securitysettings.md - Added missing information about `RequireUppercase` option. Also fixed typo (on -> one).
  15/umbraco-cms/reference/configuration/securitysettings.md
Labels: category/missing-documentation, category/umbraco-cms

#6916 Added missing info for verify and clean schema feature
  15/umbraco-deploy/deployment-workflow/deploy-dashboard.md
  15/umbraco-deploy/deployment-workflow/images/deploy-dashboard.png
  15/umbraco-deploy/deployment-workflow/images/deploy-operations.png
Labels: category/umbraco-deploy, review/docsteam

#6909 V15: Document Type Localization updates
  15/umbraco-cms/extending/language-files/README.md
  15/umbraco-cms/fundamentals/data/defining-content/document-type-localization.md
  15/umbraco-cms/fundamentals/data/images/localization-document-type-editor-validation.png
  15/umbraco-cms/fundamentals/data/images/localization-document-type-editor.png
Labels: category/umbraco-cms, review/docsteam

#6919 Added info on usage of Composer...
  15/umbraco-ui-builder/getting-started/configuration.md
  15/umbraco-ui-builder/guides/creating-your-first-integration.md
Labels: review/docsteam, category/umbraco-ui-builder

#6922 CMS localization: Added Note and updated screenshots
  15/umbraco-cms/customizing/extending-overview/extension-types/localization.md
  15/umbraco-cms/fundamentals/data/defining-content/document-type-localization.md
  15/umbraco-cms/fundamentals/data/images/localization-document-editor-v15.png
  15/umbraco-cms/fundamentals/data/images/localization-document-type-editor-v15.png
  15/umbraco-cms/fundamentals/data/images/localization-document-type-editor-validation-v15.png
Labels: category/umbraco-cms, review/docsteam

#6925 Updated UI Builder Searching section
  15/umbraco-ui-builder/searching/overview.md
  15/umbraco-ui-builder/searching/searchable-properties.md
Labels: review/docsteam, category/umbraco-ui-builder

#6781 Update azure-devops.md
  umbraco-cloud/set-up/project-settings/umbraco-cicd/samplecicdpipeline/azure-devops.md
Labels: category/umbraco-cloud

#6924 Updated Creating a Package article...
  15/umbraco-cms/extending/packages/creating-a-package.md
  15/umbraco-cms/extending/packages/images/Package-properties-Visual-Studio.png
  15/umbraco-cms/extending/packages/images/app-plugins-content.png
  15/umbraco-cms/extending/packages/images/create-package.png
  15/umbraco-cms/extending/packages/images/empty-package-from-template-v15.png
  15/umbraco-cms/extending/packages/images/generate-package=schema.png
  15/umbraco-cms/extending/packages/images/package-cli-command.png
  15/umbraco-cms/extending/packages/images/package-custom-folder.png
  15/umbraco-cms/extending/packages/images/package-default-location.png
  15/umbraco-cms/extending/packages/images/zip-package-contents.png
  15/umbraco-cms/fundamentals/setup/install/install-umbraco-with-templates.md
Labels: category/umbraco-cms, review/docsteam

#6927 Add Forms 13.4.1 and 15.1.1 release notes
  13/umbraco-forms/release-notes.md
  15/umbraco-forms/release-notes.md
Labels: category/umbraco-forms

#6931 docs: correct info on allowTelemetry
  14/umbraco-cms/customizing/umbraco-package.md
  15/umbraco-cms/customizing/umbraco-package.md
Labels: category/code-example, category/umbraco-cms

#6934 Fixing redirects and broken links
  15/umbraco-cms/.gitbook.yaml
  15/umbraco-cms/tutorials/creating-a-backoffice-api/documenting-your-controllers.md
  15/umbraco-cms/tutorials/creating-a-backoffice-api/versioning-your-api.md
Labels: category/umbraco-cms

#6928 Update external-login-providers.md
  umbraco-cloud/set-up/external-login-providers.md
Labels: category/umbraco-cloud

#6933 Updated article to include webdav info as troubleshooting section
  15/umbraco-cms/fundamentals/setup/server-setup/iis.md
  15/umbraco-cms/fundamentals/setup/server-setup/images/create-site-in-iis.png
  15/umbraco-cms/fundamentals/setup/server-setup/images/dotnet-cli-command.png
  15/umbraco-cms/fundamentals/setup/server-setup/images/iis-app-pool-core-v15.png
  15/umbraco-cms/fundamentals/setup/server-setup/images/iis-core-website-config-v15.png
  15/umbraco-cms/fundamentals/setup/server-setup/images/iis-environment-variables-v15.png
  15/umbraco-cms/fundamentals/setup/server-setup/images/visual-studio-deploy.png
Labels: category/umbraco-cms, review/docsteam

#6935 Update product-adapters.md
  13/umbraco-commerce/key-concepts/product-adapters.md
  14/umbraco-commerce/key-concepts/product-adapters.md
  15/umbraco-commerce/key-concepts/product-adapters.md
Labels: category/umbraco-commerce

#6942 fix: typos in UI Builder actions docs
  15/umbraco-ui-builder/actions/the-basics.md
Labels: category/umbraco-ui-builder

#6943 Corrects a couple of configuration documentation errors for CMS and Forms
  13/umbraco-cms/reference/configuration/securitysettings.md
  13/umbraco-forms/developer/configuration/README.md
  14/umbraco-cms/reference/configuration/securitysettings.md
  14/umbraco-forms/developer/configuration/README.md
  15/umbraco-cms/reference/configuration/securitysettings.md
  15/umbraco-forms/developer/configuration/README.md
Labels: category/umbraco-forms, category/umbraco-cms

#6936 Update infrastructure-sizing.md
  13/umbraco-engage/getting-started/for-developers/infrastructure-sizing.md
Labels: category/umbraco-engage

#6947 Updated AddCustomContentFinders() to AddMyCustomContentFinders()
  10/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  13/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  14/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
  15/umbraco-cms/reference/routing/request-pipeline/icontentfinder.md
Labels: category/umbraco-cms, review/docsteam

#6939 Broken links in the CMS
  15/umbraco-cms/customizing/property-editors/README.md
  15/umbraco-cms/customizing/property-editors/integrate-validation.md
  15/umbraco-cms/customizing/umbraco-package.md
  15/umbraco-cms/extending/backoffice-search.md
  15/umbraco-cms/extending/language-files/net-localization.md
  15/umbraco-cms/fundamentals/backoffice/login.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/collection.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/rich-text-editor-tinymce/plugins.md
  15/umbraco-cms/fundamentals/data/dictionary-items.md
  15/umbraco-cms/fundamentals/setup/server-setup/azure-web-apps.md
  15/umbraco-cms/reference/cache/cache-seeding.md
  15/umbraco-cms/reference/content-delivery-api/custom-property-editors-support.md
  15/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api/README.md
  15/umbraco-cms/reference/routing/request-pipeline/published-content-request-preparation.md
  15/umbraco-cms/reference/routing/umbraco-api-controllers/README.md
  15/umbraco-cms/reference/security/ssl-https.md
  15/umbraco-cms/reference/umbraco-flavored-markdown.md
  15/umbraco-cms/tutorials/creating-a-custom-dashboard/extending-the-dashboard-using-umbraco-ui-library.md
  15/umbraco-cms/tutorials/members-registration-and-login.md
Labels: category/broken-link, category/umbraco-cms

#6940 Clarified statement in the article to make it more clear
  13/umbraco-cms/fundamentals/backoffice/logviewer.md
  15/umbraco-cms/customizing/extending-overview/extension-kind.md
  15/umbraco-cms/customizing/extending-overview/extension-types/kind.md
Labels: category/umbraco-cms, review/docsteam

#6948 Updated logviewer article for versions 14 and 15
  14/umbraco-cms/fundamentals/backoffice/logviewer.md
  15/umbraco-cms/fundamentals/backoffice/logviewer.md
Labels: category/umbraco-cms

#6949 Redirects for removed guides and tutorials
  15/umbraco-commerce/.gitbook.yaml
  15/umbraco-commerce/SUMMARY.md
  15/umbraco-commerce/tutorials/build-a-store/README.md
  15/umbraco-commerce/tutorials/overview.md
Labels: category/umbraco-commerce

#6930 Updated articles as per styleguide
  15/umbraco-ui-builder/collections/child-collection-groups.md
  15/umbraco-ui-builder/collections/child-collections.md
  15/umbraco-ui-builder/collections/editors.md
  15/umbraco-ui-builder/collections/field-views.md
  15/umbraco-ui-builder/collections/list-views.md
  15/umbraco-ui-builder/collections/overview.md
  15/umbraco-ui-builder/collections/related-collections.md
  15/umbraco-ui-builder/collections/retrieve-child-collections.md
  15/umbraco-ui-builder/collections/the-basics.md
Labels: review/docsteam, category/umbraco-ui-builder

#6932 Additional documentation for Umbraco 15.3
  15/umbraco-cms/reference/management/using-services/contentservice.md
  15/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/creating-saving-and-publishing-content.md
  15/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/images/Publish-with-descendants-v15.png
Labels: category/umbraco-cms

#6953 Fixed reference to typed value when rendering rich text property values
  10/umbraco-cms/fundamentals/design/rendering-content.md
  13/umbraco-cms/fundamentals/design/rendering-content.md
  14/umbraco-cms/fundamentals/design/rendering-content.md
  15/umbraco-cms/fundamentals/design/rendering-content.md
Labels: category/umbraco-cms

#6955 Updated release notes for Umbraco.UIBuilder 13.2.2 & 15.1.1
  13/umbraco-ui-builder/release-notes.md
  15/umbraco-ui-builder/release-notes.md
Labels: category/umbraco-ui-builder

#6956 Fix URL to workspace view
  15/umbraco-workflow/SUMMARY.md
Labels: category/umbraco-workflow

#6957 Adds in an example to show how you can use the values inside a manifest
  15/umbraco-cms/customizing/foundation/localization.md
Labels: category/umbraco-cms

#6963 V15: Backoffice Entry Points
  15/umbraco-cms/SUMMARY.md
  15/umbraco-cms/customizing/extending-overview/extension-registry/extension-manifest.md
  15/umbraco-cms/customizing/extending-overview/extension-types/README.md
  15/umbraco-cms/customizing/extending-overview/extension-types/app-entry-point.md
  15/umbraco-cms/customizing/extending-overview/extension-types/backoffice-entry-point.md
  15/umbraco-cms/customizing/umbraco-package.md
Labels: category/umbraco-cms

#6964 Removed title from reusable content
  14/umbraco-cms/.gitbook/includes/umbraco-extending-the-backoffice-training-course.md
  14/umbraco-cms/.gitbook/includes/umbraco-fundamentals-training-course.md
  14/umbraco-cms/.gitbook/includes/umbraco-load-balancing-training-course.md
  14/umbraco-cms/.gitbook/includes/umbraco-searching-and-indexing-training-course.md
Labels: category/umbraco-cms

#6965 Removed title from reusable content v14
  14/umbraco-cms/.gitbook/includes/umbraco-mvc-training-course.md
Labels: category/umbraco-cms

#6960 Fixing broken links in the CMS
  15/umbraco-cms/customizing/extending-overview/extension-registry/extension-manifest.md
  15/umbraco-cms/customizing/extending-overview/extension-types/menu.md
  15/umbraco-cms/customizing/extending-overview/extension-types/sections/section-view.md
  15/umbraco-cms/extending/build-on-umbraco-functionality.md
  15/umbraco-cms/extending/embedded-media-providers.md
  15/umbraco-cms/extending/packages/good-practice-and-defaults.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/block-editor/block-level-variance.md
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/tags.md
  15/umbraco-cms/fundamentals/backoffice/sections.md
  15/umbraco-cms/fundamentals/backoffice/settings-dashboards.md
  15/umbraco-cms/fundamentals/backoffice/variants.md
  15/umbraco-cms/fundamentals/data/adding-tabs.md
  15/umbraco-cms/fundamentals/data/creating-media/default-media-types.md
  15/umbraco-cms/fundamentals/data/defining-content/default-document-types.md
  15/umbraco-cms/fundamentals/data/defining-content/document-type-localization.md
  15/umbraco-cms/fundamentals/design/templates/razor-cheatsheet.md
  15/umbraco-cms/reference/content-delivery-api/README.md
  15/umbraco-cms/reference/content-delivery-api/protected-content-in-the-delivery-api/README.md
  15/umbraco-cms/reference/management-api/external-access.md
  15/umbraco-cms/reference/management/using-services/contentservice.md
  15/umbraco-cms/reference/scheduling.md
  15/umbraco-cms/reference/templating/macros.md
  15/umbraco-cms/reference/templating/mvc/partial-views.md
  15/umbraco-cms/tutorials/creating-a-basic-website/adding-language-variants.md
  15/umbraco-cms/tutorials/creating-an-xml-site-map.md
  15/umbraco-cms/tutorials/editors-manual/getting-started-with-umbraco/umbraco-interface.md
  15/umbraco-cms/tutorials/multilanguage-setup.md
  15/umbraco-cms/tutorials/starter-kit/lessons/4-help-and-community.md
Labels: category/broken-link, category/umbraco-cms

#6966 Resolve broken redirects in CMS 13 docs
  13/umbraco-cms/.gitbook.yaml
Labels: category/broken-link, category/umbraco-cms

#6967 Update redirects in Commerce 13
  13/umbraco-commerce/.gitbook.yaml
Labels: category/broken-link, category/umbraco-commerce

#6969 Removed broken redirects in Deploy 13
  13/umbraco-deploy/.gitbook.yaml
Labels: category/broken-link, category/umbraco-deploy

#6962 UI Builder: Updated Actions articles
  15/umbraco-ui-builder/actions/action-visibility.md
  15/umbraco-ui-builder/actions/inbuilt-actions.md
  15/umbraco-ui-builder/actions/overview.md
  15/umbraco-ui-builder/actions/the-basics.md
  15/umbraco-ui-builder/cards/custom-cards.md
Labels: category/umbraco-ui-builder

#6968 Couple of Updates in DXP articles
  marketplace-and-integrations/integrations/activecampaign-with-umbraco-forms.md
  marketplace-and-integrations/integrations/activecampaign.md
  marketplace-and-integrations/integrations/algolia.md
  marketplace-and-integrations/integrations/aprimo.md
  marketplace-and-integrations/integrations/cookiebot.md
  marketplace-and-integrations/integrations/dynamics.md
  marketplace-and-integrations/integrations/emerchantpay-with-umbraco-forms.md
  marketplace-and-integrations/integrations/google-search-console.md
  marketplace-and-integrations/integrations/hubspot-with-umbraco-forms.md
  marketplace-and-integrations/integrations/hubspot.md
  marketplace-and-integrations/integrations/inriver.md
  marketplace-and-integrations/integrations/semrush.md
  marketplace-and-integrations/integrations/shopify.md
  marketplace-and-integrations/integrations/zapier-with-umbraco-forms.md
  marketplace-and-integrations/integrations/zapier.md
  marketplace-and-integrations/packages/authorized-services.md
Labels: category/umbraco-dxp

#6970 Update redirects in UI Builder 13
  13/umbraco-ui-builder/.gitbook.yaml
Labels: category/broken-link, category/umbraco-ui-builder

#6973 Redirects for CMS 14
  14/umbraco-cms/.gitbook.yaml
  14/umbraco-cms/SUMMARY.md
Labels: category/broken-link, category/umbraco-cms

#6974 Cleanup redirects for Commerce 14
  14/umbraco-commerce/.gitbook.yaml
Labels: category/broken-link, category/umbraco-commerce

#6975 Fix redirects for Deploy 14
  14/umbraco-deploy/.gitbook.yaml
Labels: category/broken-link, category/umbraco-deploy

#6976 Removed old redirects from previous version
  14/umbraco-ui-builder/.gitbook.yaml
Labels: category/umbraco-ui-builder

#6979 Fix redirects for CMS 15
  15/umbraco-cms/.gitbook.yaml
  15/umbraco-cms/SUMMARY.md
Labels: category/broken-link, category/umbraco-cms

#6982 Change UmbPropertyValueChangeEvent to UmbChangeEvent and updates wrong import paths
  15/umbraco-cms/customizing/extending-overview/extension-types/menu.md
  15/umbraco-cms/customizing/extending-overview/extension-types/modals/custom-modals.md
  15/umbraco-cms/customizing/extending-overview/extension-types/sections/section-view.md
  15/umbraco-cms/customizing/property-editors/composition/property-editor-ui.md
  15/umbraco-cms/tutorials/creating-a-custom-dashboard/README.md
  15/umbraco-cms/tutorials/creating-a-property-editor/README.md
  15/umbraco-cms/tutorials/creating-a-property-editor/adding-configuration-to-a-property-editor.md
  15/umbraco-cms/tutorials/creating-a-property-editor/integrating-context-with-a-property-editor.md
  15/umbraco-forms/developer/extending/adding-a-fieldtype.md
Labels: category/umbraco-cms

#6977 Update the dynamic root custom query step example
  15/umbraco-cms/fundamentals/backoffice/property-editors/built-in-umbraco-property-editors/content-picker.md
Labels: category/umbraco-cms

#6981 rearrange articles to fit structure
  14/umbraco-deploy/README.md
  14/umbraco-deploy/SUMMARY.md
  14/umbraco-deploy/extending/extending.md
  14/umbraco-deploy/extending/handling-cache-refresher-notifications.md
Labels: category/broken-link, category/umbraco-deploy

#6984 Updated using statements as per feedback
  10/umbraco-forms/developer/extending/excluding-a-built-in-field.md
  13/umbraco-forms/developer/extending/excluding-a-built-in-field.md
  14/umbraco-forms/developer/extending/excluding-a-built-in-field.md
  15/umbraco-forms/developer/extending/excluding-a-built-in-field.md
Labels: category/umbraco-forms

#6986 Update serverside-file-validation.md - correct typo
  15/umbraco-cms/reference/security/serverside-file-validation.md
Labels: category/umbraco-cms
